.hint
  %span.bicon.warning
  Otros contactos sirve para que utilice como cuentas para sus operaciones (Ej. Entrega un dinero algún miembro del personal para realizar compras)
= simple_form_for(klass) do |f|
  = bonsai_form_error(f)

  = f.input :first_name, :label => "Nombres", :input_html => { :class => 'first_name', :size => 20 }, :wrapper_html => {:class => "_25"}
  = f.input :last_name, :label => "Apellidos", :input_html => { :class => 'last_name', :size => 20 }, :wrapper_html => {:class => "_25"}
  = f.input :matchcode, :label => "Identificador", :input_html => { :class => 'matchcode' }

  .clear
  .input  
    = f.input :position, :label => "Cargo", :wrapper_html => {:class => '_70'}, :input_html => {:size => 25}
    = f.input :active, :label => "Activo", :wrapper_html => {:class => '_30'}

  .input
    = f.input :phone, :label => "Teléfono"
    = f.input :mobile, :label => "Móvil"
  .clear
  = f.input :email, :lanel => "Email"
  = f.input :tax_number, :label => "NIT"
  .clear
  = f.input :address, :as => :text, :input_html => {:rows => 4}, :label => "Dirección"
  = f.input :aditional_info, :as => :text, :input_html => {:rows => 4}, :label => "Información adicional"
  .clear
  %div.actions
    = f.submit "Salvar"

:javascript
  $(function() {
    $('input.first_name, input.last_name').live('focusout keydown', function(event) { 
      if(event.type === 'focusout' || (event.type === 'keydown' && event.keyCode === 13) ){
        var matchcode = $('input.first_name').val() + ' ' + $('input.last_name').val();
        $('input.matchcode').val( matchcode ); 
      }
    });
  });
