- content_for :links do
  .links= link_to "Nuevo trabajador(a)", new_staff_path, :class => 'new'

%h1 Personal

#search_staff.search{:style => show_if_search}
  %a.close{:href => "#"} cerrar
  %h3 Buscar personal
  =form_tag "/staffs", :method => 'get' do
    =hidden_field_tag "search_div_id", "search_staffs"
    .input
      =text_field_tag 'search', params[:search], :size => 40
    %div
    =submit_tag 'Buscar'

= link_to "Buscar", "#search_staff", :class => 'search'

= paginate(@staffs)

%table{ :class => "decorated nwf nwl" }
  %tr
    %th Identificación/Nombre
    %th Cargo
    %th Activo
    %th Dirección
    %th Teléfono
    %th Móvil
    %th Email
    %th NIT
    %th

  - @staffs.each do |klass|
    %tr
      %td= link_to klass, klass, :class => 'b'
      %td= klass.position
      %td{:class => klass.active.to_s}
      %td= nl2br klass.address
      %td= klass.phone
      %td= klass.mobile
      %td= mail_to klass.email
      %td= klass.tax_number
      %td= link_to "editar", edit_staff_path(klass), :class => 'edit'
