- content_for :links do
  %ul.breadcrumps.span6
    %li #{link_to "Otros contactos", staffs_path} 
  .links.span6
    = link_to 'Nuevo', new_staff_path, :class => 'new'
    = link_to 'Editar', edit_staff_path(@staff), :class => 'edit'

- present @staff, ContactPresenter do |presenter|
  %h1
    = @staff.matchcode
    %span.fs50.dashlet.bg-dark Otros

  -if current_user.is_admin?
    = link_to "Balancear cuenta", new_account_balance_path(:contact_id => @staff.id), :class => "new button"

  .clear
  = render 'contacts/show', :klass => @staff


  .clear
  - @staff.accounts.each do |ac|
    =presenter.moneybox ac


  .clear

  %h2 Transacciones
  = render @partial, @locals

