- content_for :links do
  %ul.breadcrumps
    %li #{link_to "Personal", staffs_path} <span>&gt;</span>
  .links
    = link_to 'Nuevo', new_staff_path, :class => 'new'
    = link_to 'Editar', edit_staff_path(@staff), :class => 'edit'

%h1
  = @staff.matchcode
  %span.fs50.dashlet.bg_dark Personal

.clear
= render 'contacts/show', :klass => @staff

- @currency_rates = CurrencyRate.current_hash

.clear
- @staff.accounts.each do |ac|
  .moneybox.fl
    %label Cuenta en #{ac.currency_symbol}
    %h3= ntc -ac.amount


.clear

%h2 Transacciones
= render @partial, @locals


:javascript
  $(function() {
  });
