= simple_form_for(@cash) do |f|
  = bonsai_form_error(f)
  .main.bg_light_grey
    = f.input :name, :label => 'Nombre de caja'
    -if @cash.new_record?
      ._25.fl
        = f.association :currency, :label => 'Moneda'
      ._25.fl
        = f.input :amount, :label => 'Total en cuenta', :input_html => {:size => 12, :class => 'r'}
    -else
      .input._25
        %label Moneda
        =@cash.account.currency
      .input._25
        %label Total en cuenta
        #{@cash.account.currency_symbol} #{ntc @cash.account.amount}

    .clear  
  .clear
  = f.input :address, :label => 'Dirección', :as => :text, :input_html => {:rows => 4, :cols => 35}

  .clear
  .actions
    = f.submit 'Salvar'
