- content_for :links do
  .links= link_to "Nueva caja", new_cash_path, :class => 'new'

:css
  #cashs{ padding: 0px; margin: 0px; }
  #cashs li{ 
    list-style: none; 
    padding: 4px;
    margin-bottom: 10px;
    border-top: 1px solid #BFBFEF;
    border-bottom: 1px solid #CFEFEF;
  }
  #cashs li h3{ margin: 2px 4px; }
  #cashs li p{padding: 2px 5px; }

%h1 Cuentas caja

%ul#cashs
  - @cashes.each do |cash|
    %li
      ._30.fl
        %h3= link_to cash.name, cash.account
        %h4.mt5.dark= "#{cash.number} (en #{cash.currency.name.pluralize})"
      ._70.fl
        .moneybox.fl
          %label Total en cuenta
          %h3= with_currency cash.account, :amount

        - if cash.account.account_ledgers.pendent?
          .moneybox.fl
            %label Saldo a conciliar
            %h3= "#{cash.account.currency_symbol} #{ntc cash.account.amount_to_conciliate}"
          
          %p.b.fl= link_to pluralize_conciliation(cash), "/cashs/#{cash.id}?option=false"

      .clear

