- content_for :links do
  %ul.breadcrumbs
    %li


.row-fluid
  .span6
    %h1 Cuentas efectivo
  .span6.r
    = link_to new_cash_path, class: 'btn' do
      %i.icon-plus-circle
      Nueva cuenta efectivo


%ul#cashes.accounts_list
  - @cashes.each do |cash|
    %li.row-fluid
      .span7
        %h4.n
          = cash.active_tag
          = link_to cash, cash
          = currency_label cash.currency
      .span3.pull-right
        .moneybox
          %label TOTAL EN CUENTA
          %h4.n
            = ntc cash.amount
            = currency_label cash.currency
        -#= pendent_money_link(cash, :class => 'b fs110')
