- content_for :links do
  .links= link_to "Nueva caja", new_cash_path, :class => 'new'

%h1 Cuentas caja

%ul#cashes.accounts_list
  - @cashes.each do |cash|
    %li
      ._30.fl
        %h3= link_to cash, cash
        %h4.mt5.dark= "#{cash.number} (en #{cash.currency.name.pluralize})"
      ._70.fl
        .moneybox.fl
          %label Total en cuenta
          %h3= with_currency cash.account, :amount

        - if cash.account.account_ledger_details.pendent?
          .moneybox.fl
            %label Saldo a revisar
            %h3= "#{cash.account.currency_symbol} #{ntc cash.account.amount_to_conciliate}"
          
          %p.b.fl= link_to "pendiente de revisión (#{cash.account.account_ledger_details.pendent.count})", account_path(cash.account, :option => 'uncon')

      .clear

