- content_for :links do
  .links= link_to "Nueva caja", new_cash_path, :class => 'new'

.page-header
  %h1 Cuentas caja

- if @cashes.empty?
  %h3= link_to "Crear nueva caja", new_cash_path, :class => 'add'

%ul#cashes.accounts_list
  - @cashes.each do |cash|
    %li
      ._55.fl
        %h3= link_to cash, cash
        %h4.mt5.dark= cash.currency.name.pluralize
      ._45.fl
        .moneybox.fl
          %label TOTAL EN CUENTA
          %h3= with_currency cash.account, :amount

        = pendent_money_link(cash, :class => 'b fs110')          
      .clear

