- content_for :links do
  %ul.breadcrumps.span6
    %li #{link_to "Cuentas caja", cashes_path}
  .links.span6
    = link_to 'Editar', edit_cash_path(@cash), :class => 'edit'

.page-header
  %h1.n
    = @cash.name
    %small= @account.currency_code
    = pendent_money_link(@cash)

.row-fluid
  .span6
    .moneybox.fl
      %label SALDO EN CAJA
      %h3= with_currency(@account, :amount)

  .span6
    %label Dirección
    = nl2br(@cash.address)

.page-header
  %h3 Transacciones

= render "account_ledgers/money", :account => @account, :ledgers => @ledgers, :paged_ledgers => @paged_ledgers, :ref_title => 'Referencia', :money => @cash

.clear
