- content_for :links do
  %ul.breadcrumbs.span6
    %li
      =link_to "Cuentas caja", cashes_path

.row-fluid
  .span6
    %h1
      = @cash.active_tag
      = @cash.name
      = currency_label @cash.currency
  .span6.r
    .btn-group
      = link_to new_transference_path(account_id: @cash.id), class: 'btn',
        title: 'Transferir dinero a otra cuenta', 'data-toggle' => 'tooltip' do
        %i.icon-switch
        Nueva transferencia

      = link_to icon_edit_text, edit_cash_path(@cash), class: 'btn'

.row-fluid
  .span6
    .moneybox
      %label SALDO CUENTA
      %h5.n
        = ntc @cash.amount
        = currency_label @cash.currency

  .span6
    %i.icon-building.muted(title='Dirección' data-toggle='tooltip')
    = nl2br(@cash.address)

%h2 Transacciones

- html = paginate @cash.ledgers.page(@page)
= html

%ul.unstyled.listing
  = render partial: 'account_ledgers/money', collection: present(@cash.ledgers.includes(:account, :account_to).page(@page)), as: :ledger, locals: { current_account_id: @cash.id }

= html
