- content_for :links do
  %ul.breadcrumps
    %li #{link_to "Cuentas caja", cashes_path}
  .links
    = link_to 'Editar', edit_cash_path(@cash), :class => 'edit'


%h1.mb5 #{@cash.name} <small>(#{@account.currency_symbol})</small>
%hr/


= pendent_money_link(@cash, :class => 'red b fs120')
.clear

.moneybox.fl
  %label SALDO EN CAJA
  %h3= with_currency(@account, :amount)

._40.fr
  %label Dirección
  = nl2br(@cash.address)
.clear

%h2 Transacciones
= render "account_ledgers/money", :account => @account, :ledgers => @ledgers, :paged_ledgers => @paged_ledgers, :ref_title => 'Referencia', :money => @cash

.clear
