- content_for :links do
  %ul.breadcrumbs.span6
    %li
      =link_to "Cuentas caja", cashes_path
    %li
      %i.icon-caret-right
    %li
      Caja
  .links.span6

.row-fluid
  .span6
    %h1.n
      = @cash.name
      %small= @cash.currency
      -#= pendent_money_link(@cash)
  .span6.r
    = link_to icon_edit_text, edit_cash_path(@cash), class: 'btn'

.row-fluid
  .span6
    .moneybox
      %label SALDO EN CAJA
      %h3
        = ntc @cash.amount
        = currency_label @cash.currency

  .span6
    %label Dirección
    = nl2br(@cash.address)

%h3 Transacciones

= render "account_ledgers/money", account: @cash
