- content_for :links do
  %ul.breadcrumbs.span6
    %li
      =link_to "Cuentas caja", cashes_path
    %li
      %i.icon-caret-right
    %li
      Caja
  .links.span6
    = link_to 'Editar', edit_cash_path(@cash), :class => 'edit'

.page-header
  %h1.n
    = @cash.name
    %small= @cash.currency
    -#= pendent_money_link(@cash)

.row-fluid
  .span6
    .well.well-small
      %label SALDO EN CAJA
      %h3
        = ntc @cash.amount
        = currency_label @cash.currency

  .span6
    %label Dirección
    = nl2br(@cash.address)

%h3 Transacciones

= render "account_ledgers/money", account: @cash

