%input(type='hidden' ng-model='base_currency' value='#{currency}' initial)
.row-fluid.currency-input
  .span6
    = f.input :currency, collection: currency_options, label: 'Moneda ', include_blank: false,
      input_html: { id: 'currency', 'ng-model' => 'currency' }
  .span6
    = f.input :exchange_rate, label: "Tipo de cambio de <span class='currency'></span> a #{currency_label} ".html_safe,
      input_html: { id: 'exchange_rate', type: 'number', class: 'span3',
      'ng-model' => 'exchange_rate', 'ng-disabled' => 'same_currency', 'ng-change' => 'setDetailsPrices()', 'initial' => true }

- if movement.is_draft?
  %input#accounts(type='hidden' data-accounts='#{Accounts::Query.new.bank_cash_options.to_json}')
  %br
  .well.well-small
    .row-fluid
      -# Render for direct_payment
      .span6.account_to.form-inline
        %span(style='display:none')
          = f.check_box :direct_payment, id: 'direct_payment',
            'ng-model' => 'direct_payment', style: 'vertical-align: top'
        %a#direct-payment-button.btn.btn-small.btn-info.b(data-toggle='button' ng-click='direct_payment=!direct_payment') #{lbl} directo

        = f.input :account_to_id, input_html: { id: 'account_to_id', class: 'span10',
          'ng-model' => 'account_to_id', 'ng-disabled' => '!direct_payment', 'ng-movement-accounts' => true, 'initial' => true },
          label: "<strong>Cuenta</strong> a la cual se aplicara el <i>#{lbl} directo</i>".html_safe

      .span6
        = f.input :reference, label: 'Referencia', as: :text,
          input_html: {rows: 2, placeholder: 'Número de recibo o documento', class: 'span10',
          'ng-disabled' => '!direct_payment' }
