%h2.dark#items-header
  Items
  %span.n(style='font-size: 13px')= link_to 'ver ítems', items_path, target: '_blank'

%input(id='details' type='hidden' data-details='#{ movement.form_details_data.to_json }')

%ul.unstyled.movement-details.listing
  %li.header.row-fluid
    .span6
      Item
    .span2
      Precio
    .span2
      Cantidad
      %br
      Unidad de medida
    .span2
      Total línea

  %li.row-fluid.detail(ng-repeat='detail in details' ng-hide='detail._destroy==1')
    .span6.item
      %input(type='hidden' ng-model='detail.id' name='#{movement.form_details_name}[{{ $index }}][id]' value='{{ detail.id }}')
      %input(type='hidden' ng-model='detail._destroy' name='#{movement.form_details_name}[{{$index}}][_destroy]' value='{{detail._destroy}}')
      .input-append.autocomp
        %input.hide(type='text' ng-model='detail.item_id' name='#{movement.form_details_name}[{{$index}}][item_id]' size='2')
        %input.item-name.autocomp(type='text' placeholder='Escriba para buscar el ítem' data-source='#{item_url}' ng-model='detail.item' detail-autocomplete='true')
        %a.btn.add-new-url.add-new-item.ajax(href='/items/new?for_sale=#{movement.is_income?}' tabindex="-1")
          %i.icon-plus-circle
      %span.error(ng-show='detail.hasError("item_id")') {{detail.errorsFor('item_id')}}

    .span2.price.r
      %label.visible-phone Precio:
      %input.r(type='number' ng-model='detail.price' name='#{movement.form_details_name}[{{$index}}][price]' value='10')
      %span.unit.visible-phone

    .span2.quantity.r
      %label.visible-phone Cantidad - Unidad:
      %input.r(type='number' ng-model='detail.quantity' name='#{movement.form_details_name}[{{$index}}][quantity]')
      %span.unit(data-original-title="{{ detail.unit_name }}" data-toggle="tooltip")
        {{detail.unit_symbol}}
      %span.error(ng-show='detail.hasError("quantity")') {{detail.errorsFor('quantity')}}

    .span2.r
      %label.visible-phone Total línea:
      .input.total-line
        {{ detail.subtotal() | decimal }}
      %span.space
        %a.dark(href='javascript:;' ng-click='destroy($index)' tabindex="-1")
          = icon_delete


  %li.row-fluid.subtotal
    .span6
      &nbsp;
      %a#add-item-link.btn(ng-click='addDetail()')
        %i.icon-plus-sign
        Nueva línea
    .span2
      &nbsp;
    .span2.r
      Subtotal
      %span.currency
    .span2.r
      %span.subtotal {{ subtotal() | decimal }}
      %span.space &nbsp;


  %li.row-fluid.taxes
    .span10.r
      %label Impuestos
      %input#taxes(type='hidden' data-taxes='#{ Tax.all.to_json(only: [:id, :name, :percentage]) }')

      = f.text_field :tax_id, 'ng-model' => 'tax_id', id: 'tax_id', class: 'hide', 'initial' => true
      .input-append
        %select#tax-id(ng-model='tax' ng-change='setTaxId()' ng-options='[t.name, " (", t.percentage, "%)" ].join("") for t in taxes track by t.id')
          %option(value='')

        - if user_with_role.is_admin? || user_with_role.is_group?
          = link_to icon('icon-plus-sign'), new_tax_path, title: 'Nuevo impuesto',
            class: 'btn ajax add-new-url add-new-tax', data: { width: 400 }

      %a#tax-in-out-btn.btn.btn-small.btn-info.b(data-toggle='button' ng-click='tax_in_out=!tax_in_out') {{ taxLabel() }}
      %span.hide= f.check_box :tax_in_out, 'ng-model' => 'tax_in_out', id: 'tax_in_out'

      %span.currency

    .span2.r
      %span.taxes {{ taxTotal() | decimal }}
      %span.space &nbsp;


  %li.row-fluid.total
    .span10.r
      %strong Total
      %span.currency
    .span2.r
      %strong.total {{ total() | decimal }}
      %span.space &nbsp;

:javascript
  $(function() {
    $('.movement-details').on('click', "input[type='number']", function(event) {
      $(this).select();
    });
  })
