.page-header
  .row
    %h1.span8
      = presenter.title
      %small.pill#transaction_state{:class => @transaction.real_state}= @transaction.show_state


.row-fluid
  .span4
    %h2.n.mt5= link_to @transaction.contact, @transaction.contact
  .span4
    %h3.n= presenter.project
    &nbsp;
  .span4
    = presenter.approve_form
%br
.row
  .span2
    %h4= presenter.fact
  .span2
    %h4
      %span.n.gray Fecha:
      = lo @transaction.date
  .span2
    %h4= presenter.due_date

  .span6
    -# FORM to approve transaction /transactions/_approve_form.html.haml
    -# FORM to approve transaction /transactions/_approve_deliver.html.haml
    = presenter.approve_deliver_form

%br
.row
  .span4
    %h3
      %span(title="Tipo de cambio")= presenter.currency
  .span6= presenter.description

%br
-# Moneyboxes
.moneybox.fl
  %label TOTAL
  %h3#total_currency #{@transaction.currency_symbol} #{ntc @transaction.total}

.moneybox.fl
  %label SALDO
  %h3#balance #{@transaction.currency_symbol} #{ntc @transaction.balance}

= presenter.render_discount
