#items
  %h2 Items

  %table#items_table.table.table-striped
    %thead
      %tr
        %th Item
        %th Precio <br/>unitario #{transaction.currency_symbol}
        %th Cantidad
        %th Unidad
        -#%th Disponible Inventario<br/>Total
        %th Total fila #{transaction.currency_symbol}

      - transaction.transaction_details.includes(:item => [:unit, :stocks]).each do |det|
        %tr
          %td= link_to det.item, det.item, :class => 'ajax', 'data-title' => det.item
          %td.cur= price_change det
          %td.cur= ntc det.quantity
          %td.cur= det.item.unit
          -#%td.cur= ntc det.item.total_stock
          %td.total_row.cur= ntc det.total

    %tr.extra.pad_top
      %td
      %td.cur{:colspan => 3} Subtotal
      %td#subtotal.cur= ntc transaction.gross_total

    %tr.extra
      %td
      %td.cur{:colspan => 3}
        %i.icon-minus-sign
        Descuento (<span id="discount_percentage" data-val="#{transaction.total_discount}">#{ntc transaction.discount}</span>%)
      %td#discount_total.cur= ntc -transaction.total_discount

    %tr.extra
      %td
        %td.cur.b.dark{:colspan => 3} Total
      %td#total_value.cur.b{'data-val' => transaction.total} #{transaction.currency_symbol} #{ntc transaction.total}


