- present @transaction, TransactionPresenter do |presenter|

  .row-fluid
    .span12
      %h4.n 
        %span.gray Modificado por
        %strong= @history.user
        %span.gray el
        %i= lo @history.created_at

  %br
  .row-fluid
    .span12
      %h2
        = presenter.title
        %small.pill#transaction_state{:class => @transaction.real_state}= @transaction.show_state
  .row-fluid
    .span6
      %h2.n
        = link_to @transaction.contact, @transaction.contact
    .span6
      %h3.n= presenter.project

  %br
  .row-fluid
    .span3
      %h4= presenter.fact
    .span3
      %h4
        %span.n.gray Fecha:
        = lo @transaction.date
    .span3
      %h4= presenter.due_date


  .clear
  -# Moneyboxes
  .moneybox.fl
    %label TOTAL
    %h3#total_currency #{@transaction.currency_symbol} #{ntc @transaction.total}

  .moneybox.fl
    %label SALDO
    %h3#balance #{@transaction.currency_symbol} #{ntc @transaction.balance}

  = presenter.render_discount
  .clear

  -# Itemse
  #items
    %h2 Items

    %table#items_table.decorated
      %thead
        %tr
          %th Item
          %th Precio <br/>unitario #{@transaction.currency_symbol}
          %th Cantidad
          %th Unidad
          -#%th Disponible Inventario<br/>Total
          %th Total fila #{@transaction.currency_symbol}

        - @transaction.transaction_details.each do |det|

          %tr
            %td= link_to det.item, det.item, :class => 'ajax', 'data-title' => det.item
            %td.cur= price_change det
            %td.cur= ntc det.quantity
            %td.cur= det.item.unit
            -#%td.cur= ntc det.item.total_stock
            %td.total_row.cur= ntc det.total

      %tr.extra.pad_top
        %td
        %td.r{:colspan => 3} Subtotal
        %td#subtotal.r= ntc @transaction.gross_total

      %tr.extra
        %td
        %td.r{:colspan => 3} 
          %i.icon-minus-sign
          Descuento (<span id="discount_percentage" >#{ntc @transaction.discount}</span>%)
        %td#discount_total.r= ntc -@transaction.total_discount

      -#%tr.extra
        %td
        %td.r.line{:colspan => 3} Impuestos #{list_taxes @transaction} (<span id="taxes_percentage" >#{ntc @transaction.tax_percent}</span>%)
        %td#taxes_total.r.line= ntc @transaction.total_taxes

      %tr.extra
        %td
          %td.r.b.dark{:colspan => 3} Total
        %td#total_value.r.b #{@transaction.currency_symbol} #{ntc @transaction.total}


