:css
  #links{display: none; }
%h1 Configuración

#tabs
  %ul
    %li <a href="#users">Usuarios</a>
    %li <a href="#organisation">Empresa</a>
      

  #users
    =link_to "Adicionar usuario", "/users/add_user", :class => 'new'

    %table.decorated
      %tr
        %th Nombre Completo
        %th Email
        %th Rol
        %th Activo
        %th
      - @links.each do |link|
        %tr
          %td= link_to link.user, link.user
          %td= link.user.email
          %td= User.roles_hash[link.rol]
          %td{:class => link.active.to_s }
          %td
            = link_to "editar", edit_user_user_path(link.user), :class => 'edit', :title => 'Editar usuario'

  #organisation
    = link_to "Editar datos empresa", "/organisations/#{session[:organisation][:id]}/edit", :class => 'edit'

    - @org = Organisation.find(OrganisationSession.organisation_id)
    
    %h3 Datos #{@org}

    .input
      %span.dark_grey Teléfono:
      = @org.phone
      %span.dark_grey Movil:
      = @org.mobile
      %br
      %span.dark_grey Email:
      = @org.email
      %br
      %span.dark_grey Sitio web:
      = @org.website

    .input= nl2br(@org.address)

    .clear


:javascript
  $(function() { 
    $('#tabs').tabs(); 
  });
