:css
  #links{display: none; }
%h1 Configuración

#tabs
  %ul
    %li <a href="#users">Usuarios</a>
    %li <a href="#organisation">Empresa</a>
      

  #users
    %p
      =link_to "/users/add_user", :class => 'btn btn-success' do
        %i.icon-plus-sign.icon-white
        Adicionar usuario

    %table.table.table-striped
      %tr
        %th Nombre Completo
        %th Email
        %th Rol
        %th Activo
        %th
      - @users.each do |user|
        %tr
          %td= link_to user, user
          %td= user.email
          %td= User.roles_hash[user.rol]
          %td{:class => user.active }
          %td
            = link_to "editar", edit_user_user_path(user), :class => 'edit', :title => 'Editar usuario'

  #organisation
    %p
      = link_to "/organisations/#{session[:organisation][:id]}/edit", :class => 'btn btn-primary' do
        %i.icon-pencil.icon-white
        Editar datos empresa

    
    %h3 Datos #{@org}

    .input
      %span.dark-grey Teléfono:
      = @org.phone
      %span.dark-grey Movil:
      = @org.mobile
      %br
      %span.dark-grey Email:
      = @org.email
      %br
      %span.dark-grey Sitio web:
      = @org.website

    .input= nl2br(@org.address)

    .clear


:javascript
  $(function() { 
    $('#tabs').tabs(); 
  });
