#general-aspects(style="display:none")
  - t = Time.zone.now
  .row-fluid
    .span12
      %h2#general-aspects-title.n= t("views.dashboard.index.general_aspects")
      Aspectos generales
  .row-fluid
    .span4
      .well.well-small
        %h4.n Cambios por usuarios
        %p.muted
          Muestra los cambios que un usuario
          realizo en algún registro del sistema

        %ul.unstyled
          %li
            %i.icon-user.blue(title='MODIFICADO por: #{current_user} #{l t}, ID: #{current_user.id}' data-toggle='tooltip')
            %strong Modificado por
          %li
            %i.icon-user.dark(title='CREADO: #{current_user} #{l t}, ID: #{current_user.id}' data-toggle='tooltip')
            %strong Creado por
          %li
            %i.icon-user.bonsai-dark(title='APROBADO: #{current_user} #{l t}, ID: #{current_user.id}' data-toggle='tooltip')
            %strong Aprobado por
          %li
            %i.icon-user.text-error(title='ANULADO: #{current_user} #{l t}, ID: #{current_user.id}, ' data-toggle='tooltip')
            %strong Anulado por

    .span4
      .well.well-small
        %h4.n Moneda
        %p.muted
          Se muestra las monedas de la siguiente forma, mueva el mouse sobre el código de cada moneda
        %p
          = ntc 125.25
          = currency_label(currency)
          &nbsp;
          = ntc 150
          = currency_label('USD')
          &nbsp;
          = ntc 200
          = currency_label('EUR')

    .span4
      .well.well-small
        %h4.error.n
          Errores
        %p.muted
          Cuando exista errores en algún registro se mostrara con color rojo
          el error o presentara el mesaje
          %span.label.label-important ERROR

