- content_for :links do
  %ul.breadcrumbs.span6
    %li
      &nbsp;

-# if current_organisation.dued_on?
  .alert.alert-error
    %h3
      Por favor debe realizar el pago correspondiente para que no se le corte el servicio

%h4.n.gray
  = t("views.dashboard.home.title").html_safe

%p
  = t("views.dashboard.home.help_recomendation").html_safe


%p
  = t("views.dashboard.home.users_recomendation").html_safe
- t = Time.zone.now

.well.well-small.span8
  %i.icon-user.blue(title='#{t("general.modified_by")}: #{current_user} #{l t}, ID: #{current_user.id}' data-toggle='tooltip')

  %i.icon-user.dark(title='#{t("general.created_by")}: #{current_user} #{l t}, ID: #{current_user.id}' data-toggle='tooltip')

  %i.icon-user.bonsai-dark(title='#{t("general.approved_by")}: #{current_user} #{l t}, ID: #{current_user.id}' data-toggle='tooltip')

  %i.icon-user.text-error(title='#{t("general.nulled_by")}: #{current_user} #{l t}, ID: #{current_user.id}, ' data-toggle='tooltip')

  %span.muted= t("views.dashboard.home.move_over_users")

.clearfix
%hr

%h2= t('views.dashboard.flow')

%h4.n Flujo de un ingreso

%ol.unstyled
  %li.row-fluid
    .span6
      %p
        %h4.round.bg-green 1
        Haga click en <strong>General</strong> y despues <strong>Nuevo ingreso</strong>
      .well.well-small
        = image_tag 'workflow/menu-new-income.png'

    .span6
      %p
        %h4.round.bg-green 2
        Utilize la ayuda

        %a.dark.b
          %i.icon-question-sign
          Ayuda
        si la necesita y cree un Ingreso

      = image_tag 'workflow/new_income.png', class: 'polaroid'

  %li.row-fluid
    .span6
      %p
        %h4.round.bg-green 3
        Seleccione una cuenta y comience a cobrar

      = image_tag 'workflow/new_payment.png', class: 'polaroid'

    .span6
      %p
        %h4.round.bg-green 4
        Finalmente <strong>Entregue la mercadería</strong>

      = image_tag 'workflow/give_inventory.png', class: 'polaroid'

  %li.row-fluid
    %p
      Estos son los pasos básicos para poder completar un ingreso (Venta) recuerde de que
      si desea puede desactivar el inventario para un ingreso.
