- content_for :links do
  %ul.breadcrumbs.span6
    %li
      &nbsp;

%h4.n.gray
  Bienvenido a
  %i bonsaiERP
  el software para administrar su empresa, le mostraremos como usar el sistema


%p
  Casi siempre encontrará la
  %a.dark.b
    %i.icon-question-sign
    Ayuda
  en la parte superior derecha, o de un color mas claro así:
  %a.mute.b
    %i.icon-question-sign
    Ayuda

%hr

%p
  Cuando encuentre un botón a la derecha de un cuadro de texto o una lista seleccionable usted puede crear un nuevo Contacto, Item, Unidad, etc.

.well.well-small.span3.input
  %input(type="text")
  %a.btn.btn-small
    %i.icon-plus-sign.fs120

.clearfix
%hr

%p
  %i bonsaiERP
  presenta quien realizó modificaciones a los registros, cuando mueva el cursor encima de los íconos

- t = Time.zone.now

.well.well-small.span8
  %i.icon-user.blue(title='MODIFICADO por: #{current_user} #{l t}, ID: #{current_user.id}' data-toggle='tooltip')

  %i.icon-user.dark(title='CREADO: #{current_user} #{l t}, ID: #{current_user.id}' data-toggle='tooltip')

  %i.icon-user.bonsai-dark(title='APROBADO: #{current_user} #{l t}, ID: #{current_user.id}' data-toggle='tooltip')

  %i.icon-user.text-error(title='ANULADO: #{current_user} #{l t}, ID: #{current_user.id}, ' data-toggle='tooltip')

  %span.muted Mueva el cursor encima de los íconos en forma de usuario

.clearfix
%h3.n Como realizar una venta (Ingreso)?

%ol
  %li
    Haga click en <strong>General</strong> y despues en <strong>Nuevo ingreso</strong>
  %li
    Seleccione los ítems que desea vender sino cree nuevos



-#.row-fluid
  .span3.well.well-small
    %p
      Presenta todo lo relacionado a reportes y la página de inicio

    %li.dropdown
      %a.dropdown-toggle(role='menu' href='#')
        Reportes
        %i.icon-caret-down
      %ul
        %li
          = link_to "Resumen", dashboard_path
        %li
          = link_to "Reportes generales", reports_path


  .span3.well.well-small
    %p
      Esta la parte en la generalmente se realiza la mayor parte de actividades como los
      %strong Ingresos
      y
      %strong Egresos

    %li.dropdown
      %a.dropdown-toggle(data-toggle="dropdown" href="#")
        General
        %i.icon-caret-down

      %ul(role="menu" aria-labelledby="dropdownMenu")
        %li
          = link_to "Ingresos", incomes_path
        %li
          = link_to "Nuevo ingreso", new_income_path
        %li
          = link_to "Egresos", expenses_path
        %li
          = link_to "Nuevo egreso", new_expense_path
        %li
          = link_to "Contactos", contacts_path
        %li
          = link_to "Nuevo contacto", new_contact_path
        %li
          = link_to "Proyectos", projects_path, id: 'last-nav'


  .span3.well.well-small
    %p
      Lista las cuentas en efectivo y de banco que estan relacionadasa con ingresos y egresos

    %li.dropdown
      %a.dropdown-toggle(href="#")
        Cuentas
        %i.icon-caret-down
      %ul
        %li <a href="/banks">Cuentas bancarias</a>
        %li <a href="/cashes">Cuentas efectivo</a>

  .span3.well.well-small
    %li.dropdown
      %a.dropdown-toggle(href="#")
        Inventarios
        %i.icon-caret-down
      %ul
        %li <a href="/stores">Almacenes</a>
        %li <a href="/items">Items</a>
        %li <a href="/units">Unidades de medida</a>
