- content_for :links do
  %ul.breadcrumbs.span6
    %li

  .span6
    %ul.breadcrumbs.r
      %a#help-link-general.dark(href="javascript:;")
        %i.icon-question-sign
          Ayuda

%h2#title
  Resumen
  %i.fs80.n= present_date_range @date_range


= render file: "dashboard/general_aspects"

%h5.n= @dashboard.pendent_ledgers

.well
  = form_for dashboard_path, method: :get, html: {id: "form_graph", class: 'form-inline'} do
    = render 'layouts/date_range', dr: @date_range
    = submit_tag 'Generar', class: 'btn'


= render 'dashboard/graph', data: @dashboard

.row-fluid
  .span6.well.well-small
    -#.alert.alert-success.inline-block
    .row-fluid
      .span6
        %h4.incomes-total.muted.ib.n
          Ingresos:
        %h4.bonsai-dark.ib
          \%
          = ntc @dashboard.incomes_percentage
      .span6
        %h4.n.ib
          %i.icon-plus.bonsai-dark
          = ntc @dashboard.total_incomes
          = currency_label currency

  .span6.well.well-small
    -#.alert.alert-error.inline-block
    .row-fluid
      .span6
        %h4.expenses-total.ib.n.muted
          Egresos:
        %h4.ib.text-error
          \%
          = ntc @dashboard.expenses_pecentage
      .span6
        %h4.n.inline-block
          %i.icon-minus.text-error
          = ntc @dashboard.total_expenses
          = currency_label currency

= render "dashboard/tour_general"
