- content_for :links do
  %ul.breadcrumps
    %li
      %span Resumen

-#video
  %h3 Videos
  %ul.list
    %li.fl._25
      =link_to "http://www.youtube.com/embed/q_KZPKbQGVA?autoplay=1&rel=0", :class => 'video b', 'data-title' => 'Como crear alamacenes e ítems' do
        Como crear alamacenes e ítems
    %li.fl._25
      = link_to "http://www.youtube.com/embed/BZMsfhXi9uw?autoplay=1&rel=0", :class => 'video', 'data-title' => 'Como crear clientes' do
        Como crear clientes

- present nil, DashboardPresenter do |presenter|
  = presenter.due_date
  
  = presenter.change_password_link

  = presenter.create_money_link

  .clear

  %ul.isotope-widgets.isotope-container.isotope
    %li.isotope-item
      =link_to incomes_path(:option=>'awaiting_payment'), :class => 'button-blue ui-corner-all' do
        - presenter.accounts_to_recieve.each do |cur, amt|
          %strong #{cur} #{ntc amt}
          -# TODO: Return 0 if nil
        %span Nos deben

    %li.isotope-item
      =link_to buys_path(:option=>'awaiting_payment'), :class => 'button-red ui-corner-all' do
        - presenter.accounts_to_pay.each do |cur, amt|
          %strong #{cur} #{ntc amt}
          -# TODO: Return 0 if nil
        %span Debemos

    %li.isotope-item
      =link_to 'banks', :class => 'button-green ui-corner-all' do
        %strong ??? Bs.
        %span Dinero en Banco

    %li.isotope-item
      =link_to 'cashes', :class => 'button-green ui-corner-all' do
        %strong ??? Bs.
        %span Dinero en Caja

    - presenter.pendent_conciliations.each do |cur, al|
      %li.isotope-item
        = link_to al, :class => "button-gray ui-corner-all" do
          %strong
            = cur
            = al.amount
          %span
            Verificación pendiente
            -#= lo al.created_at            

    - presenter.minimum_inventory.each do |st_id, store, min|
      %li.isotope-item
        = link_to store_path(st_id, :option => 'minimum', :tab => 'items'), :class => 'button-red ui-corner-all' do
          %strong #{min} items
          %span
            = store

