:css
  #links{ display: none; }
  p.dash, ol.dash li{font-size: 120%; padding: 7px;}


#video
  %h3 Videos
  %ul.list
    %li.fl._25
      =link_to "http://www.youtube.com/embed/q_KZPKbQGVA?autoplay=1&rel=0", :class => 'video b', 'data-title' => 'Como crear alamacenes e ítems' do
        %img(src="http://i2.ytimg.com/vi/q_KZPKbQGVA/default.jpg")
        Como crear alamacenes e ítems
    %li.fl._25
      = link_to "http://www.youtube.com/embed/BZMsfhXi9uw?autoplay=1&rel=0", :class => 'video', 'data-title' => 'Como crear clientes' do
        %img(src="http://i3.ytimg.com/vi/BZMsfhXi9uw/default.jpg")
        Como crear clientes

- present nil, DashboardPresenter do |presenter|
  = presenter.due_date
  
  = presenter.change_password_link

  = presenter.create_money_link

  .clear
  
  .box
    %h3 <span class="b dark-green">Nos deben</span>
    %ul.list
      - presenter.accounts_to_recieve.each do |cur, amt|
        %li.b #{cur} #{ntc amt}

  .box
    %h3 <span class="b red">Debemos</span>
    %ul.list
      - presenter.accounts_to_pay.each do |cur, amt|
        %li.b #{cur} #{ntc amt}

  .clear

  .box
    %h3 Verificaciones pendientes
    %ul.list
      - presenter.pendent_conciliations.each do |cur, al|
        %li
          = link_to al do
            %strong
              = cur
              = al.amount
            %span.i= lo al.created_at
    

  .box
    %h3 Almacenes con mínimos
    .clear

    %ul.list
      - presenter.minimum_inventory.each do |st_id, store, min|
        %li= link_to "#{store} (<strong>#{ntc min} items</strong>)".html_safe, store_path(st_id, :option => 'minimum', :tab => 'items')

