- content_for :links do
  %ul.breadcrumps
    %li
      %span Resumen

-#video
  %h3 Videos
  %ul.list
    %li.fl._25
      =link_to "http://www.youtube.com/embed/q_KZPKbQGVA?autoplay=1&rel=0", :class => 'video b', 'data-title' => 'Como crear alamacenes e ítems' do
        Como crear alamacenes e ítems
    %li.fl._25
      = link_to "http://www.youtube.com/embed/BZMsfhXi9uw?autoplay=1&rel=0", :class => 'video', 'data-title' => 'Como crear clientes' do
        Como crear clientes

- present nil, DashboardPresenter do |presenter|
  = presenter.due_date
  
  = presenter.change_password_link

  = presenter.create_money_link

  .clear

  %ul.isotope-widgets.isotope-container.isotope
    - if presenter.accounts_to_recieve.any?
      %li.isotope-item
        =link_to incomes_path(:option=>'awaiting_payment'), :class => 'button-blue ui-corner-all' do
          - presenter.accounts_to_recieve.each do |cur, amt|
            %strong #{cur} #{ntc amt}
          %span Nos deben

    - presenter.accounts_to_pay.each do |cur, amt|
      %li.isotope-item
        =link_to buys_path(:option=>'awaiting_payment'), :class => 'button-red ui-corner-all' do
          %strong 
            =cur 
            =ntc amt
          %span.b Debemos #{cur}

    
    - presenter.total_money(:bank).each do |cur, amt|
      %li.isotope-item
        =link_to '/banks', :class => 'button-green ui-corner-all' do
          %strong
            = cur
            = ntc amt
          %span.b Bancos #{cur}

    - presenter.total_money(:cash).each do |cur, amt|
      %li.isotope-item
        =link_to '/cashes', :class => 'button-green ui-corner-all' do
          %strong
            = cur
            = ntc amt
          %span.b Cajas #{cur}

    - presenter.pendent_conciliations.each do |cur, al|
      %li.isotope-item
        = link_to al, :class => "button-gray ui-corner-all" do
          %strong
            = cur
            = al.amount
          %span
            Verificación pendiente
            -#= lo al.created_at            

    - presenter.minimum_inventory.each do |st_id, store, min|
      %li.isotope-item
        = link_to store_path(st_id, :option => 'minimum', :tab => 'items'), :class => 'button-red ui-corner-all' do
          %strong #{min} items
          %span
            = store

