:css
  #links{ display: none; }
  p.dash, ol.dash li{font-size: 120%; padding: 7px;}

- present nil, DashboardPresenter do |presenter|
  = presenter.due_date
  
  = presenter.change_password_link

  = presenter.create_money_link

  .clear
  
  .box
    %h3 Cuentas por <span class="b dark_green">cobrar</span>
    %ul.list
      - presenter.accounts_to_recieve.each do |cur, amt|
        %li.b #{cur} #{ntc amt}

  .box
    %h3 Cuentas por <span class="b red">pagar</span>
    %ul.list
      - presenter.accounts_to_pay.each do |cur, amt|
        %li.b #{cur} #{ntc amt}

  .clear

  .box
    %h3 Verificaciones pendientes
    %ul.list
      - presenter.pendent_conciliations.each do |cur, al|
        %li
          = link_to al do
            %strong
              = cur
              = al.amount
            %span.i= lo al.created_at
    

  .box
    %h3 Almacenes con mínimos
    .clear

    %ul.list
      - presenter.minimum_inventory.each do |st_id, store, min|
        %li= link_to "#{store} (<strong>#{ntc min} items</strong>)".html_safe, store_path(st_id, :option => 'minimum', :tab => 'items')

