- content_for :links do
  %ul.breadcrumbs.span6
    %li
      %span Resumen

  .span6
    %ul.breadcrumbs.r
      %a#help-link-general.dark(href="javascript:;")
        %i.icon-question-sign
          Ayuda

= render file: "dashboard/tour/general"

%h2#title Resumen

= render file: 'dashboard/general_aspects'

%h5.n= @dashboard.pendent_ledgers

.well
  = form_for dashboard_path, method: :get, html: {id: "form_graph"} do
    = render 'export_incomes/form_details', btn: 'Buscar'

= render 'dashboard/graph', data: @dashboard

.row-fluid
  .span6.well.well-small
    %h5
      Ingresos
      %span.n= @dashboard.present_date_range
    .alert.alert-success.inline-block
      %h3.text-success
        \%
        = ntc @dashboard.incomes_percentage

    %h4.n.ib
      = ntc @dashboard.total_incomes
      = currency_label currency

  .span6.well.well-small
    %h5
      Egresos
      %span.n= @dashboard.present_date_range
    .alert.alert-error.inline-block
      %h3
        \%
        = ntc @dashboard.expenses_pecentage

    %h4.n.inline-block
      = ntc @dashboard.total_expenses
      = currency_label currency

-#.row-fluid
  .span6.well.well-small
    %h4.n Ingresos por ítem en los últimos 30 días
    %ul.unstyled
      = render partial: 'items/trans_detail', collection: @dashboard.incomes_by_item, as: :item

  .span6.well.well-small
    %h4.n Egresos por ítem en los últimos 30 días
    %ul.unstyled
      = render partial: 'items/trans_detail', collection: @dashboard.expenses_by_item, as: :item

-#= render 'dashboard/demo_colors'
