:css
  .title i{ vertical-align: middle; }

- content_for :links do
  %ul.breadcrumps.span6
    %li
      %span Resumen

-#video
  %h3 Videos
  %ul.list
    %li.fl._25
      =link_to "http://www.youtube.com/embed/q_KZPKbQGVA?autoplay=1&rel=0", :class => 'video b', 'data-title' => 'Como crear alamacenes e ítems' do
        Como crear alamacenes e ítems
    %li.fl._25
      = link_to "http://www.youtube.com/embed/BZMsfhXi9uw?autoplay=1&rel=0", :class => 'video', 'data-title' => 'Como crear clientes' do
        Como crear clientes

- present nil, DashboardPresenter do |presenter|
  = presenter.due_date
  
  = presenter.change_password_link

  = presenter.create_money_link

  .row
    .box.span6
      %h3.title
        %i.icon-plus-sign
        Nos deben
      %ul.list
        - presenter.accounts_to_recieve.each do |cur, amt|
          %li.high #{cur} #{ntc amt}
    
    .box.span6
      %h3.title
        %i.icon-minus-sign
        Debemos
      %ul.list
        - presenter.accounts_to_pay.each do |cur, amt|
          %li.high #{cur} #{ntc amt}


  .row
    .box.span6
      %h3.title Bancos
      %ul.list
        - presenter.banks.each do |bank|
          %li
            =link_to bank_path(bank[:id]) do
              %span.high
                = bank[:currency]
                = ntc bank[:amount]
              = bank[:name]

    .box.span6
      %h3.title Cajas
      %ul.list
        - presenter.cashes.each do |cash|
          %li
            =link_to cash_path(cash[:id]) do
              %span.high
                = cash[:currency]
                = ntc cash[:amount]
              = cash[:name]

  .row
    .box.span6
      %h3.title Verificaciones pendientes
      %ul.list
        - presenter.pendent_conciliations.each do |cur, al, ac|
          %li
            = link_to al do
              %span.high
                = cur
                = al.amount
              %strong= ac
              Verificar

    .box.span6
      %h3.title Inventarios con mínimos
      %ul.list
        - presenter.minimum_inventory.each do |st_id, store, min|
          %li
            = link_to store_path(st_id, :option => 'minimum', :tab => 'items') do
              %span.high #{min} ítems
              %span= store

