:css
  #links{ display: none; }
  p.dash, ol.dash li{font-size: 120%; padding: 7px;}

- if current_user.change_default_password?
  %h3= link_to "Le recomendamos crear una nueva contraseña", "" 

- if MoneyStore.org.empty?
  %h3 Por favor le recomendamos crear una #{link_to "cuenta bancaria", new_bank_path } o #{link_to "cuenta de caja", new_cash_path}

.clear
- fdate = 60

.box
  %h3._50.fl.n 
    Cuentas por <span class="b dark_green">cobrar</span>
    %ul.list
      - @presenter.accounts_to_recieve.each do |ac|
        %li.b= ac

.box
  %h3._50.fl.n 
    Cuentas por <span class="b red">pagar</span>
    %ul.list
      - @presenter.accounts_to_pay.each do |ac|
        %li.b= ac
.clear

