%h4.title Pagar prestamo

= simple_form_for @payment, url: receive_loan_payment_path(@loan.id),
  html: { id: 'loan-payment-form' } do |f|
  = bonsai_form_error(f)
  = f.hidden_field :account_id

  = render 'loan_payments/form', f: f, loan: @loan

  .form-actions
    = f.submit 'Pagar prestamo', class: 'btn b btn-success'
    %a.cancel.btn(hre='javascript:;') Cancelar

:javascript
  $(function() {
    var p = new App.IncomePayment({
      accountsTo: #{AccountQuery.new.income_payment_options(@payment.income).to_json},
      baseCurrency: "#{@payment.income_currency}",
      account_to_id: "#{@payment.account_to_id}",
      amount: #{@payment.amount},
      date: "#{@payment.date}",
      exchange_rate: #{@payment.exchange_rate.to_f},
      reference: "#{@payment.reference}",
      verification: #{@payment.verification}
    });
  })
