:css
  .pad-reg{
    padding: 20px;
  }
  #links{ display: none; }
  input{
    font-size: 1.5em;
    padding: 2px 6px;
  }
  label{
    font-size: 1.2em; 
    display: block; 
    font-weight: bold; 
    color: #383838;
  }
  .input{
    width: 100%;
  }

:javascript
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-203928-7']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();


.pad-reg
  %h1 Iniciar sesión

  = simple_form_for(@user, :url => sessions_path, :method => :post) do |f|
    = bonsai_form_error(f)
    = f.input :email, :label => "Email", :input_html => {:size => 40}
    .clear
    = f.input :password, :label => 'Contraseña', :input_html => {:size => 40}
    .clear
    .fs120
      = link_to "Olvido su contraseña?", new_reset_password_path
      %strong o
      = link_to "Registrarse aquí!", new_registration_path
    .clear
    = f.submit "Ingresar"

