#dialog
  %h1 Iniciar sesión

  = simple_form_for(@user, :url => sessions_path, :method => :post) do |f|
    = bonsai_form_error(f)

    %fieldset
      = f.input :email,    :label => "Correo Electrónico", :input_html => {:size => 40}
      = f.input :password, :label => 'Contraseña',         :input_html => {:size => 40}
  
    = link_to "¿Olvido su contraseña?", new_reset_password_path
    .clear.form_actions
      -# = link_to new_registration_path, :class=>'signup' do
        %span Registrarse
      %span.signup{:title => "Muy pronto"}
        Registrarse
      = f.submit "Ingresar", :class => "submit"
  

