:css
  #cont{
    background: none;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
  }

.row-fluid
  #browser.span8.offset2.c(style='display:none;')
    = render 'layouts/browser_update'

.lonely(style='width:400px')
  #login.row-fluid
    .inset
      %header
        %h1.c
          Iniciar sesión
      .pad.center.session
        = simple_form_for @session do |f|

          = f.input :email, label: false do
            .input-prepend.cont-login
              %span.add-on.prepend.square
                %i.muted.icon-user
              = f.text_field :email, size: 30, placeholder: 'Email'
          = f.input :password, label: false do
            .input-prepend.cont-login
              %span.add-on.prepend.square
                %i.muted.icon-key
              = f.password_field :password, size: 30, placeholder: 'Contraseña'

          %p.c.fs110
            = f.submit "Ingresar", :class => "btn btn-success btn-large b"
            <br/><br/>
            = link_to new_reset_password_path do
              %i.icon-key
              Olvido su contraseña?


:javascript
  $(function() {
    $('#reset-password-link').click(function() {
      $('#login').hide(300);
      $('#password').show(300);
    });

    $('#login-link').click(function() {
      $('#password').hide(300);
      $('#login').show(300);
    });
  });
