:css
  #cont{
    background: none;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
  }

.row-fluid
  #browser.span8.offset2.c(style='display:none;')
    = render 'layouts/browser_update'


.browser-list.center(style='display:none')
  %h4#message.n Por favor actualize su navegador para poder usar bonsaiERP, haga click en los íconos

  %a.browser.chrome(href='https://www.google.com/intl/es/chrome/browser/' target='_blank' title='Google chrome' data-toggle='tooltip')
  %a.browser.firefox(href='http://www.mozilla.org/es-ES/firefox/new/' target='_blank' title='Firefox' data-toggle='tooltip')

#browser

.lonely(style='width:400px')
  #login.row-fluid
    .inset
      %header
        %h1.c
          Iniciar sesión
      .pad.center.session
        = simple_form_for @session do |f|
          = hidden_field :demo_login, params[:demo]
          = f.input :email, label: false do
            .input-prepend.cont-login
              %span.add-on.prepend.square
                %i.muted.icon-envelope
              = f.text_field :email, size: 30, placeholder: 'Email'
          = f.input :password, label: false do
            .input-prepend.cont-login
              %span.add-on.prepend.square
                %i.muted.icon-key
              = f.password_field :password, size: 30, placeholder: 'Contraseña'

          %p.c.fs110
            = f.submit "Entrar", class: "btn btn-success btn-large b"
            <br/><br/>
            = link_to new_reset_password_path do
              %i.icon-key
              Olvido su contraseña?

= render file: 'layouts/browser'
:javascript
  $(function() {
    $('#reset-password-link').click(function() {
      $('#login').hide(300);
      $('#password').show(300);
    });

    $('#login-link').click(function() {
      $('#password').hide(300);
      $('#login').show(300);
    });

    var demos = ['demo@demo.com', 'demo1@demo.com', 'demo3@demo.com'];

    if(#{params[:demo_login].present?}) {
      var login = demos[Math.round(Math.random() * 2)];
      $('#session_email').val(login);
      $('#session_password').val('demo1234');
      $('.btn-success').popoverNotitle({content: 'Haga click para ingresar al demo'})
      $('.btn-success').popover('show');
    }
  });
