:css
  #header{ display: none; }
  #menu{ display: none; }
  #cont{
    background: none;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
  }
  .cont-login input, .cont-login .add-on{
    font-size: 17px;
    height: 30px;
  }
  .cont-login .add-on{
    width: 25px;
    padding-top: 4px;
  }
  .cont-login .add-on i{
    line-height: 0px;
  }
  .cont-login input{
    width: 250px;
  }

.row-fluid
  #browser.span8.offset2.c(style='display:none;')
    = render 'layouts/browser_update'
.row-fluid
  .lonely.span6.offset3
    .inset
      %header
        %h2.c
          Iniciar sesión
      .pad.center
        = simple_form_for @session do |f|

          = f.input :email, label: false do
            .input-prepend.cont-login
              %span.add-on.prepend
                %i.muted.icon-user
              = f.text_field :email, size: 30, placeholder: 'Email'
          = f.input :password, label: false do
            .input-prepend.cont-login
              %span.add-on.prepend
                %i.muted.icon-key
              = f.password_field :password, size: 30, placeholder: 'Contraseña'

          %p.c
            = f.submit "Ingresar", :class => "btn btn-success btn-large b"
            <br/><br/>
            = link_to "¿Olvido su contraseña?", new_reset_password_path

:javascript
  $(function() {
  });
