%h1.c.login
  Iniciar sesi칩n

.initial.c
  = simple_form_for @session do |f|
    = hidden_field :demo_login, params[:demo_login]
    .large
      %i.muted.icon-envelope.icon(title='Email')
      = f.text_field :email, placeholder: 'Email', class: 'email'
    .large
      %i.muted.icon-key.icon(title='Contrase침a')
      = f.password_field :password, placeholder: 'Contrase침a'

    = f.submit "Entrar", class: 'btn btn-success b'

    .link.fs110
      = link_to new_reset_password_path, class: 'white' do
        %i.icon-lock-open
        Olvido su contrase침a?


:javascript
  $(function() {
    $('input.email').focus();

    var demos = ['demo@demo.com', 'demo1@demo.com', 'demo3@demo.com'];

    if(#{params[:demo_login] == 'true'}) {
      var login = demos[Math.round(Math.random() * 2)];
      $('#session_email').val(login);
      $('#session_password').val('demo1234');
      $('.btn-success').popoverNotitle({content: 'Haga click para ingresar al demo', placement: 'bottom'})
      $('.btn-success').popover('show');
    }
  });
