- inventory = present inventory
%li.row-fluid
  .span6
    %h4.n.ib(title='C贸digo operaci贸n inventario')
      = link_to inventory.ref_number, inventory.link
    %strong(title='Tipo de operaci贸n')= inventory.operation_tag
    .clearfix
    %i= lo inventory.date
    .clearfix

    %span.muted Almacen:
    = link_to inventory.store, inventory.store
  .span6
    .clearfix
    = inventory.creator_label
    %i.icon-file.muted(title='Descripci贸n')
    = inventory.description
