%h1
  %span.text-muted Op. Inventario:
  %strong= @inventory.ref_number

%h2
  %span.text-muted Operación:
  %strong= @inventory.operation_name


%h3
  %span.text-muted De almacen
  = @inventory.store
  %span.text-muted a almacen
  = @inventory.store_to


%h3.n.i= l @inventory.date

%h4
  %span.text-muted Creado por:
  = @inventory.creator
  %span.text-muted Fecha sistema:
  %i= l @inventory.created_at

%p
  = @inventory.description



%h3 Items

.row-fluid
  %table#items.table.decorated
    %tr
      %th Item
      %th Cantidad
      %th Unidad

    - @inventory.inventory_details.includes(:item).each do |det|
      %tr.item
        %td
          = det.item
        %td
          = ntc det.quantity
        %td
          = det.item.unit_symbol


