- content_for :links do
  %ul.breadcrumbs.span6
    %li
      =link_to "Almacenes", stores_path
    %li
      %i.icon-caret-right
    %li
      =link_to @inventory.store, store_path(@inventory.store, :tab => 'operations')


.row-fluid
  .span8
    %h1
      %span.muted.n(title='Operación de inventario' data-toggle='tooltip') Op. Inventario:
      %strong= @inventory.ref_number
      %small.b= @inventory.operation_tag
  .span4.r
    .btn-group
      = link_to show_movement_inventory_path(@inventory.id, format: 'print'), class: 'btn' do
        %i.icon-print
        Imprimir

      = link_to show_movement_inventory_path(@inventory.id, format: 'pdf'), class: 'btn' do
        = image_tag 'pdf.png'
        PDF

.row-fluid
  .span6
    %h3.n
      %span.muted= "#{@inventory.related_tip}:"
      = link_to @inventory.movement, @inventory.movement
  .span6
    %h3.n
      %span.muted Almacen:
      = link_to @inventory.store, store_path(@inventory.store, anchor: 'operations-tab')

.row-fluid
  .span3
    %h4.n.i= l @inventory.date
  .span3
    %i.icon-user(title='Creado por' data-toggle='tooltip')
    = @inventory.creator
    %i= l @inventory.created_at
  .span6
    %i.icon-file.muted(data-toggle='tooltip' title='Descripción')
    = @inventory.description

%h3 Items
.row-fluid
  %table#items.table.decorated
    %tr
      %th Item
      %th Cantidad
      %th Unidad

    - @inventory.inventory_details.includes(:item).each do |det|
      %tr.item
        %td
          = det.item
        %td
          = ntc det.quantity
        %td
          = det.item.unit_symbol

