- content_for :links do
  %ul.breadcrumbs.span6
    %li
      =link_to "Almacenes", stores_path
    %li
      %i.icon-caret-right
    %li
      =link_to @inventory_operation.store, store_path(@inventory_operation.store, :tab => 'operations')

%h1.n
  %small Operacion Inventario:
  = @inventory_operation.ref_number

.row-fluid
  .span3
    %h4.n.i= l @inventory_operation.date
  .span6
    %i.icon-file-alt(data-toggle='tooltip' title='Descripción')
    = @inventory_operation.description

%h3 Items
.row-fluid
  %table#items.table.decorated
    %tr
      %th Item
      %th Cantidad

    - @inventory_operation.inventory_operation_details.each do |det|
      %tr.item
        %td
          = det.item
        %td
          = ntc det.quantity
