:css
  #links{ display: none; }

.page-header
  %h1 Inventario pendiente de #{params[:operation] == "in" ? "ingreso" : "egreso"} 


= paginate(@transactions)

%table.table.table-striped
  %thead
    %tr
      %th.tip{:title => 'Estado'} Est.
      %th.tip{ :title => 'Número de referencia' } Nº Ref.
      %th Cliente
      %th Vence el
      %th Total
      %th Saldo
      %th.tip{:title => "Contado Crédito"} Tipo
      %th Fecha Hora
      %th

  %tbody
    - for transaction in @transactions
      %tr{ :class => cycle(:odd, :even) }
        %td 
          %span{:class => "#{transaction.real_state} tip", :title => transaction.show_state}
            %td
              = link_to transaction.ref_number, select_store_inventory_operation_path(transaction, :operation => params[:operation]), :class => 'b ajax',
                title: 'Seleccionar almacen', 'data-title' => 'Seleccionar almacen'
        %td= transaction.contact
        %td= lo transaction.due_date unless transaction.paid?
        %td.cur #{transaction.currency_symbol} #{ntc transaction.total }
        %td.cur #{transaction.currency_symbol} #{ntc transaction.balance }
        %td= cash_credit(transaction.cash)
        %td.nw= lo transaction.created_at
        %td.actions
          = bonsai_links(transaction) if transaction.draft?

