<style type="text/css">
  input, label, a{
    font-size: 130%;
  }
</style>
<h1>Registrate</h1>

<%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>

  <%= f.input :email, :wrapper_html => {:class =>'input _100'} %>
  <%= f.input :password, :label => 'Contraseña' , :wrapper_html => {:class =>'input _100'} %>
  <%= f.input :password_confirmation, :label => 'Confirmación de contraseña' , :wrapper_html => {:class =>'input _100'} %>

  <p><%= f.submit "Registrate" %></p>
<% end %>

<%= render :partial => "devise/shared/links" %>
