!!!
%html
  %head
    %title== <%= controller_class_name %>: #{ controller.action_name }
    = stylesheet_link_tag 'scaffold'
    = javascript_include_tag :defaults
    = csrf_meta_tag
  
  %body
    %p.notice= notice
    
    = yield
