%h1 Configuración

#tabs
  %ul
    %li <a href="#users">Usuarios</a>
    %li <a href="#organisation">Empresa</a>
      

  #users
    %p
      =link_to new_admin_user_path, class: 'btn btn-primary' do
        %i.icon-plus-sign.icon-white
        Adicionar usuario

    %table.table.table-striped
      %tr
        %th Nombre Completo
        %th Email
        %th Rol
        %th Activo
        %th
      - @users.each do |user|
        %tr
          %td
            -#= link_to user, user
            = user
          %td
            = user.email
          %td
            = User.roles_hash[user.rol]
          %td
            %i.b(class="icon-#{user.active}")
          %td
            -#= link_to icon_edit, edit_admin_user_path(user), title: 'Editar usuario', rel: 'tooltip', class: 'dark'

  #organisation
    %p
      = link_to current_organisation, :class => 'btn btn-primary' do
        %i.icon-pencil.icon-white
        Editar datos empresa

    
    %h3 Datos #{@org}

    .input
      %span.dark-grey Teléfono:
      = @org.phone
      %span.dark-grey Movil:
      = @org.mobile
      %br
      %span.dark-grey Email:
      = @org.email
      %br
      %span.dark-grey Sitio web:
      = @org.website

    .input= nl2br(@org.address)

    .clear


:javascript
  $(function() { 
    $('#tabs').tabs(); 
  });
