%h1 Configuración

%ul#tabs.nav.nav-pills.fs150
  %li
    %a(href="#users" data-toggle="tab")Usuarios
  %li
    %a(href="#organisation" data-toggle="tab") Empresa

.tab-content
  #users.tab-pane.fade
    %p
      = link_to new_admin_user_path, class: 'btn' do
        %i.icon-plus-circle
        Adicionar usuario

    %h3.n Usuarios

    %ul.unstyled.listing.users
      %li.row-fluid
        .span4
          %strong.muted Nombre Completo
        .span4
          %strong.muted Email
        .span2
          %strong.muted Rol
        .span2

      = render partial: 'user', collection: present(current_organisation.users.includes(:links).order('users.id')), as: :user


  #organisation.tab-pane
    %p
      = link_to edit_organisation_update_path(current_organisation.id), class: 'btn' do
        %i.icon-pencil
        Editar datos y configuración


    %h3.n
      %span.muted Nombre:
      = current_organisation

    .well.well-small
      %h3.n Configuración

      .row-fluid
        .span6
          %h5.n
            %span.muted Moneda base:
            = current_organisation.currency_to_s
        .span6
          %h5.n
            %span.muted Inventario activo:
            %i(class='icon-#{current_organisation.inventory?}')

      .row-fluid
        .span6
          %h5.n
            %span.muted País:
            = Country.find(current_organisation.country_code).to_s
        .span6
          %h5.n
            %span.muted Zona horaria:
            = current_organisation.time_zone

    .row-fluid
      .span3
        %i.icon-phone.muted(title='Teléfono' data-toggle='tooltip')
        = current_organisation.phone
      .span3
        %i.icon-mobile.muted(title='Movil' data-toggle='tooltip')
        = current_organisation.mobile
      .span3
        %i.icon-envelope.muted(title='Email' data-toggle='tooltip')
        = current_organisation.email
      .span3
        = render_if current_organisation do
          =link_to current_organisation.website, current_organisation.website, target: '_blank'
    .row-fluid
      .span6
        %i.icon-building.muted(title='Dirección' data-toggle='tooltip')
        = nl2br current_organisation.address

:javascript
  $(function() {
    activeTab();

    $('body').on('click', 'li .active', function() {
      $(this).parents('li').addClass('marked');
    });
  });
