=simple_form_for(@store) do |f|
  .row-fluid
    .span4
      = f.input :name, label: "Nombre"
    .span1
      = f.input :active, label: "Activo" do
        = f.check_box :active
    .span2
      = f.input :phone, label: "Teléfono", input_html: {size: 12}
    .span5
      = f.input :address, label: "Dirección", as: :text, input_html: {rows: 3,cols: 45}

  .form-actions
    = f.submit "Salvar", class: 'btn btn-success b'
