- inventory = present inventory
%li.row-fluid
  .span6
    %h4.n.ib
      = link_to inventory.ref_number, inventory.link
    = inventory.operation_tag
    .clearfix
    = link_to inventory.related(store.id), inventory.related(store.id), class: 'b', title: inventory.related_tip, 'data-toggle' => 'tooltip'  if inventory.has_related?
    = lo inventory.created_at
  .span6
    = inventory.creator_label
    .clearfix
    = inventory.description_tag
