- inventory = present inventory
%li.row-fluid
  .span4
    %h4.n.ib(title='C贸digo operaci贸n inventario')
      = link_to inventory.ref_number, inventory.link
    %strong(title='Tipo de operaci贸n')= inventory.operation_tag
    .clearfix
    = link_to inventory.related(store.id), inventory.related(store.id), class: 'b',
      title: inventory.related_tip(store.id), 'data-toggle' => 'tooltip'  if inventory.has_related?
    %i= lo inventory.date
  .span8
    = inventory.creator_label
    %i.icon-file.muted(title='Descripci贸n')
    = inventory.description
