- item = stock.item
%li.item(id='#{stock.id}')
  .row-fluid
    .span6
      %h4.n
        = link_to item, item
        %small= "(#{item.unit_symbol})"
    .span6
      %span.muted Cantidad:
      = negative_tag stock.quantity

      .clearfix

      .minimum-stock.ib
        %span.muted Mínimo:
        %span.min= stock.minimum

        %a.edit-minimum-link.dark(href="javascript:;" title='Editar mínimo' data-toggle='tooltip' data-id='#{stock.id}' data-minimum='#{ stock.minimum }')
          %i.icon-pencil.icon-large
