%ul.tabs
  %li= link_option "Todos", "all"
  %li= link_option "Minimos", 'minimum'

= paginate(@items)

%table.decorated
  %tr
    %th Item
    %th Cantidad
    %th Cantidad minima
    %th

  - @items.each do |st|
    %tr{:id => st.id}
      %td= link_to st.item, st.item
      %td.cur= ntc st.quantity
      %td.cur.min= ntc st.minimum
      %td.cur.b= link_to "mínimo", edit_stock_path(:id => st.item_id, :item_id => st.item_id, :store_id => @store.id), :class => 'ajax', 'data-title' => 'Definir mínimo', 'data-width' => 450

