- item = stock.item
%li.item(id='#{stock.id}')
  .row-fluid
    .span7
      %h4.n
        = link_to item, item
        %span.muted.fs90= "(#{item.unit_symbol})"

      .clearfix
      .row-fluid
        .span6
          %span.b.muted Visible:
          %span(class="icon-large icon-#{item.active?}")

          %small.muted
            P.
            %strong COMPRA:
          = ntc item.buy_price
          = currency_label
        .span6
          %span.b.muted.text-muted Venta:
          %span(class="icon-large icon-#{item.for_sale?}")

          %small.muted
            P.
            %strong VENTA:
          = ntc item.price
          = currency_label

    .span5
      .row-fluid
        .span6
          %label Cantidad
          = minimum_stock_tag stock
        .span6
          .inline-cont
            %label Invenatio mínimo
            %span.inline-data(data-value='#{stock.minimum}')= ntc stock.minimum
            = link_to icon('icon-pencil', 'Editar mínimo'), stock_path(stock.id), class: 'dark inline-edit',
              data: { type: 'number', name: 'minimum', notify: '.top-right', minimum: 0 }


