- content_for :links do
  %ul.breadcrumps
    %li #{ link_to "Almacenes", stores_path }

  .links
    = link_to "Nuevo", new_store_path, :class => 'add'
    = link_to "Editar", edit_store_path(@store) , :class => 'edit'
    = link_to "Borrar", @store , :class => 'delete', :confirm => "Esta seguro de borrar el almacen", :method => :delete

%h1 Editar almacen

= render 'form'
