- content_for :links do
  .links= link_to 'Nuevo almacen', new_store_path, :class => 'new'

%h1 Almacenes

%ul#stores.accounts_list
  - @stores.each do |store|
    %li
      %h3 
        %span(class="#{store.active.to_s } tip" title="#{active?(store.active)}")
        = link_to store.name, store
      ._33.fl= store.phone 
      ._33.fl= nl2br store.address 
      .clear
        
