- content_for :links do
  %ul.breadcrumps.span6
    %li
      %span Almacenes

  .links.span6
    = link_to new_store_path, class: 'btn btn-primary' do
      %i.icon-plus-sign.icon-white
      Nuevo almacen

.page-header
  %h1 Almacenes

%ul#stores.accounts_list
  - @stores.each do |store|
    %li
      %h3 
        %span(class="#{store.active.to_s } tip" title="#{active?(store.active)}")
        = link_to store.name, store
      ._33.fl= store.phone 
      ._33.fl= nl2br store.address 
      .clear
        
