- content_for :links do
  %ul.breadcrumbs
    %li
      %span Almacenes

.row-fluid
  .span6
    %h1 Almacenes

  .span6.r
    = link_to new_store_path, class: 'btn' do
      %i.icon-plus-sign
      Nuevo almacen

%ul#stores.unstyled.listing
  - @stores.each do |store|
    %li.row-fluid
      .span7
        %h3
          %i(class="#{true_false store.active}" title="Activo" data-toggle="tooltip")
          = link_to store.name, store
      .span4
        = render_if store.phone do
          %i.icon-phone(title='Teléfono' data-toggle='tooltip')
          = store.phone
        .clear-both
        = render_if store.address do
          %i.icon-building(title='Dirección' data-toggle='tooltip')
          = nl2br store.address
      .span1
        = link_to icon_edit, edit_store_path(store), class: 'dark'
        = link_to icon_delete, store, class: 'dark', method: 'delete', confirm: 'Esta seguro de eliminar el ítem?'
