- content_for :links do
  %ul.breadcrumbs
    %li

.row-fluid
  .span6
    %h1 Almacenes

  .span6.r
    = link_to new_store_path, class: 'btn' do
      %i.icon-plus-sign
      Nuevo almacén

%ul#stores.unstyled.listing
  - @stores.each do |store|
    %li.row-fluid
      .span7
        %h4
          %i(class="icon-#{store.active}" title="Activo" data-toggle="tooltip")
          = link_to store.name, store

        - if store.stocks.mins.any?
          = link_to store_path(store.id, minimum_inventory: 1, anchor: 'items-tab'), class: 'text-error' do
            %i.icon-warning
            Existen inventarios con mínimos
      .span4
        = store.phone_tag
        .clearfix
        = store.address_tag

      .span1
        = link_to icon_edit, edit_store_path(store), class: 'dark'
        = link_to icon_delete, store, class: 'dark', method: 'delete', confirm: 'Esta seguro de eliminar el ítem?'
