- content_for :links do
  %ul.breadcrumps.span6
    %li #{ link_to "Almacenes", stores_path }
    %li 
      %span #{@store}

  .links.span6
    = link_to "Nuevo", new_store_path, :class => 'add'
    = link_to "Editar", edit_store_path(@store) , :class => 'edit'
    = link_to "Borrar", @store , :class => 'delete', :confirm => "Esta seguro de borrar el almacen", :method => :delete

.page-header
  %h1= @store


- if @store.active?
  .btn-group
    %a.btn.btn-primary{'data-toggle' => 'dropdown'} Nueva operación
    %a.btn.btn-primary.dropdown-toggle{'data-toggle' => 'dropdown'}
      %span.caret

    %ul.dropdown-menu
      %li
        = link_to new_inventory_operation_path(:store_id => @store.id, :operation => 'in') do
          %i.icon-plus-sign
          Nuevo ingreso

      %li
        = link_to new_inventory_operation_path(:store_id => @store.id, :operation => 'out') do
          %i.icon-minus-sign
          Nuevo egreso

      %li
        = link_to new_transference_inventory_operations_path(:store_id => @store.id, :operation => "trans") do
          %i.icon-arrow-right
          Nueva transferencia
.clear

.input.fr
  <a href="#store_info" class="more_info">Ver información</a>
  .clear
  #store_info{:style => 'display:none'}
    .input._25
      %label= "Teléfono"
      = @store.phone
    .input._25
      %label= "Activo"
      <span class="#{@store.active.to_s}"></span>
    .input
      %label= "Dirección"
      = nl2br @store.address

.clear

= jquery_tabs :tab_id => 'store' do
  = jqueryui_ul do
    = tab "Inventario de items", store_path(@store, :tab => "items"), "items"
    = tab "Operaciones realizadas", store_path(@store, :tab => "operations"), "operations"
  = tab_panel do
    -# stores/operations
    = render @partial, :store => @store

:javascript
  $(function() {
  })
