- content_for :links do
  %ul.breadcrumbs
    %li
      = link_to "Almacenes", stores_path
    %li
      %i.icon-caret-right
    %li
      = @store

.row-fluid
  .span6
    %h1
      %i(class="#{true_false(@store.active)}" title='Activo' data-toggle='tooltip')
      = @store

    .clear-both
    = render_if @store.phone do
      %i.icon-phone(title='Teléfono' data-toggle='tooltip')
      = @store.phone
    .clear-both
    = render_if @store.address do
      %i.icon-building(title='Dirección' data-toggle='tooltip')
      = nl2br @store.address

  .span6.r
    .btn-group
      = link_to icon_new_text, new_store_path, class: 'btn'

      = link_to icon_edit_text, edit_store_path(@store.id), class: 'btn'

      = link_to icon_delete_text, store_path(@store.id), method: :delete, confirm: "Esta seguro de borrar el almacen?", class: 'btn'

    - if @store.active?
      .btn-group.l
        %a.btn.btn-primary.dropdown-toggle(data-toggle='dropdown' href='javascript:;')
          Operaciones
          %i.icon-caret-down
        %ul.dropdown-menu
          %li
            = link_to new_inventory_operation_path(store_id: @store.id) do
              %i.icon-plus-sign
              Ingreso
          %li
            = link_to new_inventory_operation_path(store_id: @store.id) do
              %i.icon-minus-sign
              Egreso
          %li
            = link_to new_transference_inventory_operations_path(:store_id => @store.id) do
              %i.icon-exchange
              Transferencia

.row-fluid
  .span5


= jquery_tabs tab_id: 'store' do
  = jqueryui_ul do
    = tab "Inventario de items", store_path(@store, :tab => "items"), "items"
    = tab "Operaciones realizadas", store_path(@store, :tab => "operations"), "operations"
    = tab "Test", '', 'jeje'
  = tab_panel do
    -# stores/operations
    = render @partial, :store => @store

:javascript
  $(function() {
  })
