- content_for :links do
  %ul.breadcrumbs
    %li
      = link_to "Almacenes", stores_path

.row-fluid
  .span6
    %h2.n
      %i(class="icon-#{@store.active?}" title='Activo' data-toggle='tooltip')
      = @store

    .clear-both
    .row-fluid
      .span4
        = @store.phone_tag
      .span8
        = nl2br @store.address_tag

  .span6.r
    .btn-group

      = link_to icon_edit_text, edit_store_path(@store.id), class: 'btn'

      = link_to icon_delete_text, store_path(@store.id), method: :delete, confirm: "Esta seguro de borrar el almacen?", class: 'btn'

    - if @store.active?
      .btn-group.l
        %a#operations.btn.btn-primary.dropdown-toggle(data-toggle='dropdown' href='javascript:;')
          Operaciones
          %i.icon-caret-down
        %ul.dropdown-menu
          %li
            = link_to new_store_inventory_in_path(@store.id) do
              %i.icon-plus-circle
              Ingreso
          %li
            = link_to new_store_inventory_out_path(@store.id) do
              %i.icon-minus-circle
              Egreso
          %li
            = link_to new_inventory_transference_path(store_id: @store.id) do
              %i.icon-switch
              Transferencia
%hr

%ul#tabs.nav.nav-pills.fs150
  %li
    %a(href='#items-tab' data-toggle='tab') Items

  %li
    %a(href='#operations-tab' data-toggle='tab') Operaciones

.tab-content
  #items-tab.tab-pane.fade
    %h3.n Items

    = render 'items_search', store: @store

    %ul.unstyled.inline
      %li
        = link_to "Todos", store_path(@store.id, anchor: 'items-tab'), class: params_bold(:all)
      %li
        = link_to "Inventario mínimo", store_path(@store.id, minimum_inventory: 1, anchor: 'items-tab'), class: params_bold(:minimum_inventory)

    - html = paginate @store.items(params), param_name: 'page_items'

    = html

    %ul.listing.unstyled
      = render partial: 'stores/item', collection: @store.items(params), as: :stock

    = html

  #operations-tab.tab-pane.fade
    %h3.n Operaciones

    = render 'operations_search', date_range: @date_range, store: @store

    - html = paginate @store.inventories(params), param_name: 'page_operations'

    = html

    %ul.listing.unstyled
      = render partial: 'stores/inventory', collection: @store.inventories(params), locals: {store: @store}

    = html


:javascript
  $(function() {
    activeTab();

    $('#operations-tab .pagination a').each(function() {
      $a = $(this);
      $a.attr('href', $a.attr('href') + '#operations-tab');
    });

  })
