- content_for :links do
  %ul.breadcrumbs
    %li
      = link_to "Almacenes", stores_path
    %li
      %i.icon-caret-right
    %li
      = @store

.row-fluid
  .span6
    %h2.n
      %i(class="#{true_false(@store.active)}" title='Activo' data-toggle='tooltip')
      = @store

    .clear-both
    .row-fluid
      .span4
        = @store.phone_tag
      .span8
        = @store.address_tag

  .span6.r
    .btn-group
      = link_to icon_new_text, new_store_path, class: 'btn'

      = link_to icon_edit_text, edit_store_path(@store.id), class: 'btn'

      = link_to icon_delete_text, store_path(@store.id), method: :delete, confirm: "Esta seguro de borrar el almacen?", class: 'btn'

    - if @store.active?
      .btn-group.l
        %a#operations.btn.btn-primary.dropdown-toggle(data-toggle='dropdown' href='javascript:;')
          Operaciones
          %i.icon-caret-down
        %ul.dropdown-menu
          %li
            = link_to new_store_inventory_in_path(@store.id) do
              %i.icon-plus-sign
              Ingreso
          %li
            = link_to new_store_inventory_out_path(@store.id) do
              %i.icon-minus-sign
              Egreso
          -#%li
            = link_to new_inventory_transference_path(store_id: @store.id) do
              %i.icon-exchange
              Transferencia
%hr

%ul#tabs.nav.nav-pills.fs150
  %li
    %a(href='#items' data-toggle='tab') Items

  %li
    %a(href='#operations' data-toggle='tab') Operaciones

.tab-content
  #items.tab-pane.fade
    %h3.n Items

    %ul.listing.unstyled
      = render partial: 'stores/item', collection: @store.items
  #operations.tab-pane.fade
    %h3.n Operaciones

    %ul.listing.unstyled
      = render partial: 'stores/inventory', collection: @store.inventories

:javascript
  $(function() {
    $('#tabs a:first').tab('show');
    var tour = new Tour({
      labels: {
        next: "Siguiente",
        prev: "Anterior",
        end: "Fin"
      }
    });

    tour.addSteps([
      {
        element: '#operations',
        title: 'Operaciones',
        content: 'Vinculos para operaciones',
        placement: 'top'
      }
    ]);

    tour.start(true);
  })
