- content_for :links do
  %ul.breadcrumbs
    %li
      = link_to 'Recibir prestamos', loans_receives_path


%h1
  %span.text-muted.muted Prestamo recibido
  = @loan

.row-fluid
  .span6
    .moneybox
      %label TOTAL
      %h4.n
        = ntc @loan.total
        = currency_label @loan.currency
    .moneybox
      %label SALDO
      %h4.n
        = ntc @loan.amount
        = currency_label @loan.currency

.row-fluid
  .span6
    = link_to new_receive_loan_payment_path(@loan.id) , class: 'btn btn-primary', data: { target: '#payment-form' } do
      Pagar prestamo

    #payment-form
