- content_for :links do
  %ul.breadcrumbs.span6
    %li
      - tit, url = @account.is_a?(Bank) ? ['Cuentas bancarias', banks_path] : ['Cuentas efectivo', cashes_path]
      = link_to tit, url
    %li
      %i.icon-caret-right
    %li
      = link_to @account, @account

.row-fluid
  .span6
    %h2 Nueva transferencia

#transference(ng-controller='TransferenceController')
  = simple_form_for @transference, html: {id: 'transference-form'} do |f|
    = bonsai_form_error(f)

    = hidden_field_tag 'base_currency', @transference.account.currency, 'ng-model' => 'base_currency', 'initial' => true

    = hidden_field_tag :account_id, params[:account_id]

    %input(type='hidden' id='accounts' data-accounts='#{Accounts::Query.new.money_options_minus(@transference.account_id).to_json}')

    .row-fluid
      .span6
        %label De cuenta
        = link_to @account, @account
        %span.muted con saldo de:
        %strong= ntc @account.amount
        = currency_label @account.currency
      .span6
        = f.input :account_to_id, label: 'A cuenta',
          input_html: { id: 'account_to_id', class: 'span10', 'ng-model' => 'account_to_id' }

    %br
    .row-fluid.well.well-small
      .span3
        = f.input :amount,
          label: "Cantidad #{currency_label @transference.account_currency}".html_safe,
          input_html: { type: 'number', size: 10, 'ng-model' => 'amount', 'initial' => true }
      .span3
        = f.input :exchange_rate, label: 'Tipo de cambio',
          input_html: { type: 'number', size: 10,
          'ng-model' => 'exchange_rate', 'initial' => true, 'ng-disabled' => 'same_currency' }
      #transference-currency.span3
        .moneybox
          %label
            TOTAL
          %h4
            {{ amountCurrency() | decimal }}
            %span.currency

    .row-fluid
      .span3
        = f.input :date, as: :datepicker, label: 'Fecha'

      .span3.form-inline
        %div(ng-show='is_bank')
          = f.input :verification, as: :boolean,
            input_html: {data: {value: 'transference.verification', checked: 'transference.verification'} },
            hint: 'Verificar a futuro. Ej.: (Cheque)'
      .span6
        = f.input :reference, label: 'Referecia', as: :text,
          input_html: {rows: 2, cols: INPUT_SIZE, placeholder: 'Recibo, document,etc.',
          data: {value: 'transference.reference'}}

    .form-actions
      = f.submit "Transferir", class: 'btn btn-primary btn-large b'
