%h2 Datos cuenta bancaria

.boolean
  %label.boolean #{ radio_button_tag "account", "Bank", true} Cuenta bancaria
  %label.boolean #{ radio_button_tag "account", "CashRegiser", false} Cuenta caja


= simple_form_for(bank, :url => "/organisations") do |f|
  = bonsai_form_error(f)
  =hidden_field_tag "step", 2

  = f.input :name, :label => 'Banco'
  = f.input :number, :label => 'Número de cuenta'
  .clear
    
  .input
    %label Moneda
    = bank.currency
  = f.input :amount, :label => 'Total en cuenta', :input_html => {:size => 12, :class => 'r'}, :required => true
  .clear

  .submit
    <button class="butl" data-url="/organisations/new?step=1">Anterior</button>
    = f.submit 'Siguiente', :class => 'btn btn-success b'

:javascript
  $(function() {
    $('input:radio[name=account]').live('click', function() {
      window.location = "/organisations/new?step=2&account=" + $(this).val();
    });
  })
