<%= simple_form_for(@organisation) do |f| %>
  <div class="inputs half fl">
    <%= f.association :country %>
    <%= f.association :currency %>
    <%= f.input :name %>
    <%= f.input :phone %>
    <%= f.input :address, :as => :text, :input_html => {:rows => 5} %>
  </div>
  <div class="half fl">
    <%= f.input :email %>
    <%= f.input :website %>
    <%= f.input :mobile %>
    <%= f.input :phone_alt %>
    <%= f.input :address_alt, :as => :text, :input_html => {:rows => 5} %>
  </div>
  <div class="clear"></div>

  <%= f.submit 'Crear empresa' %>

<% end %>
<div class="clear"></div>
