-content_for :links do
  %ul.breadcrumps.span6
    %li #{link_to "Configuración", "/configuration#organisation"}

.row-fluid
  .span6
    %h1 
      Completar registro para 
      = organisation_name

= simple_form_for(@organisation) do |f|
  = bonsai_form_error(f)

  .row-fluid
    .span6
      =f.input :name, label: 'Nombre de su empresa'
    .span6
      %label Moneda
      = @organisation.currency
      =f.input :currency_id, :as => :hidden
  .row-fluid
    .span6
      = f.input :country_code, label: 'País', collection: Country.options
    .span3
      =f.input :phone, :label => 'Teléfono', :input_html => {:size => 15}
    .span3
      =f.input :mobile, :label => 'Móvil', :input_html => {:size => 15}
  .row-fluid
    .span6
      =f.input :website, :label => 'Sitio web'
    .span6
      =f.input :email
  .row-fluid
    .span6
      =f.input :address, :label => 'Dirección', :as => :text, :input_html => {:rows => 5} 
  .form-actions
    = f.submit 'Salvar', :class => 'btn btn-success b'
