-content_for :links do
  %ul.breadcrumps
    %li #{link_to "Configuración", "/configuration#organisation"}<span>&gt;</span>

%h1 Editar #{organisation_name}

= simple_form_for(@organisation) do |f|
  = bonsai_form_error(f)

  =hidden_field_tag "step", 1

  =f.input :name, :label => 'Nombre de su empresa'
  .input
    %label Moneda
    = @organisation.currency
  =f.input :currency_id, :as => :hidden
  /=f.association :currency, :label => 'Moneda base', :hint => 'Todas las transacciones se realizaran en esta moneda.'
  .clear
    
  =f.association :org_country, :label => 'País'
  .input
    =f.input :phone, :label => 'Teléfono', :input_html => {:size => 15}
    =f.input :mobile, :label => 'Móvil', :input_html => {:size => 15}
  .clear

  =f.input :website, :label => 'Sitio web'
  =f.input :email
  .clear
  =f.input :address, :label => 'Dirección', :as => :text, :input_html => {:rows => 5} 
  .clear
  .submit
    = f.submit 'Salvar'
.clear
