- content_for :links do
  %ul.breadcrumps.span6
    %li=link_to "Preferencias", "/configuration#organisation"

:css
  .inside{ margin-left: 3em;}


%h1 Preferencias #{@organisation}

= simple_form_for @organisation, :url => update_preferences_organisation_path(@organisation) do |f|
  .input._100.boolean
    %label{:for => 'organisation_preferences_open_prices'}
      = check_box_tag "organisation[preferences][open_prices]", "1", @organisation.preferences[:open_prices]
      Precios abiertos
    .open_prices.inside
      %label Descuento por item
      = text_field_tag "organisation[preferences][item_discount]", @organisation.preferences[:item_discount], :size => 4
      .hint Si el ítem supera el <strong>descuento de <span id="item_discount"></span>%</strong> en una venta, se requerira aprobación de genrencia 

  .input._100.boolean
    %label{:for => 'organisation_preferences_general_discount' } Descuento general
    = text_field_tag "organisation[preferences][general_discount]", @organisation.preferences[:general_discount], :size => 4
    .hint Si se supera el porcentage en Descuento general en una venta, se requerira aprobación de gerencia 
  .clear
    = f.submit "Salvar", :class => 'btn btn-success b'

:javascript
  $(function() {
    function showHideOpenPrices() {
      if($('#organisation_preferences_open_prices').attr('checked') ) {
        $('.open_prices').show(300);
      }else{
        $('.open_prices').hide(300);
      }
    }

    function testDecimal(val) {
      return /^\d{1,3}(\.\d+)?$/.test(val);
    }
    
    $('#organisation_preferences_open_prices').live('click', function() { showHideOpenPrices() });

    $('#organisation_preferences_item_discount').live('focusout', function() {
      if (testDecimal( $(this).val() ) ) {
        $('#item_discount').html(_b.ntc( $(this).val() ) );
      }else{
        $('#item_discount').html(_b.ntc(0));
      }
    });

    $('#organisation_preferences_item_discount, #organisation_preferences_general_discount').live('focusout', function() {
      if( ! testDecimal($(this).val()) ) {
        $(this).val(0);
      }
    });


  })
