<h1>Listing organisations</h1>

<table>
  <tr>
    <th>User</th>
    <th>Country</th>
    <th>Name</th>
    <th>Address</th>
    <th>Address alt</th>
    <th>Phone</th>
    <th>Phone alt</th>
    <th>Mobile</th>
    <th>Email</th>
    <th>Website</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @organisations.each do |organisation| %>
  <tr>
    <td><%= organisation.user %></td>
    <td><%= organisation.country %></td>
    <td><%= organisation.name %></td>
    <td><%= organisation.address %></td>
    <td><%= organisation.address_alt %></td>
    <td><%= organisation.phone %></td>
    <td><%= organisation.phone_alt %></td>
    <td><%= organisation.mobile %></td>
    <td><%= organisation.email %></td>
    <td><%= organisation.website %></td>
    <td><%= link_to 'Show', organisation %></td>
    <td><%= link_to 'Edit', edit_organisation_path(organisation) %></td>
    <td><%= link_to 'Destroy', organisation, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New organisation', new_organisation_path %>
