<h1>organisations</h1>

<table class="decorated">
  <tr>
    <th style="width:200px"><%= t("organisation.attributes.name") %></th style="width:px">
    <th style="width:100px"><%= t("organisation.attributes.country") %></th style="width:px">
    <th style="width:100px"><%= t("organisation.attributes.currency") %></th style="width:px">
    <th style="width:100px"><%= t("organisation.attributes.address") %></th style="width:px">
    <th style="width:100px"><%= t("organisation.attributes.phone") %></th style="width:px">
    <th style="width:100px"><%= t("organisation.attributes.mobile") %></th style="width:px">
    <th style="width:100px"><%= t("organisation.attributes.email") %></th style="width:px">
  </tr>

<% @organisations.each do |organisation| %>
  <tr>
    <td><%= organisation.name %></td>
    <td><%= organisation.user %></td>
    <td><%= organisation.country %></td>
    <td><%= organisation.currency %></td>
    <td><%= organisation.address %></td>
    <td><%= organisation.phone %></td>
    <td><%= organisation.mobile %></td>
    <td><%= organisation.email %></td>
    <td><%= link_to 'Destroy', organisation, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New organisation', new_organisation_path %>
