<h1><%= link_to @organisation.name, select_organisation_path(@organisation) %></h1>

<div class="half fl">
  <div>
  	<label for="">Nombre</label>
    <%= @organisation.name %>
  </div>
  <div>
  	<label for="">País</label>
    <%= @organisation.country %>
  </div>
  <div>
  	<label for="">Moneda</label>
    <%= @organisation.currency %>
  </div>
  <div>
  	<label for="">Dirección</label>
    <%= @organisation.address %>
  </div>
  <div>
  	<label for="">Dirección alternativa</label>
    <%= @organisation.address_alt %>
  </div>
</div>
<div class="half fl">
  <div>
  	<label for="">Teléfono</label>
    <%= @organisation.phone %>
  </div>
  <div>
  	<label for="">Teléfono alternativo</label>
    <%= @organisation.phone_alt %>
  </div>
  <div>
  	<label for="">Móvil</label>
    <%= @organisation.mobile %>
  </div>
  <div>
  	<label for="">E-mail</label>
    <%= @organisation.email %>
  </div>
  <div>
  	<label for="">Sitio web</label>
    <%= @organisation.website %>
  </div>
</div>

<div class="half fl">
  <h2>Usuarios</h2>
  <table class="decorated">
    <tr>
      <th>Nombre</th>
      <th>Rol</th>
    </tr>
    <% @organisation.links.each do |l| %>
    <tr>
      <td><%= l.user %></td>
      <td><%# l.role %></td>
    </tr>
    <% end %>
  </table>
</div>

<div class="half fl">
  <h2>Impuestos</h2>
  <table class="decorated">
    <tr>
      <th>nombre</th>
      <th>Abreviación</th>
      <th>Porcentaje</th>
    </tr>
    <% @organisation.taxes.each do |tax| %>
    <tr>
      <td><%= tax.name %></td>
      <td><%= tax.abbreviation %></td>
      <td><%= tax.rate.round(2) %>%</td>
    </tr>
    <% end %>
  </table>
</div>

<%= link_to "Editar", edit_organisation_path(@organisation), :class => 'edit' %> 
<%= link_to "Lista", organisations_path, :class => 'list' %>
