<h1><%= @organisation.name %></h1>
<% show_for @organisation do |org| %>
  <div class="half fl">
    <%= org.attribute :name %>
    <%= org.attribute :country %>
    <%= org.attribute :currency %>
    <%= org.attribute :address %>
    <%= org.attribute :address_alt %>
  </div>
  <div class="half fl">
    <%= org.attribute :phone %>
    <%= org.attribute :phone_alt %>
    <%= org.attribute :mobile %>
    <%= org.attribute :email %>
    <%= org.attribute :website %>
  </div>
<% end %>


<div class="half fl">
  <h2><%= t("controllers.users.one") %></h2>
  <table class="decorated">
    <tr>
      <th><%= t("activerecord.attributes.user.name") %></th>
      <th><%= t("role") %></th>
    </tr>
    <% @organisation.links.each do |l| %>
    <tr>
      <td><%= l.user %></td>
      <td><%= l.role %></td>
    </tr>
    <% end %>
  </table>
</div>

<div class="half fl">
  <h2><%= t("controllers.tax.other") %></h2>
  <table class="decorated">
    <tr>
      <% bonsai_th "tax" do |tax| %>
        <%= tax.t :name %>
        <%= tax.t :abbreviation %>
        <%= tax.t :rate %>
      <% end %>
    </tr>
    <% @organisation.taxes.each do |tax| %>
    <tr>
      <td><%= tax.name %></td>
      <td><%= tax.abbreviation %></td>
      <td><%= tax.rate.round(2) %>%</td>
    </tr>
    <% end %>
  </table>
</div>

<%= link_to t("edit"), edit_organisation_path(@organisation) %> |
<%= link_to t("list"), organisations_path %>
