- content_for :links do
  %ul.breadcrumps.span6
    %li #{link_to "Almacenes", stores_path}
    %li #{link_to @inventory_operation.store, @inventory_operation.store}

  .links.span6

.page-header
  %h1.n
    %span.gray Nueva Transferencia
    =link_to @inventory_operation.store, @inventory_operation.store

= simple_form_for(@inventory_operation, :url => create_transference_inventory_operations_path) do |f|
  = bonsai_form_error(f)

  = f.input :operation, :as => :hidden
  = f.input :store_id, :as => :hidden

  .row-fluid
    .span3
      = f.input :ref_number, :input_html => {:size => 20}, :label => 'Numero de referencia'
    .span3
      %label Fecha
      = l Time.zone.now

    .span6
      =f.input :store_to_id, :collection => Store.without(@inventory_operation.store_id), :label => "Transferir a almacen"

  .row-fluid
    .span6
      = f.input :contact_id, :as => :contact, :label => false
    .span6
      = f.association :project, :label => "Proyecto",
        :input_html => {'data-new_url' => new_project_path, 'data-title' => "Nuevo proyecto", 'data-trigger' => 'new_project' }
  .row-fluid
    .span6
      = f.input :description, :as => :text, :input_html => {:rows => 4, :cols => 40}, :label => 'Descripción'

  %table#items_table.table.table-striped
    %tr
      %th Item
      %th Cantidad
      %th Inventario
      %th

    = f.simple_fields_for :inventory_operation_details do |det|
      %tr.item
        %td
          %input.item(type='text' value="#{det.object.item}" size="70" placeholder="Escriba para buscar ítem")
          = det.input :item_id, :as => :hidden, :input_html => {:class => 'item_id'}
        %td
          = det.input :quantity, :label => false, :input_html => { :type => 'decimal', :size => 8}
        %td.quantity.r
        %td
          %a.destroy(href="javascript:" title="Borrar") borrar

  - if @inventory_operation.transaction_id.blank?
    %p
      <a href="javascript:" id="add_item" class="btn btn-primary"><i class="icon-plus-sign icon-white"></i> Adicionar ítem</a>
  %br
  .clear
  = f.submit 'Salvar', :class => 'btn btn-success b'

:javascript
  $(function() {
    // Autocomplete Account
    $('#inventory_operation_contact_id').contactAutocomplete(["Supplier", "Client"]);

    var item_ids = [];

    // Autocomplete item
    $('input.item').live("focusin", function() {
      $('input.item').autocomplete("destroy");
      var tr = $(this).parents("tr");
      var qt = tr.find("td.quantity");
      var item_id = tr.find("input.item_id");

      $(this).autocomplete({
        source: "/items_stock?store_id=" + #{@inventory_operation.store_id},
        select: function(event, ui) {
          if(_.include(item_ids, ui.item.id)) {
            alert("El item que selecciono es repetido");
            return false;
          }
          item_ids.push(ui.item.id);
          item_id.val(ui.item.id);
          qt.html(_b.ntc(ui.item.quantity) );
        }
      });
    });

    // Add item
    $('#add_item').live('click', function() {
      var tr = $('tr.item:first').clone();
      tr.find("input").each(function(i, el) {
        var t = (new Date).getTime();
        var name;
        $(el).val("");

        if(name = $(el).attr("name")) {
          $(el).attr("name", name.replace(/[0-9]+/, t));
        }
      });

      link = tr.find("a.destroy");
      link.attr('title', link.data('original-title')).removeAttr('data-original-title');
      link.tooltip();

      tr.insertAfter("tr.item:last");
    });

    // Delete an item from an inventory
    $('#items_table a.destroy').live('click', function() {
      if( $('tr.item').length <= 1 ) {
        alert("Debe existir al menos un ítem");
        return false;
      }else{
        var item_id = $(this).find("item_id").val() * 1;
        if(item_id > 0) {
          item_ids = _.reject(item_ids, function(num) { return num === item_id});
        }
        $(this).parents('tr:first').remove();
        $('.tooltip').remove();
      }
    });

    // New contact
    $('body').live('new_contact', function(e, resp) {
      $('#inventory_operation_contact_id').createSelectOption(resp.id, resp.matchcode);
    });

    // Remember the row for the clicked new item
    $('#items_table a.add').live('click', function() {
      $('#items_table').data('row', $(this).parents('tr:first') );
    });

    // Project add new
    $('body').live('new_project', function(e, resp) {
      $('#inventory_operation_project_id').createSelectOption(resp.id, resp.name);
    });

 
  });

