%h1 Seleccione el almacen 
%h2.n= link_to @transaction, @transaction

- op, path = @transaction.type == "Income" ? ["out", new_sale_inventory_operations_path] : ["in", new_inventory_operation_path]

= form_tag path, :method => 'get', :id => 'select_store' do
  = hidden_field_tag "transaction_id", @transaction.id
  = hidden_field_tag "operation", op


  %label Almacen
  = select_tag "store_id", options_from_collection_for_select(Store.org.active, :id, :name), :include_blank => true, 
    'data-new_url' => new_store_path, 'data-trigger' => 'new_store', 'data-title' => 'Nuevo almacen'
  .submit
    =submit_tag "Seleccionar almacen"

:javascript
  $(document).ready(function() {
    // Validate form
    $('form#select_store').live('submit', function() {
      if($('#store_id').val() == "") {
        alert("Debe seleccionar un almacen!");
        return false;
      }
    });

    // New form
    $('body').live('new_store', function(e, resp) {
      $('#store_id').createSelectOption(resp.id, resp.name);
    });
  
  });
