:css
  #links{ display: none; }

- present @inventory_operation do |presenter|
  - presenter.transaction = @transaction

  %h1 Seleccione el almacen para #{presenter.select_store_title}
  %h2.n= link_to @transaction, @transaction

  = form_tag new_transaction_inventory_operations_path, :method => 'get', :id => 'select_store', :class => 'no-ajax' do
    = hidden_field_tag "transaction_id", @transaction.id
    = hidden_field_tag "operation", params[:operation]

    %label Almacen
    = select_tag "store_id", options_from_collection_for_select(Store.active, :id, :name), :include_blank => true, 
      'data-new_url' => new_store_path, 'data-trigger' => 'new_store', 'data-title' => 'Nuevo almacen'
    .submit
      =submit_tag "Seleccionar almacen", :class => 'btn btn-success'

:javascript
  $(document).ready(function() {
    // Validate form
    $('form#select_store').live('submit', function() {
      if($('#store_id').val() == "") {
        alert("Debe seleccionar un almacen!");
        return false;
      }
    });

    // New form
    $('body').live('new_store', function(e, resp) {
      $('#store_id').createSelectOption(resp.id, resp.name);
    });
  
  });
