- content_for :links do
  %ul.breadcrumps
    %li #{link_to "Almacenes", stores_path}<span>&gt;</span>
    %li #{link_to @inventory_operation.store, @inventory_operation.store}<span>&gt;</span>


- css, txt = @inventory_operation.operation == "in" ? ["dark_green", "ingreso"] : ["red", "egreso"]


%h1 Operación <span class="#{css}">#{txt}</span> almacen

%h2= @inventory_operation.store

%h3._25.fl{:style => 'margin: 0px'}= @inventory_operation.ref_number
._25.fl
  = lo @inventory_operation.date
._25.fl
  = link_to @inventory_operation.contact, @inventory_operation.contact, :target => '_blank'

.clear

%h2 Items

%table.decorated#items_table
  %tr
    %th Item
    %th Cantidad
    - if @inventory_operation.operation == "in"
      %th Costo<br/>unitario 
    %th

  - @inventory_operation.inventory_operation_details.each do |det|
    %tr.item
      %td= det.item
      %td.cur= ntc det.quantity
      - if @inventory_operation.operation == "in"
      %td.cur= ntc det.unitary_cost
