- content_for :links do
  %ul.breadcrumps
    %li #{link_to "Almacenes", stores_path}<span>&gt;</span>
    %li #{link_to @inventory_operation.store, store_path(@inventory_operation.store, :anchor => 'stocks')}<span>&gt;</span>


- present @inventory_operation do |presenter|
  - presenter.transaction = @inventory_operation.transaction

  %h1= presenter.title

  %h2= @inventory_operation.store
  %h2.n= link_to @inventory_operation.contact, @inventory_operation.contact

  - if @inventory_operation.transaction_id.present?
    %h2.n= link_to @inventory_operation.transaction, @inventory_operation.transaction


  %h3._25.fl{:style => 'margin: 0px'}= @inventory_operation.ref_number
  ._25.fl
    = lo @inventory_operation.created_at

  .clear

  %h2 Items

  %table.decorated#items_table
    %tr
      %th Item
      %th Cantidad
      %th Unidad
      %th Inventario
    
    - items_hash = @inventory_operation.hash_of_items
    - @inventory_operation.inventory_operation_details.includes(:item => :unit).each do |det|
      %tr.item
        %td= det.item
        %td.cur= ntc det.quantity
        %td= det.item.unit
        %td.cur
          - if items_hash[det.item_id]
            = ntc items_hash[det.item_id][:quantity]
          - else
            = ntc 0.0

#users.mt30
  %p 
    Creado por
    %strong= @inventory_operation.creator
    %span.id= lo @inventory_operation.created_at
