:css
  #account_ledger-form{ max-width: 850px; }

= simple_form_for @account_ledger, :html => {class: 'enter', id: 'account_ledger-form'} do |f|
  = bonsai_form_error(f)
  = f.input :operation, :as => :hidden
  = f.input :account_id, :as => :hidden

  .row-fluid
    .span3
      = f.input :amount, :label => "Cantidad en #{f.object.account.currency_symbol}", :input_html => {:size => 12, :type => 'decimal'}
    .span3
      = f.input :date, :label => "Fecha"
    .span6
      = f.input :contact_id, :as => :contact, :label => false 

  .row-fluid
    .span6
      = f.input :reference, :as => :text, :label => 'Referencia', :input_html => {:rows => 2, :cols => 35}, :hint => 'Nº de cheque, razón, factura, etc.'
    .span6
      = f.association :project, :label => 'Proyecto',
        input_html: {'data-new_url' => new_project_path, 'data-trigger' => 'new_project', 'data-title' => "Nuevo proyecto"}
  = f.input :description, :as => :text, :label => 'Descripción', :input_html => {:rows => 3, :cols => 35}

  = f.submit "Salvar", :class => 'btn btn-success b'
