= simple_form_for @account_ledger do |f|
  = bonsai_form_error(f)
  = f.input :income, :as => :hidden
  = f.input :account_id, :as => :hidden

  = f.input :date, :label => 'Fecha'
  = f.input :amount, :label => "Cantidad en #{@account_ledger.account.currency_plural}", :input_html => {:size => 12, :type => 'decimal'}
  .clear

  = f.input :reference, :label => 'Referencia/Nº de cheque', :input_html => {:size => 20}

  = f.association :contact, :label => account_ledger_contact_label(@account_ledger), :collection => account_ledger_contact_collection(@account_ledger)
  .clear

  = f.submit "Salvar"

