= simple_form_for @account_ledger do |f|
  = bonsai_form_error(f)
  = f.input :operation, :as => :hidden
  = f.input :account_id, :as => :hidden

  = f.input :date, :label => 'Fecha'

  = f.input :amount, :label => "Cantidad en #{f.object.account.currency_symbol}", :input_html => {:size => 12, :type => 'decimal'}
  .clear
  = f.input :to_id, :label => false, :as => :autocomplete

  = f.input :reference, :as => :text, :label => 'Referencia', :input_html => {:rows => 2, :cols => 35}, :hint => 'Nº de cheque, razón, factura, etc.'
  .clear

  = f.submit "Salvar"

:javascript
  $(function() {
    $('#account_ledger_to_id').contactAutocomplete();
  });
