.b.i= l Time.zone.now

= simple_form_for @account_ledger, :html => {:class => "enter"} do |f|
  = bonsai_form_error(f)
  = f.input :operation, :as => :hidden
  = f.input :account_id, :as => :hidden

  = f.input :amount, :label => "Cantidad en #{f.object.account.currency_symbol}", :input_html => {:size => 12, :type => 'decimal'}
  = f.input :contact_id, :as => :contact, :label => false 
  .clear

  = f.input :reference, :as => :text, :label => 'Referencia', :input_html => {:rows => 2, :cols => 35}, :hint => 'Nº de cheque, razón, factura, etc.'
  = f.association :project, :label => 'Proyecto'
  .clear
  = f.input :description, :as => :text, :label => 'Descripción', :input_html => {:rows => 3, :cols => 35}
  .clear


  = f.submit "Salvar"

:javascript
  $(function() {
    $('#account_ledger_contact_id').contactAutocomplete();
  });
