= simple_form_for @account_ledger do |f|
  = bonsai_form_error(f)
  = f.input :income, :as => :hidden
  /= f.input :account_id, :as => :hidden

  = f.input :date, :label => 'Fecha'

  - i = 0
  = f.simple_fields_for :account_ledger_details do |det|
    - if i == 0
      = det.input :amount, :label => "Cantidad en #{det.object.account.currency_symbol}", :input_html => {:size => 12, :type => 'decimal'}
      - i += 1
    - else
      = det.input :account_id, :label => false, :input_html => {:class => 'contact-autocomlete'}
    /.input
    /  .boolean
    /    %label #{ radio_button_tag("contact", "Client", params[:contact] == "Client") } Cliente
    /    %label #{ radio_button_tag "contact" , "Supplier", params[:contact] == "Supplier"} Proveedor


  = f.input :reference, :as => :text, :label => 'Referencia', :input_html => {:rows => 2, :cols => 35}, :hint => 'Nº de cheque, razón, factura, etc.'

  - url, tit = @account_ledger.income? ? [new_client_path, "cliente"] : [new_supplier_path, "proveedor"]
  /%label #{ radio_button_tag "contact" , "Staff", params[:contact] == "Staff"} Personal
  /= f.association :contact, :label => "Cliente", :collection => account_ledger_contact_collection(@account_ledger), :input_html => {'data-new_url' => url, 'data-trigger' => 'new_contact', 'data-title' => "Nuevo #{tit}"}
  /= f.input :contact_id, :input_html => {'data-value' => f.object.contact, 'data-type' => f.object.class.to_s}, :label => ''
  .clear

  = f.submit "Salvar"

:javascript
  $(function() {
    //$('#account_ledger_contact_id').after('<a class="ajax add"></a>');
    $('.contact-autocomlete').contactAutocomplete();
    /*
    Autocomplete = {

      // Init the Autocomplete Object
      setContactAutocomplete: function() {

        var $field = $('#account_ledger_contact_id'),
        type = $('input[name=contact]:checked').val();

        $field.siblings('input.autocomplete_view').remove().data('type', type);
        $field.createAutocompleteField({'source': this.getUrlByType(type) });

        this.setLabelByType(type, $field.siblings('input.autocomplete_view'));

        this.setNewContactLink(type);
      },
      // Returns the URL to be used for autocomplete based on the selection
      getUrlByType: function(type) {
        switch(type) {
          case "Client":
            return "/client_autocomplete";
            break
          case "Supplier":
            return "/supplier_autocomplete";
            break
          case "Staff":
            return "/staff_autocomplete";
            breaK
        }
      },
      // Sets the correct label and 
      setLabelByType: function(type, $auto) {
        var label;
        switch(type) {
          case "Client":
          label = "Cliente";
          break
          case "Supplier":
          label = "Proveedor";
          break
          case "Staff":
          label = "Personal <abbr title='requerido'>*</abbr>";
          break
        }

        $auto.siblings('label').html(label);
        if(type == "Staff") {
          $auto.siblings('a.add').after("<span class='hint'>Se marca como personal</span>");
        }else {
          $auto.siblings('span.hint').remove();
        }
      },
      // Set Acount ledger new contact link
      setNewContactLink: function(type) {
        var href, title;
        switch(type) {
          case "Client":
          href = "/clients/new";
          title = "Nuevo cliente";
          break
          case "Supplier":
          href = "/suppliers/new";
          title = "Nuevo proveedor";
          break
          case "Staff":
          href = "/staffs/new";
          title = "Nuevo trabajador(a)";
          break
        }

        $('#account_ledger_contact_id').siblings('a.add').attr({'title': title, 'href': href, 'data-trigger': 'new_contact'});
      }
    }

    $('body').live('new_contact', function(e, resp) {
      $('#account_ledger_contact_id').val(resp.id).siblings('input.autocomplete_view').val(resp.matchcode);
    });

    // Sets the value and data depending on the clicked radio button in input[name=contact]

    $('input[name=contact]').click(function() {
      $('#account_ledger_contact_id').data({'value': '', 'type': ''})
      Autocomplete.setContactAutocomplete();
    });

    Autocomplete.setContactAutocomplete();
    */
  });
