%li.row-fluid
  .span3
    %h5
      = ledger.verified_tag
      = link_to ledger, ledger
      = ledger.trans_operation_tag
      = ledger.nulled_tag

    .clear-both
    %h5
      %span.muted A:
      = link_to ledger.trans_account_tag, ledger.trans_account

      %i= l ledger.date.to_date

  .span7
    .span6
      %i.icon-file.muted(data-toggle='tooltip' title="referencia")
      = nl2br ledger.reference
    .span6.r
      - if ledger.trans_currency?
        = ntc ledger.trans_amount
        = currency_label ledger.trans_currency
      - else
        = ntc ledger.amount
        = currency_label ledger.currency
        %span.muted(title="Tipo de cambio" data-toggle="tooltip")
          %i.icon-exchange
          =ntc ledger.exchange_rate, precision: 4
        \=
        =ntc ledger.amount_currency
        = currency_label ledger.account_currency


  .span2
    = ledger.creator_label.html_safe
    = ledger.approver_label.html_safe
    = ledger.nuller_label.html_safe
