%li.row-fluid
  .span3
    %h5
      = ledger.conciliation_tag
      = link_to ledger, ledger
      = ledger.operation_tag

    .clear-both
    %h5
      %span.muted A:
      = link_to ledger.account_to, ledger.account_to

      %i= l ledger.date.to_date

  .span7
    .span6
      %i.icon-file.muted(rel='tooltip' title="referencia")
      = nl2br ledger.reference
    .span6.r
      - if ledger.same_currency?
        = ntc ledger.amount_currency
        = currency_label ledger.account_currency
      - else
        = ntc ledger.amount
        = currency_label ledger.currency
        %span.muted(title="Tipo de cambio" rel="tooltip")
          %i.icon-exchange
          =ntc ledger.exchange_rate, precision: 4
        \=
        =ntc ledger.amount_currency
        = currency_label ledger.account_currency


  .span2
    = ledger.creator_label.html_safe
    = ledger.approver_label.html_safe
    = ledger.nuller_label.html_safe
