:css
  .false_in{ color: #FF0000; }
- ledgers = account_ledgers.includes(:payment, :contact).page(@page)
= paginate ledgers

%table.decorated
  %tr
    %th Fecha
    %th Cantidad
    %th Contacto
    %th Pago
  - ledgers.each do |al|
    %tr{:class => al.income.to_s + '_in' }
      %td= lo al.date
      %td.r= with_currency(al, al.amount)
      %td= link_to al.contact, al.contact if al.contact_id
      %td= with_payment(al)


