:css
  .false_in td.col{ color: #FF0000; }
  td.r{width: 110px; }
  td.check{width: 170px;}
  td.d{ width: 70px; }
  td.desc {width: 300px; }
  td.cont {width: 150px; }
  td.rev {width: 200px; }
  a.concile{
    float:left;
    display: inline-block;
    margin-right: 4px;
  }

- account = money_store.account

%ul.menu
  %li
    = link_to "Nuevo <span class='more'></span>".html_safe, "#", :class => 'new'
    
    %ul
      %li= link_to "Nuevo ingreso", new_account_ledger_path(:account_id => account.id, :operation => "in")
      %li= link_to "Nuevo egreso", new_account_ledger_path(:account_id => account.id, :operation => "out")
      %li= link_to "Nueva transferencia", new_transference_account_ledger_path(account.id)


.clear
<br/><br/>
- ac_path = money_store.is_a?(Bank) ? "/banks" : "/cashs"

%ul.tabs
  %li= link_to "Todas", money_store, :class => tabs_filter('all')
  %li= link_to "Esperando revisión #{size_or_blank(account.account_ledgers.pendent.count)}", "#{ac_path}/#{account.id}?option=false", :class => tabs_filter('false')
  /%li= link_to "Pendientes personal #{size_or_blank(account.account_ledger_details.pendent.count)}", "#{ac_path}/#{account.id}?option=personal", :class => tabs_filter('personal')
  /%li= link_to "Aprobadas personal", "#{ac_path}/#{account.id}?option=approved", :class => tabs_filter('approved')
  %li= link_to "Anuladas", "#{ac_path}/#{account.id}?option=nil", :class => tabs_filter('nil')
  %li= link_to "Revisadas", "#{ac_path}/#{account.id}?option=true", :class => tabs_filter('true')


.clear


= link_to "Buscar", "#search", :class => 'search'
/"#", :style => 'display:block;float:left;margin:10px'
- ledgers = account.account_ledgers
/.get_by_option(params[:option]).order("date DESC").page(@page)

/= paginate account.account_ledger_details

%table.decorated.nwl.nwf
  %tr
    %th 
      Fecha<br/>
      %span.tip{:title => 'Nº de cheque, razón, recibo, etc.'} Referencia
    %th Monto en #{account.currency_symbol}
    %th Contacto
    %th Descripción
    %th 
      (R) Revisado por<br/>
      (A) Anulado por
    %th
  - ledgers.each do |al|
    %tr{:class => al.in?.to_s + '_in', :id => "tr#{al.id}" }
      %td.d.check
        = link_to lo(al.date), al, :class => "b #{conciliate_css(al)}"
        %br/
        = al.reference
      %td.cur.col= ntc al.amount
      %td.cont= al.to if al.to_id.present?
      %td.desc= link_description al
      %td.rev
        = "(R) #{al.approver}" if al.approver_id.present?
        = "<br/><span class='dark_grey'>(A) #{al.nuller}</span>".html_safe if al.nuller_id.present?
      %td.cur
        - if not(al.conciliation?) and al.active?
          = link_to "borrar", al, :class => 'delete fl', 'data-remote' => true, :title => 'Borrar', 'data-confirm' => account_ledger_destroy_confirm_dialog(al)

