:css
  .false_in td.col{ color: #FF0000; }
  td.r{width: 110px; }
  td.check{width: 120px;}
  td.d{ width: 70px; }
  a.concile{
    float:left;
    display: inline-block;
    margin-right: 4px;
  }

%ul.menu
  %li
    = link_to "Nuevo <span class='more'></span>".html_safe, "#", :class => 'new'
    
    %ul
      %li= link_to "Nuevo ingreso", new_account_ledger_path(:account_id => account.id, :income => true)
      %li= link_to "Nuevo egreso", new_account_ledger_path(:account_id => account.id, :income => false)
      %li= link_to "Nueva transferencia", ""

.clear
= link_to "Buscar", "#", :class => 'search'
/"#", :style => 'display:block;float:left;margin:10px'
- ledgers = account.account_ledgers.includes(:payment, :transaction).page(@page)
= paginate ledgers

%table.decorated.nwl.nwf
  %tr
    %th Fecha
    %th= ref_title
    %th Monto en<br/>#{account.currency}
    %th Contacto
    %th Descripción
    %th Conciliado
    %th
  - ledgers.each do |al|
    %tr{:class => al.income.to_s + '_in' }
      %td.d= link_to lo(al.date), al, :class => 'b'
      %td.col.check= al.reference
      %td.r.col= ntc al.amount
      %td= al.contact if al.contact_id
      %td= link_description al
      %td{:class => al.conciliation.to_s}
      %td.cur
        - unless al.conciliation?
          = link_to "borrar", al, :class => 'delete fl', 'data-remote' => true, :title => 'Borrar'

