:css
  .false_in{ color: #FF0000; }
  td.r{width: 110px; }
  td.check{width: 120px;}
  td.d{ width: 70px; }
  a.concile{
    float:left;
    display: inline-block;
    margin-right: 4px;
  }

- ledgers = account_ledgers.includes(:payment, :contact).page(@page)

= link_to "Nueva transacción", new_account_ledger_path, :class => 'new'

.clear
= link_to "Buscar", "#", :class => 'search'
/"#", :style => 'display:block;float:left;margin:10px'
= paginate ledgers

%table.decorated.nwl.nwf
  %tr
    %th Fecha
    %th= ref_title
    %th Monto
    %th Contacto
    %th Descripción
    %th
  - ledgers.each do |al|
    %tr{:class => al.income.to_s + '_in' }
      %td.d= link_to lo(al.date), al, :class => 'b'
      %td.check= al.reference
      %td.r= with_currency al
      %td= al.contact if al.contact_id
      %td= link_description al
      %td
        - unless al.conciliation?
          = link_to "Conciliar", al, :class => 'concile'
          = link_to "borrar", al, :class => 'delete', 'data-remote' => true, :title => 'Borrar'

