:css
  .false_in td.col{ color: #FF0000; }
  td.r{width: 110px; }
  td.check{width: 120px;}
  td.d{ width: 70px; }
  a.concile{
    float:left;
    display: inline-block;
    margin-right: 4px;
  }

%ul.menu
  %li
    = link_to "Nueva <span class='more'></span>".html_safe, "#", :class => 'new'
    
    %ul
      %li= link_to "Nuevo ingreso", new_account_ledger_path(:account_id => account.id, :income => true)
      %li= link_to "Nuevo egreso", new_account_ledger_path(:account_id => account.id, :income => false)
      %li= link_to "Nueva transferencia", new_transference_account_ledger_path(account.id)


.clear
<br/><br/>
- ac_path = account.is_a?(Bank) ? "/banks" : "cash_registers"

%ul.tabs
  %li= link_to "Todas", "#{ac_path}/#{account.id}", :class => tabs_filter('all')
  %li= link_to "Esperando conciliación #{size_or_blank(account.account_ledgers.pendent.size)}", "#{ac_path}/#{account.id}?option=false", :class => tabs_filter('false')
  %li= link_to "Conciliadas", "#{ac_path}/#{account.id}?option=true", :class => tabs_filter('true')

.clear
= link_to "Buscar", "#", :class => 'search'
/"#", :style => 'display:block;float:left;margin:10px'
- ledgers = account.account_ledgers.get_by_option(params[:option]).page(@page)
= paginate ledgers

%table.decorated.nwl.nwf
  %tr
    %th Fecha
    %th= ref_title
    %th Monto en<br/>#{account.currency}
    %th Contacto
    %th Descripción
    %th Conciliado
    %th
  - ledgers.each do |al|
    %tr{:class => al.income.to_s + '_in' }
      %td.d= link_to lo(al.date), al, :class => 'b'
      %td.col.check= al.reference
      %td.r.col= ntc al.amount
      %td= al.contact if al.contact_id
      %td= link_description al
      %td{:class => al.conciliation.to_s}
      %td.cur
        - unless al.conciliation?
          = link_to "borrar", al, :class => 'delete fl', 'data-remote' => true, :title => 'Borrar'

