.btn-group
  %a.btn.btn-primary{'data-toggle' => 'dropdown'} Nueva operación
  %a.btn.btn-primary.dropdown-toggle{'data-toggle' => 'dropdown'}
    %span.caret

.clear
<br/>

.row-fluid.dismiss
  .span4.offset8
    = render 'users/user_changes_labels'

-#= paginate account_ledgers
%ul.unstyled.listing
  - ledgers=  AccountLedgerQuery.new.money(account.id).page(@page)

  = paginate ledgers

  - ledgers.each do |al|
    - al = present al
    %li.row-fluid
      .span5
        %h4
          = al.conciliation_tag
          = link_to al, al
          = al.operation_tag
          = al.account_contact_tag
        .clear-both
        %h5
          %i= l al.date.to_date
          %span.muted De:
          = link_to al.account, al.account
          %span.muted A:
          = link_to al.account_to, al.account_to
      .span4.r
        %span.muted Monto
        = ntc al.amount
        = currency_label al.currency
      .span3
        = al.creator_label.html_safe
        = al.approver_label.html_safe
        = al.nuller_label.html_safe
