.btn-group
  %a.btn.btn-primary{'data-toggle' => 'dropdown'} Nueva operación
  %a.btn.btn-primary.dropdown-toggle{'data-toggle' => 'dropdown'}
    %span.caret

  %ul.dropdown-menu
    %li
      = link_to new_account_ledger_path(:account_id => account.id, :operation => "in") do
        %i.icon-plus-sign
        Nuevo ingreso

    %li
      = link_to new_account_ledger_path(:account_id => account.id, :operation => "out") do
        %i.icon-minus-sign
        Nuevo egreso

    %li
      = link_to new_transference_account_ledgers_path(:account_id => account.id, :operation => "trans") do
        %i.icon-arrow-right
        Nueva transferencia


.clear
<br/>
%ul.tabs
  %li= link_option "Todas", 'all'
  %li= link_option "Esperando verificación #{size_or_blank(ledgers.pendent.count)}", 'uncon'
  %li= link_option "Anuladas", 'nulled'
  %li= link_option "Verificadas", 'con'


.clear


= link_to "Buscar", "#search", :class => 'search'

= paginate paged_ledgers

%table.table.table-striped.nwl.nwf(style='border-bottom:none')
  %tr
    %th 
      Cód. Fecha<br/>
      %span.tip{:title => 'Nº de cheque, razón, recibo, etc.'} Referencia
    %th 
      Monto en
      = currency_label account.currency
    %th
      Saldo en
      = currency_label account.currency
    %th Cuentas relacionadas
    %th Descripción
    %th 
      %span.tip{:title => 'Verificado por'} (V) 
      %span.tip{:title => 'Anulado por'} (A)
    %th
  - paged_ledgers.each do |al|
    - al.ac_id = account.id
    %tr(id="tr#{al.id}" class="#{al.active}")
      %td.d.check
        -#= link_to al, account_ledger_path(al, :ac_id => account.id), :class => "#{conciliate_css(al)} b"
        =link_to al, al, class: "b"
        = al_operation al
        %i= lo al.date
        %br/
        =al.reference
        %br/
      %td.cur.color= ledger_amount(al, account)
      %td.cur= balance_amount(al, account)
      %td.cont
        = link_related_ledger_account al, money
        %br/
        = link_to al.contact, al.contact, title: 'Contacto', rel: 'tooltip' if al.contact.present? 
      %td.desc= al.description
      %td.rev
        = "(V) #{al.approver}" if al.approver_id.present?
        = "(A) #{al.nuller}" if al.nuller_id.present?
      %td.cur
        - if al.can_destroy?
          = link_to "Anular", al, :class => 'delete fl', :title => 'Anular', 'data-confirm' => account_ledger_destroy_confirm_dialog(al)
