%ul.menu
  %li
    = link_to "Nuevo <span class='more'></span>".html_safe, "#", :class => 'new'
    
    %ul
      %li= link_to "Nuevo ingreso", new_account_ledger_path(:account_id => account.id, :operation => "in")
      %li= link_to "Nuevo egreso", new_account_ledger_path(:account_id => account.id, :operation => "out")
      %li= link_to "Nueva transferencia", new_transference_account_ledgers_path(:account_id => account.id, :operation => "trans")


.clear
<br/><br/>
%ul.tabs
  %li= link_option "Todas", 'all'
  %li= link_option "Esperando verificación #{size_or_blank(ledgers.pendent.count)}", 'uncon'
  %li= link_option "Anuladas", 'nulled'
  %li= link_option "Verificadas", 'con'


.clear


= link_to "Buscar", "#search", :class => 'search'

= paginate paged_ledgers

%table.decorated.nwl.nwf
  %tr
    %th 
      Código Fecha<br/>
      %span.tip{:title => 'Nº de cheque, razón, recibo, etc.'} Referencia
    %th Monto en #{account.currency_symbol}
    %th Saldo en #{account.currency_symbol}
    %th Cuenta relacionada
    %th Descripción
    %th 
      %span.tip{:title => 'Verificado por'} (V) 
      %span.tip{:title => 'Anulado por'} (A)
    %th
  - paged_ledgers.each do |al|
    - al.ac_id = account.id
    %tr{:id => "tr#{al.id}", :class => "#{al.active}"}
      %td.d.check
        = link_to al, account_ledger_path(al, :ac_id => account.id), :class => "#{conciliate_css(al)} b"
        %span.i= lo al.created_at
        %br/
        = al.reference
      %td.cur.color= ledger_amount(al, account)
      %td.cur= balance_amount(al, account)
      %td.cont= link_related_ledger_account al, money
      %td.desc= al.description
      %td.rev
        = "(V) #{al.approver}" if al.approver_id.present?
        = "(A) #{al.nuller}" if al.nuller_id.present?
      %td.cur
        - if al.can_destroy?
          = link_to "borrar", al, :class => 'delete fl', :title => 'Borrar', 'data-confirm' => account_ledger_destroy_confirm_dialog(al)

