- ledgers =  account.get_ledgers(params).order('date desc, id desc').page(@page)

= paginate ledgers

%ul.unstyled.listing
  - ledgers.each do |al|
    - al = present al
    %li.row-fluid
      .span5
        %h4.ib
          = link_to al, al
          = al.status_tag

        %h5.ib= link_to al.account_contact_tag, al.account_contact
        %p
          %i= l al.date.to_date
          %span.muted De:
          = link_to al.account, al.account
          %span.muted A:
          = link_to al.account_to, al.account_to
      .span5
        .span7
          %i.icon-file.muted(data-toggle='tooltip' title="referencia")
          = nl2br al.reference
        .span5.r
          %span.muted Cantidad
          = ntc al.amount_ref(account.id)
          = currency_label al.currency_ref(account.id)
      .span2
        = al.creator_label.html_safe
        = al.approver_label.html_safe
        = al.nuller_label.html_safe
