- ledgers =  account.get_ledgers(params).order('date desc, id desc').page(@page)

- html = paginate ledgers
= html

%ul.unstyled.listing
  - ledgers.each do |ledger|
    - ledger = present ledger
    %li.row-fluid.account_ledger(id='#{ledger.id}')
      .span5
        %strong= ledger.operation_tag
        %h4.ib
          = link_to ledger, ledger.account_url, class: 'code', title: 'Código'

        = ledger.status_tag

        .clearfix
        %h5.ib
          = link_to ledger.account_contact, ledger.account_contact, title: 'Contacto' if ledger.account_contact
        %p
          %i= l ledger.date.to_date
          - unless ledger.account_id === account.id
            %span.muted De:
            = link_to ledger.account, ledger.account_url
          - unless ledger.account_to_id === account.id
            %span.muted A:
            = link_to ledger.account_to, ledger.account_to_url
      .span5
        = ledger.updater_label
        = ledger.creator_label
        = ledger.approver_label
        = ledger.nuller_label
        .clearfix

        .edit-reference
          %a.edit-ledger-reference-link.dark(href='javascript:;' title='Editar referencia' data-toggle='tooltip' data-id='#{ledger.id}' data-reference='#{ledger.reference}')
            %i.icon-pencil
          %i.icon-file.muted(data-toggle='tooltip' title="referencia")
          %span.reference= nl2br ledger.reference
      .span2.r
        = ntc ledger.amount_ref(account.id)
        = currency_label ledger.currency_ref(account.id)

= html
