.btn-group
  %a.btn.btn-primary{'data-toggle' => 'dropdown'} Nueva operación
  %a.btn.btn-primary.dropdown-toggle{'data-toggle' => 'dropdown'}
    %span.caret

.clear
<br/>


.row-fluid
  .span4.offset8
    %span.label.label-inverse
      Creado por
    %span.label.label-success
      Aprobado por
    %span.label
      Anulado por

-#= paginate account_ledgers
%ul.unstyled.listing
  -# TODO: Move the query to another object, improve finding the contact
  - AccountLedger.includes({account: :contact}, :account_to, :approver, :creator).all.each do |al|
    - al = present al
    %li.row-fluid
      .span5
        %h4
          = al.conciliated.html_safe
          = link_to al, al
          = al_operation al.operation
          = al.account.contact
        .clear-both
        %h5
          %span.muted De:
          = link_to al.account, al.account
          %span.muted A:
          = link_to al.account_to, al.account_to
      .span4.r
        %span.muted Monto
        = ntc al.amount
        = currency_label al.currency
      .span3
        = al.creator_label.html_safe
        = al.approver_label.html_safe
        = al.nuller_label.html_safe
