- ledger.current_account_id = current_account_id

%li.row-fluid.account_ledger(id='#{ledger.id}' class="ledger-#{ledger.status}")
  .span8
    %h4.ib
      = link_to ledger, ledger, class: 'code', title: 'Código'
      %strong.fs70= ledger.operation_tag

    = ledger.status_tag

    %p
      %i= l ledger.date.to_date
      = link_to ledger.other_account_url, title: 'Cuenta relacionada' do
        = ledger.other_account_icon
        = ledger.other_account


    .row-fluid
      .span3
        = ledger.updater_label
        = ledger.creator_label
        = ledger.approver_label
        = ledger.nuller_label
      .span9
        .inline-cont
          = link_to icon('icon-pencil', 'Editar referencia'), account_ledger_path(ledger.id), class: 'dark inline-edit',
            data: { type: 'textarea', name: 'reference', notify: '.top-left' }
          %i.icon-file.muted(data-toggle='tooltip' title="referencia")
          %span.inline-data= nl2br ledger.reference

    - unless ledger.current_currency?
      .well.well-small
        %span.muted
          %i.icon-exchange
          Tipo de cambio:
        1
        = currency_label ledger.account_currency
        \=
        = ntc ledger.exchange_rate, precision: 4
        = currency_label ledger.currency
  .span4.r.amount
    = ntc ledger.amount_ref
    = currency_label ledger.currency_ref
