%li.row-fluid.account_ledger(id='#{ledger.id}')
  .span5
    %h4.ib
      = link_to ledger, ledger, class: 'code'

    = ledger.status_tag

    %i= l ledger.date.to_date
    %p
      = ledger.operation_tag
      %span.muted Cuenta:
      = link_to ledger.trans_account_tag, ledger.trans_account


  .span7
    .span8

      = ledger.updater_label
      = ledger.creator_label
      = ledger.approver_label
      = ledger.nuller_label
      .clearfix

      .edit-reference
        %a.edit-ledger-reference-link.dark(href='javascript:;' title='Editar referencia' data-toggle='tooltip' data-id='#{ledger.id}' data-reference='#{ledger.reference}')
          %i.icon-pencil
        %i.icon-file.muted(data-toggle='tooltip' title="referencia")
        %span.reference= nl2br ledger.reference

    .span4.r
      - if ledger.trans_currency?
        = ntc ledger.trans_amount
        = currency_label ledger.trans_currency
      - else
        = ntc ledger.amount
        = currency_label ledger.currency

        %i.icon-exchange(title="Tipo de cambio: #{ntc ledger.exchange_rate, precision: 4}" data-toggle='tooltip')
        = ntc ledger.amount_currency
        = currency_label ledger.account_currency
