%h1= @title

- html = paginate @ledgers
= html

.input-append.search
  = form_tag '/account_ledgers', method: 'get', class: 'form-inline' do
    = text_field_tag 'search', '', placeholder: 'Buscar por cuenta, contacto o referencia', autocomplete: 'off'
    = submit_tag 'Buscar', class: 'btn'

%ul.unstyled.listing
  = render partial: 'ledger', collection: @ledgers, as: :ledger

= html
