-content_for :links do
  %ul.breadcrumps
    %li #{link_list @account_ledger}<span>&gt;</span>
    %li #{link_parent @account_ledger}<span>&gt;</span>

%h1 Nueva transferencia

= simple_form_for @account_ledger, :url => transference_account_ledgers_path, :html => {:class => 'enter'} do |f|

  = bonsai_form_error(f)
  
  = f.input :account_id, :as => :hidden
  
  .input
    %label De cuenta
    = @account_ledger.account
  = f.input :to_id, :collection => Account.org.money.where("id NOT IN(?)", @account_ledger.account_id), :label => 'A cuenta'
  .clear

  = f.input :amount, :label => "Cantidad #{@account_ledger.account.currency_symbol}",
    :input_html => {:size => 12, :type => 'decimal', :class => 'r'}, :wrapper_html => {:class => '_30'}

  = f.input :date, :label => 'Fecha', :wrapper_html => {:class => '_20'}

  - disp = @account_ledger.show_exchange_rate? ? 'block' : 'none'

  = f.input :exchange_rate, :label => "Tipo de cambio de", 
    :input_html => {:size => 12}, :hint => 'Puede ingresar hasta 4 decimales', :wrapper_html => {:style => "display:#{disp}", :id => 'al_exchange_rate'}

  .clear
   
  = f.submit "Transferir"


.rates.bg_white{:style => 'display:none'}
  %h3 Tipos de cambio moneda base "#{currency_name}"
  = render 'currency_rates/active', :currency_rates => CurrencyRate.active

:javascript
  $(function() {

    var accounts = #{Account.org.to_hash(:name, :currency_id).to_json};
    var currencies = #{Currency.to_hash.to_json};

    new ExchangeRate('#account_ledger_exchange_rate', '#account_ledger_to_id', '#account_ledger_amount',
    #{@account_ledger.account_currency_id}, accounts, currencies);

  });
