-content_for :links do
  %ul.breadcrumps
    %li #{link_list @account_ledger}<span>&gt;</span>
    %li #{link_parent @account_ledger}<span>&gt;</span>

%h1 
  %span.n Transferencia de
  = @account_ledger.account

.moneybox
  %label Saldo en cuenta
  %h3 #{@account_ledger.currency_symbol} #{@account_ledger.account.amount}

- present @account_ledger do |presenter|

  = simple_form_for @account_ledger, :url => transference_account_ledgers_path, :html => {:class => 'enter'} do |f|

    = bonsai_form_error(f)
    
    = f.input :account_id, :as => :hidden
    
    = f.input :to_id, :collection => Account.org.money.where("id NOT IN(?)", @account_ledger.account_id), :label => 'A cuenta'

    ._50.fl
      = f.input :amount, :label => "Cantidad #{@account_ledger.currency_symbol}",
        :input_html => {:size => 12, :type => 'decimal', :class => 'r'}, :wrapper_html => {:class => '_30'}

    = f.input :exchange_rate, :label => "Tipo de cambio de <span class='currencies'></span>", 
      :input_html => {:size => 12, :type => 'decimal'}, 
      :hint => presenter.exchange_rate_hint, 
      :wrapper_html => {:style => "display:#{presenter.show_exchange_rate}", :id => 'al_exchange_rate'}

    .clear
     
    = f.submit "Transferir"

:javascript
  $(function() {

    var accounts = #{Account.org.to_hash(:name, :currency_id).to_json};
    var currencies = #{Currency.to_hash.to_json};

    new ExchangeRate('#account_ledger_exchange_rate', '#account_ledger_to_id', '#account_ledger_amount',
    #{@account_ledger.account_currency_id}, accounts, currencies);

  });
