-content_for :links do
  %ul.breadcrumps
    %li #{link_list @account_ledger}
    %li #{link_parent @account_ledger}

.page-header
  %h1 
    %span.gray.n Transferencia de
    = @account_ledger.account

- present @account_ledger do |presenter|

  = simple_form_for @account_ledger, :url => transference_account_ledgers_path, :html => {:class => 'enter'} do |f|

    = bonsai_form_error(f)
    
    = f.input :account_id, :as => :hidden
    
    .row-fluid
      .span5
        = f.input :to_id, :collection => Account.money.where("id NOT IN(?)", @account_ledger.account_id), :label => 'A cuenta'

      .span4
        = f.input :amount, :label => "Cantidad en (#{@account_ledger.account.currency_symbol})",
          :input_html => {:size => 12, :type => 'decimal', :class => 'r'}
      .span2
        %label Fecha
        = lo Time.zone.now

    #al_exchange_rate.row-fluid{:style => "display:#{presenter.show_exchange_rate}"}
      .span5
        = f.input :exchange_rate, :label => "Tipo de cambio de <span class='currencies'></span>", 
          :input_html => {:size => 12, :type => 'decimal'}, 
          :wrapper_html => {:class => '_60'}
      .span3
        %label Total
        %span#total.fs120.b

    .row-fluid
      .span6
        =f.association :project, :label => 'Proyecto', :input_html => {'data-new_url' => new_project_path, 'data-trigger' => 'new_project', 'data-title' => "Nuevo proyecto"}

    = f.submit "Transferir", :class => 'btn btn-success b'

:javascript
  $(function() {

    var accounts = #{Account.to_hash(:name, :currency_id).to_json};
    var currencies = #{Currency.to_hash.to_json};
    var account_currency_id = #{@account_ledger.account_currency_id};

    var er = new ExchangeRate()
    er.setAll('#account_ledger_exchange_rate', '#account_ledger_to_id', 
      #{@account_ledger.account_currency_id}, accounts, currencies, {hide: '#al_exchange_rate'});
    //window.er = er;
    var res = {};

    function calculateTotal() {
      var val = $('#account_ledger_amount').val() * 1,
      rate = $('#account_ledger_exchange_rate').val() * 1;
      if(organisation.currency_id === account_currency_id) {
        rate =  1/rate;
      }
      
      var total = rate * val;
      $('#total').html(res.currency.symbol + " " + _b.ntc(total));
    }

    $('#account_ledger_exchange_rate').on('change:rate', function(event, val) {
      res = val;
      calculateTotal();
    });

    $('input.decimal').on("keyup focusout", function(event) {
      if(_b.notEnter(event)) {
        return false;
      }else {
        calculateTotal();
      }
    });

  });

