-#content_for :links do
  = account_ledger_show_links(@account_ledger)

  .links.span6
    -#= presenter.null_link

%header
  %h1
    = @account_ledger.conciliated.html_safe
    = @account_ledger
    = @account_ledger.operation_label.html_safe

= form_for @account_ledger, url: conciliate_account_ledger_path(@account_ledger) do |f|
  = f.submit "Conciliar", class: 'btn btn-success'

= render_if @account_ledger.project do
  %h3
    %span.grey.n Proyecto:
    = @account_ledger.project


%h4.n= lo @account_ledger.date.to_date

.well.well-small.span3
  = ntc @account_ledger.amount
  = currency_label @account_ledger.currency

%h3.n
  %span.muted De:
  = link_to @account_ledger.account, @account_ledger.account
  = ntc @account_ledger.account_amount
  = currency_label @account_ledger.account_currency
  %span.muted A:
  = link_to @account_ledger.account_to, @account_ledger.account_to
  = ntc @account_ledger.account_to_amount
  = currency_label @account_ledger.account_to_currency
