-content_for :links do
  %ul.breadcrumps.span6
    %li #{link_to @account_ledger.account, @account_ledger.account}

  .links.span6
    = link_to "Anular", @account_ledger, :class => 'delete', 'data-confirm' => 'Esta seguro de borrar la transacción' if @account_ledger.can_destroy?

%h1 Transacción del <span class="n">#{lo @account_ledger.created_at}</span>

.moneybox.fl
  = in_out @account_ledger.account_amount, :class => "b"
  - if Contact::TYPES.include? @account_ledger.account_original_type
    %h3= "#{@account_ledger.currency_symbol} #{ntc @account_ledger.account_amount}"
  - else
    %h3= "#{@account_ledger.selected_account.currency_symbol} #{ntc @account_ledger.account_amount}"

.clear
<br/>
._30.fl <span class="dark-grey">Ref/Nº de cheque:</span> #{@account_ledger.reference}
._20.fl= @account_ledger.description
// Related account
._20.fl= link_to @account_ledger.related_account, related_account_link(@account_ledger), :title => 'Cuenta relacionada'
<br/><br/>
.clear
- if @account_ledger.can_conciliate?
  .conciliation
    = simple_form_for @account_ledger, :url => conciliate_account_ledger_path(@account_ledger) do |f|
      = f.submit "Verificar transacción", :class => 'btn btn-success b'

%p Creado por: <span class="b">#{@account_ledger.creator}</span>

- if @account_ledger.conciliation?
  %p Verificado por: <span class="b">#{@account_ledger.approver}</span>

- unless @account_ledger.active?
  %p Anulado por: <span class="b">#{@account_ledger.nuller}</span>


:javascript
  $(function() {
    $('.conciliation form').submit(function() {
      var conf_text = "Revisar una transacción es una operación irreversible, esta seguro?";
      if (#{@account_ledger.to_id.present?}) {
        conf_text = "Revisar esta cuenta tambien revisara la cuenta relacionada con la transferencia. Desea revisar?";
      }

      if(!confirm(conf_text)) {
        return false;
      }

    });

    if($('#comment').length > 0) {
      $('#comment').submit(function() {
        if( $('#account_ledger_comment').val().replace(/^\s+|\s+$/g, '').length < 5 ) {
          alert("Error: Debe ingresar un comentario");
          return false;
        }
      });
    }

  });

