-content_for :links do
  %ul.breadcrumps
    %li #{link_account @account_ledger}<span>&gt;</span>
    %li #{link_to @account_ledger.account, @account_ledger.account}<span>&gt;</span>

%h1 Transacción del #{lo @account_ledger.date}

.moneybox.fl
  = in_out @account_ledger.income?, :class => 'b'
  %h3= with_currency @account_ledger
.clear
<br/>
._15.fl.i= lo @account_ledger.date
._30.fl <span class="grey">Ref/Nº de cheque:</span> #{@account_ledger.reference}
._20.fl=link_description @account_ledger
._20.fl= link_to @account_ledger.contact, @account_ledger.contact if @account_ledger.contact_id.present?

.clear
- unless @account_ledger.conciliation?
  .conciliation
    = simple_form_for @account_ledger, :url => conciliate_account_ledger_path(@account_ledger) do |f|
      = f.submit "Conciliar transacción"
-else
  Conciliado por: <span class="b">#{@account_ledger.approver}</span>

:javascript
  head.ready(function() {
    $('.conciliation form').submit(function() {
      var conf_text = "Conciliar una transacción es una operación irreversible, esta seguro?";
      if (#{@account_ledger.account_ledger_id.present?}) {
        conf_text = "Conciliar esta cuenta tambien conciliara la cuenta relacionada con la transferencia. Desea conciliar?";
      }

      if(!confirm(conf_text)) {
        return false;
      }
    });
  });
