- @ledger = present(@ledger)  if @ledger.is_a?(AccountLedger)
- @ledger.current_account_id = @ledger.account_id
.row-fluid
  .span7
    %h1
      %strong.fs80= @ledger.operation_tag
      %strong(title='Código' data-toggle='tooltip')= @ledger
      %small(title='Estado' data-toggle='tooltip')= @ledger.status_tag
      = render_if @ledger.account_contact do
        %small.dark
          = link_to @ledger.account_contact, @ledger.account_contact, title: 'Contacto', data: {toggle: 'tooltip'}

  .span5.r
    = render 'account_ledgers/conciliate_null_form', ledger: @ledger if @ledger.can_conciliate_or_null?
    .btn-group
      = link_to account_ledger_path(@ledger.id, format: 'print'), class: 'btn' do
        %i.icon-print
        Imprimir

      = link_to account_ledger_path(@ledger.id, format: 'pdf'), class: 'btn' do
        %i.icon-pdf
        PDF
.row-fluid.account_ledger
  .span2
    %h4.i.n.ib
      = lo @ledger.date.to_date

  .span5
    .inline-cont
      = link_to icon('icon-pencil', 'Editar referencia'), account_ledger_path(@ledger.id), class: 'dark inline-edit',
        data: { type: 'textarea', name: 'reference', notify: '.top-left' }
      %i.icon-file.muted(data-toggle='tooltip' title="referencia")
      %span.inline-data= nl2br @ledger.reference

  .span5.r
    .moneybox.fr
      %label TOTAL
      %h4.n
        = ntc @ledger.amount
        = currency_label @ledger.currency

    - unless @ledger.currency === @ledger.account_currency
      .clearfix
      %span.muted
        %i.icon-exchange
        Tipo de cambio
      = ntc 1.0
      = currency_tag @ledger.currency
      \=
      = ntc @ledger.exchange_rate, precision: 4
      = currency_tag @ledger.account_currency

- if @ledger.account.is_a?(Movement)
  %p
    %h4.n
      %span.muted Contacto:
      = link_to @ledger.account_contact, @ledger.account_contact
%p
  %h4.n


    %span.account
      %span.muted
        De
        = "#{@ledger.account_text}"
      = link_to @ledger.account, @ledger.account_url, class: 'account_name'
    %span.account-to
      %span.muted a Cuenta
      = link_to @ledger.account_to, @ledger.account_to_url, class: 'account_to_name'

%p
  = render_if @ledger.updater do
    %i.icon-user.blue(title='Actualizado por' data-toggle='tooltip')
    %span.updater= @ledger.updater
    %span.muted el
    %i.updated_at= l @ledger.updated_at


= render_if @ledger.creator do
  %p
    %i.icon-user(title='Creado por' data-toggle='tooltip')
    = @ledger.creator
    %span.muted el
    %i= l @ledger.created_at

= render_if @ledger.approver do
  %p
    %i.icon-user.text-success(title='Aprovado por' data-toggle='tooltip')
    = @ledger.approver
    %span.muted el
    %i= l @ledger.approver_datetime

= render_if @ledger.nuller do
  %p
    %i.icon-user.text-error(title='Anulado por' data-toggle='tooltip')
    = @ledger.nuller
    %span.muted el
    %i= l @ledger.nuller_datetime

:javascript
  $(function() {
    $('.account_ledger').on('ledger-reference:update', function(event, resp) {
      $('.updater').text(resp.updater);
      $('.updated_at').text(resp.updated_at);
    });
  })
