.row
  .col-12
    %h1
      %span.text-muted= @ledger.operation_text
      = @ledger
      %small.b= @ledger.status_text

.row
  .col-8
    = render_if @ledger.account_contact do
      %h3
        %span.text-muted Contacto:
        = @ledger.account_contact
    .clearfix

    %h3.n
      %span.account
        %p
          %span.muted.text-muted
            De cuenta
          = @ledger.account

        %p
          %span.muted.text-muted
            A cuenta

          = @ledger.account_to

  .col-4
    .moneybox.fr
      %label TOTAL
      %h3.n
        = ntc @ledger.amount
        = currency_label @ledger.currency

    - unless @ledger.currency === @ledger.account_currency
      .clearfix
      .r
        %span.text-muted Tipo de cambio
        = ntc 1.0
        = currency_tag @ledger.currency
        \=
        = ntc @ledger.exchange_rate, precision: 4
        = currency_label @ledger.account_currency

.row
  .col-3
    %h4.i
      = lo @ledger.date.to_date

  .col-6
    %p.reference
      %span.text-muted Referencia:
      = nl2br @ledger.reference


:css
  @page{
    margin: 0;
  }

:javascript
  document.getElementById('header-footer').checked = false;
