%header
  %h1
    = @ledger.conciliation_tag
    = @ledger
    = @ledger.operation_label
    %small.dark
      = render_if @ledger.account_contact do
        = link_to @ledger.account_contact_tag, @ledger.account_contact

- unless @ledger.conciliation?
  = form_for @ledger, url: conciliate_account_ledger_path(@ledger) do |f|
    %button#conciliate-button.btn.btn-success.b()
      %i.icon-ok
      Verificar transacción

= render_if @ledger.project do
  %h3
    %span.grey.n Proyecto:
    = @ledger.project

%h4.n.i= lo @ledger.date.to_date

.moneybox
  %label CANTIDAD
  %h4
    = ntc @ledger.amount
    = currency_label @ledger.currency

%span.reference
  %span.muted 
    %i.icon-file-alt
    Refencia:
  %small.dark= @ledger.reference

%h4.n
  %span.account
    %span.muted De:
    = link_to @ledger.account, @ledger.account, class: 'account_name'
    = ntc @ledger.account_amount
    = currency_label @ledger.account_currency
  %span.account-to
    %span.muted A:
    = link_to @ledger.account_to, @ledger.account_to, class: 'account_to_name'
    = ntc @ledger.account_to_amount
    = currency_label @ledger.account_to_currency

:coffeescript
  $(->
    to_name = $('.account_to_name').text()
    $('#conciliate-button').popover(
      trigger: 'hover'
      title: 'Verificación'
      html: true
      content: 'Actualiza el balance de la cuenta asociada <br/><strong>' + to_name + '</strong>'
    )
  )
