-content_for :links do
  %ul.breadcrumps
    %li #{link_account @account_ledger}<span>&gt;</span>
    %li #{link_to @account_ledger.account, @account_ledger.account}<span>&gt;</span>

  .links
    = link_to "Anular", @account_ledger, :class => 'delete', 'data-confirm' => 'Esta seguro de borrar la transacción' if @account_ledger.can_destroy?

%h1 Transacción del #{lo @account_ledger.date}

.moneybox.fl
  = in_out @account_ledger.in?, :class => 'b'
  %h3= with_currency @account_ledger
.clear
<br/>
._15.fl.i= lo @account_ledger.date
._30.fl <span class="dark_grey">Ref/Nº de cheque:</span> #{@account_ledger.reference}
._20.fl=link_description @account_ledger
._20.fl= link_to @account_ledger.to, @account_ledger.to, :title => 'Contacto' if @account_ledger.to_id.present?
<br/><br/>
.clear
- if @account_ledger.can_conciliate?
  .conciliation
    = simple_form_for @account_ledger, :url => conciliate_account_ledger_path(@account_ledger) do |f|
      = f.submit "Revisar transacción"

%p Creado por: <span class="b">#{@account_ledger.creator}</span>

- if @account_ledger.conciliation?
  %p Revisado por: <span class="b">#{@account_ledger.approver}</span>

- unless @account_ledger.active?
  %p Anulado por: <span class="b">#{@account_ledger.nuller}</span>


:javascript
  $(function() {
    $('.conciliation form').submit(function() {
      var conf_text = "Revisar una transacción es una operación irreversible, esta seguro?";
      if (#{@account_ledger.to_id.present?}) {
        conf_text = "Revisar esta cuenta tambien revisara la cuenta relacionada con la transferencia. Desea revisar?";
      }

      if(!confirm(conf_text)) {
        return false;
      }

    });

    if($('#comment').length > 0) {
      $('#comment').submit(function() {
        if( $('#account_ledger_comment').val().replace(/^\s+|\s+$/g, '').length < 5 ) {
          alert("Error: Debe ingresar un comentario");
          return false;
        }
      });
    }

  });
