.row-fluid
  .span12
    %h1
      = @ledger.verified_tag
      = @ledger
      = @ledger.operation_label
      = @ledger.nulled_tag
      %small.dark
        = render_if @ledger.account_contact do
          = link_to @ledger.account_contact_tag, @ledger.account_contact

= render 'account_ledgers/conciliate_null_form', ledger: @ledger if @ledger.can_conciliate_or_null?

= render_if @ledger.project do
  %h3
    %span.grey.n Proyecto:
    = @ledger.project

%h4.n.i= lo @ledger.date.to_date

.moneybox
  %label CANTIDAD
  %h4
    = ntc @ledger.amount
    = currency_label @ledger.currency

%span.reference
  %span.muted 
    %i.icon-file-alt
    Refencia:
  %small.dark= @ledger.reference

%h4.n
  %span.account
    %span.muted De:
    = link_to @ledger.account, @ledger.account, class: 'account_name'
    = ntc @ledger.account_amount
    = currency_label @ledger.account_currency
  %span.account-to
    %span.muted A:
    = link_to @ledger.account_to, @ledger.account_to, class: 'account_to_name'
    = ntc @ledger.account_to_amount
    = currency_label @ledger.account_to_currency

