.row
  .col-7
    %h1
      %span.n.text-muted Recibo
      = @ledger
      %small= @ledger.status_text

    = render_if @ledger.account_contact do
      %h3
        %span.text-muted Contacto:
        = @ledger.account_contact


%p
  = @ledger.operation_text
  %i= lo @ledger.date.to_date

.row.account_ledger
  .col-6
    .moneybox
      %h5.n
        = ntc @ledger.amount
        = currency_label @ledger.currency

    - unless @ledger.currency === @ledger.account_currency
      = ntc 1.0
      = currency_tag @ledger.currency
      %i.icon-exchange(title='Tipo de cambio' data-toggle='tooltip')
      = ntc @ledger.exchange_rate, precision: 4
      = currency_label

  .col-6
    .reference= nl2br @ledger.reference
-#%p
  %h4
    %span.account
      %span.text-muted De cuenta:
      = @ledger.account
    %span.account-to
      %span.text-muted A cuenta:
      = @ledger.account_to

