= simple_form_for(bank) do |f|
  = bonsai_form_error(f)
  .main.bg_light_grey
    = f.input :name, :label => 'Banco'
    = f.input :number, :label => 'Número de cuenta'
    .clear
    -if bank.new_record?
      = f.association :currency, :collection => OrganisationSession.currencies, :label => 'Moneda'
      = f.input :total_amount, :label => 'Total en cuenta', :input_html => {:size => 12}
    -else
      .input
        %label Moneda
        = bank.currency
      .input
        %label Total en cuenta
        = "#{bank.currency_name.pluralize} #{ntc(bank.total_amount)}"

    .clear
  = f.input :address, :label => 'Dirección', :as => :text, :input_html => {:rows => 4, :cols => 35}
  = f.input :phone, :label => 'Teléfono'
  .clear
  = f.input :email
  = f.input :website, :label => 'Sitio web'
  .clear
  .actions
    = f.submit 'Salvar'
