= simple_form_for(bank, :html => {id: 'bank-form' }) do |f|
  = bonsai_form_error(f)
  .row-fluid
    .span6
      = f.input :name, :label => 'Banco'
    .span6
      = f.input :number, :label => 'Número de cuenta'

  .row-fluid
    - if bank.new_record?
      .span6
        = f.input :amount, :label => 'Total en cuenta', :input_html => {:size => 12, :class => 'r'}, :required => true
      .span6
        = f.input :currency, label: 'Moneda', collection: currency_options,
          hint: "<span class='icon-warning'></span> No es posible modificar después".html_safe
    -else
      .span6
        %label Moneda
        = bank.currency
      .span6
        %label Total en cuenta
        = ntc(bank.amount)
        = currency_label bank.currency

  .row-fluid
    .span6
      = f.input :address, :label => 'Dirección', :as => :text, :input_html => {:rows => 4, :cols => 35}, :required => false
    .span6
      = f.input :phone, :label => 'Teléfono', :required => false, :wrapper_html => {:class => "_100"}
      = f.input :website, :label => 'Sitio web', :wrapper_html => {:class => "_100"}
  .clear
  = f.submit 'Salvar', :class => 'btn btn-primary b'
