- content_for :links do
  %ul.breadcrumbs.span6
    %li Cuentas bancarias

.row-fluid
  .span6
    %h1 Cuentas bancarias
  .span6.r
    = link_to new_bank_path, class: 'btn' do
      %i.icon-plus-circle
      Nueva cuenta bancaria

%ul#banks.accounts_list
  - @banks.each do |bank|
    %li.row-fluid
      .span7
        %h4.n
          = bank.active_tag
          = link_to bank, bank

        = link_to new_transference_path(account_id: bank.id), class: 'btn btn-mini' do
          %i.icon-switch
          Nueva transferencia

        = bank.pendent_ledgers_tag

      .span3
        .moneybox
          %label TOTAL EN CUENTA
          %h5.n
            = ntc bank.amount
            = currency_label bank.currency
