- content_for :links do
  .links= link_to "Nueva cuenta bancaria", new_bank_path, :class => 'new'

%h1 Cuentas bancarias

%ul#banks.accounts_list
  - @banks.each do |bank|
    %li
      ._30.fl
        %h3= link_to bank, bank
        %h4.mt5.dark= "#{bank.number} (en #{bank.currency.name.pluralize})"
      ._70.fl
        .moneybox.fl
          %label Total en cuenta
          %h3= with_currency bank.account, :amount

        - if bank.account.account_ledger_details.pendent?
          .moneybox.fl
            %label Saldo a revisar
            %h3= "#{bank.account.currency_symbol} #{ntc bank.account.amount_to_conciliate}"
          
          %p.b.fl= link_to "pendiente de revisión (#{bank.account.account_ledger_details.pendent.count})", account_path(bank.account, :option => 'uncon')

      .clear

