- content_for :links do
  .links= link_to "Nueva cuenta bancaria", new_bank_path, :class => 'new'

%h1 Cuentas bancarias

- if @banks.empty?
  %h3= link_to "Crear nueva cuenta bancaria", new_bank_path, :class => 'add'

%ul#banks.accounts_list
  - @banks.each do |bank|
    %li
      ._55.fl
        %h3= link_to bank, bank
        %h4.mt5.dark= bank.currency.name.pluralize
      ._45.fl
        .moneybox.fl
          %label Total en cuenta
          %h3= with_currency bank.account, :amount

        = pendent_money_link(bank, :class => 'b fs110')

      .clear

