%h1 Bancos

= link_to "Nuevo banco", new_bank_path, :class => 'new'

%table.decorated.nwl 
  %thead
    %tr
      %th Banco
      %th Número de cuenta
      %th Moneda
      %th Total en cuenta
      %th Dirección
      %th
  
  %tbody
    - for bank in @banks
      %tr{ :class => cycle(:odd, :even) }
        %td= link_to bank.name, bank
        %td= bank.number
        %td= bank.currency
        %td.r= "#{bank.currency.symbol} #{ntc bank.total_amount}"
        %td= bank.address
        %td.actions= bonsai_links(bank)
