- content_for :links do
  %ul.breadcrumbs.span6
    %li #{link_to 'Cuentas bancarias', banks_path}

%h1 Nueva cuenta bancaria

= simple_form_for(@bank, html: {id: 'bank-form' }) do |f|
  = bonsai_form_error(f)
  .row-fluid
    .span6
      = f.input :name, label: 'Nombre', input_html: { class: 'span10' }

  .row-fluid
    .span6
      = f.input :currency, collection: currency_options,
        input_html: {placeholder: 'Escriba para poder buscar', class: 'span10' },
        label: 'Moneda (<i>No es posible modificar</i>)'.html_safe

    .span6
      = f.input :amount, label: 'Total en cuenta (<i>Valor inicial</i>)'.html_safe,
        input_html: {size: 12, class: 'r', type: 'decimal'}, required: true
  .row-fluid
    .span6
      = f.input :address, :label => 'Dirección', :as => :text, :input_html => {:rows => 4, :cols => 35}, :required => false
    .span6
      = f.input :phone, :label => 'Teléfono', :required => false, :wrapper_html => {:class => "_100"}
      = f.input :website, :label => 'Sitio web', :wrapper_html => {:class => "_100"}
  .form-actions
    = f.submit 'Salvar', class: 'btn btn-primary b'
