-content_for :links do
  %ul.breadcrumps
    %li #{link_to "Cuentas bancarias", banks_path}
    %li
      %span #{@bank}

  .links
    = link_to 'Editar', edit_bank_path(@bank), :class => 'edit', :title => "Editar cuenta bancaria"

.page-header
  %h1.n
    %span=@bank.name 
    %small( title="Número de cuenta")= @bank.number
    %small
      \-
      = @account.currency_name.pluralize

= pendent_money_link(@bank, :class => 'red fs110')
.clear

.moneybox.fl
  %label SALDO EN BANCO
  %h3= with_currency @account, :amount

  
._40.fr
  <a class="more_info" href="#bank_info">Ocultar información</a>
  #bank_info
    .input
      %label Dirección
      %span= nl2br(@bank.address)
    .input
      .input._100
        %label Teléfono
        %span= @bank.phone
      .input._100
        %label Sitio web
        %span= @bank.website
.clear

.page-header
  %h2 Transacciones

= render "account_ledgers/money", :account => @account, :ledgers => @ledgers, :paged_ledgers => @paged_ledgers, :ref_title => 'Ref./Nº Cheque', :money => @bank

.clear
