-content_for :links do
  %ul.breadcrumbs.span6
    %li #{link_to "Cuentas banco", banks_path}
    %li
      %i.icon-caret-right
    %li
      %span #{@bank}


.row-fluid
  .span8
    %h1.n
      = @bank.name 
      = currency_label @bank.currency
  .span4.r
    .btn-group
      = link_to new_transference_path(account_id: @bank.id), class: 'btn',
        title: 'Transferir dinero a otra cuenta', 'data-toggle' => 'tooltip' do
        %i.icon-exchange
        Transferencia

      = link_to icon_edit_text, edit_bank_path(@bank), class: 'btn'

.row-fluid
  .span6
    .moneybox
      %label SALDO EN BANCO
      %h4.n
        = ntc @bank.amount
        = currency_label @bank.currency

  .span6
    %label Dirección
    = nl2br(@bank.address)


%h3 Transacciones

- if params[:pendent].blank? && @bank.pendent_ledgers.any?
  = link_to bank_path(@bank.id, pendent: true) , class: 'text-error' do
    %i.icon-warning-sign
    Tiene transaccines pendientes
- elsif params[:pendent].present?
  = link_to 'Ver todas las transacciones', @bank

= render "account_ledgers/money", account: @bank
