-content_for :links do
  %ul.breadcrumbs.span6
    %li
      =link_to 'Cuentas bancarias', banks_path

.row-fluid
  .span8
    %h1.n
      = @bank.name
      = currency_label @bank.currency
  .span4.r
    .btn-group
      = link_to new_transference_path(account_id: @bank.id), class: 'btn',
        title: 'Transferir dinero a otra cuenta', 'data-toggle' => 'tooltip' do
        %i.icon-switch
        Transferencia

      = link_to icon_edit_text, edit_bank_path(@bank), class: 'btn'

.row-fluid
  .span6
    .moneybox
      %label SALDO CUENTA
      %h5.n
        %span.amount= ntc @bank.amount
        = currency_label @bank.currency

  .span6
    %i.muted.icon-phone(title='Teléfono' data-toggle='tooltip')
    = @bank.phone
    %i.muted.icon-globe(title='Website' data-toggle='tooltip')
    = @bank.website
    .clearfix
    %i.muted.icon-building(title="Dirección" data-toggle='tooltip')
    = nl2br(@bank.address)


%h2 Transacciones

- html = paginate @bank.ledgers.page(@page)
= html

- if params[:pendent].blank? && @bank.pendent_ledgers.any?
  = @bank.pendent_ledgers_tag
- elsif params[:pendent].present?
  = link_to 'Ver todas las transacciones', @bank

%ul.unstyled.listing
  = render partial: 'account_ledgers/money', collection: present(@bank.ledgers_view.page(@page)), as: :ledger, locals: { current_account_id: @bank.id }

= html
