-content_for :links do
  %ul.breadcrumbs.span6
    %li #{link_to "Cuentas banco", banks_path}
    %li
      %i.icon-caret-right
    %li
      %span #{@bank}

  .links.span6
    = link_to 'Editar', edit_bank_path(@bank), :class => 'edit', :title => "Editar cuenta bancaria"

%header
  %h1.n
    %span
      = @bank.name 
      = @bank.number
    = @bank.currency


.row-fluid
  .span6
    .well.well-small
      %label SALDO EN BANCO
      %h3
        = ntc @bank.amount
        = currency_label @bank.currency

  .span6
    %label Dirección
    = nl2br(@bank.address)

%h3 Transacciones

= render "account_ledgers/money", account: @bank
