%p.links
  = link_to 'Editar', edit_bank_path(@bank), :class => 'edit'
  = link_to 'Lista', banks_path, :class => 'list'
%h1 Banco
.main
  .fs12 
    %span.dark_grey Banco:
    #{@bank.name}&nbsp;&nbsp;&nbsp; 
    <span class="dark_grey">Cuenta:</span> #{@bank.number}&nbsp;&nbsp;&nbsp;
    %span.dark_grey Total en cuenta:
    %span.b #{@bank.currency_symbol} #{ntc @bank.total_amount}
  .clear
    
.clear

._55.fl
  %h2.dark Ultimas transacciones
  = render "account_ledgers/list", :account_ledgers => @bank.account_ledgers.includes(:payment)

._40.fr
  .input
    %label Moneda
    %span= @bank.currency
  .input
    %label Dirección
    %span= nl2br(@bank.address)
  .clear
  .input
    %label Teléfono
    %span= @bank.phone
  .input
    %label Email
    %span= @bank.email
  .clear
  .input
    %label Sitio web
    %span= @bank.website

