= simple_form_for inv, url: incomes_inventory_outs_path do |f|
  = bonsai_form_error(f)

  = hidden_field_tag :store_id, @store.id
  = hidden_field_tag :income_id, @income.id

  .row-fluid
    .span6
      %label Ingreso
      %h4.n= link_to inv.income, inv.income
    .span6
      %label Almacen
      %h4.n= link_to inv.store, inv.store, target: '_blank'

  = render 'inventories/movement_form', f: f, inv: @inv

  .form-actions
    = f.submit 'Entregar mercadería', class: 'btn btn-primary b'
