- content_for :links do
  %ul.breadcrumps.span6
    %li #{link_to "Configuración", "/configuration"} 


:css
  #roles th{
    width: 100px;
  }
  #roles th.first{
    width: 300px;
  }

%h1 Editar #{@user}


= simple_form_for @user, :url => update_user_user_path(@user) do |f|
  = bonsai_form_error(f)
  
  .input
    %label Email
    = @user.email
  -#= f.input :abbreviation, :label => 'Abreviación', :hint => 'Identificar al usuario'
  .clear
  = f.input :first_name, :label => 'Nombres'
  = f.input :last_name, :label => 'Apellidos'
  .clear
  = f.input :phone, :label => 'Teléfono'
  = f.input :mobile, :label => 'Móvil'
  .clear
  = f.input :rolname, :collection => User.get_roles.slice(1, 3), :label => 'Rol'
  = f.input :active, :as => :radio, :label => 'Activo'

  .clear
  = render 'permissions'

  .actions
    = f.submit "Editar usuario", :class => 'btn btn-success b'


:javascript
  $(function() {

    function markRolColumn() {
      $('#roles td').removeClass('marked');
 
      if($('#user_rolname').val() != "") {
        var ind = $('th.' + $('#user_rolname').val() ).data('index');
        $('#roles td:nth-child(' + ind + ')').addClass('marked');
      }
    }

    $('#user_rolname').live('change keyup', function () { markRolColumn(); });

    markRolColumn();
  })

