- content_for :links do
  %ul.breadcrumps.span6
    %li #{link_to current_user, current_user}

%h1 Editar datos perfil

= simple_form_for(current_user) do |f|
  .row-fluid
    .span6
      = f.input :first_name, :label => 'Nombres'
    .span6
      = f.input :last_name, :label => 'Apellidos'
  .row-fluid
    .span6
      = f.input :phone, :label => 'Teléfono'
    .span6
      = f.input :mobile, :label => 'Móvil'
  .row-fluid
    .span6
      = f.input :address, :label => 'Dirección', :as => :text, :input_html => {:rows => 4, :cols => 35}

  .form-actions
    = f.submit "Actualizar datos", class: 'btn btn-success b'
