- content_for :links do
  %ul.breadcrumps
    %li #{link_to current_user, current_user}

%h1 Editar #{@user}

= simple_form_for(@user) do |f|
  = f.input :first_name, :label => 'Nombres'
  = f.input :last_name, :label => 'Apellidos'
  .clear

  = f.input :phone, :label => 'Teléfono'
  = f.input :mobile, :label => 'Móvil'
  .clear
  = f.input :address, :label => 'Dirección', :as => :text, :input_html => {:rows => 4, :cols => 35}

  .clear
  = f.submit "Actualizar"
