- content_for :links do
  %ul.breadcrumbs.span6
    %li
      Editar datos
    %li
      %i.icon-caret-right
    %li #{link_to current_user, current_user}

%h1 Editar datos perfil

= simple_form_for(current_user) do |f|
  .row-fluid
    .span6
      = f.input :email, label: 'Email', input_html: { size: INPUT_SIZE }
  .row-fluid
    .span6
      = f.input :first_name, label: 'Nombres', input_html: { size: INPUT_SIZE }
    .span6
      = f.input :last_name, label: 'Apellidos', input_html: { size: INPUT_SIZE }
  .row-fluid
    .span6
      = f.input :phone, label: 'Teléfono', input_html: { size: INPUT_SIZE }
    .span6
      = f.input :mobile, label: 'Móvil', input_html: { size: INPUT_SIZE }
  .row-fluid
    .span6
      = f.input :address, label: 'Dirección', as: :text, input_html: { rows: 4, cols: INPUT_SIZE }

  .form-actions
    = f.submit "Actualizar datos", class: 'btn btn-success b'
