- content_for :links do
  %ul.breadcrumps
    %li #{link_to "Configuración", "/configuration"} <span>&gt;</span>


:css
  #roles th{
    width: 100px;
  }
  #roles th.first{
    width: 300px;
  }

%h1 Editar #{@user}


= simple_form_for @user, :url => update_user_user_path(@user) do |f|
  = bonsai_form_error(f)
  
  .input
    %label Email
    = @user.email
  .input
    = f.input :rolname, :collection => User.get_roles.slice(1, 3), :label => 'Rol'
    = f.input :active_link, :as => :radio, :label => 'Activo'

  .clear
  = render 'permissions'

  .actions
    = f.submit "Editar usuario"


:javascript
  head.ready(function() {

    function markRolColumn() {
      $('#roles td').removeClass('marked');
 
      if($('#user_rolname').val() != "") {
        var ind = $('th.' + $('#user_rolname').val() ).data('index');
        $('#roles td:nth-child(' + ind + ')').addClass('marked');
      }
    }

    $('#user_rolname').live('change keyup', function () { markRolColumn(); });

    markRolColumn();
  })

