- content_for :links do
  %ul.breadcrumps
    %li #{link_to current_user, current_user} &gt;

%h1 Cambiar de contraseña
= simple_form_for current_user, :url => update_password_user_path(current_user) do |f|
  = f.input :password, :label => 'Contraseña'
  = f.input :password_confirmation, :label => 'Confirmación de contraseña'
  .clear
  = f.submit "Cambiar contraseña"
