- content_for :links do
  %ul.breadcrumps.span6
    %li #{link_to current_user, current_user}

%h1 Cambiar de contraseña
= simple_form_for current_user, :url => update_password_user_path(current_user) do |f|
  = f.input :old_password, :label => 'Antigua contraseña', :wrapper_html => {:class => '_90'}
  .clear
  %hr
  = f.input :password, :label => 'Contraseña', :wrapper_html => {:class => '_90'}
  = f.input :password_confirmation, :label => 'Confirmación de contraseña', :wrapper_html => {:class => '_90'}
  .clear
  = f.submit "Cambiar contraseña", :class => 'btn btn-success b'
