<style>
  label{width:12em;}
</style>

<h1><%= I18n.t("users.user") %></h1>

<ul class="show">
  <li><label><%= I18n.t("users.form.first_name") %></label><%= @user.first_name %></li>
  <li><label><%= I18n.t("users.form.last_name") %></label><%= @user.last_name %></li>
  <li><label><%= I18n.t("users.form.email") %></label><%= @user.email %></li>
  <li><label><%= I18n.t("users.form.phone") %></label><%= @user.phone %></li>
  <li><label><%= I18n.t("users.form.mobile") %></label><%= @user.mobile %></li>
  <li><label></label><%= @user.website %></li>
  <li><label><%= I18n.t("users.form.description") %></label><%= @user.description %></li>
</ul>
