- content_for :links do
  .links
    =link_to "Editar datos", edit_user_path(current_user), :class => 'edit'
    =link_to "Cambiar contraseña", password_users_path, :class => 'key'

%h1= current_user

.input
  %label Nombres
  = current_user.first_name

.input
  %label Apellidos
  = current_user.last_name
.clear

.input
  %label Teléfono
  = current_user.phone
.input
  %label Móvil
  = current_user.mobile
.clear

.input
  %label Email
  = mail_to current_user.email unless current_user.email.blank?
.input
  %label Dirección
  = nl2br current_user.address
