- content_for :links do
  .span6 &nbsp;

%h1= current_user


= link_to edit_user_path(current_user), class: 'btn btn-primary' do
  %i.icon-user
  Actualizar datos

= link_to edit_user_password_path(current_user), class: 'btn btn-primary' do
  %i.icon-key
  Cambiar contraseña

.input
  %label Nombres
  = current_user.first_name

.input
  %label Apellidos
  = current_user.last_name

.input
  %label Teléfono
  = current_user.phone
.input
  %label Móvil
  = current_user.mobile
.clear

.input
  %label Email
  = mail_to current_user.email unless current_user.email.blank?
.input
  %label Dirección
  = nl2br current_user.address
