- present @user do |presenter|
  - content_for :links do
    .links
      = presenter.edit_link
      = presenter.password_link

  .page-header
    %h1= @user

  .input
    %label Nombres
    = @user.first_name

  .input
    %label Apellidos
    = @user.last_name
  .clear

  .input
    %label Teléfono
    = @user.phone
  .input
    %label Móvil
    = @user.mobile
  .clear

  .input
    %label Email
    = mail_to @user.email unless @user.email.blank?
  .input
    %label Dirección
    = nl2br @user.address
