<h1>Cambiar contraseña</h1>

<%= simple_form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :put }) do |f| %>
  <%= f.hidden_field :reset_password_token %>

  <%= f.input :password, :label => 'Contraseña', :wrapper_html => {:class => '_100'} %>
  <%= f.input :password, :label => 'Confirmación de contraseña', :wrapper_html => {:class => '_100'} %>

  <p><%= f.submit "Cambiar contraseña" %></p>
<% end %>

<%= render :partial => "devise/shared/links" %>
