<h2><%= t("devise.views.password_forgot") %></h2>

<%= form_for(resource, :as => resource_name, :url => password_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <p><%= f.label :email %></p>
  <p><%= f.text_field :email %></p>

  <p><%= f.submit t("devise.views.password_submit") %></p>
<% end %>

<%= render :partial => "devise/shared/links" %>
