#dialog
  %h1 Registro

  = simple_form_for(@user, :url => registrations_path) do |f|
    = hidden_field_tag :registration_token, params[:registration_token]
    %fieldset
      = f.input :email, :label => "Correo Electrónico", :input_html => {:size => 40}
      = f.input :password, :label => 'Contraseña', :input_html => {:size => 40}
      -#%p.accept Al hacer click en <strong>Registrarme</strong> usted acepta los <a href="#">Terminos de servicio</a>
      .clear.form_actions
        = f.submit "Registrarse", :class => 'btn btn-success b'
