:css
  #header{ display: none; }
  #menu{ display: none; }
  #main_wrap{ background: none !important; }
  #cont{
    background: none;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
  }
  .tooltip{ font-size: 13px; }

.lonely(style='max-width:400px;')
  .row-fluid
    .inset
      %header
        %h1 Registro

      .pad
        = simple_form_for @registration do |f|
          = f.input :name, label: false, input_html: {class: 'span12', placeholder: 'Empresa', title: 'Empresa', 'data-toggle' => 'tooltip' }
          = f.input :tenant, label: false, input_html: {class: 'span12'} do
            .input-append
              = f.text_field :tenant, placeholder: 'Subdominio', title: 'Subdominio', 'data-toggle' => 'tooltip', class: 'span8', size: 22
              %span.add-on.append
                \.bonsaierp.com
          = f.input :email, label: false, input_html: {class: 'span12', placeholder: "Correo electr칩nico", title: 'Correo electr칩nico', 'data-toggle' => 'tooltip'}
          .input-append
            =f.input :password, label: 'Contrase침a' do
              = f.password_field :password, size: 20, class: 'span8'
              %span.add-on.append
                %label
                  %input(type="checkbox" id="show-password")
                  Ver contrase침a
          .clear-both
          = f.submit "Registrarme", class: 'btn btn-success btn-large b'
          &nbsp;&nbsp;&nbsp;
          = link_to login_path do
            %i.icon-off
            Entrar

= render file: 'layouts/browser'

:javascript
  $(function() {
    $(document).on('keyup', '#registration_name', function() {
      // TODO: Improve the copyname;
      name = $(this).val().toLowerCase().replace(/[^a-z]/g, '');
      $('#registration_tenant').val(name);
    });

    $('#show-password').on('click', function() {
      if($(this).prop('checked')) {
        $('#registration_password').attr('type', 'text');
      } else {
        $('#registration_password').attr('type', 'password');
      }
    });

   })
