%h1.c.login Registro

.lonely.c(style='max-width:400px;')
  = simple_form_for @registration do |f|
    .row-fluid
      = f.input :name, label: false, input_html: { placeholder: 'Empresa', title: 'Empresa', size: 55, 'data-toggle' => 'tooltip' }
      = f.input :tenant, label: false do
        .input-append
          = f.text_field :tenant, placeholder: 'Subdominio', title: 'Subdominio', 'data-toggle' => 'tooltip', size: 37
          %span.add-on.append
            \.bonsaierp.com

      = f.input :email, label: false, input_html: { placeholder: "Correo electrónico", title: 'Correo electrónico', 'data-toggle' => 'tooltip', size: 55 }
      .input-append
        =f.input :password, label: false do
          = f.password_field :password, size: 35, placeholder: 'Contraseña',title: 'Contraseña', 'data-toggle' => 'tooltip'
          %span.add-on.append
            %label
              %input(type="checkbox" id="show-password")
              Ver contraseña

    = f.submit "Registrarme", class: 'btn btn-success b'
    .clearfix
    = link_to login_path, class: 'white fs110' do
      %i.icon-off
      Entrar

= render file: 'layouts/browser'

:javascript
  $(function() {
    $(document).on('keyup', '#registration_name', function() {
      // TODO: Improve the copyname;
      name = $(this).val().toLowerCase().replace(/[^a-z]/g, '');
      $('#registration_tenant').val(name);
    });

    $('#show-password').on('click', function() {
      if($(this).prop('checked')) {
        $('#registration_password').attr('type', 'text');
      } else {
        $('#registration_password').attr('type', 'password');
      }
    });

   })
