/[if IE 9]
  :css
    .registration input.password {
      width: 210px;
    }
    .registration .add-on label{
      width: 80px;
    }
    .registration #show-password{
      width: auto;
      padding: 0px;
    }

%h1.c.login Registro

.initial.registration.c
  = simple_form_for @registration do |f|
    .row-fluid

      = f.input :email, label: false, wrapper_class: 'large' do
        %i.muted.icon-envelope.icon(title='email' data-toggle='tooltip')
        = f.text_field :email, size: 30, placeholder: 'Email', class: 'email'

      .input-append
        =f.input :password, label: false, wrapper_class: 'large' do
          %i.muted.icon-key.icon(title='Contraseña' data-toggle='tooltip' style='left: 12px')
          = f.password_field :password, placeholder: 'Contraseña', class: 'password'
          %span.add-on.append
            %label
              %input(type='checkbox' id='show-password')
              Ver


      = f.input :name, label: false, wrapper_class: 'large' do
        %i.muted.icon-building.icon(title='Empresa' data-toggle='tooltip')
        = f.text_field :name, size: 30, placeholder: 'Empresa', class: 'email'

      -#= f.input :tenant, label: false, wrapper_class: 'large' do
        %i.muted.icon-globe.icon(title='Subdominio' data-toggle='tooltip')
        = f.text_field :tenant, placeholder: 'Subdominio', size: 37
        -#.input-append
          -#%span.add-on.append
            %label
              \.bonsaierp.com

    = f.submit 'Registrarme', class: 'btn btn-success b'
    .clearfix
    = link_to login_path, class: 'white fs110' do
      %i.icon-off
      Entrar al sistema


:javascript
  $(function() {

    $('#show-password').on('click', function() {
      if($(this).prop('checked')) {
        $('#registration_password').attr('type', 'text');
      } else {
        $('#registration_password').attr('type', 'password');
      }
    });

   })
