:css
  #header{ display: none; }
  #menu{ display: none; }
  #main_wrap{ background: none !important; }
  #cont{
    background: none;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
  }
  .tooltip{ font-size: 13px; }

.row-fluid
  .lonely.span6.offset3
    .inset
      %header
        %h2 Registro

      .pad
        = simple_form_for @registration do |f|
          = f.input :name, label: false, input_html: {class: 'span12', placeholder: 'Empresa', title: 'Empresa', 'data-toggle' => 'tooltip' }
          = f.input :tenant, label: false,
            hint: "<i class='icon-warning-sign' ></i> No es posible modificar en un futuro".html_safe,
            input_html: {class: 'span12'} do
            .input-prepend.input-append
              = f.text_field :tenant, size: 28, placeholder: 'Subdominio', title: 'Subdominio', 'data-toggle' => 'tooltip'
              %span.add-on .bonsaierp.com
          = f.input :email, label: false, input_html: {class: 'span12', placeholder: "Correo electrónico", title: 'Correo electrónico', 'data-toggle' => 'tooltip'}
          = f.input :password, label: false, input_html: {class: 'span12', placeholder: 'Contraseña', title: 'Contraseña', 'data-toggle' => 'tooltip'}
          = f.input :password_confirmation, label: false, input_html: {class: 'span12', placeholder: 'Confirmar contraseña', title: 'Confirmar contraseña', 'data-toggle' => 'tooltip'}
          .clear-both
          = f.submit "Registrarme", :class => 'btn btn-success btn-large'

:coffee
  $( ->
    $(document).on('keyup', '#registration_name', ->
      # TODO: Improve the copyname
      name = $(this).val().toLowerCase().replace(/[^a-z]/g, '')
      $('#registration_tenant').val(name)
    )
   )
