:css
  #header{ display: none; }
  #menu{ display: none; }
  #main_wrap{ background: none !important; }
  #cont{
    background: none;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
  }

.row-fluid
  .lonely.span6.offset3
    .inset
      %header
        %h2 Registro

      .pad
        = simple_form_for @registration do |f|
          = f.input :name, label: 'Empresa', input_html: {class: 'span12'}
          = f.input :tenant, label: 'Subdominio',
            hint: "<i class='icon-warning-sign' title='El subdominio no se podra modificar en un futuro' rel='tooltip'></i> No es posible modificar después</span>".html_safe,
            input_html: {class: 'span12'}
          = f.input :email, :label => "Correo Electrónico", input_html: {class: 'span12'}
          = f.input :password, :label => 'Contraseña', input_html: {class: 'span12'}
          = f.input :password_confirmation, :label => 'Confirmat contraseña', input_html: {class: 'span12'}
          .center
            = f.submit "Registrarse", :class => 'btn btn-success btn-large'

:coffeescript
  (($) ->
    setTenant = (val) ->
      tenant = $('#registration_tenant').val()
      if tenant == ''
        val = val.toLowerCase().replace(/[^a-z0-9]/g, '')
        $('#registration_tenant').val(val)
        tenant = val

      if tenant != ''
        $('#registration_tenant').siblings('.help-block').html("Su dominio se vera <strong>" + tenant + ".bonsaierp.com</strong><br/><i class='icon-warning-sign' title='El subdominio no se podra modificar en un futuro' rel='tooltip'></i> No es posible modificar después</span>")

    $('#registration_name').blur(-> setTenant(this.value) )
    $('#registration_tenant').on('change keyup', -> setTenant('') )
    setTenant('')
  )(jQuery)
