- content_for :links do
  %ul.breadcrumps
    %li #{link_to "Clientes", "/clients"}

  .links
    = link_to "Vídeo", "http://www.youtube.com/embed/BZMsfhXi9uw", :class => 'video', 'data-title' => 'Como crear clientes'
    = link_to "Nuevo cliente", new_client_path, :class => 'new'


.page-header
  %h1 Clientes

= link_to "Buscar", "#search_client", :class => 'search'

%ul.tabs
  %li= link_option "Todos", "all"
  %li= link_option "Deben", "pendent"
  %li= link_option "Debemos", "debt"

#search_client.search{:style => show_if_search}
  %a.close{:href => "#"} cerrar
  %h3 Buscar clientes
  =form_tag "/clients", :method => 'get' do
    =hidden_field_tag "search_div_id", "search_clients"
    .input
      =text_field_tag 'search', params[:search], :size => 40
    %div
    =submit_tag 'Buscar', :class => 'btn btn-success'

= paginate(@clients)

= render 'contacts/list', :list => @clients
