- present @client, ContactPresenter do |presenter|
  - content_for :links do
    %ul.breadcrumps
      %li #{link_to "Clientes", clients_path} 
    .links
      = link_to "Vídeo", "http://www.youtube.com/embed/BZMsfhXi9uw", :class => 'video', 'data-title' => 'Como crear clientes'
      = link_to 'Nuevo', new_client_path, :class => 'new'
      = link_to 'Editar', edit_client_path(@client), :class => 'edit'
      = link_to 'Borrar', @client, :class => 'delete'

  %h1
    = @client.matchcode
    %span.dashlet.fs50.bg-dark Cliente

  -if current_user.is_admin?
    = link_to "Balancear cuenta", new_account_balance_path(:contact_id => @client.id), :class => "new button"

  .clear
  = render 'contacts/show', :klass => @client

  .clear
  - @client.accounts.each do |ac|
    = presenter.moneybox ac

  - presenter.incomes.each do |cur, amt|
    .moneybox.fl 
      %label.dark-green SALDO VENTAS #{cur}
      %h3= ntc amt

  - presenter.buys.each do |cur, amt|
    .moneybox.fl 
      %label.red SALDO COMPRAS #{cur}
      %h3= ntc amt

  .clear

  = jquery_tabs :tab_id => "contact_tab" do
    =jqueryui_ul do
      =tab "Transacciones", client_path(@client, :tab => 'transactions'), "transactions"
      =tab "Ventas", client_path(@client, :tab => 'incomes'),"incomes"
      =tab "Compras y gastos", client_path(@client, :tab => 'buys'), "buys"
      =tab "Operaciones inventarios", client_path(@client, :tab => 'inventory'), "inventory"
      
    -# "contacts/account_ledgers", "contacts/inconmes", "contacts/buys", "contacts/inventory_operations"
    = tab_panel do
      = render @partial, @locals

  :javascript
    $(function() {
    });
