- content_for :links do
  %ul.breadcrumps
    %li #{link_to "Clientes", clients_path} <span>&gt;</span>
  .links
    = link_to 'Nuevo', new_client_path, :class => 'new'
    = link_to 'Editar', edit_client_path(@client), :class => 'edit'
    = link_to 'Borrar', @client, :class => 'delete'

%h1= @client.matchcode

.clear
= render 'contacts/show', :klass => @client

- @currency_rates = CurrencyRate.current_hash

.clear
- @client.accounts.each do |ac|
  .moneybox.fl
    %label Cuenta en #{ac.currency_symbol}
    %h3= ntc ac.amount


.clear

= jquery_tabs :tab_id => "contact_tab" do
  =jqueryui_ul do
    =tab "Transacciones", client_path(@client, :tab => 'transactions'), "transactions"
    =tab "Ventas", client_path(@client, :tab => 'incomes'),"incomes"
    =tab "Compras", client_path(@client, :tab => 'buys'),"buys"
    =tab "Gastos", client_path(@client, :tab => 'expenses'),"expenses"
    
  = render @partial, @locals


:javascript
  $(function() {
  });
