- attachable.attachments.each do |img|
  = image_tag img.small_attachment.url

= form_for attachable.attachments.build do |f|
  .form-inline
    = f.hidden_field :attachable_id
    = f.hidden_field :attachable_type
    = f.file_field :attachment, placeholder: 'Adjunto'

    = f.submit 'Save', class: 'btn btn-primary'
