- content_for :links do
  %ul.breadcrumps.span6
    %li #{link_to account_types, account_types_path}

  .links.span6
    = link_to "Nuevo", account_types_path, :class => 'add'
    = link_to "Ver", @account_type, :class => 'show'
    = link_to "Borrar", @account_type, :class => 'delete', :confirm => 'Esta seguro de borrar', :method => :delete

%h1 Nuevo account_type

= render :partial => 'form'
