#header
  =link_to image_tag("logo.png"), "/", :id => "logo", :class => 'but'

  %ul#menu
    %li= link_to "Inicio", "/", :class => selected_menu("home")
    %li= link_to "Producto", "/tour", :class => selected_menu("tour")
    %li= link_to "Nosotros", "/team", :class => selected_menu("team")
    %li= link_to "Precios", "/prices", :class => selected_menu("price")
    -#%li= link_to "Contacto", "/contact", :class => selected_menu("contact")

  = link_to "Ingresar", "/users/sign_in", :id => "login"
