:css
  .carousel, .carousel-inner{ height: 519px; }
  .carousel-inner .item {
    width: 940px;
    float: left;
    margin: 0px;
  }

  .carousel-control{
    background: rgba(0, 0, 0, 0.4);
  }
  .carousel-control:hover{
    background: rgba(0, 0, 0, 0.7);
  }

#banner
  %h2 Producto
  
  = render "demo_link"

%br
%br 

#tour.carousel
  .carousel-inner
    .item.active
      = image_tag "dashboard.png", :size => "940x514"
      .carousel-caption
        %h4 Resumen
        %p 
          Esta es la primera pantalla que aparecerá al ingresar. 
          Podrá ver un resumen de bancos, cajas, cuanto le deben, cuanto se debe, inventarios con mínimos, etc.

    .item.active
      = image_tag "ventas.png", :size => "940x514" 
      .carousel-caption
        %h4 Compras y Ventas
        %p 
          Controla sus compras y ventas permitiendole controlar la venta de productos o servicios, seleccionar cliente o proveedor, realizar ventas o compras a créditdo y saber quien y cuando se realizo una operación 

    .item.active
      = image_tag "inventory.png", :size => "940x514" 
      .carousel-caption
        %h4 Inventario
        %p 
          Almacenes ilimitados con control de las operaciones y kardex de ítems además de poder definir los inventarios mínimos para un determinado ítem. Transferencias entre almacenes.

    .item.active
      = image_tag "banks.png", :size => "940x514" 
      .carousel-caption
        %h4 Cuentas Bancos y Cajas
        %p 
        Registre los movimientos que se han realizado. Revisión de transacciones que faltan ser revisadas o conciliadas. Multiples monedas.
    .item.active
      = image_tag "clients.png", :size => "940x514" 
      .carousel-caption
        %h4 Clientes y Proveedores
        %p 
          Sepa toda la inforación relacionada a un cliente o proveedor, cuentas por pagar, cuentas por cobrar, ventas o compras realizadas al mismo.

  // Carousel nav
  %a.carousel-control.left( href="javascript:" data-slide="prev") &lsaquo;
  %a.carousel-control.right( href="javascript:" data-slide="next") &rsaquo;

:javascript
  $(function() {
    $('#tour').bcarousel(940);
  })
