%h1 Cajas

%p.links= link_to "Nueva caja", new_cash_register_path, :class => 'new'

%table.decorated.nwl 
  %thead
    %tr
      %th Nombre
      %th Moneda
      %th Dirección
      %th
  
  %tbody
    - for account in @cash_registers
      %tr{ :class => cycle(:odd, :even) }
        %td= account.name
        %td= account.currency
        %td= nl2br account.address
        %td.actions= bonsai_links(account)
