%h1 Cajas

%p.links= link_to "Nueva caja", new_cash_register_path, :class => 'new'

%table.decorated.nwl 
  %thead
    %tr
      %th Nombre
      %th Moneda
      %th Total en cuenta
      %th Dirección
      %th
  
  %tbody
    - for cr in @cash_registers
      %tr{ :class => cycle(:odd, :even) }
        %td= link_to cr.name, cr
        %td= cr.currency
        %td.r= "#{cr.currency.symbol} #{ntc cr.total_amount}"
        %td= nl2br(cr.address)
        %td.actions= bonsai_links(cr)
