%p.links
  = link_to 'Editar', edit_cash_register_path(@cash_register), :class => 'edit'
  = link_to 'Lista', cash_registers_path, :class => 'list'
%h1 Caja

.input
  %label Nombre de caja
  %span= @cash_register.name
._25.fl
  %label Moneda
  %span= @cash_register.currency
._25.fl
  %label Total en cuenta
  %span.b #{@cash_register.currency_symbol} #{ntc @cash_register.total_amount}
.clear

._55.fl
  %h2.dark Ultimas transacciones
  = render "account_ledgers/list", :account_ledgers => @cash_register.account_ledgers.includes(:payment)


.clear
._40.fr
  %label Dirección
  %span= nl2br @cash_register.address
