%h1 account
%p.links
  = link_to 'Editar', edit_cash_register_path(@cash_register), :class => 'edit'
  = link_to 'Lista', cash_registers_path, :class => 'list'

.input
  %label Nombre de caja
  %span= @cash_register.name
.input
  %label Moneda
  %span= @cash_register.currency
.clear
.input
  %label Dirección
  %span= nl2br @cash_register.address
