- content_for :links do
  %ul.breadcrumps
    %li #{link_to "Cuentas caja", cash_registers_path}<span>&gt;</span>
  .links
    = link_to 'Nueva', new_cash_register_path, :class => 'new'
    = link_to 'Editar', edit_cash_register_path(@cash_register), :class => 'edit'


%h1.mb5 <span class="dark_grey n">Caja:</span> #{@cash_register.name}
%h3.mt5.dark_grey= @cash_register.currency

.moneybox.fl
  %label Saldo en caja
  %h3= with_currency(@cash_register, :total_amount)

- if @cash_register.pendent_account_ledgers.any?
  .moneybox.fl
    %label Saldo a conciliar
    %h3= with_currency @cash_register, :total_pendent

._40.fr
  %label Dirección
  = nl2br(@cash_register.address)
.clear

%h2.dark Transacciones
= render "account_ledgers/list", :account => @cash_register, :ref_title => 'Referencia'

.clear
