- content_for :links do
  .links.span6
    = link_to "Nuevo account_balance", new_account_balance_path, :class => 'new'

%h1 account_balances

%table.decorated.nwl 
  %thead
    %tr
      %th amount
      %th user_id
      %th old_amount
      %th
  
  %tbody
    - @account_balances.each do |account_balance|
      %tr{ :class => cycle(:odd, :even) }
        %td= account_balance.amount
        %td= account_balance.user_id
        %td= account_balance.old_amount
        %td.actions= bonsai_links(account_balance)
