- content_for :links do
  %ul.breadcrumps.span6
    %li #{link_to account_balances, account_balances_path}<span>&gt;</span>

  .links.span6
    = link_to "Nuevo", account_balances_path, :class => 'add'
    = link_to "Ver", @account_balance, :class => 'show'
    = link_to "Borrar", @account_balance, :class => 'delete', :confirm => 'Esta seguro de borrar', :method => :delete

%h1 account_balance
%p.links
  = link_to 'Editar', edit_account_balance_path(@account_balance), :class => 'edit'
  = link_to 'Lista', account_balances_path, :class => 'list'

.input
  %label #<Rails::Generators::GeneratedAttribute:0xb223070>
  %span= @account_balance.amount
.input
  %label #<Rails::Generators::GeneratedAttribute:0xb222da0>
  %span= @account_balance.user_id
.input
  %label #<Rails::Generators::GeneratedAttribute:0xb222634>
  %span= @account_balance.old_amount
