-# cache "income_devolution_form-#{today_key}" do
= simple_form_for income.income_devolution, url: income_devolution_path(income.id), html: {id: 'income-devolution-form'} do |f|
  = bonsai_form_error(f)
  = f.hidden_field :account_id

  = render 'devolutions/form', f: f, transaction: income

  .form-actions
    = f.submit "Devolución", class: 'btn btn-danger b'
    %a#cancel-devolution-link.btn.cancel(hre='javascript:;') Cancelar

:javascript
  $(function() {
    var cur = currencies["#{income.currency}"];
      temp = _.template('<span class="label bg-black" title="{{name}}" data-toggle="tooltip">{{code}}</span>', cur);
    $('#devolution-currency-label').append(temp);

    var p = new App.IncomeDevolution({
      accountsTo: #{AccountQuery.new.bank_cash_options.to_json},
      baseCurrency: "#{income.currency}"
    });
  })
