= simple_form_for(income_service, url: get_income_url(income_service), html: {class: 'enter ui-form', method: income_form_method(income_service)}) do |f|
  = bonsai_form_error(f)

  -########################################
  -# Render common form elements
  = render 'transactions/shared_form', f: f, transaction: income_service.income, lbl: 'Ingreso'
  = render 'transactions/form_direct_payment', f: f, lbl: 'Cobro', movement: income_service

  -########################################
  -# Render items
  .row-fluid
    = render "transactions/form_items", f: f, transaction: income_service, details: :income_details

  .form-actions
    = f.submit 'Salvar', class: 'btn b btn-large trans', name: 'commit_save', data: {show: 'trans.direct_payment| inverse'}
    = f.submit value: 'Salvar y aprobar', class: 'btn b btn-large btn-primary', name: 'commit_approve' if income_service.is_draft?



-# Help tours
= render 'incomes/tour'

:javascript
  (function($) {
    $('body').on('new-contact', '.contact-form', function(event, resp) {
      $('.contact_id').val(resp.matchcode).data('value', resp.matchcode)
      .prev().val(resp.matchcode);
    })

    if($('[name=commit_approve]').length == 0) {
      $('[name=commit_save]').addClass('btn-primary');
    }

    fx.rates = exchangeRates.rates;
    income = new App.Income();
    income.setAccountsTo(#{AccountQuery.new.bank_cash_options.to_json});
  })(jQuery)
