:css
  /*input.price, input.quantity{ text-align: right; }*/
  input.price{
    display: none;
  }
  #items_table .input{
    margin: 2px 0px;
  }

= simple_form_for(@income, :html => {:id => 'income_form'}) do |f|
  = bonsai_form_error(f)
  .main.bg_light_grey
    .input
      = f.input :ref_number, :label => 'Nº de referencia', :input_html => {:size => 20}
      = f.input :date, :label => 'Fecha'
    = f.association :contact, :label => 'Contacto', :collection => Contact.org,
      :input_html => {'data-new_url' => new_contact_path, 'data-title' => 'Nuevo contacto', 'data-trigger' => 'new_contact' }
    .clear

  .clear
  = f.association :project, :label => 'Proyecto', :collection => Project.org
  = f.association :currency, :label => 'Moneda/Tipo de cambio. <span class="n"></span>'.html_safe, :include_blank => false
  = f.input :currency_exchange_rate, :as => :hidden
  .clear
  .input
    = f.input :discount, :label => 'Descuento (%)', :input_html => {:size => 10}
    = f.input :bill_number, :label => 'Nº de Factura', :input_html => {:size => 20}
  =f.association :taxes, :as => :check_boxes, :label => 'Impuestos', :wrapper_html => {:id => 'taxes'}, :collection => Tax.org,
    :label_method => lambda{|tax| "<span data-rate='#{tax.rate}' title =\"#{tax.name}\">#{tax.abbreviation} (#{ntc tax.rate}%)</span>".html_safe }

  .clear
  = f.input :description, :label => 'Descripción', :as => :text, :input_html => {:rows => 4, :cols => 40}
  .clear

  %h2.dark#items_header Items

  %table#items_table.decorated
    %thead
      %tr
        %th.item Item
        %th.description Descripción
        %th.price Precio <br/>unitario
        %th.quantity Cantidad
        %th.total_row Total fila
        %th
    = f.simple_fields_for :transaction_details do |fd|
      %tr.item
        %td= fd.input :item_id, :label => false, :collection => Item.org.income.order(:name), :input_html => {:class => 'item fl'}
        %td= fd.input :description, :label => false
        %td.cur
          = fd.hidden_field :price, :class => 'price'
          <span class="price_html">#{ntc fd.object.price}</span>
        /, :input_html => { :size => 8, :class => 'price' }, :label => false
        %td= fd.input :quantity, :input_html => { :size => 8, :class => 'quantity' }, :label => false
        %td.total_row.r{'data-val' => fd.object.total }= ntc fd.object.total
        %td.del <a href="javascript:" class="destroy" title="Borrar">&nbsp;</a>
    
    %tr.extra.pad_top
      %td{:colspan => 2}
      %td.cur{:colspan => 2} Subtotal
      %td#subtotal.r{'data-val' => @income.subtotal}= ntc(@income.subtotal)
    
    %tr.extra
      %td{:colspan => 2} <a href="javascript:" id="add_item" class="add">Adicionar ítem</a>
      %td.cur{:colspan => 2} #{minus_image} Descuento (<span id="discount_percentage" data-val="#{@income.discount}">#{ntc @income.discount}</span>%)
      %td#discount_total.r{'data-val' => @income.total_discount} #{ntc(@income.total_discount)}
    
    %tr.extra
      %td{:colspan => 2}
      %td.cur.line{:colspan => 2} Impuestos (<span id="taxes_percentage" data-val="#{@income.tax_percent}">#{ntc @income.tax_percent}</span>%)
      %td#taxes_total.r.line{'data-val' => @income.total_taxes}= ntc @income.total_taxes
    
    %tr.extra
      %td{:colspan => 2}
      %td.r.b.dark{:colspan => 2} Total
      %td#total_value.b.cur{ 'data-val'=>@income.total} #{currency_symbol} #{ntc @income.total}

    %tr.extra
      %td{:colspan => 2}
      %td.r.b.dark#currency_symbol{:colspan => 2}= @income.currency_name.pluralize
      %td.cur.b#total_value_currency #{@income.currency_symbol} #{@income.total_currency}
  .actions
    = f.submit 'Salvar'


= javascript_include_tag "app/transactions"
:javascript
  $(function() {
    var items = #{ Item.income.json.to_json };
    var currencies = #{ Currency.select("id, name, symbol").to_json };
    var exchange_rates = #{ CurrencyRate.active.select("rate, currency_id").to_json };

    var default_currency_id = #{currency_id};
    var income = new Income(items, "#income_form", {'default_currency_id': default_currency_id }, currencies, exchange_rates );
    window.income = income;

    // Present hidden prices
    $('.price').live('change', function() {
      $(this).siblings('.price_html').html(_b.ntc($(this).val() ) );
    });

    $('<a/>').text('Inventario').addClass('inventario').css({'display':'none', 'position': 'absolute', 'background': '#FFF', 'padding': '4px 10px'})
    .attr({'href':'javascript:', 'title':'Ver inventario'}).appendTo('body');
    // Shon inventory
    $('.decorated select').live("mouseover", function() {
      if($(this).val() == "")
        return false;
      var pos = $(this).position();
      $('a.inventario').css({'top': (pos.top + 2) + 'px', 'left':(pos.left - 80) + 'px'})
      .attr({'href': ''}).show().data('target', this);
    }).live("mouseout", function() {
      setTimeout(function() {
        if( !$('a.inventario').data('over')) {
          $('a.inventario').hide();
        }
      }, 500);
    });
    $('a.inventario').live("mouseout mouseover", function(e) {
      if(e.type == "mouseover") {
        $(this).data('over', true).show()
      }else{
        $(this).data('over', false).hide();
      }
    });

    $('a.inventario').hide();

    // Functions for the select boxes
    $('body').live('new_contact', function(e, resp) {
      $('#income_contact_id').createSelectOption(resp.id, resp.matchcode)
    });
  })
