#income-form(ng-controller='MovementController')
  = simple_form_for(income_service, url: get_income_url(income_service),
    html: { class: 'enter ui-form movement-form', method: income_form_method(income_service) }) do |f|
    = bonsai_form_error(f)

    -########################################
    -# Render common form elements
    = render 'movements/shared_form', f: f, transaction: income_service.income, lbl: 'Ingreso'
    = render 'movements/form_direct_payment', f: f, lbl: 'Cobro', movement: income_service

    -########################################
    -# Render items
    .row-fluid
      = render 'movements/form_items', f: f, movement: income_service, details: :income_details, item_url: search_income_items_path

    .row-fluid
      .span6
        = f.input :description, label: 'Descripción', as: 'text', input_html: {rows: 2, class: 'span10', placeholder: 'Descripción del Ingreso'}

    .form-actions
      - if income_service.is_draft?
        .ib(ng-hide='direct_payment')
          = f.submit 'Salvar borrador', class: 'btn b btn-large trans', name: 'commit_save'
          %br
          %small.muted Salva un borrador o proforma
        .ib
          = f.submit value: 'Salvar y aprobar', class: 'btn b btn-large btn-primary', name: 'commit_approve'
          %br
          %small.muted Salva y permite cobros
      - else
        = f.submit 'Salvar', class: 'btn btn-primary btn-large b'

-# Help tours
= render 'incomes/tour'

:javascript
  (function($) {
    $('body').on('new-contact', '.contact-form', function(event, resp) {
      $('.contact_id').val(resp.matchcode).data('value', resp.matchcode)
      .prev().val(resp.matchcode);
    })

    fx.rates = exchangeRates.rates;
  })(jQuery)
