= simple_form_for(@income) do |f|
  = bonsai_form_error(f)
  = f.input :ref_number, :label => 'Nº de referencia'
  = f.input :date, :label => 'Fecha'
  .clear
  = f.input :contact_id, :label => 'Cliente'
  = f.input :description, :label => 'Descripción', :as => :text, :input_html => {:rows => 4, :cols => 40}
  .clear

  %h2.dark Items

  %table.decorated
    %tr
      %th Item
      %th Descripción
      %th Precio <br/>unitario
      %th Cantidad
      %th Total fila
    = f.simple_fields_for :transaction_details do |fd|
      %tr
        %td= fd.input :item_id, :label => false, :collection => Item.all
        %td= fd.input :description, :label => false
        %td= fd.input :price, :input_html => { :size => 8 }
        %td= fd.input :quantity, :input_html => { :size => 8 }
        %td
  %p
    %a#add_item.add{:href => 'javascript:' } Adicionar ítem

  .actions
    = f.submit 'Salvar'

:javascript
  items = #{ Item.javascript.to_json };
  $(function() {
  })
