:css
  input.price, input.quantity{ text-align: right; }
  /*
  .ui-datepicker-header{
    background: #FFF !important;
    color: #498CE2 !important;
    border: none !important;
    font-weight: normal !important;
    font-size: 1.1em !important;
  }
  .ui-datepicker table{
    background: #FFF !important;
  }
  .ui-datepicker td a{
    background: transparent !important;
    border: none !important;
    font-weight: normal !important;
    color: #000;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    color: #666666 !important;
    text-align: center;
  }
  .ui-datepicker td a.ui-state-hover{
    background-color: #AFAFAF !important;
  }
  .ui-datepicker td a.ui-state-active{
    background-color: #498CE2 !important;
    color: #FFF !important;
  }
  .ui-datepicker thead tr{
    border-bottom: 1px solid grey !important;
  }
    
  .ui-datepicker-week-end{
    border:none;
    background: transparent;
  }
  */
= simple_form_for(@income, :html => {:id => 'income_form'}) do |f|
  = bonsai_form_error(f)
  .input
    = f.input :ref_number, :label => 'Nº de referencia', :input_html => {:size => 20}
    = f.input :date, :label => 'Fecha'
  = f.association :contact, :label => 'Cliente'
  .clear
  = f.association :project, :label => 'Proyecto'
  = f.association :currency, :label => 'Moneda'
  .clear
  .input
    = f.input :discount, :label => 'Descuento (%)', :input_html => {:size => 10}
    = f.input :bill_number, :label => 'Nº de Factura', :input_html => {:size => 20}
  =f.association :taxes, :as => :check_boxes, :label => 'Impuestos', :wrapper_html => {:id => 'taxes'},
    :label_method => lambda{|tax| "<span data-rate='#{tax.rate}' title =\"#{tax.name}\">#{tax.abbreviation} (#{ntc tax.rate}%)</span>".html_safe }

  .clear
  = f.input :description, :label => 'Descripción', :as => :text, :input_html => {:rows => 4, :cols => 40}
  .clear

  %h2.dark Items

  %table.decorated
    %thead
      %tr
        %th Item
        %th Descripción
        %th Precio <br/>unitario
        %th Cantidad
        %th Total fila
    = f.simple_fields_for :transaction_details do |fd|
      %tr
        %td
          <a href=":javascript" title="Inventatio" class="inventario">inv</a>
          = fd.input :item_id, :label => false, :collection => Item.income.order(:name), :input_html => {:class => 'item fl'}
        %td= fd.input :description, :label => false
        %td= fd.input :price, :input_html => { :size => 8, :class => 'price' }, :label => false
        %td= fd.input :quantity, :input_html => { :size => 8, :class => 'quantity' }, :label => false
        %td.total_row.r
    %tr.extra
      %td{:colspan => 2}
      %td.b.r{:colspan => 2} Subtotal
      %td#subtotal.b.r
    %tr.extra
      %td{:colspan => 2} <a href="javascript:" id="add_item" class="add">Adicionar ítem</a>
      %td.b.r{:colspan => 2} Descuento (<span id="discount_percentage" data-val="#{@income.discount}">#{ntc @income.discount}</span>%)
      %td#discount_total.b.r
    %tr.extra
      %td{:colspan => 2}
      %td.b.r{:colspan => 2} Impuestos (<span id="taxes_percentage" data-val="#{@income.total_taxes}">#{ntc @income.total_taxes}</span>%)
      %td#taxes_total.b.r
    %tr.extra
      %td{:colspan => 2}
      %td.r{:colspan => 2} <h3>Total</h3>
      %td.r <h3 id="total_value"></h3>

  .actions
    = f.submit 'Salvar'

= javascript_include_tag("transactions")
:javascript
  $(function() {
    var items = #{ Item.income.json.to_json };
    var transaction = new Transaction(items, "#income_form");
  })
