= simple_form_for(@income) do |f|
  = bonsai_form_error(f)
  .input
    = f.input :ref_number, :label => 'Nº de referencia', :input_html => {:size => 20}
    = f.input :date, :label => 'Fecha'
  = f.association :contact, :label => 'Cliente'
  .clear
  = f.association :project, :label => 'Proyecto'
  = f.association :currency, :label => 'Moneda'
  .clear
  .input
    = f.input :discount, :label => 'Descuento (%)', :input_html => {:size => 10}
    = f.input :bill_number, :label => 'Nº de Factura', :input_html => {:size => 20}
  =f.association :taxes, :as => :check_boxes, :label => 'Impuestos'
  .clear
  = f.input :description, :label => 'Descripción', :as => :text, :input_html => {:rows => 4, :cols => 40}
  .clear

  %h2.dark Items

  %table.decorated
    %tr
      %th Item
      %th Descripción
      %th Precio <br/>unitario
      %th Cantidad
      %th Total fila
    = f.simple_fields_for :transaction_details do |fd|
      %tr
        %td= fd.input :item_id, :label => false, :collection => Item.order(:name)
        %td= fd.input :description, :label => false
        %td= fd.input :price, :input_html => { :size => 8 }, :label => false
        %td= fd.input :quantity, :input_html => { :size => 8 }, :label => false
        %td.subtotal
  %p
    %a#add_item.add{:href => 'javascript:' } Adicionar ítem

  .actions
    = f.submit 'Salvar'

:javascript
  items = #{ Item.javascript.to_json };
  $(function() {
  })
