= income.deliver_inventory_button

= income.inventory_devolution_button

#inventory-deliver(style='display:none;background-color: white')
  = form_tag new_incomes_inventory_out_path, method: :get do
    = hidden_field_tag :income_id, income.id
    %p
      %label
        Seleccione el almacen para realizar la
        %strong.green entrega de mercadería
      = select_tag :store_id, options_for_select(Store.active.map {|v| [v.to_s, v.id] })
    .form-actions
      = submit_tag "Siguiente", class: 'btn btn-primary'
      %a.btn.cancel(href='javascript:;') Cancelar

#inventory-devolution(style='display:none;background-color: white')
  = form_tag new_incomes_inventory_in_path, method: :get do
    = hidden_field_tag :income_id, income.id
    %p
      %label
        Seleccione el almacén para realizar la
        %strong.red devolución de mercadería
      = select_tag :store_id, options_for_select(Store.active.map {|v| [v.to_s, v.id] })
    .form-actions
      = submit_tag 'Siguiente', class: 'btn btn-primary'
      %a.btn.cancel(href='javascript:;') Cancelar

:javascript
  $(function() {
    var $deliver = $('#inventory-deliver').dialog({
      //title: 'Seleccionar almacen para entregar mercadería',
      autoOpen: false,
      width: 400
    });
    $('#inventory-deliver a.cancel').click(function() { $deliver.dialog('close') });
    $('#inventory-deliver-link').click(function() {
      console.log('deliver');
      $deliver.dialog('open') });

    var $devolution = $('#inventory-devolution').dialog({
      //title: 'Devolución mercadería',
      autoOpen: false,
      width: 400
    });
    $('#inventory-devolution a.cancel').click(function() { $devolution.dialog('close') });
    $('#inventory-devolution-link').click(function() { $devolution.dialog('open') });

  });
