#items
  %h2 Items

  %table#items_table.table.decorated
    %thead
      %tr
        %th Item
        %th Descripción
        %th Precio unitario
        %th Cantidad
        %th Total fila
        %th
      - income.transaction_details.each do |det|
        %tr
          %td= det.item
          %td= det.description
          %td.cur= price_change det
          %td.cur= det.quantity
          %td.total_row.cur= ntc det.total

    %tr.extra.pad_top
      %td{:colspan => 2}
      %td.r{:colspan => 2} Subtotal
      %td#subtotal.r= ntc income.gross_total

    %tr.extra
      %td{:colspan => 2}
        %td.r.b.dark{:colspan => 2} Total
      %td#total_value.r.b{'data-val' => income.total} #{currency_symbol} #{ntc income.total}


    - if not income.currency_id == currency_id
      %tr.extra
        %td{:colspan => 2}
          %td.r.b.dark{:colspan => 2} Total #{income.currency_name.pluralize}
        %td#total_value.r.b{'data-val' => income.total_currency} #{income.currency_symbol} #{ntc income.total_currency}

      - unless income.state == 'draft'
        %tr.extra
          %td{:colspan => 2}
          %td.r.b.line.dark{:colspan => 2} #{minus_image} Cobrado #{income.currency_name.pluralize}
          %td#total_payments.r.b.line{'data-val' => income.total_payments} #{income.currency_symbol} #{ntc( income.total_payments)}
        %tr.extra
          %td{:colspan => 2}
            %td.r.b.dark{:colspan => 2} Saldo #{income.currency_name.pluralize}
          %td#balance.r.b{'data-val' => income.balance} #{income.currency_symbol} #{ntc income.balance}

    - elsif not income.state == 'draft'
      %tr.extra
        %td{:colspan => 2}
        %td.r.b.line.dark{:colspan => 2} #{minus_image} Cobrado
        %td#total_payments.r.b.line{'data-val' => income.total_payments} #{income.currency_symbol} #{ntc( income.total_payments)}
      %tr.extra
        %td{:colspan => 2}
        %td.r.b.dark{:colspan => 2} Saldo
        %td#balance.r.b{'data-val' => income.balance} #{income.currency_symbol} #{ntc income.balance}

