%table#items_table.table.decorated
  %thead
    %tr
      %th.c Ãtem
      %th.c
        Precio unitario
        = currency_label income.currency
      %th.c Cantidad
      %th.r
        Total fila
        = currency_label income.currency

    - income.income_details.each do |det|
      %tr
        %td.span6= det.item
        %td.span2.r= ntc det.price
        %td.span2.r= ntc det.quantity
        %td.span2.total_row.r= ntc det.total

  %tr.extra.pad_top
    %td(colspan="2")
    %td.r Subtotal
    %td#subtotal.r= ntc income.subtotal

  - if income.tax
    %tr.extra
      %td
      %td.r(colspan='2')
        %span.text-muted Impuestos:
        = income.tax_tag
      %td#taxes.r= ntc income.taxes

  %tr.extra
    %td(colspan="2")
    %td.r.b.dark Total
    %td#total_value.r.b{'data-val' => income.total}
      = ntc income.total
      = currency_label income.currency

  - if income.balance != income.total
    %tr.extra
      %td(colspan="2")
      %td.r.dark Cobrado
      %td.r.b
        = ntc income.paid
        = currency_label income.currency

  %tr.extra
    %td(colspan="2")
    %td.r.dark Saldo
    %td.r.b
      = ntc income.balance
      = currency_label income.currency
