%ul.unstyled.listing.movement-details
  %li.header.row-fluid
    .span4
      Item
    .span2
      Precio
      = currency_label income.currency
    .span2
      Cantidad
      %br
      Unidad de medida
    .span2
      %a(href="#inventory")Saldo inventario
    .span2
      Total línea
      = currency_label income.currency

  - income.income_details.includes(:item).each do |det|
    %li.row-fluid.detail
      .span4.item
        .item-name= det.item
      .span2.r
        %label.visible-phone Precio
        .number= ntc det.price
      .span2.r
        %label.visible-phone Cantidad
        %span.number= ntc det.quantity
        %span.unit(data-toggle="tooltip" data-original-title="#{ det.unit_name }")= det.unit_symbol
      .span2.r.red.b
        %label.visible-phone Saldo inventario
        %span.number= ntc det.balance
        %span.unit.muted(data-toggle="tooltip" data-original-title="#{ det.unit_name }")= det.unit_symbol
      .span2.total_row.r
        %label.visible-phone Total línea
        .number= ntc det.total

  %li.row-fluid
    .span10.r
      Subtotal
    .span2.r
      #subtotal.r= ntc income.subtotal

  - if income.tax_percentage.to_f > 0
    %li.row-fluid
      .span10.r
        %span.text-muted.muted Impuestos:
        %strong= income.tax_tag
      .span2.r
        #taxes.r= ntc income.taxes

  %li.row-fluid
    .span10.r.b
      Total
    .span2.r
      #total_value.r.b{'data-val' => income.total}
        = ntc income.total
        = currency_label income.currency

  %li.row-fluid
    .span10.r.b.dark Cobrado
    .span2.r
      = ntc income.paid
      = currency_label income.currency

  %li.row-fluid
    .span10.r.b.dark
      Saldo
    .span2.r.b
      %span.red= ntc income.balance
      = currency_label income.currency
