#items
  %h2 Items

  %table#items_table.table.decorated
    %thead
      %tr
        %th Item
        %th Descripción
        %th Precio unitario
        %th Cantidad
        %th Total fila
        %th
      - income.income_details.each do |det|
        %tr
          %td= det.item
          %td= det.description
          %td.cur= price_change det
          %td.cur= det.quantity
          %td.total_row.cur= ntc det.total

    %tr.extra.pad_top
      %td{:colspan => 2}
      %td.r{:colspan => 2} Subtotal
      %td#subtotal.r= ntc income.gross_total

    %tr.extra
      %td{:colspan => 2}
        %td.r.b.dark{:colspan => 2} Total
      %td#total_value.r.b{'data-val' => income.total}
        = ntc income.total
        = currency_label income.currency
