#pay_plans
  %h2.dark Plan de pagos (#{cash @income.cash})

  %table.decorated
    %thead
      %th Fecha
      %th Alertar el
      %th Cantidad
      %th Intereses<br/>Penalidades
      %th Descripción
      %th Estado
      %th{:title => 'Enviar email'} Email
    - @income.pay_plans.each do |pp|
      %tr{:id => pp.id}
        %td= lo pp.payment_date
        %td= lo pp.alert_date
        %td= pp.amount
        %td= pp.interests_penalties
        %td= pp.description
        %td= pp.state
        %td.c <span class="#{pp.email}>&nbsp;</span>
