= simple_form_for income.income_payment, url: income_payment_path(income.id),
  html: {id: 'income-payment-form'} do |f|
  = bonsai_form_error(f)
  = f.hidden_field :account_id

  = render 'payments/default_form', f: f, transaction: income


  .form-actions
    = f.submit "Cobrar", class: 'btn b btn-success'
    %a#cancel-payment-link.btn(hre='javascript:;') Cancelar

-#binding.pry
:javascript
  $(function() {
    var cur = currencies["#{income.currency}"];
      temp = _.template('<span class="label bg-black" title="{{name}}" data-toggle="tooltip">{{code}}</span>', cur);
    $('#payment-currency-label').append(temp);

    var p = new App.IncomePayment({
      accountsTo: #{AccountQuery.new.income_payment_options(income).to_json},
      baseCurrency: "#{income.currency}"
    });
  })
