.quick-income-form.hide
  - qi = Incomes::QuickForm.new(ref_number: Income.get_ref_number)
  %h2 
    %span.muted.n Ingreso rápido
    = qi.ref_number

  = simple_form_for qi, url: quick_income_incomes_path do |f|
    .row-fluid
      .span6= f.input :account_to_id, label: 'Cuenta', input_html: {class: 'span10'}

      .span6
        =f.input :contact_id, as: :select2, label: "Contacto",
          'data-source' => '/contacts.json', input_html: { data: {new_url: new_contact_path, title: 'Nuevo contacto', trigger: 'new-contact'}, class: 'contact_id', placeholder: 'Escriba para buscar contactos'}

    .row-fluid
      .span3=f.input :amount, label: 'Cantidad <span class="quick-income-currency"></span>'.html_safe, as: :decimal, input_html: {type: 'text'}
      .span3=f.input :date, as: :datepicker, label: 'Fecha'

      .span6=f.input :reference, label: 'Referencia', as: 'text', input_html: {rows: 2}

    .form-actions
      = f.submit 'Salvar', class: 'btn btn-success b'
      %a#quick-income-hide-link.btn Cancelar

:javascript
  $(function() {
    $('#quick-income-link').click( function() {
      $('.quick-income-form').show('medium');
      $(this).hide('medium');
    });

    $('#quick-income-hide-link').click( function() {
      $('.quick-income-form').hide('medium');
      $('#quick-income-link').show('medium');
    });

    $('.contact-form').on('new-contact', function(event, resp) {
      $('.contact_id').val(resp.matchcode).data('value', resp.matchcode)
      .prev().val(resp.id);
    })

    // account_to_id
    $('#incomes_quick_form_account_to_id').select2({
      data: #{AccountQuery.new.bank_cash_options.to_json},
      formatResult: App.Payment.paymentOptions,
      formatSelection: App.Payment.paymentOptions,
      dropdownCssClass: 'hide-select2-search',
      escapeMarkup: function(m) { return m }
    });
  });
