- content_for :links do
  %ul.breadcrumbs.span6
    %li 
      = link_to 'Ingresos', incomes_path
    %li
      %i.icon-caret-right
    %li
      = link_to @is.income, @is.income
    %li
      %i.icon-caret-right
    %li
      %span Editar Ingreso

  .links.span6

- inc_presenter = present @is.income
.row-fluid
  .span6
    %h1
      %span.muted.n Editar
      = @is.income
      = inc_presenter.state_tag
  .span6.r
    = link_to icon_show_text, income_path(@is.income_id), class: 'btn'

= render 'incomes/form', income_service: @is
