- content_for :links do
  %ul.breadcrumps
    %li
      %span Ventas

  .links= link_to "Nueva venta", new_income_path, :class => 'new'

:css
  .search label{ width: 15em; }

%h1 Ventas

- if Item.scoped.empty?
  %h3.red 
    Necesita
    = link_to "items", items_path
    para poder realizar ventas

 
%ul.tabs
  %li= link_option "Todas", "all"
  %li= link_option "Proformas", 'draft'
  %li= link_option "Esperando cobro #{size_or_blank(@count.approved.size)}", 'awaiting_payment'
  %li= link_option "Vencidas #{size_or_blank(@count.due.size)}", 'due'
  %li= link_option "Con entrega pendiente #{size_or_blank(@count.inventory.size)}", 'inventory'
  %li= link_option "Cobradas", "paid"
  %li= link_option "Desc./Inc.", "discount", :class => 'tip', :title => 'Descuentos o Incrementos'
  %li= link_option "Anuladas", "nulled"

#search_income.search{:style => show_if_search}
  %a.close{:href => "#"} cerrar
  %h3 Buscar ventas
  = link_to "Eliminar filtros", incomes_path, :class => 'b'
  =form_tag "/incomes", :method => 'get' do
    =hidden_field_tag "search_div_id", "search_incomes"
    .input
      %label Cliente o Nº de referencia
      =text_field_tag 'search', params[:search], :size => 40
    .input
      %label Estado
      =select_tag "option", options_for_select(list_income_states, params[:option])
    %div
    =submit_tag 'Buscar', :class => 'btn btn-success'


= link_to "Buscar", "#search_income", :class => 'search'
= paginate @incomes.page(@page)

%table{ :class => 'decorated nwl' }
  %thead
    %tr
      %th.tip{:title => 'Estado'} Est.
      %th.tip{ :title => 'Número de referencia' } Nº Ref.
      %th Cliente
      %th Vence el
      %th Total
      %th Saldo
      = discount_th
      %th.tip{:title => "Contado Crédito"} Tipo
      %th Fecha Hora
      %th

  %tbody
    -  @incomes.each do |income|
      %tr{ :class => cycle(:odd, :even) }
        %td 
          %span.bicon{:class => "#{income.real_state}", :title => income.show_state}
        %td= link_to income.ref_number, income, :class => 'b'
        %td= income.contact
        %td= lo income.payment_date unless income.paid?
        %td.cur #{income.currency_symbol} #{ntc income.total }
        %td.cur #{income.currency_symbol} #{ntc income.balance }
        = discount_cell income
        -#%td
          %span.cur #{income.currency_symbol} #{ntc income.discount_amount }
          %br
          #{ ntc income.discount_percentage } %
        %td= cash_credit(income.cash)
        %td.nw= lo income.created_at
        %td.actions
          = link_to "editar", edit_income_path(income), :class => 'edit', :title => 'Editar' if income.draft?
          = link_to "duplicar", new_income_path(:transaction_id => income.id), :class => 'duplicate icon', :title => 'Duplicar'
