%h1 Ventas

%p.links= link_to "Nueva venta", new_income_path, :class => 'new'

%table{ :class => 'decorated nwl' }
  %thead
    %tr
      %th{ :title => 'Número de referencia' } Num. Ref.
      %th Contacto
      %th Fecha
      %th Total
      %th Saldo
      %th Estado
      %th
  
  %tbody
    - for income in @incomes
      %tr{ :class => cycle(:odd, :even) }
        %td= link_to income.ref_number, income
        %td= income.contact
        %td= lo income.date
        %td= income.total
        %td= income.balance
        %td <span class="#{income.state}">#{income.show_state}</span>
        %td.actions
          = bonsai_links(income) if income.draft?
