- content_for :links do
  %ul.breadcrumbs.span6
    %li
      = link_to 'Ingresos', incomes_path

-# content_for :search do
  = render 'incomes/search'

.row-fluid
  .span6
    %h1.ib Ingresos
    = search_tag
  .span6.r
    = render 'tags/tags'
    .btn-group
      = link_to export_incomes_path, class: 'btn' do
        %i.icon-download-alt
        Exportar

      = link_to new_income_path, class: 'btn' do
        %i.icon-plus-sign
        Nuevo ingreso


%ul.unstyled.inline
  %li
    = link_to "Todos", incomes_path, class: params_bold(:all)
  %li
    = link_to "Atrasados", incomes_path(due: true), class: "red #{params_bold(:due)}"
  %li
    = link_to "Aprobados", incomes_path(approved: true), class: params_bold(:approved)
  %li
    = link_to "Con error", incomes_path(error: true), class: params_bold(:error)
  %li
    = link_to "Anulados", incomes_path(nulled: true), class: params_bold(:nulled)
  %li
    = link_to "Inventario pendiente", incomes_path(inventory: true), class: params_bold(:inventory)


= render 'incomes/with_error'  if Income.error.any? && params[:error].blank?

- paginate_html = paginate @incomes

= paginate_html

%ul#incomes-list.unstyled.listing
  %li.row-fluid
    .span4.offset7
      .span6.r.b.muted
        Total
      .span6.r.b.muted
        Saldo

  = render partial: 'incomes/income', collection: present(@incomes), as: :income

= paginate_html

= render 'incomes/index_tour'

:javascript
  $(function() {
    $('.listing').rowCheck();
    $('#search-form').attr('action', '/incomes')
  })

