- content_for :links do
  %ul.breadcrumps
    %li #{link_to "Ventas", incomes_path} &gt;

  .links= link_to "Nueva venta", new_income_path, :class => 'new'

:css
  .search label{ width: 15em; }

%h1 Ventas

- @in = Income.org

%ul.tabs
  %li= link_incomes "Todas", 'all'
  %li= link_incomes "Proformas #{size_or_blank(@in.draft.size)}", 'draft'
  %li= link_incomes "Esperando cobro #{size_or_blank(@in.approved.size)}", 'awaiting_payment'
  %li= link_incomes "Vencidas #{size_or_blank(@in.due.size)}", 'due'
  %li= link_incomes "Con entrega pendiente #{size_or_blank(@in.inventory.size)}", 'inventory'
  %li= link_incomes "Cobradas", 'paid'

#search_income.search{:style => show_if_search}
  %a.close{:href => "#"} cerrar
  %h3 Buscar ventas
  =form_tag "/incomes", :method => 'get' do
    =hidden_field_tag "search_div_id", "search_incomes"
    .input
      %label Cliente o Nº de referencia
      =text_field_tag 'search', params[:search], :size => 40
    .input
      %label Estado
      =select_tag "option", options_for_select(list_income_states, params[:option])
    %div
    =submit_tag 'Buscar'

= link_to "Buscar", "#search_income", :class => 'search'

= paginate @incomes

%table{ :class => 'decorated nwl' }
  %thead
    %tr
      %th.tip{:title => 'Estado'} Est.
      %th.tip{ :title => 'Número de referencia' } Nº Ref.
      %th Cliente
      %th Vence el
      %th Total<br/>#{currency_symbol}
      %th Saldo<br/>#{currency_symbol}
      %th.tip{:title => 'Saldo Inventario'} Saldo<br/>Inv. #{currency_symbol}
      %th.tip{:title => 'Moneda'} Mon.
      %th.tip{:title => "Contado Crédito"} Tipo
      %th Fecha Hora
      %th

  %tbody
    -  @incomes.each do |income|
      %tr{ :class => cycle(:odd, :even) }
        %td 
          %span{:class => "#{income.real_state} tip", :title => income.show_state}
        %td= link_to income.ref_number, income, :class => 'b'
        %td= income.account
        %td= lo income.payment_date unless income.paid?
        %td.cur= ntc exchange(income, :real_total, @currency_rates)
        %td.cur= ntc exchange(income, :balance, @currency_rates)
        %td.cur= ntc income.balance_inventory
        %td <span>#{income.currency_symbol}</span>
        %td= cash_credit(income.cash)
        %td.nw= lo income.created_at
        %td.actions
          = bonsai_links(income) if income.draft?

