- content_for :links do
  %ul.breadcrumbs.span6
    %li
      %span Ingresos


%header
  .row-fluid
    .span6
      %h1 Ingresos
    .span6.links
      %a#quick-income-link.btn.btn-primary(href="javascript:;")
        %i.icon-plus-sign
        Ingreso rápido

      = link_to new_income_path, class: 'btn btn-primary' do
        %i.icon-plus-sign
        Nuevo ingreso

.row-fluid
  = render 'incomes/quick_income'

= paginate @incomes.page(@page)

.row-fluid.dismiss
  .span4
    =render 'users/user_changes_labels'
%ul.unstyled.listing
  - @incomes.each do |income|
    - income = present income
    %li.row-fluid
      .span4
        %h4
          = link_to income, income
        = income_state_tag income
        %i= l income.date
        .clear-both

        = income.creator_label
        = income.approver_label
        = income.nuller_label
      .span3
        %h5(title='Contacto' rel='tooltip')
          = income.contact
        .clear-both
        = income.payment_date.html_safe
      .span4
        .span2
          .muted Total
        .span4
          = currency_label income.currency
          = ntc income.total

        .span2
          .muted Saldo
        .span4
          = currency_label income.currency
          = ntc income.balance
      .span1
        = link_to icon_edit, edit_income_path(income), class: 'dark'
