- content_for :links do
  %ul.breadcrumbs.span6
    %li
      %span Ingresos


%input(type='text' id='searchTest' size="40")

:coffeescript
  $('#searchTest').autocomplete( source: '/items/search_income' )
  $('#searchTest').data('uiAutocomplete')._renderItem = (ul, item) ->
    $('<li>').html('<a>' + item.name + ' <span class="label label-inverse">' + item.code + '</span></a>').appendTo(ul)


.row-fluid
  .span6
    %h1 Ingresos
  .span6.r
    %a#quick-income-link.btn(href="javascript:;")
      %i.icon-bolt
      Ingreso rápido

    = link_to new_income_path, class: 'btn' do
      %i.icon-plus-sign
      Nuevo ingreso

.row-fluid
  = render 'incomes/quick_income'

= paginate @incomes.page(@page)

%ul.unstyled.listing
  %li.row-fluid
    .span4.offset7
      .span6.r.b.muted
        Total
      .span6.r.b.muted
        Saldo
  - @incomes.each do |income|
    - income = present income
    %li.row-fluid
      .span4
        %h4
          = link_to income, income
        = income.has_error_label
        %h5
          %i.icon-user(title="Contacto" rel='tooltip')
          = income.contact
        .clear-both
        = income.state_tag
        %i= l income.date
      .span3
        = income.due_date_tag
        .clear-both
        = income.creator_label
        = income.approver_label
        = income.nuller_label
      .span4
        .span6.r
          = ntc income.total
          = currency_label income.currency

        .span6.r
          = ntc income.balance
          = currency_label income.currency
      .span1.r
        = link_to icon_edit, edit_income_path(income), class: 'dark'
