- content_for :links do
  %ul.breadcrumbs.span6
    %li
      %span Ingresos


.row-fluid
  .span6
    %h1 Ingresos
  .span6.r
    .btn-group
      = link_to export_incomes_path, class: 'btn' do
        %i.icon-download-alt
        Exportar

      %a#quick-income-link.btn(href="javascript:;")
        %i.icon-bolt
        Ingreso rápido

      = link_to new_income_path, class: 'btn' do
        %i.icon-plus-sign
        Nuevo ingreso

.row-fluid
  .span6
    = render 'incomes/search'

.row-fluid
  = render 'incomes/quick_income'

= paginate @incomes.page(@page)

%ul.unstyled.listing
  %li.row-fluid
    .span4.offset7
      .span6.r.b.muted
        Total
      .span6.r.b.muted
        Saldo
  = render @incomes
