- content_for :links do
  %ul.breadcrumbs.span6
    %li
      = link_to "Ingresos", incomes_path
    %li
      %i.icon-caret-right
    %li
      = @income

  .links.span6.r
    = link_to 'Nuevo', new_income_path
    = link_to 'Editar', edit_income_path(@income)
    = link_to 'Borrar', @income, method: 'delete'

%header
  .row-fluid
    .span6
      %h1.n
        = @income
        = income_state_tag @income
        %small= link_to @income.contact, @income.contact
    .span6
      - if @income.is_draft?
        = form_for @income, url: approve_income_path(@income) do |f|
          = f.submit 'Aprobar Ingreso', class: 'b btn btn-success'

.row
  .span2.well.well-small
    %h3 Total
    %h4
      = ntc @income.total
      = @income.currency

  .span2.well.well-small
    %h3 Saldo
    %h4
      = ntc @income.balance
      = @income.currency

#tabs
  %ul
    %li
      %a(href="#information" id="tab_info") Información
    %li
      %a(href="#payments") Cobros
    %li
      %a(href="#inventory") Entregas inventario

  #information
    = render "incomes/items", income: @income
  #payments
    %h2 Cobros

    = render 'incomes/payment_form', income: @income if @income.balance?

    .row-fluid
      .span4.offset8
        %span.label.label-inverse Creado por
        %span.label.label-success Aprobado por
        %span.label Anulado por

    %ul.unstyled.listing
      - @income.payments.each do |payment|
        %li.row-fluid
          .span4
            %h4
              = payment.conciliated.html_safe

              = link_to payment, payment
              %small=l payment.date.to_date

          .span4
            %span.muted Monto
            = ntc payment.amount
            = currency_label payment.currency

          .span3
            = payment.creator_label.html_safe
            = payment.approver_label.html_safe
            = payment.nuller_label.html_safe

:coffeescript
  $( ->
    $('#tabs').tabs()
  )
