- content_for :links do
  %ul.breadcrumbs.span6
    %li
      = link_to "Ingresos", incomes_path
    %li
      %i.icon-caret-right
    %li
      = @income

  .links.span6.r
    = link_to 'Nuevo', new_income_path
    = link_to 'Editar', edit_income_path(@income)
    = link_to 'Borrar', @income, method: 'delete'

%header
  - if @income.has_error
    .allowed-errors
      %h3 Existen errores que debe corregir!
      %ul
        - @income.error_messages.each do |k, arr|
          - arr.each do |v|
            %li
              %h5.n= I18n.t("allowed_errors.#{v}")


  .row-fluid
    .span6
      %h1.n
        = @income.state_tag
        %small= link_to @income.contact, @income.contact

      = render_if @income.payment_date do
        %h4.n
          = @income.payment_date_tag

    .span6
      - if @income.is_draft?
        = form_for @income, url: approve_income_path(@income) do |f|
          = f.submit 'Aprobar Ingreso', class: 'b btn btn-success'

.row
  .span2.well.well-small
    %h3 Total
    %h4
      = ntc @income.total
      = @income.currency

  .span2.well.well-small
    %h3 Saldo
    %h4
      = ntc @income.balance
      = @income.currency

#tabs
  %ul
    %li
      %a(href="#information" id="tab_info") Información
    %li
      %a(href="#payments") Cobros
    %li
      %a(href="#inventory") Entregas inventario

  #information
    = render "incomes/items", income: @income
  #payments

    %a.btn.btn-primary(id='payment-link' href='javascript:;')
      %i.icon-plus-sign
      Cobrar

    %a.btn.btn-primary(id='devolution-link' href='javascript:;')
      %i.icon-minus-sign
      Devolver

    #payment-form(style='display: none')
      %h3 Cobrar ingreso
      = render 'incomes/payment_form', income: @income if @income.is_approved?

    #devolution-form(style='display: none')
      %h3 Devolución
      = render 'incomes/devolution_form', income: @income unless @income.is_draft?

    %h2 Cobros y devoluciones

    .row-fluid
      .span4.offset8
        %span.label.label-inverse Creado por
        %span.label.label-success Aprobado por
        %span.label Anulado por

    %ul.unstyled.listing
      = render partial: 'account_ledgers/income', collection: @income.payments,as: :ledger

    %h2 Intereses

    %ul.unstyled.listing
      = render partial: 'account_ledgers/income', collection: @income.interests,as: :ledger

:coffeescript
  $( ->
    $('#tabs').tabs()
    $('#payment-link').click( -> 
      $('#payment-form').show('slow')
      $(this).hide('slow')
    )

    $('#devolution-link').click( -> 
      $('#devolution-form').show('slow')
      $(this).hide('slow')
    )
  )
