- content_for :links do
  %ul.breadcrumbs.span6
    %li
      = link_to "Ingresos", incomes_path

%header
  - if @income.has_error
    .alert.alert-error
      %h4 Existen errores que debe corregir!
      %ul
        - @income.error_messages.each do |k, arr|
          - arr.each do |v|
            %li
              %h5.n.devolution-error= I18n.t("allowed_errors.#{v}").html_safe

.row-fluid
  .span7
    %h1.ib
      %strong(title='Código ingreso, Ingreso-Año-Número' data-toggle='tooltip')= @income
      %small(title='Estado' data-toggle='tooltip')= @income.state_tag

    %h4.ib.n
      = link_to @income.contact, @income.contact, title: 'Contacto', data: { toggle: 'tooltip' }

    .clearfix
    %h5.n.ib
      %span.muted Fecha:
      %i= lo @income.date
      = render_if @income.due_date do
        = @income.due_date_tag

      = @income.updater_label

      = @income.creator_label

      = @income.approver_label

      = @income.nuller_label

  .span5.r
    -# Approve form
    - if @income.is_draft?
      = form_for @income, url: approve_income_path(@income), html: {class: 'ib'} do |f|
        = f.submit 'Aprobar', class: 'b btn btn-success'
    -# Null form
    - if @income.can_null?
      = form_for @income, url: null_income_path(@income), html: {class: 'ib', id: 'null-income-form'} do |f|
        = f.submit 'Anular', class: 'b btn btn-danger'
    .btn-group
      = link_to income_path(@income.id, format: 'print'), class: 'btn' do
        %i.icon-print
        Imprimir

      = link_to income_path(@income.id, format: 'pdf'), class: 'btn' do
        = image_tag 'pdf.png'
        PDF

      = link_to icon_edit_text, edit_income_path(@income.id), class: 'btn' unless @income.is_nulled?

.row-fluid
  .span6
    .moneybox
      %label TOTAL
      %h5.n
        = ntc @income.total
        = currency_label @income.currency

    .moneybox
      %label SALDO
      %h5.n
        %span#balance(data-amount="#{@income.balance}")= ntc @income.balance
        = currency_label @income.currency

    - unless OrganisationSession.currency === @income.currency
      .clearfix
      %span.muted
        %i.icon-exchange
        Tipo de cambio:
      1
      = currency_label @income.currency
      \=
      = ntc @income.exchange_rate, precision: 4
      = currency_label

  .span6
    -#%span.muted Proyecto:
    -#= link_to @income.project, @income.project if @income.project
    .clearfix
    %i.icon-file.muted(data-toggle='tooltip' title='Descripción')
    = @income.description


%h2.n
  Items

= render "incomes/items", income: @income

- unless @income.is_draft?
  .row-fluid
    -# Ledgers
    .span6.well.well-small.bg-white
      = render 'ledger_details', income: @income

    -# Inventory
    .span6.well.well-small.bg-white
      = render 'inventory_details', income: @income

.row-fluid
  .span6.well.well-small.bg-white
    %h3.n
      Historial

    %ul.unstyled.listing
      = render partial: 'histories/history', collection: present(@income.histories, IncomeHistoryPresenter), as: :history


-#Tours
= render 'incomes/tour_devolution'

:javascript
  $( function() {
    // null income
    $('#null-income-form').submit(function(event) {
      if(confirm('Esta segur@ de anular el Ingreso?')) {
        return true;
      }else{
        return false;
      }
    })
  });
