- content_for :links do
  %ul.breadcrumps.span6
    %li #{link_to "Ingresos", incomes_path}
    %li
      %span #{@income}

  .links.span6
    = link_to 'Nueva', new_income_path
    = link_to 'Editar', edit_income_path(@income)
    = link_to 'Borrar', @income, method: 'delete'

#tabs
  %ul
    %li
      %a(href="#information" id="tab_info") Información
    %li
      %a(href="#payments") Cobros
    %li
      %a(href="#inventory") Entregas inventario

  #information
    = render "incomes/items", income: @income
  #payments
    %h2 Cobros
    = render "payments/form"

:coffeescript
  $( ->
    $('#tabs').tabs()
  )
