%p.links._50.fl
  - if @income.draft?
    = link_to 'Editar', edit_income_path(@income), :class => 'edit'
  = link_to 'Lista', incomes_path, :class => 'list'
.clear
%span.b#income_state{:class => @income.real_state, :style => 'font-size:1.3em'}= @income.show_state
.clear
  
%h1._50.fl #{note_title(@income)} de venta (<span id="cash_credit_title">#{cash_credit @income.cash}</span>)

- payment_action, pay_plan_action = @income.state == "paid" ? ["Ver", "Ver"] : ["Realizar", "Planificar"]

- if @income.show_payments?
  = link_to("#{payment_action} cobros", "#payments", :class => 'fl', :style => 'margin:15px 15px 0px 0px', :id => 'payment_anchor', :class => 'money')
  &nbsp;&nbsp;

= link_to "#{pay_plan_action} crédito", "#pay_plans", :class => 'fl', :style => 'margin-top:16px', :id => 'pay_plan_anchor', :class => 'calendar' if @income.show_pay_plans?
.clear



._50.fl
  = link_to "Email","", :class => 'email'
  &nbsp;&nbsp;
  = link_to "Imprimir","", :class => 'print'
._50.fl.r
  / FORM to null income
  - if @income.draft?
    = simple_form_for @income, :url => aprove_income_path(@income) do |f|
      .submit
        =f.submit "Aprobar", :class => 'dark_green', :id => 'income_aprove_button'
  - elsif not @income.paid?
    = simple_form_for @income, :url => null_income_path(@income) do |f|
      .submit
        =f.submit "Anular", :class => 'red', :id => 'income_null_button'

.clear

.main{:style => 'font-size:1.2em;'}
  .input
    .input.b{:style => 'font-size:1.2em' }= @income.ref_number
    .input= lo @income.date
  .input
    .input._100= link_to @income.contact, "#", :title => "Historial cliente"
  .clear

.show
  .clear
  .input
    - if @income.project_id
      %label Proyecto
      = @income.project
  .input
    %label Moneda/Tipo de cambio
    - unless @income.currency_id == @currency.id
      1 #{@income.currency.name} = <span class="b">#{@income.currency_exchange_rate}</span> #{@currency.name.pluralize}
    - else
      = @income.currency.name
  .clear
  .input
    .input
      - if @income.discount > 0
        %label Descuento (%)
        .b= "#{ ntc @income.discount }%"
    .input
      - unless @income.bill_number.blank?
        %label Nº de Factura
        = @income.bill_number
  .input
    %label Impuestos (%)
    .b= "#{ntc @income.tax_percent}%"
    %ul
      - @income.taxes.each do |t|
        %li= t

  .clear
  .input
    - unless @income.description.blank?
      %label Descripción
      =@income.description
  .clear

= render 'items', :income => @income

.clear
=render "/payments/payments", :klass => @income, :pay_type => 'cobro' if @income.show_payments?
.clear
=render "/pay_plans/pay_plans", :klass => @income, :pay_type => 'cobro' if @income.show_pay_plans?

:javascript
  $(function () {
    $('#pay_plan_anchor').click(function() { $('#pay_plans').mark(); });
    $('#payment_anchor').click(function() { $('#payments').mark(); });

    if(!#{@income.paid?} && #{@income.cash}) {
      $('#new_payment_link').trigger('click');
    }
    /**
    * Updates the status for a transaction (Income, Buy, Expense)
    * @params Object data
    */
    updateTransactionPayPlanStatus = function(data, url) {
    }
    // Deleted data
    $('body').live("ajax:delete pay_plan", function() {
      if( $('#pay_plans_table tr[id]').length > 0 ) {
        $('#cash_credit_title').html('a crédito');
      }else{
        $('#cash_credit_title').html('al contado');
      }
    }).live('payments',function(e, resp) {
      // Calculates the total for AJAX events
      $('#items_table #total_payments').html("-" + _b.ntc(resp.amount));
      var balance = $('#items_table #total_value').data('val') - resp.amount;
      $('#items_table #balance').html(_b.ntc(balance) );
    }).live('transaction_paid', function(e, value) {
      if(value) {
        $('#payment_anchor').html('Ver cobros');
        $('#pay_plan_anchor').html('Ver crédito');
        $('#income_state').html('Pagado').attr('class', '').addClass('b paid');
      }else {
        $('#payment_anchor').html('Realizar cobros');
        $('#pay_plan_anchor').html('Planificar crédito');
      }
    });
  });
