- content_for :links do
  %ul.breadcrumbs.span6
    %li
      = link_to "Ingresos", incomes_path
    %li
      %i.icon-caret-right
    %li
      = @income

%header
  - if @income.has_error
    .allowed-errors
      %h3 Existen errores que debe corregir!
      %ul
        - @income.error_messages.each do |k, arr|
          - arr.each do |v|
            %li
              %h5.n.devolution-error= I18n.t("allowed_errors.#{v}").html_safe

.row-fluid
  .span8
    %h1
      = @income
      = @income.state_tag

      %small
        = link_to @income.contact do
          %i.icon-user
          =@income.contact

    = render_if @income.due_date do
      %h4.n
        = @income.due_date_tag

  .span4.r
    = link_to icon_new_text, new_income_path, class: 'btn'
    = link_to icon_edit_text, edit_income_path(@income.id), class: 'btn'

.row-fluid
  .span6.offset6
    - if @income.is_draft?
      = form_for @income, url: approve_income_path(@income) do |f|
        = f.submit 'Aprobar Ingreso', class: 'b btn btn-success'

.row-fluid
  .moneybox
    %label TOTAL
    %h4
      = ntc @income.total
      = currency_label @income.currency

  .moneybox
    %label SALDO
    %h4
      = ntc @income.balance
      = currency_label @income.currency

= render 'incomes/tour/devolution'

#tabs
  %ul
    %li
      %a(href="#information" id="tab_info") Información
    %li.payment-li
      %a.payments-tab(href="#payments") Cobros
    -#%li
      %a(href="#inventory") Entregas inventario

  #information
    = render "incomes/items", income: @income
  #payments

    %a.btn.btn-primary(id='payment-link' href='javascript:;')
      %i.icon-plus-sign
      Cobrar

    %a.btn.btn-primary(id='devolution-link' href='javascript:;')
      %i.icon-minus-sign
      Devolver

    #payment-form(style='display: none')
      %h3 Cobrar ingreso
      = render 'incomes/payment_form', income: @income if @income.is_approved?

    #devolution-form(style='display: none')
      %h3 Devolución
      = render 'incomes/devolution_form', income: @income unless @income.is_draft?

    %h2 Cobros y devoluciones

    %ul.unstyled.listing
      = render partial: 'account_ledgers/income', collection: @income.payments_devolutions,as: :ledger

    %h2 Intereses

    %ul.unstyled.listing
      = render partial: 'account_ledgers/income', collection: @income.interests,as: :ledger

:coffee
  $( ->
    $('#tabs').tabs()
    # Payment show hide
    $('#payment-link').click( -> 
      $('#payment-form').show('slow')
      $(this).hide('slow')
    )
    $('#cancel-payment-link').click( ->
      $('#payment-form').hide('slow')
      $('#payment-link').show('slow')
    )

    # Devolution show hide
    $('#devolution-link').click( -> 
      $('#devolution-form').show('slow')
      $(this).hide('slow')
    )
    $('#cancel-devolution-link').click( -> 
      $('#devolution-form').hide('slow')
      $('#devolution-link').show('slow')
    )
  )
