- content_for :links do
  %ul.breadcrumbs.span6
    %li
      = link_to "Ingresos", incomes_path
    %li
      %i.icon-caret-right
    %li
      = @income

%header
  - if @income.has_error
    .alert.alert-error
      %h4 Existen errores que debe corregir!
      %ul
        - @income.error_messages.each do |k, arr|
          - arr.each do |v|
            %li
              %h5.n.devolution-error= I18n.t("allowed_errors.#{v}").html_safe

.row-fluid
  .span7
    %h1.ib
      = @income
      %small= @income.state_tag

    %h4.ib.n
      = link_to @income.contact, @income.contact

    %h5.n.ib
      %span.muted Fecha:
      %i= lo @income.date
      = render_if @income.due_date do
        = @income.due_date_tag

      = @income.updater_label

      = @income.creator_label

      = @income.approver_label

      = @income.nuller_label

  .span5.r
    -# Approve form
    - if @income.is_draft?
      = form_for @income, url: approve_income_path(@income), html: {class: 'ib'} do |f|
        = f.submit 'Aprobar', class: 'b btn btn-success'
    -# Null form
    - if @income.can_null?
      = form_for @income, url: null_income_path(@income), html: {class: 'ib'} do |f|
        = f.submit 'Anular', class: 'b btn btn-danger'

    = link_to icon_new_text, new_income_path, class: 'btn'
    = link_to icon_edit_text, edit_income_path(@income.id), class: 'btn' unless @income.is_nulled?

.row-fluid
  .span6
    .moneybox
      %label TOTAL
      %h5.n
        = ntc @income.total
        = currency_label @income.currency

    .moneybox
      %label SALDO
      %h5.n
        = ntc @income.balance
        = currency_label @income.currency

  .span6
    %span.muted Proyecto:
    = link_to @income.project, @income.project if @income.project
    .clearfix
    %i.icon-file-alt(data-toggle='tooltip' title='Descripción')
    = @income.description



%hr

%ul#tabs.nav.nav-pills.fs150
  %li
    %a.payment-link-tab(href='#payments' data-toggle='tab') Cobros

  %li
    %a.item-link-tab(href='#items' data-toggle='tab')
      Items
      = @income.inventory_tag

  - if @income.enable_disable_inventory?
    %li
      = link_to inventory_income_path(@income.id, no_inventory: @income.enable_disable_inventory_val), method: 'put', class: 'no-tab' do
        %span.fs70
          &nbsp;&nbsp;
          = @income.enable_disable_inventory_text_tag


.tab-content
  #items.tab-pane.fade
    %h2.n
      Items

    .item-buttons= render 'inventory_buttons', income: @income  if @income.show_inventory_buttons?
    %hr

    = render "incomes/items", income: @income

  #payments.tab-pane.fade
    %h2.n Cobros y devoluciones
    = @income.pendent_conciliations

    .payment-buttons
      - if @income.can_pay?
        %a.btn.btn-success(id='payment-link' href='javascript:;')
          %i.icon-plus-sign
          Cobrar

      - if @income.can_devolution?
        %a.btn.btn-danger(id='devolution-link' href='javascript:;')
          %i.icon-minus-sign
          Devolución


    #payment-form(style='display: none')
      %hr
      %h3 Cobro
      = render 'incomes/payment_form', income: @income  if @income.can_pay?

    #devolution-form(style='display: none')
      %hr
      %h3 Devolución
      = render 'incomes/devolution_form', income: @income  if @income.can_devolution?

    %ul.unstyled.listing(style="margin-top: 0px")
      %li.row-fluid
        .span7.offset3.r.muted
          %strong Cantidad

      = render partial: 'account_ledgers/movement', collection: @income.payments, as: :ledger

-#Tours
= render 'incomes/tour_devolution'

:javascript
  $( function() {
    $('#tabs a:first').tab('show');

    // Payment show hide
    $('#payment-link').click( function() {
      $('#payment-form').show('fast')
      $('.payment-buttons').hide('fast');
    })
    $('body').on('click', '#cancel-payment-link', function() {
      $('#payment-form').hide('fast');
      $('.payment-buttons').show('fast');
    });

    // Devolution show hide
    $('#devolution-link').click( function() {
      $('#devolution-form').show('fast');
      $('.payment-buttons').hide('fast');
    })
    $('body').on('click', '#cancel-devolution-link', function() { 
      $('#devolution-form').hide('fast');
      $('.payment-buttons').show('fast');
    });
  });
