- content_for :links do
  %ul.breadcrumbs.span6
    %li
      = link_to "Ingresos", incomes_path

- if @income.has_error
  .alert.alert-error
    %h4 Existen errores que debe corregir!
    %ul
      - @income.error_messages.each do |k, arr|
        - arr.each do |v|
          %li
            %h5.n.devolution-error= I18n.t("allowed_errors.#{v}").html_safe

.row-fluid
  .span6
    %h1.ib
      %strong(title='Código ingreso, Ingreso-Año-Número' data-toggle='tooltip')= @income
      %small.state(title='Estado' data-toggle='tooltip')= @income.state_tag

    %h4.ib
      = link_to @income.contact, @income.contact, title: 'Contacto', data: { toggle: 'tooltip' }

    .clearfix
    %tagsfor(tag_ids="#{@income.tag_ids}" id="#{@income.id}")

    %h5.n.ib
      %span.muted Fecha:
      %i= lo @income.date
      = render_if @income.due_date do
        = @income.due_date_tag

      = @income.updater_label

      = @income.creator_label

      = @income.approver_label

      = @income.nuller_label

  .span6.r.buttons
    %input.row-check.hidden(type='checkbox' id="#{@income.id}" checked='checked')
    %tags(model='Income' hide-filter='true' tag-ids='false')

    -# Approve form
    - if @income.is_draft?
      = link_to 'Aprobar', approve_income_path(@income), method: :patch, class: 'btn btn-success b'
    -# Null form
    - if @income.can_null?
      = link_to 'Anular', null_income_path(@income), method: :patch, class: 'btn btn-danger b', data: { confirm: 'Esta segur@ de anular' }

    .btn-group
      = link_to icon_edit_text, edit_income_path(@income.id), class: 'btn' unless @income.is_nulled?

      = link_to income_path(@income.id, format: 'pdf'), class: 'btn' do
        %i.icon-pdf
        PDF

      = link_to income_path(@income.id, format: 'print'), class: 'btn' do
        %i.icon-print
        Imprimir

.row-fluid
  .span6
    .moneybox
      %label TOTAL
      %h5.n
        %span.total= ntc @income.total
        = currency_label @income.currency

    .moneybox
      %label SALDO
      %h5.n
        %span#balance(data-amount="#{@income.balance}")= ntc @income.balance
        = currency_label @income.currency

    - unless OrganisationSession.currency === @income.currency
      .clearfix
      %span.muted
        %i.icon-exchange
        Tipo de cambio:
      1
      = currency_label @income.currency
      \=
      = ntc @income.exchange_rate, precision: 4
      = currency_label

  .span6
    -#%span.muted Proyecto:
    -#= link_to @income.project, @income.project if @income.project
    .clearfix
    %i.icon-file.muted(data-toggle='tooltip' title='Descripción')
    = @income.description


%h2
  Items

= render "incomes/items", income: @income

- unless @income.is_draft?
  .row-fluid
    -# Ledgers
    .span6.bg-white
      = render 'ledger_details', income: @income

    -# Inventory
    #inventory.span6.bg-white
      = render 'inventory_details', income: @income

.row-fluid
  .span6
    %h3
      Historial

    %ul.unstyled
      = render partial: 'histories/history', collection: present(@income.histories, IncomeHistoryPresenter), as: :history


-#Tours
= render 'incomes/tour_devolution'

:javascript
  $( function() {
    // null income
    $('#null-income-form').submit(function(event) {
      if(confirm('Esta segur@ de anular el Ingreso?')) {
        return true;
      }else{
        return false;
      }
    })
  });
