%h1._50.fl Proforma de venta (<span id="cash_credit_title">#{cash @income.cash}</span>)
= link_to "Planificar crédito", "#pay_plans", :class => 'fl', :style => 'margin-top:15px', :id => 'pay_plan_anchor'
.clear

%p.links._50.fl
  = link_to 'Editar', edit_income_path(@income), :class => 'edit'
  = link_to 'Lista', incomes_path, :class => 'list'
._50.fl.r
  - unless @income.aproved?
    = simple_form_for @income, :url => aprove_income_path(@income) do |f|
      .submit
        =f.submit "Aprobar", :class => 'bg_green'

.clear
= link_to "Email","", :class => 'email'
&nbsp;&nbsp;
= link_to "Imprimir","", :class => 'print'
.clear

.main
  .input
    .input.b{:style => 'font-size:1.2em' }= @income.ref_number
    = lo @income.date
  .input
    .input._100= link_to @income.contact, "#", :title => "Historial cliente"
  .clear

.show
  .clear
  .input
    %label Proyecto
    = @income.project
  .input
    %label Moneda
    = @income.currency
    - unless @income.currency_id == @currency.id
      <br/>
      1 #{@income.currency} = #{@income.currency_exchange_rate} #{@currency}
  .clear
  .input
    .input
      %label Descuento (%)
      .b= "#{ ntc @income.discount }%"
    .input
      %label Nº de Factura
      = @income.bill_number
  .input
    %label Impuestos (%)
    .b= "#{ntc @income.tax_percent}%"
    %ul
      - @income.taxes.each do |t|
        %li= t

  .clear
  .input
    %label Descripción
    =@income.description
  .clear

#items
  %h2.dark Items

  %table#items_table.decorated
    %thead
      %tr
        %th Item
        %th Descripción
        %th Precio <br/>unitario
        %th Cantidad
        %th Total fila
      - @income.transaction_details.each do |det|
        %tr
          %td
            <a href=":javascript" title="Inventatio" class="inventario">inv</a>
            = det.item
          %td= det.description
          %td= ntc det.price
          %td= det.quantity
          %td.total_row.r= ntc det.total

    %tr.extra
      %td{:colspan => 2}
      %td.b.r{:colspan => 2} Subtotal
      %td#subtotal.b.r= @income.gross_total
    %tr.extra
      %td{:colspan => 2}
      %td.b.r{:colspan => 2} Descuento (<span id="discount_percentage" data-val="#{@income.total_discount}">#{ntc @income.tax_percent}</span>%)
      %td#discount_total.b.r= "-#{ntc @income.total_discount}"
    %tr.extra
      %td{:colspan => 2}
      %td.b.r{:colspan => 2} Impuestos (<span id="taxes_percentage" data-val="#{@income.total_taxes}">#{ntc @income.total_taxes}</span>%)
      %td#taxes_total.b.r= ntc @income.total_taxes
    %tr.extra
      %td{:colspan => 2}
      %td.r{:colspan => 2} <h3>Total</h3>
      %td.r <h3 id="total_value">#{ntc @income.total}</h3>
    %tr.extra
      %td{:colspan => 2}
      %td.r{:colspan => 2} <h3>Saldo</h3>
      %td.r <h3 id="total_value">#{ntc @income.balance}</h3>

.clear
/=render :partial => "payments" unless @income.payment?
.clear
=render :partial => "/pay_plans/pay_plans", :locals => {:klass => @income, :pay_type => 'cobro'}

:javascript
  $(function () {
    $('#pay_plan_anchor').click(function() { $('#pay_plans').mark(); });

    /**
    * Updates the status for a transaction (Income, Buy, Expense)
    * @params Object data
    */
    updateTransactionPayPlanStatus = function(data, url) {
    }
    // Deleted data
    $('body').live("ajax:delete", function(data, url) {
      //
    });
  });
