%p.links._50.fl
  - if @income.draft?
    = link_to 'Editar', edit_income_path(@income), :class => 'edit'
  = link_to 'Lista', incomes_path, :class => 'list'
.clear
%span.b#income_state{:class => @income.real_state, :style => 'font-size:1.3em'}= @income.show_state
.clear
  
%h1._50.fl #{note_title(@income)} de venta (<span id="cash_credit_title">#{cash_credit @income.cash}</span>)

- payment_action, pay_plan_action = @income.state == "paid" ? ["Ver", "Ver"] : ["Realizar", "Planificar"]

- if @income.show_payments?
  = link_to("#{payment_action} cobros", "#payments", :class => 'fl', :style => 'margin:15px 15px 0px 0px', :id => 'payment_anchor', :class => 'money')
  &nbsp;&nbsp;

= link_to "#{pay_plan_action} crédito", "#pay_plans", :class => 'fl', :style => 'margin-top:16px', :id => 'pay_plan_anchor', :class => 'calendar' if @income.show_pay_plans?
.clear



._50.fl
  = link_to "Email","", :class => 'email'
  &nbsp;&nbsp;
  = link_to "Imprimir","", :class => 'print'
._50.fl.r
  / FORM to null income
  - if @income.draft?
    = simple_form_for @income, :url => aprove_income_path(@income) do |f|
      .submit
        =f.submit "Aprobar", :class => 'dark_green', :id => 'income_aprove_button'
  - elsif not @income.paid?
    = simple_form_for @income, :url => null_income_path(@income) do |f|
      .submit
        =f.submit "Anular", :class => 'red', :id => 'income_null_button'

.clear

.main{:style => 'font-size:1.2em;'}
  .input._40
    .input._40
      .b{:title => 'número de referencia'}= @income.ref_number
      - unless @income.bill_number.blank?
        %span.dark_grey{:style => 'font-size:85%'} Nº de Factura<br/>
        %span{:title => 'factura'}= @income.bill_number 
    .input
      = lo @income.date
      %br/
      %span.dark_grey{:style => 'font-size:85%'} Cliente<br/>
      = link_to @income.contact, "#", :title => "Historial cliente"
  .input
    .input
      - unless @income.currency_id == @currency.id
        1 #{@income.currency.name} = <span class="b">#{@income.currency_exchange_rate}</span> #{@currency.name.pluralize}
      - else
        = @income.currency.name
      - if @income.project_id
        %br/
        %span.dark_grey{:style => 'font-size:85%'} Proyecto<br/>
        = link_to @income.project, @income.project
    .input{:style => 'font-size:90%'}= @income.description unless @income.description.blank?


.clear

= render 'items', :income => @income

.clear
=render "/payments/payments", :klass => @income, :pay_type => 'cobro' if @income.show_payments?
.clear
=render "/pay_plans/pay_plans", :klass => @income, :pay_type => 'cobro' if @income.show_pay_plans?

:javascript
  $(function () {
    $('#pay_plan_anchor').click(function() { $('#pay_plans').mark(); });
    $('#payment_anchor').click(function() { $('#payments').mark(); });

    if(!#{@income.paid?} && #{@income.cash}) {
      $('#new_payment_link').trigger('click');
    }

    /**
    * Sets the state for Income
    * @param String state
    */
    function setIncomeState(state) {
      if(state == 'paid') {
        $('#payment_anchor').html('Ver cobros');
        $('#pay_plan_anchor').html('Ver crédito');
        $('#income_state').html('Pagado').attr('class', '').addClass('b paid');
      }else{
        if(state == 'due') {
          $('#income_state').attr("class", '').addClass("b " + state).html("Vencido");
        }else{
          $('#income_state').attr("class", '').addClass("b " + state).html("Aprobado");
        }
        $('#payment_anchor').html('Realizar cobros');
        $('#pay_plan_anchor').html('Planificar crédito');
      }
    }


    // Only when in edition
    if("#{@income.state}" == "draft") {
      // Deleted data
      $('body').live("del-pay_plan", function(resp) {
        try{
          if(resp.transaction_cash == true) {
            $('#cash_credit_title').html('Crédito');
          }else if(resp.transaction_cash == false){
            $('#cash_credit_title').html('Contado');
          }
        } catch(e) {}
      }).live('transaction', function(e, resp) {
        if(resp.transaction_cash) {
          $('#cash_credit_title').html("Contado");
        }else{
          $('#cash_credit_title').html("Crédito");
        }
      });
    }else {
      // When it has been aproved
      $('body').live('payments',function(e, resp) {
        // Calculates the total for AJAX events
        $('#items_table #total_payments').html("-" + _b.ntc(resp.amount));
        $('#items_table #balance').html(_b.ntc(resp.transaction_balance) );
      }).live('transaction', function(e, resp) {
        setIncomeState(resp.transaction_real_state);
      }).live('del-pay_plan', function(e, resp) {
        setIncomeState(resp.transaction_real_state);
      });
    }
  });
