%ul.tabs
  %li= link_option "Todas", 'all'
  %li= link_option "Esperando verificación #{size_or_blank(pendent)}", 'pendent'
  %li= link_option "Anuladas", 'nulled'
  %li= link_option "Verificadas", 'con'


.clear

= link_to "Buscar", "#search", :class => 'search'

= paginate ledgers

%table.decorated.nwl.nwf
  %tr
    %th 
      Fecha<br/>
      %span.tip{:title => 'Nº de cheque, razón, recibo, etc.'} Referencia
    %th Monto
    %th Cuenta relacionada
    %th Descripción
    %th 
      %span.tip{:title => "Verificado por"} (V)
      %span.tip{:title => "Anulado por"} (A)
    %th
  - ledgers.each do |al|
    %tr{:class => "#{al.in_out} #{al.active}", :id => "tr#{al.id}" }
      %td.d.check
        = link_to al, account_ledger_path(al), :class => "b #{conciliate_css(al)}"
        %span.i= lo al.created_at
        %br/
        = al.reference
      %td.cur
        = al.currency_symbol
        = ntc al.amount
      %td.cont= link_contact_ledger al, contact.account_ids
      %td.desc= al.description
      %td.rev
        = "(V) #{al.approver}" if al.approver_id.present?
        = "(A) #{al.nuller}" if al.nuller_id.present?
      %td.cur
        - if al.can_destroy?
          = link_to "borrar", al, :class => 'delete fl', :title => 'Borrar', 'data-confirm' => account_ledger_destroy_confirm_dialog(al)


