- contact = present contact
%li.row-fluid.contact(data-data="#{contact.incomes_expenses_status.to_json}")
  .span3
    .checkbox-l
      %input.row-check(type='checkbox' id="#{contact.id}")
    .checkbox-r
      %h4
        = link_to contact, contact, title: 'Nombre'
      .cleafix
      .clearfix
      = contact.email_tag
      .clearfix
      %tagsfor(tag_ids="#{contact.tag_ids}" id="#{contact.id}")
  .span4
    .span8
      = contact.tax_number_tag

      .clearfix
      = contact.address_tag
    .span4
      = contact.phone_tag
      .clearfix
      = contact.mobile_tag

  .span4
    .row-fluid.r
      .span6
        = contact.tot_in_tag
      .span6
        = contact.tot_out_tag

  .span1
    = link_to icon_edit, edit_contact_path(contact), class: 'dark'
    = link_to icon_delete, contact_path(contact), class: 'dark', method: 'delete'
