- contact = present contact
%li.row-fluid.contact(data-data="#{contact.incomes_expenses_status.to_json}")
  .span3
    %h4
      = link_to contact, contact, title: 'Identificado por'
    .cleafix
    %span(title='Nombre completo')= contact.complete_name
    .clearfix
    = contact.email_tag

  .span4
    .span8
      = contact.tax_number_tag

      .clearfix
      = contact.address_tag
    .span4
      = contact.phone_tag
      .clearfix
      = contact.mobile_tag

  .span4
    .row-fluid.r
      .span6
        = contact.tot_in_tag
      .span6
        = contact.tot_out_tag

  .span1
    = link_to icon_edit, edit_contact_path(contact), class: 'dark'
    = link_to icon_delete, contact_path(contact), class: 'dark', method: 'delete'
