<% simple_form_for(@contact) do |f| %>
  <div class="inputs fl half">
    <%= f.input :name, :label => "Nombre" %>
    <%= f.input :phone, :label => "Teléfono" %>
    <%= f.input :mobile, :label => "Móvil" %>
    <%= f.input :email, :lanel => "Email" %>
    <%= f.input :tax_number, :label => "NIT" %>
    <div class="input">
      <%= f.label :type, "Tipo" %>
      <label for="">
        <%= f.radio_button :type, Contact::TYPES.first %> Cliente
      </label>
      <label for="">
        <%= f.radio_button :type, Contact::TYPES.first %> Proveedor
      </label>

    </div>
  </div>
  <div class="inputs fl half">
    <%= f.input :address, :as => :text, :input_html => {:rows => 5}, :label => "Dirección" %>
    <%= f.input :address_alt, :as => :text, :input_html => {:rows => 5}, :label => "Dirección alternativa" %>
    <%= f.input :aditional_info, :as => :text, :input_html => {:rows => 5}, :label => "Información adicional" %>
  </div>

  <div class="actions">
    <%= f.button :submit, "Salvar" %>
  </div>
<% end %>
