= simple_form_for(@contact, html: {class: 'contact-form'}) do |f|
  = bonsai_form_error(f)
  .row-fluid
    .span6
      = f.input :matchcode,
        label: 'Nombre y/o Apellidos',
        input_html: { class: 'matchcode span11' }

    .span6
      = f.input :email, lanel: "E-mail", input_html: { class: 'span11' }


  %a.view-more(href='javascript:;') Ver mas

  .modal-more
    .row-fluid
      .span3
        = f.input :phone, label: "Teléfono", input_html: {size: 20}
      .span3
        = f.input :mobile, label: "Móvil", input_html: {size: 20}
      .span6
        = f.input :tax_number, label: 'Código tributario'
    .row-fluid
      .span6
        = f.input :address, as: :text, input_html: {rows: 3, cols: 45}, label: 'Dirección'
  .form-actions
    = f.submit 'Salvar', class: 'btn btn-primary b'

:javascript
  $( function() {
    /*
    $('body').on('focusout', '.matchcode', function(event) {
      arr = this.value.trim().split(" ");
      $('.first_name').val(arr[0]);
      arr.shift();

      $('.last_name').val( arr.join(" "));

      $('.first_name, .last_name').mark();
    });
    */
  });
