= simple_form_for(klass) do |f|
  = bonsai_form_error(f)

  = f.input :first_name, :label => "Nombres", :input_html => { :class => 'first_name', :size => 20 }, :wrapper_html => {:class => "_25"}
  = f.input :last_name, :label => "Apellidos", :input_html => { :class => 'last_name', :size => 20 }, :wrapper_html => {:class => "_25"}, :hint => "Paterno Materno"

  = f.input :matchcode, :label => "Identificador", :hint => "Ej. Juan Perez (CBN L.P.), Juan Perez (SICSA)", :input_html => { :class => 'matchcode' }
  .clear
  = f.input :organisation_name, :label => "Empresa"
  .input
    = f.input :phone, :label => "Teléfono"
    = f.input :mobile, :label => "Móvil"
  .clear
  = f.input :email, :lanel => "Email"
  = f.input :tax_number, :label => "NIT"
  .clear
  = f.input :address, :as => :text, :input_html => {:rows => 4}, :label => "Dirección"
  = f.input :aditional_info, :as => :text, :input_html => {:rows => 4}, :label => "Información adicional"
  .clear
  %div.actions
    = f.submit "Salvar"

:javascript
  $(function() {
    $('input.first_name, input.last_name').blur(function() { 
      var matchcode = $('input.first_name').val() + ' ' + $('input.last_name').val();
      $('input.matchcode').val( matchcode ); 
    });
  });
