- present klass, ContactPresenter do |presenter|
  = simple_form_for(klass) do |f|
    = bonsai_form_error(f)
    .main.bg-light-grey
      = f.input :matchcode, :label => presenter.label, :input_html => { :class => 'matchcode' }
      .clear
    .clear

    ._50.fl
      = f.input :first_name, :label => "Nombres", :input_html => { :class => 'first_name', :size => 20 }
      = f.input :last_name, :label => "Apellidos", :input_html => { :class => 'last_name', :size => 20 }

    ._50.fl
      = f.input :phone, :label => "Teléfono", :input_html => {:size => 12}
      = f.input :mobile, :label => "Móvil", :input_html => {:size => 12}
    .clear
    = f.input :email, :lanel => "Email"
    = f.input :tax_number, :label => "NIT"
    .clear
    = f.input :address, :as => :text, :input_html => {:rows => 4}, :label => "Dirección"
    = f.input :aditional_info, :as => :text, :input_html => {:rows => 4}, :label => "Información adicional"
    .clear
    %div.actions
      = f.submit "Salvar", :class => 'btn btn-success b'

