%ul.tabs
  %li= link_option "Todas", 'all'
  %li= link_option "Proformas #{size_or_blank(incomes_count.draft.size)}", 'draft'
  %li= link_option "Esperando cobro #{size_or_blank(incomes_count.approved.size)}", 'approved'
  %li= link_option "Vencidas #{size_or_blank(incomes_count.due.size)}", 'due'
  %li= link_option "Con entrega pendiente #{size_or_blank(incomes_count.inventory.size)}", 'inventory'
  %li= link_option "Cobradas", 'paid'

#search_income.search{:style => show_if_search}
  %a.close{:href => "#"} cerrar
  %h3 Buscar ventas
  =form_tag "/incomes", :method => 'get' do
    =hidden_field_tag "search_div_id", "search_incomes"
    .input
      %label Cliente o Nº de referencia
      =text_field_tag 'search', params[:search], :size => 40
    .input
      %label Estado
      =select_tag "option", options_for_select(list_income_states, params[:option])
    %div
    =submit_tag 'Buscar', :class => 'btn btn-success'

= link_to "Buscar", "#search_income", :class => 'search'

= paginate incomes

%table{ :class => 'decorated nwl' }
  %thead
    %tr
      %th.tip{:title => 'Estado'} Est.
      %th.tip{ :title => 'Número de referencia' } Nº Ref.
      %th Vence el
      %th Total<br/>#{currency_symbol}
      %th Saldo<br/>#{currency_symbol}
      %th.tip{:title => "Contado Crédito"} Tipo
      %th Fecha
      %th

  %tbody
    -  incomes.each do |income|
      %tr{ :class => cycle(:odd, :even) }
        %td 
          %span.bicon.pill{:class => "#{income.real_state}", :title => income.show_state}
        %td= link_to income.ref_number, income, :class => 'b'
        %td= lo income.due_date unless income.paid?
        %td.cur #{income.currency_symbol} #{ntc income.total }
        %td.cur #{income.currency_symbol} #{ntc income.balance }
        %td= cash_credit(income.cash)
        %td.nw= lo income.date
        %td.actions
          = bonsai_links(income) if income.draft?

