%li.row-fluid(id="#{income.id}")
  .span4.income-detail
    .fl
      %h4.ib
        = link_to income do
          %span(title='Código ingreso')= income
          = income.has_error_label
      %i.icon-plus.green
      Ingreso
      .clearfix
      %span(title='estado')= income.state_tag
      %i= l income.date
      - if income.tax
        %strong.gray
          \-
          = income.tax_tag

      = income.inventory_tag

      %ul.btags(data-tag_ids="#{income.tag_ids}")

  .span4
    = income.updater_label
    = income.creator_label
    = income.approver_label
    = income.nuller_label

    = income.due_date_tag

    .clear-both
    %i(class='icon-file muted' title='Descripción')
    = income.description

  .span3
    .span6.r
      %span.visible-phone.ib.muted Total
      = ntc income.total
      = currency_label income.currency

    .span6.r
      %span.visible-phone.ib.muted Saldo
      = ntc income.balance
      = currency_label income.currency
  .span1.r
    = link_to icon_edit, edit_income_path(income.id), class: 'dark' unless income.is_nulled?

