%table.nwf.nwl.table.table-striped
  %tr
    %th Identificador/Nombre
    %th Dirección
    %th Teléfono
    %th Móvil
    %th Email
    %th NIT
    %th

  - list.each do |klass|
    %tr
      %td
        = link_to klass, klass, :class => 'b'
        %br
        = klass.complete_name
      %td= nl2br klass.address
      %td= klass.phone
      %td= klass.mobile
      %td= mail_to klass.email
      %td= klass.tax_number
      %td= bonsai_links(klass)

