%li.row-fluid
  .span4
    %h4.ib
      = link_to loan, loan_path(loan.id)

    = loan.loan_type_tag
    .clearfix
    = lo loan.date
    %strong(title='Estado')= loan.state_tag
  .span4
    = loan.creator_label
    = loan.updater_label
    = loan.due_date_tag
    .clearfix
    %i.icon-file.muted(title='Descripción')
    = loan.description
  .span3
    .span6.r
      = ntc loan.total
      = currency_label loan.currency
    .span6.r
      = ntc loan.amount
      = currency_label loan.currency
      -#.span4
        %span.muted INTERESES
        = ntc loan.interests
        = currency_label loan.currency

