<a href="#contact_data" class="more_info">Ocultar información</a>
.clear
#contact_data
  .row
    .span3
      %label Nombres
      = klass.first_name
    .span3
      %label Apellidos
      = klass.last_name
    .span3
      %label Empresa
      .b= klass.organisation_name
  .row
    .span3
      %label Teléfono
      = klass.phone
    .span3
      %label Móvil
      = klass.mobile
    .span3
      %label Email
      = mail_to klass.email, klass.email unless klass.email.blank?
  .row
    .span3
      %label NIT
      = klass.tax_number
    .span3
      %label Dirección
      = nl2br(klass.address)
    .span3
      %label Información adicional
      = nl2br(klass.aditional_info)

