- content_for :links do
  %ul.breadcrumbs.span6
    %li
      =link_to 'Contactos', contacts_path


.row-fluid
  .span6
    %h1 Contactos
  .span6.r
    = link_to 'Exportar', contacts_path(format: 'xls'), class: 'btn'

    %tags(model='Contact' tag-ids='#{ tag_ids }' url='#{ contacts_path }')
    = link_to icon_new_text, new_contact_path, class: 'btn'

= render 'search'

- paginate_html = paginate(@contacts)

= paginate_html

%ul.unstyled.listing.has-row-check
  = render @contacts

= paginate_html
