<h1>Contactos</h1>

<%= link_to "Nuevo contacto", new_contact_path, :class => 'new' %>

<table class="decorated">
  <tr>
    <tr>
    	<th>Nombre</th>
    	<th>Dirección</th>
    	<th>Teléfono</th>
    	<th>Móvil</th>
    	<th>Email</th>
    	<th>NIT</th>
    </tr>
  </tr>

<% @contacts.each do |contact| %>
  <tr>
    <td><%= link_to contact.name, contact %></td>
    <td><%= contact.address %></td>
    <td><%= contact.phone %></td>
    <td><%= contact.mobile %></td>
    <td><%= contact.email %></td>
    <td><%= contact.tax_number %></td>
    <td>
      <%= raw bonsai_links(contact) %>
    </td>
  </tr>
<% end %>
</table>

<br />

