%h1= contact_type params[:option]

%p.links= link_to "Nuevo contacto", new_contact_path, :class => 'new'

%p.hint
  - if params[:option] == 'clients'
    Un contacto se convierte en <strong>Cliente</strong> cuando se aprueba una 
    =link_to "venta", incomes_path
  -elsif params[:option] == 'suppliers'
    Un contacto se convierte en <strong>Proveedor</strong> cuando se aprueba una 
    = link_to "compra", "/buys"
    o 
    = link_to "gasto", "/expenses"

= paginate(@contacts)

%ul.tabs
  %li= link_tab "Todos", contacts_path, "all"
  %li= link_tab "Clientes", "/contacts", "clients"
  %li= link_tab "Proveedores", "/contacts", "suppliers"

%table{ :class => "decorated nwf nwl" }
  %tr
    %th Nombre
    %th Dirección
    %th Teléfono
    %th Móvil
    %th Email
    %th NIT
    %th

  - @contacts.each do |contact|
    %tr
      %td= link_to contact.name, contact
      %td= nl2br contact.address
      %td= contact.phone
      %td= contact.mobile
      %td= mail_to contact.email
      %td= contact.tax_number
      %td= bonsai_links(contact)
