- content_for :links do
  .links= link_to "Nuevo #{contact_type(params[:option], false)}", new_contact_path, :class => 'new'

%h1= contact_type params[:option]

= paginate(@contacts)

%ul.tabs
  %li= link_tab "Todos", contacts_path, "all"
  %li= link_tab "Clientes", "/contacts", "clients"
  %li= link_tab "Proveedores", "/contacts", "suppliers"

%table{ :class => "decorated nwf nwl" }
  %tr
    %th Nombre
    %th Dirección
    %th Teléfono
    %th Móvil
    %th Email
    %th NIT
    %th

  - @contacts.each do |contact|
    %tr
      %td= link_to contact.name, contact
      %td= nl2br contact.address
      %td= contact.phone
      %td= contact.mobile
      %td= mail_to contact.email
      %td= contact.tax_number
      %td= bonsai_links(contact)
