%h1 Contactos

= link_to "Nuevo contacto", new_contact_path, :class => 'new'

%table{ :class => "decorated nwf nwl" }
  %tr
    %th Nombre
    %th Dirección
    %th Teléfono
    %th Móvil
    %th Email
    %th NIT
    %th

  - @contacts.each do |contact|
    %tr
      %td= link_to contact.name, contact
      %td= contact.address
      %td= contact.phone
      %td= contact.mobile
      %td= contact.email
      %td= contact.tax_number
      %td= bonsai_links(contact)
