- content_for :links do
  %ul.breadcrumbs.span6
    %li
      =link_to 'Contactos', contacts_path


.row-fluid
  .span6
    %h1 Contactos
  .span6.r
    = link_to icon_new_text, new_contact_path, class: 'btn'

.row-fluid
  .span6
    = render 'contacts/search'

= paginate(@contacts)

-#%ul.tabs
  %li= link_tab "Todos", contacts_path, "all"
  %li= link_tab "Clientes", "/contacts", "clients"
  %li= link_tab "Proveedores", "/contacts", "suppliers"


%ul.unstyled.listing
  =render @contacts
