- content_for :links do
  .span6 &nbsp;
  .links.span6= link_to "Nuevo #{contact_type(params[:option], false)}", new_contact_path, :class => 'new'

.page-header
  %h1 Contactos

= paginate(@contacts)

-#%ul.tabs
  %li= link_tab "Todos", contacts_path, "all"
  %li= link_tab "Clientes", "/contacts", "clients"
  %li= link_tab "Proveedores", "/contacts", "suppliers"

%table.table.table-striped
  %tr
    %th Nombre
    %th Dirección
    %th Teléfono
    %th Móvil
    %th Email
    %th NIT
    %th

  - @contacts.each do |contact|
    %tr
      %td= link_to contact, contact
      %td= nl2br contact.address
      %td= contact.phone
      %td= contact.mobile
      %td= mail_to contact.email
      %td= bonsai_links(contact)
