<div class="fl half">
  <p>
    <label for="">Nombre</label>
    <%= @contact.name %>
  </p>
  <p>
    <label for="">Teléfono</label>
    <%= @contact.phone %>
  </p>
  <p>
    <label for="">Móvil</label>
    <%= @contact.mobile %>
  </p>
  <p>
    <label for="">Tipo</label>
    <%= @contact.ctype %>
  </p>
  <p>
  	<label for="">E-mail</label>
    <%= @contact.email %>
  </p>
  <p>
    <label for="">NIT</label>
    <%= @contact.tax_number %>
  </p>
</div>
<div class="fl half">
  <p>
  	<label for="">Dirección</label>
    <%= @contact.address %>
  </p>
  <p>
  	<label for="">Dirección alternativa</label>
    <%= @contact.address_alt %>
  </p>
  <p>
  	<label for="">Información adicional</label>
    <%= @contact.aditional_info %>
  </p>

</div>

<div style="clear:both"></div>

<%= link_to 'Editar', edit_contact_path(@contact), :class => 'edit' %>
<%= link_to 'Lista', contacts_path, :class => 'list' %>
