- content_for :links do
  %ul.breadcrumbs.span6
    %li #{link_to "Contactos", contacts_path}

.row-fluid
  .span8
    %h1.n
      = @contact

  .span4.r.btn-group
    = link_to icon_new_text, new_contact_path, class: 'btn'
    = link_to icon_edit_text, edit_contact_path(@contact.id), class: 'btn'
    = link_to icon_delete_text, @contact, class: 'btn', data: { confirm: "Esta seguro de borra el contacto" }, method: :delete

.row-fluid
  .span4
    = @contact.email_tag

  .span4
    .span8
      = @contact.tax_number_tag
      .clearfix
      = nl2br @contact.address_tag
    .span4
      = @contact.phone_tag
      .clearfix
      = @contact.mobile_tag

.row-fluid
  .moneybox
    %label.b.text-success Por cobrar
    %h4.n.ib= ntc @contact.total_in
    = currency_label
  .moneybox
    %label.b.text-error Por pagar
    %h4.n.ib= ntc @contact.total_out
    = currency_label

%h3.n Operaciones

%ul.unstyled.inline
  %li
    = link_to "Todas", contact_path(@contact, operation: :all), class: param_bold_for(:operation, 'all')
  %li
    = link_to "Ingresos", contact_path(@contact, operation: :income), class: param_bold_for(:operation, 'income')
  %li
    = link_to "Egresos", contact_path(@contact, operation: :expense), class: param_bold_for(:operation, 'expense')
  %li
    = link_to "Prestamos otorgados", contact_path(@contact, operation: :loangive), class: param_bold_for(:operation, 'loangive')
  %li
    = link_to "Prestamos recibidos", contact_path(@contact, operation: :loanreceive), class: param_bold_for(:operation, 'loanreceive')


- paginate_html = paginate @contact.operations

= paginate_html

%ul.listing.unstyled(style='margin-top: 10px')
  %li.row-fluid
    .span8
    .span4
      .span6
        %strong.muted Total
      .span6
        %strong.muted Saldo

  - @contact.operations.each do |op|
    = @contact.operation_partial(op)

= paginate_html
