- content_for :links do
  %ul.breadcrumbs.span6
    %li #{link_to "Contactos", contacts_path}
    %li
      %i.icon-caret-right
    %li
      = @contact

.row-fluid
  .span8
    %h1.n
      = @contact
      %br
      %small
        = @contact.complete_name
  .span4.r.btn-group
    = link_to icon_new_text, new_contact_path, class: 'btn'
    = link_to icon_edit_text, edit_contact_path(@contact.id), class: 'btn'
    = link_to icon_delete_text, @contact, class: 'btn', confirm: "Esta seguro de borra el contacto", method: :delete

.row-fluid
  .span4
    = @contact.email_tag

  .span4
    .span8
      = @contact.tax_number_tag
      .clearfix
      = nl2br @contact.address_tag
    .span4
      = @contact.phone_tag
      .clearfix
      = @contact.mobile_tag

.row-fluid
  .span6
    .span6.well.well-small
      %label.text-success Total Ingresos
      = ntc @contact.total_incomes
      = currency_label
    .span6.well.well-small
      %label.text-error Total Egresos
      = ntc @contact.total_expenses
      = currency_label
      -#%i.icon-minus.red(title="Debemos #{currency}" data-toggle='tooltip')

.row-fluid
  %ul#contact-tabs.nav.nav-tabs
    %li
      %a.b(href='#incomes' data-toggle='tab') Ingresos
    %li
      %a.b(href='#expenses' data-toggle='tab') Egresos

  .tab-content
    #incomes.tab-pane
      %h1 Ingresos

      %ul#incomes.unstyled.listing
        %li.row-fluid
          .span4.offset7
            .span6.r.b.muted
              Total
            .span6.r.b.muted
              Saldo

        = render partial: 'incomes/income', collection: @contact.incomes.page(1).includes(:contact, transaction: [:creator, :approver, :nuller]), as: :income


      = link_to 'Ver mas', incomes_contact_path(@contact.id,  format: 'js', page_incomes: 2), remote:true, id: 'more-incomes'

    #expenses.tab-pane
      %h1 Egresos

      %ul#expenses.unstyled.listing
        %li.row-fluid
          .span4.offset7
            .span6.r.b.muted
              Total
            .span6.r.b.muted
              Saldo

        = render partial: 'expenses/expense', collection: @contact.expenses.page(1).includes(:contact, transaction: [:creator, :approver, :nuller]), as: :expense

      = link_to 'Ver mas', expenses_contact_path(@contact.id,  format: 'js', page_expenses: 2), remote:true, id: 'more-expenses'

:javascript
  $(function() {
    activeTab();
  })
