<% show_for @contact do |o| %>
<div class="fl half">
  <%= o.attribute :name %>
  <%= o.attribute :phone %>
  <%= o.attribute :mobile %>
  <%= o.attribute :type %>
  <%= o.attribute :email %>
  <%= o.attribute :tax_number %>
</div>
<div class="fl half">

  <%= o.attribute :address %>
  <%= o.attribute :address_alt %>
  <%= o.attribute :aditional_info %>
</div>
<% end %>
<div style="clear:both"></div>

<%= link_to 'Editar', edit_contact_path(@contact), :class => 'edit' %>
<%= link_to 'Lista', contacts_path, :class => 'list' %>
