- content_for :links do
  %ul.breadcrumps.span6
    %li #{link_to "Contactos", contacts_path}
    %li
      %span #{@contact}

  .links.span6
    = link_to 'Nuevo', new_contact_path
    = link_to 'Editar', edit_contact_path(@contact)
    = link_to 'Borrar', @contact, method: 'delete'

%header
  %h1= @contact

.row-fluid
  .span6
    %label Identificado
    = @contact.matchcode
  .span3
    %label Nombres
    = @contact.first_name
  .span3
    %label Apellidos
    = @contact.last_name

.row-fluid
  .span2
    %label Teléfono
    = @contact.last_name
  .span2
    %label Móbil
    = @contact.mobile
  .span2
    %label NIT
    = @contact.tax_number
  .span4
    %label Email
    = @contact.email

.row-fluid
  .span6
    %label Dirección
    = @contact.address
  .span6
    %label Información adicional
    = @contact.aditional_info
