.input
  %label Nombre
  = @contact.name
.input
  %label Código de indentificación
  = @contact.matchcode
.clear
.input
  %label Empresa
  = @contact.organisation_name
.input._25
  %label Teléfono
  = @contact.phone
.input._25
  %label Móvil
  = @contact.mobile
.clear
.input
  %label Email
  = @contact.email
.input
  %label NIT
  = @contact.tax_number
.clear
.input
  %label Dirección
  = nl2br(@contact.address)
.input
  %label Dirección alternativa
  = nl2br(@contact.address_alt)
.clear
.input
  %label Información adicional
  = nl2br(@contact.aditional_info)

