= simple_form_for(@project) do |f|
  = bonsai_form_error(f)
  = f.input :name, :label => 'Nombre',  :wrapper_html => {:class => '_50'}
  = f.input :active, :label => 'Activo', :wrapper_html => {:class => '_10'}

  = f.input :date_start, :label => 'Fecha de inicio', :include_blank => true, :wrapper_html => {:class => '_20'}
  = f.input :date_end, :label => 'Fecha de fin', :include_blank => true, :wrapper_html => {:class => '_20'}
  .clear

  .actions
    = f.submit 'Salvar'
