- content_for :links do
  %ul.breadcrumbs
    %li
      Proyectos


.row-fluid
  .span6
    %h1 Proyectos
  .span6.r
    =link_to new_project_path, class: 'btn' do
      %i.icon-plus-sign
      Nuevo proyecto, 

= paginate (@projects)

%table.table.table-striped
  %thead
    %tr
      %th Nombre
      %th Activo
      %th Fecha de inicio
      %th Fecha de finalización
      %th
  
  %tbody
    - @projects.each do |project|
      %tr
        %td= link_to(project.name, project, :class => 'b')
        %td
          %i(class="#{true_false(project.active)}")
        %td
          = lo(project.date_start)
        %td
          = lo(project.date_end)
        %td
          = link_to icon_edit, edit_project_path(project.id), class: 'dark'
          = link_to icon_delete, project, class: 'dark', method: 'delete', confirm: 'Esta segur@ de eliminar el proyecto?'
