- content_for :links do
  %ul.breadcrumbs
    %li #{link_to "Proyectos", projects_path} 

.row-fluid
  .span6
    %h1 
      %span.gray.n Proyecto:
      = @project.name

  .span6.r
    = link_to icon_edit_text, edit_project_path(@project), class: 'btn'
    = link_to icon_delete_text, @project, method: :delete, confirm: 'Esta seguro de borrar el proyecto?', class: 'btn'

.row-fluid
  .span2
    %span.muted Activo:
    %i(class="#{true_false(@project.active)}")
  .span2
    %label Fecha de inicio
    = lo @project.date_start
  .span2
    %label Fecha de fin
    = lo @project.date_end
  .span6
    %label Descripción
    = @project.description
