%h1 Proyecto #{@project.name}
%p.links
  = link_to 'Editar', edit_project_path(@project), :class => 'edit'
  = link_to 'Lista', projects_path, :class => 'list'
.clear

.input._25
  %label Activo
  %span.icon{:class => @project.active }
.input._25
  %label Fecha de inicio
  = lo @project.date_start
.input._25
  %label Fecha de fin
  = lo @project.date_end
.clear
