- content_for :links do
  %ul.breadcrumps
    %li #{link_to "Proyectos", projects_path} 

  .links
    = link_to 'Editar', edit_project_path(@project), :class => 'edit'
    = link_to 'Borrar', @project, :class => 'delete', 'data-confirm' => 'Esta seguro de borrar el proyecto?'

.page-header
  %h1 
    %span.gray.n Proyecto:
    = @project.name

.clear

.input._25
  %label Activo
  %span.icon{:class => @project.active.to_s }
.input._25
  %label Fecha de inicio
  = lo @project.date_start
.input._25
  %label Fecha de fin
  = lo @project.date_end
.clear
  %label Descripción
  = @project.description
