- content_for :links do
  %ul.breadcrumbs
    %li
      = link_to @trans.store, @trans.store


%h1
  %span.muted Nueva transferencia de
  = @store

%div(ng-controller='InventoryController')
  = simple_form_for @trans, url: inventory_transferences_path do |f|
    = hidden_field_tag :store_id, @store.id
    = f.hidden_field :store_id
    .row-fluid
      .span6
        %label De almacen
        = link_to @store, @store, target: '_blank'
      .span6
        = f.input :store_to_id, collection: @trans.stores, label: 'Transferir a alamcen'

    .row-fluid
      .span6
        = f.input :date, label: 'Fecha', as: :datepicker
      .span6
        = f.input :description, label: 'Descripción', as: :text, input_html: { rows: 3, cols: 45 }



    .row-fluid
      %input#details(data-details="#{@trans.details_serialized.to_json}" type='hidden')
      = render 'inventories/form', f: f, inventory: f.object, store_id: @store.id

    .form-actions
      = f.submit 'Transferir ítems', class: 'btn btn-primary'
