%h2 Cambio en ítems

%h4
  %span.muted Creado por
  = @history.creator
  %span.muted el
  %i= lo @history.created_at

%span.line-deleted Línea eliminada
%span.line-new Nueva línea

%ul.unstyled.listing.movement-details
  %li.header.row-fluid
    .span4
      Item
    .span2
      Precio
      = currency_label @history.currency
    .span2
      Cantidad
      %br
      Unidad de medida
    .span2
      Saldo inventario
    .span2
      Total línea
      = currency_label @history.currency

  - @history.details.each do |det|
    %li.row-fluid(class="#{det.line_change_css}")
      .span4.item
        %label.visible-phone Item
        = det.changed('item')
      .span2.r
        %label.visible-phone Precio
        .number= det.changed('price')
      .span2.r
        %label.visible-phone Cantidad
        %span.number= det.changed('quantity')
        %span.unit(title="#{det.item.unit_name}")= det.item.unit_symbol
      .span2.r
        %label.visible-phone Saldo inventario
        .number= det.changed('balance')
      .span2.r
        %label.visible-phone Total línea
        .number= det.changed('subtotal')

