
= bonsai_form_error f

%input(type='hidden' data-accounts='#{Accounts::Query.new.bank_cash_options.to_json}' id='accounts')
%input(type='hidden' ng-model='baseCurrency' value='#{currency}' initial='true')

.row-fluid
  .span6
    = f.input :contact_id, as: :autocomplete, label: 'Contacto',
      input_html: { class: 'span10', placeholder: 'Escriba para buscar el contacto',
      data: { source: '/contacts.json', new_url: new_contact_path, title: 'Nuevo contacto', trigger: 'new-contact', } }
  .span3
    = f.input :date, label: 'Fecha', as: :datepicker
  .span3
    = f.input :due_date, label: 'Vence el', as: :datepicker

.row-fluid
  .span6
    = f.input :account_to_id, label: 'Cuenta',
      input_html: { id: 'account_to_id', class: 'span10', 'ng-model' => 'account_to_id' }
  .span2
    = f.input :total, label: 'Cantidad <span class="currency"></span>'.html_safe,
      input_html: { id: 'total', type: 'number', size: 12, 'ng-model' => 'total', 'initial' => true }
  .span2
    = f.input :exchange_rate, label: 'Tipo de cambio',
      input_html: { type: 'number', size: 10,
        'ng-model' => 'exchange_rate', 'initial' => true, 'ng-disabled' => 'same_currency' }
  .span2
    .moneybox
      %label TOTAL
      %h4
        %span#currency_total {{ total * exchange_rate | decimal }}
        %span= currency_label currency

.row-fluid
  .span6
    = f.input :reference, label: 'Referencia', as: :text,
      input_html: { rows: 3, class: 'span10' }

  .span6
    = f.input :description, label: 'Descripción', as: :text,
      input_html: { rows: 3, class: 'span10' }
