= simple_form_for @loan, :url => presenter.loan_url do |f|
  .row
    .span3
      = f.input :ref_number, :label => 'Nº de referencia', :input_html => {:size => 20}
    .span3
      %label Fecha hora
      = Time.zone.now

    .span6
      = f.input :contact_id, :as => :contact, :label => false, :input_html => {:id => 'transaction_contact_id'}
  .row
    .span6
      = f.association :currency, :label => "Moneda", :input_html => {:id => 'currency_id'}
    .span6
      = f.input :total, :label => "Cantidad <span class='currency'></span>", :input_html => { :type => "decimal" }

  = f.submit "Salvar", :class => "b btn btn-success"

:javascript
  $(function() {
    $('#transaction_contact_id').contactAutocomplete(["Client", "Supplier"], {'id': 'contact_autocomplete'});

    var currencies = #{Currency.to_hash.to_json}
    function setSymbol() {
      var val = $('#currency_id').val();

      if(val) {
        $('.currency').html(currencies[val].symbol);
      }
    }
    setSymbol();

    $('#currency_id').live('change', function() { setSymbol() });


  });
