.row-fluid
  .span6
    %h1 Prestamos

  .span6.r
    .btn-group
      = link_to new_receive_loans_path, class: 'btn' do
        Recibir prestamo

      = link_to new_give_loans_path, class: 'btn' do
        Dar prestamo

.row-fluid
  .span12
    %ul.unstyled.inline
      %li
        = link_to I18n.t('controllers.loans.index.all'), loans_path, class: param_bold_for(:type, "all")
      %li
        = link_to I18n.t('controllers.loans.index.given'), loans_path(type: "give"), class: param_bold_for(:type, "give")
      %li
        = link_to I18n.t('controllers.loans.index.received'), loans_path(type: "receive"), class: param_bold_for(:type, "receive")

    = render "loans/search"


%ul.listing.unstyled
  %li.row-fluid
    .span3.offset5
      %strong.muted Intereses
    .span3
      .span6
        %strong.muted Total
      .span6
        %strong.muted Saldo

  = render partial: 'loan', collection: present(@loans), as: :loan
