- content_for :links do
  %ul.breadcrumbs
    %li
      = link_to 'Prestamos', loans_path


%h1
  Recibir prestamo


= simple_form_for @loan, url: receive_loans_path do |f|
  = render 'form', f: f

  .form-actions
    = f.submit 'Recibir prestamo', class: 'btn btn-large btn-primary'

:javascript
  $(function() {
    var data = #{AccountQuery.new.bank_cash_options.to_json},
        $box = $('.moneybox'),
        $amount = $box.find('h4');

    function setTotal() {
      var val = parseInt($('#account_to_id').val()),
          account = _.find(data, function(v) { return v.id === val }),
          amount = $('#total').val() * 1;

      $('.currency').html(_b.currencyLabel(account.currency))
      $amount.html(_b.ntc(amount) + ' ' + _b.currencyLabel(account.currency));
    }

    $('#total').on('change', function() { setTotal() });

    $('#account_to_id').select2('destroy')
    .select2({
      data: data,
      formatResult: App.Payment.paymentOptions,
      formatSelection: App.Payment.paymentOptions,
      dropdownCssClass: 'hide-select2-search',
      escapeMarkup: function(m) { return m }
    })
    .on('change', function() { setTotal() })

    setTotal();
  })
