- content_for :links do
  %ul.breadcrumbs
    %li
      = link_to 'Prestamos', loans_path


%h1
  %span.text-muted.muted= @loan.loan_type
  = @loan

.row-fluid
  .span6
    .moneybox
      %label TOTAL
      %h4.n
        = ntc @loan.total
        = currency_label @loan.currency
    .moneybox
      %label SALDO
      %h4.n
        = ntc @loan.amount
        = currency_label @loan.currency

.row-fluid
  .span6
    %h3.n Pagos y devoluciones

    .center

      = @loan.payment_link
      -#= link_to @loan.payment_path , class: 'btn btn-success', data: { target: '#payment-form' } do
        %i.icon-minus-sign
        Pagar prestamo

    #payment-form.form-container

    %ul.untyled.listing
      - @loan.payments_devolutions.each do |ledger|
        %li
          = link_to ledger, account_ledger_path(ledger.id)
          = ntc ledger.amount
          = currency_label ledger.currency

  .span6
    %h3.n Intereses
    .center
      = @loan.interest_link
      -#= link_to @loan.interest_path , class: 'btn btn-success', data: { target: '#interest-form' } do
        %i.icon-minus-sign
        Pagar intereses

      #interest-form
