- content_for :links do
  %ul.breadcrumbs
    %li
      = link_to 'Prestamos', loans_path

%h1.ib
  %span.text-muted.muted= @loan.loan_type
  = @loan

%h4.ib.n
  = link_to @loan.contact, @loan.contact, title: 'Contacto', data: { toggle: 'tooltip' }

.row-fluid
  .span6
    .moneybox
      %label TOTAL
      %h4.n
        = ntc @loan.total
        = currency_label @loan.currency
    .moneybox
      %label SALDO
      %h4.n
        = ntc @loan.amount
        = currency_label @loan.currency
    .moneybox
      %label INTERESES
      %h4.n
        = ntc @loan.interests
        = currency_label @loan.currency

.row-fluid
  .span6
    %h3.n Pagos y devoluciones

    .center

      = @loan.payment_link

    #payment-form.form-container

    %ul.unstyled.listing
      = render partial: 'payment', collection: present(@loan.payments_devolutions), as: :ledger

  .span6
    %h3.n Intereses
    .center
      = @loan.interest_link

    #interest-form.form-container

    %ul.unstyled.listing
      = render partial: 'payment', collection: present(@loan.interest_ledgers), as: :ledger
