- content_for :links do
  %ul.breadcrumbs
    %li
      = link_to 'Prestamos', loans_path

%h1.ib
  = @loan
  %small= @loan.loan_type_tag


%h4.ib.n
  = link_to @loan.contact, @loan.contact, title: 'Contacto', data: { toggle: 'tooltip' }

.clearfix

.row-fluid
  .span3
    %h4.inline-cont
      = link_to icon('icon-pencil', 'Editar fecha'), loan_path(@loan.id), class: 'dark inline-edit',
        data: { type: 'date', name: 'date', notify: '.top-left' }
      %span.muted Fecha
      %span.inline-data= l @loan.date

  .span3
    %h4.inline-cont
      - unless @loan.is_paid?
        = link_to icon('icon-pencil', 'Editar fecha de vencimiento'), loan_path(@loan.id), class: 'dark inline-edit',
          data: { type: 'date', name: 'due_date', notify: '.top-left', due: true, today: @loan.today.to_s }
        %span.muted Vence el
        %span.inline-data= @loan.due_date_color

- unless currency == @loan.currency
  %p
    Tipo de cambio 1
    = currency_label currency
    \=
    = ntc@loan.exchange_rate, precision: 4
    = currency_label @loan.currency

.row-fluid
  .span6
    .moneybox
      %label TOTAL
      %h4.n
        = ntc @loan.total
        = currency_label @loan.currency
    .moneybox
      %label SALDO
      %h4.n
        = ntc @loan.amount
        = currency_label @loan.currency
    .moneybox
      %label INTERESES
      %h4.n
        = ntc @loan.interests
        = currency_label @loan.currency

  .span6
    .inline-cont
      %i.icon-file.muted(title='Descripci贸n' data-toggle='tooltip')
      = link_to icon('icon-pencil', 'Editar descripci贸n'), loan_path(@loan.id), class: 'dark inline-edit',
        data: { type: 'textarea', name: 'description', notify: '.top-right' }
      %span.inline-data(data-value='#{@loan.description}')= nl2br @loan.description


.row-fluid
  .span6
    %h3.n Transacci贸n de creaci贸n
    %ul.unstyled
      = render 'account_ledgers/movement', ledger: present(@loan.ledger_in), current_account_id: @loan.id

.row-fluid
  .span6
    %h3.n Pagos y devoluciones

    .center

      = @loan.payment_link

    #payment-form.form-container(ng-controller='DynamicController' dynamic='htmlContent')


    %ul.unstyled.listing
      = render partial: 'account_ledgers/movement', collection: present(@loan.payments_devolutions), as: :ledger, locals: { current_account_id: @loan.id }

  .span6
    %h3.n Intereses
    .center
      = @loan.interest_link

    #interest-form.form-container(ng-controller='DynamicController' dynamic='htmlContent')

    %ul.unstyled.listing
      = render partial: 'account_ledgers/movement', collection: present(@loan.interest_ledgers), locals: { current_account_id: @loan.id }, as: :ledger

.row-fluid
  .span6
    %h3 Historial

    = render partial: 'histories/history', collection: present(@loan.histories, LoanHistoryPresenter), as: :history
