.page-header
  %h1.inline
    = @loan
    %small= @loan.state


%h2.n= link_to @loan.contact, @loan.contact
%h3.n=l @loan.date

.moneybox.fl
  %label TOTAL
  %h3#total_currency #{@loan.currency_symbol} #{ntc @loan.total}


.moneybox.fl
  %label SALDO
  %h3#balance #{@loan.currency_symbol} #{ntc @loan.balance}
