<h1><%= t("devise.views.sign_in") %></h1>

<div class="_120">

  <%= simple_form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
    <%= f.input :email, :label => 'E-mail' %>
    <div class="clear"></div>
    <%= f.input :password, :label => 'Contraseña' %>
    <div class="clear"></div>

    <% if devise_mapping.rememberable? -%>
      <div><%= f.check_box :remember_me %> <%= f.label :remember_me, 'Recordarme', :style => "display: inline" %></div>
    <% end -%>

    <div><%= f.submit 'Ingresar' %></div>
  <% end %>
  <br />

  <%= render :partial => "devise/shared/links" %>

</div>

<style type="text/css">
  #browser_detection{ clear: both; }
  #browser_detection a img{ border:none; }
  #browser_detection .box{
    width: 230px;
    float: left;
    margin: 0px 10px;
  }
  .update_msg{ color: red; font-size: 1.2em; font-weight: bold; }
</style>
<script type="text/javascript" id="browser_script_html">
<div id="browser_detection">
  <div class="update_msg">Advertencia!, esta página web no funciona con el navegador que esta usando, le recomendamos instalar alguno de los navegadores que presentamos</div>
    <div class="box">
      <a href="http://www.mozilla.com/es-ES/firefox/" target="_blank">
      <h3>Firefox</h3>
      <img src="/assets/firefox.png" alt="Firefox" />
      </a>
    </div>


    <div class="box">
      <a href="http://www.google.com/chrome/?hl=es" target="_blank">
      <h3>Google chrome</h3>
        <img src="/assets/chrome.png" alt="Google chrome"/>
      </a>
    </div>

    <div class="box">
      <a href="http://windows.microsoft.com/es-ES/internet-explorer/products/ie/home" target="_blank">
      <h3>IE 7 o superior</h3>
        <img src="/assets/ie.png" alt="Internet explorer"/>
      </a>
    </div>
</div>
<div style="clear:both"></div>
</script>

<script type="text/javascript">
  $(function() {
      if($.browser.msie && $.browser.version < 7) {
        $('form input').attr('disabled', true);
        $('#cont-in').prepend($('#browser_script_html').html());
      }
  })
</script>
