<% I18n.locale = :es %>
<h2><%= t("devise.sessions.link") %></h2>

<%= simple_form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
  <%= f.input :email, :label => t("user.attributes.email") %>
  <%= f.input :password, :label => t("user.attributes.password") %>

  <% if devise_mapping.rememberable? -%>
    <div><%= f.check_box :remember_me %> <%= f.label :remember_me, :style => "display: inline" %></div>
  <% end -%>

  <div><%= f.submit t("devise.sessions.link") %></div>
<% end %>

<%= render :partial => "devise/shared/links" %>

<% I18n.locale = :en %>
