- content_for :links do
  %ul.breadcrumbs.span6
    %li
      = link_to "Configuraciones", configurations_path(anchor: 'organisation')
    %li
      %i.icon-caret-right
    %li
      Editar empresa


.row-fluid
  .span6
    %h1 Editar empresa


= simple_form_for current_organisation, url: organisation_update_path(current_organisation.id) do |f|
  .well.well-small
    %h4.n Configuraciones
    = render 'config', f: f

  .row-fluid
    .span6
      = f.input :name, label: 'Nombre', input_html: { size: INPUT_SIZE }
    .span6
      = f.input :country_code, label: 'País', collection: Country.options
  .row-fluid
    .span6
      =f.input :phone, label: 'Teléfono', input_html: { size: INPUT_SIZE }
    .span6
      =f.input :mobile, label: 'Móvil', input_html: { size: INPUT_SIZE }
  .row-fluid
    .span6
      =f.input :email, label: 'Email', input_html: { size: INPUT_SIZE }
    .span6
      =f.input :website, label: 'Sitio web', input_html: { size: INPUT_SIZE }
  .row-fluid
    .span6
      =f.input :address, label: 'Dirección', as: :text, input_html: { rows: 5, cols: INPUT_SIZE }
  .form-actions
    = f.submit 'Salvar', class: 'btn btn-success b'
