- content_for :links do
  %ul.breadcrumbs.span6
    %li
      = link_to "Configuraciones", configurations_path(anchor: 'organisation')
    %li
      %i.icon-caret-right
    %li
      Editar empresa


.row-fluid
  .span6
    %h1 Editar empresa

= simple_form_for current_organisation, url: organisation_update_path(current_organisation.id) do |f|
  .row-fluid
    .span6
      = f.input :name, label: 'Nombre'
    .span6
      = f.input :country_code, label: 'País', collection: Country.options
  .row-fluid
    .span6
      =f.input :phone, label: 'Teléfono'
    .span6
      =f.input :mobile, label: 'Móvil'
  .row-fluid
    .span6
      =f.input :email
    .span6
      =f.input :website, label: 'Sitio web'
  .row-fluid
    .span6.form-inline
      =f.input :inventory_active, label: 'Inventario activo', input_html: { class: 'span1' }
  .row-fluid
    .span6
      =f.input :address, label: 'Dirección', as: :text, input_html: {rows: 5}
  .form-actions
    = f.submit 'Salvar', class: 'btn btn-success b'
