<%= simple_form_for @buy do |f| %>
  <div class="inputs half fl">
    <%= f.input :contact_id, :collection => Supplier.all, :label => 'Proveedor' %>
    <%= f.input :store_id %>
  </div>

  <div class="half fl">
    <%= f.input :date, :label => 'Fecha', :class => 'date' %>
    <%= f.input :description, :label => 'Descripción', :as => 'text', :input_html => {:rows => 5} %>
  </div>
<% end %>
