- content_for :links do
  %ul.breadcrumps
    %li #{link_to "Compras", buys_path} &gt;

  .links= link_to "Nueva compra", new_buy_path, :class => 'new'

:css
  .search label{ width: 15em; }

%h1 Compras

- @bu = Buy.org

%ul.tabs
  %li= link_to "Todas"                                                         , buys_path(:option => 'all')
  %li= link_to "Esperando aprobación #{size_or_blank(@bu.draft.size)}"         , buys_path(:option => 'draft')            , :class => tabs_filter('draft')
  %li= link_to "Esperando pago #{size_or_blank(@bu.approved.size)}"            , buys_path(:option => 'awaiting_payment') , :class => tabs_filter('awaiting_payment')
  %li= link_to "Vencidas #{size_or_blank(@bu.due.size)}"                       , buys_path(:option => 'due')              , :class => tabs_filter('due')
  %li= link_to "Con inventario pendiente #{size_or_blank(@bu.inventory.size)}" , buys_path(:option => 'inventory')        , :class => tabs_filter('inventory')
  %li= link_to "Pagadas"                                                       , buys_path(:option => 'paid')             , :class => tabs_filter('paid')

#search_buy.search{:style => show_if_search}
  %a.close{:href => "#"} cerrar
  %h3 Buscar compras
  =form_tag "/buys", :method => 'get' do
    =hidden_field_tag "search_div_id", "search_incomes"
    .input
      %label Proveedor o Nº de referencia
      =text_field_tag 'search', params[:search], :size => 40
    .input
      %label Estado
      =select_tag "option", options_for_select(list_buy_states, params[:option])
    %div
    =submit_tag 'Buscar'

= link_to "Buscar", "#search_buy", :class => 'search'

= paginate @buys

%table{ :class => 'decorated nwl' }
  %thead
    %tr
      %th{ :title => 'Número de referencia' } Nº Ref.
      %th Proveedor
      %th Vence el
      %th Total<br/>#{currency_symbol}
      %th Saldo<br/>#{currency_symbol}
      %th{:title => 'Saldo Inventario'} Saldo<br/>Inv. #{currency_symbol}
      %th{:title => 'Moneda'} Mon.
      %th Estado
      %th Contado<br/>Crédito
      %th Fecha
      %th

  %tbody
    - @buys.each do |buy|
      %tr{ :class => cycle(:odd, :even) }
        %td= link_to buy.ref_number, buy, :class => 'b'
        %td= buy.account
        %td= lo buy.payment_date unless buy.paid?
        %td.cur= ntc exchange(buy, :real_total, @currency_rates)
        %td.cur= ntc exchange(buy, :balance, @currency_rates)
        %td.cur= ntc(buy.balance_inventory)
        %td <span>#{buy.currency_symbol}</span>
        %td <span class="#{buy.real_state}">#{buy.show_state}</span>
        %td= cash_credit(buy.cash)
        %td.nw= lo buy.date
        %td.actions
          = bonsai_links(buy) if buy.draft?

