- content_for :links do
  %ul.breadcrumps
    %li #{link_to "Compras y gastos", buys_path} &gt;

  .links= link_to "Nueva compra/gasto", new_buy_path, :class => 'new'

:css
  .search label{ width: 15em; }

%h1 Compras y gastos

%ul.tabs
  %li= link_option "Todas", "all"
  %li= link_option "Proformas", "draft"
  %li= link_option "Esperando pago #{size_or_blank(@buys.approved.size)}",  "awaiting_payment"
  %li= link_option "Vencidas #{size_or_blank(@buys.due.size)}", "due"
  %li= link_option "Con inventario pendiente #{size_or_blank(@buys.inventory.size)}" , "inventory"
  %li= link_option "Pagadas", "paid"
  %li= link_option "Anuladas", "nulled"

#search_buy.search{:style => show_if_search}
  %a.close{:href => "#"} cerrar
  %h3 Buscar compras
  = link_to "Eliminar filtros", buys_path, :class => 'b'
  =form_tag "/buys", :method => 'get' do
    =hidden_field_tag "search_div_id", "search_incomes"
    .input
      %label Proveedor o Nº de referencia
      =text_field_tag 'search', params[:search], :size => 40
    .input
      %label Estado
      =select_tag "option", options_for_select(list_buy_states, params[:option])
    %div
    =submit_tag 'Buscar'

= link_to "Buscar", "#search_buy", :class => 'search'

= paginate @buys.page(@page)

%table{ :class => 'decorated nwl' }
  %thead
    %tr
      %th.tip{:title => 'Estado'} Est.
      %th{ :title => 'Número de referencia' } Nº Ref.
      %th Proveedor
      %th Vence el
      %th Total
      %th Saldo
      %th.tip{:title => "Contado Crédito"} Tipo
      %th Fecha
      %th

  %tbody
    - @buys.each do |buy|
      %tr{ :class => cycle(:odd, :even) }
        %td 
          %span{:class => "#{buy.real_state} tip", :title => buy.show_state}
        %td= link_to buy.ref_number, buy, :class => 'b'
        %td= buy.contact
        %td= lo buy.payment_date unless buy.paid?
        %td.cur #{buy.currency_symbol} #{ntc buy.total }
        %td.cur #{buy.currency_symbol} #{ntc buy.balance }
        %td= cash_credit(buy.cash)
        %td.nw= lo buy.date
        %td.actions
          = link_to "editar", edit_buy_path(buy), :class => 'edit', :title => 'Editar' if buy.draft?
          = link_to "duplicar", new_buy_path(:transaction_id => buy.id), :class => 'duplicate icon', :title => 'Duplicar'

