<h1>Editar <%= singular_name %></h1>

<%= render :partial => "_form" %>

<%%= link_to "Lista", <%= singular_table_name %>_path(@<%= singular_name %>), :class => 'edit' %>
<%%= link_to "Lista", <%= plural_table_name %>_path, :class => 'list' %>
