<h1><%= singular_name %></h1>

<% for attribute in attributes -%>
<p>
  <label><%= attribute.human_name %>:</label>
  <%%= @<%= singular_table_name %>.<%= attribute.name %> %>
</p>
<% end -%>

<%%= link_to 'Editar', edit_<%= singular_name %>_path(@<%= singular_name %>), :class => 'edit' %>
<%%= link_to 'Lista', <%= plural_name %>_path, :class => 'list' %>
