= form_tag currency_rates_path do
  =hidden_field_tag "referer", (params[:referer] || request.referer)
  %table.decorated{:style => "width:400px"}
    %thead
      %tr
        %th Moneda
        %th Tipo de cambio
    - @currency_rates.each_with_index do |cur, i|
      = hidden_field_tag "currency_rates[#{i}][currency_id]", cur.currency_id
      %tr
        %td.r= "1 #{cur.currency} = "
        %td
          = text_field_tag "currency_rates[#{i}][rate]", cur.rate, :size => 12, :class => 'r'
          = @organisation.currency_name.pluralize
          = present_field_error(cur, :rate)
   
  .submit
    = submit_tag "Salvar"
