.row-fluid
  .span6
    = f.input :account_to_id, label: 'Cuenta', input_html: {class: 'span10', data:{value: 'payment.account_to_id'}}
  .span3
    = f.input :date, as: :datepicker, label: 'Fecha'
  .span3
    %div.form-inline(data-show="payment.bank")
      = f.input :verification, as: :boolean, label: 'Verificar',
        input_html: {data: {value: 'payment.verification', checked: 'payment.verification'} },
        label: 'Verificar', hint: 'Verificar a futuro. Ej.: (Cheque)'

.row-fluid.bg-white-tan.borders-y
  .span3
    = f.input :amount,
      label: 'Cantidad <span class="currency"></span>'.html_safe,
      input_html: {type: 'decimal', size: 10,
      data: {value: 'payment.amount'} }
  .span3
    %div(data-display="payment.cash")
      = f.input :exchange_rate, label: 'Tipo de cambio',
        input_html: {disabled: true, type: 'decimal', size: 10,
        data: {value: 'payment.exchange_rate', disabled: 'payment.sameCurrency'} }
  .span3
    .moneybox
      %label TOTAL
      %h4
        %span#currency_total(data-text="payment.totalCurrency")
        = currency_label transaction.currency


.row-fluid.pad-x-10
  .span6
    = f.input :reference, label: 'Referencia', as: :text, input_html: {rows: 3, cols: 40, data: {value: 'payment.reference'} }
