= hidden_field_tag 'organisation_currency', currency, 'ng-model' => 'organisation_currency', 'initial' => true

.row-fluid
  .span12
    = f.input :account_to_id, label: 'Cuenta',
      input_html: { id: 'account_to_id', class: 'span10', 'ng-model' => 'account_to_id' }

%br
.row-fluid.bg-white-tan.borders-y
  .span4
    = f.input :amount,
      label: 'Cantidad <span class="currency"></span>'.html_safe,
      input_html: { type: 'number', size: 10, 'ng-model' => 'amount', 'initial' => true }
  .span4
    = f.input :exchange_rate, label: 'Tipo de cambio',
      input_html: { size: 10, type: 'number',
        'ng-model' => 'exchange_rate', 'initial' => true, 'ng-disabled' => 'same_currency' }
  .span4
    .moneybox
      %label TOTAL
      %h4
        %span#currency_total {{ amountCurrency() | decimal }}
        %span#payment-currency-label= currency_label movement.currency

.row-fluid
  .span6
    = f.input :date, as: :datepicker, label: 'Fecha'
  .span6.form-inline
    %div(ng-show='is_bank')
      = f.input :verification, as: :boolean, label: 'Verificar (solo banco)',
        hint: 'Verificar a futuro. Ej.: (Cheque)'

.row-fluid
  .span12
    = f.input :reference, label: 'Referencia', as: :text, input_html: { rows: 3, class: 'span11' }
