:css
  #deleted_payments_table td.actions{display: none;}

%h3 #{transaction.pay_type.pluralize.titleize} anulados

%table.table.table-striped.nwl#deleted_payments_table
  %thead
    %tr
      %th Código Fecha
      %th{:style => 'width: 300px'} Descripción
      %th Cantidad #{transaction.currency_symbol}
      %th{:title => 'Intenreses/Penalidades'} Int./Pena.#{transaction.currency_symbol}
      %th.nw Total fila #{transaction.currency_symbol}
      %th
  
  %tbody
    - transaction.account_ledgers.nulled.includes(:account, :to).each do |al|
      = render "payments/payment", :account_ledger => al, :transaction => transaction, :presenter => presenter
