- @accounts = Account.org
- if @accounts.any?
  = simple_form_for(@payment) do |f|
    = bonsai_form_error(f)
    = hidden_field_tag "payment_type", params[:payment_type]

    = f.input :transaction_id, :as => :hidden
    = f.input :exchange_rate, :as => :hidden

    = f.input :date, :label => 'Fecha'

    = f.association :account, :label => 'Cuenta <span class="n" id="cur"></span>'.html_safe, :collection => @accounts
    .clear
    = f.input :amount, :input_html => {:size => 12, :type => 'decimal', :disabled => @payment.transaction_cash}, :label => currency_label('Cantidad', @payment)
    = f.input :interests_penalties, :input_html => {:size => 12, :type => 'decimal'}, :label => currency_label('Intereses/Penalidades', @payment)
    .clear
      = f.input :reference, :label => 'Referencia/Nº Cheque', :input_html => {:size => 20}
    = f.input :description, :label => 'Descripción', :as => :text, :input_html => {:rows => 4, :cols => 35}
    .clear
    .actions
      = f.submit 'Salvar'

  :javascript
    $(function() {
      var transaction_currency_id = #{@payment.transaction.currency_id};
      var accounts = #{Account.json.to_json};
      
      $('#payment_account_id').live('change keyup', function() {
        var account_id = $(this).val() * 1;
        if(transaction_currency_id != accounts[account_id].currency_id) {
          $('#cur').html("Tipo de cambio <a href=''>editar</a>");
        }else{
          $('#cur').html("");
        }
      });
    });

-else
  %h3 
    Debe crear una 
    =link_to "caja", new_cash_register_path(:currency_id => @payment.currency_id), :target => '_blank'
    o 
    =link_to "banco", new_bank_path(:currency_id => @payment.currency_id), :target => '_blank'
    con moneda #{@payment.currency}
