= simple_form_for(@payment) do |f|
  = bonsai_form_error(f)
  = hidden_field_tag "payment_type", params[:payment_type]
  = f.input :transaction_id, :as => :hidden

  = f.input :date, :label => 'Fecha'
  = f.association :account, :label => 'Cuenta'
  .clear
  = f.input :amount, :input_html => {:size => 12}, :label => 'Cantidad'
  = f.input :interests_penalties, :input_html => {:size => 12}, :label => 'Intereses/Penalidades'
  .clear
  = f.input :description, :label => 'Descripción', :as => :text, :input_html => {:rows => 4, :cols => 35}
  .clear
  .actions
    = f.submit 'Salvar'
