- @accounts = Account.org.money
- if @accounts.any?
  = simple_form_for(@account_ledger, :url => "/payments") do |f|
    = bonsai_form_error(f)

    = f.input :transaction_id, :as => :hidden

    = f.association :account, :label => 'Cuenta <span class="n black" id="cur"></span>'.html_safe, :collection => @accounts
    .clear

    .input
      // Amount
      = f.input :amount, :input_html => {:size => 12, :type => 'decimal', :class => 'amt'}, 
        :label => "Cantidad <span class='amount currency'></span>".html_safe
      // Interests
      = f.input :interests_penalties, :input_html => {:size => 12, :type => 'decimal', :clas => 'amt'}, 
        :label => "<span class='tip' title='Intereses/Penalidades'>Int./Pen.</span> <span class='interests currency'></span>".html_safe
    .input
      - disp = @account_ledger.currency_id == currency_id ? 'none' : 'block'
      - disp = 'none' if @account_ledger.currency_id.blank?
      // Exchange rate
      = f.input :exchange_rate, :label => "Tipo de cambio", 
        :input_html => {:size => 12, :type => 'decimal', :class => 'amt'}, :hint => 'Puede ingresar hasta 4 decimales',
        :wrapper_html => {:style => "display:#{disp}", :class => 'exchange_rate'}
      .input
        %label Total (#{@transaction.currency_symbol})
        %span#payment_total_currency.b
    .clear

    = f.input :reference, :label => 'Referencia/Nº Cheque', :input_html => {:rows => 3, :cols => 35}, :as => :text


    /= f.input :description, :label => 'Descripción', :as => :text, :input_html => {:rows => 4, :cols => 35}
    .clear

    .actions
      = f.submit 'Salvar'
    
    .rates.bg_white{:style => 'display:none'}
      %h3 Tipos de cambio moneda base "#{currency_name}"
      = render 'currency_rates/active', :currency_rates => CurrencyRate.active
  
  :javascript
    $(function() {

      var accounts = #{Account.org.money.to_hash.to_json};
      var currencies = #{Currency.scoped.to_hash.to_json};
      var account_data = #{@account_ledger.create_hash(:currency_id, :account_id).to_json };

      var p = new Payment(accounts, currencies, contact, account_data, #{@transaction.currency_id});

      // Display currency_rates in a new window
      $('#cur_rates').die();
      $('#cur_rates').live('click', function() { 
        createDialog({
          'title' : "Tipos de cambio para #{currency_name}",
          'html'  : $('.rates').html(),
          'width' : 450,
          'modal' : false
        });
      });
    });

-else
  %h3 
    Debe crear una 
    =link_to "caja", new_cash_register_path(:currency_id => @account_ledger.currency_id), :target => '_blank'
    o 
    =link_to "banco", new_bank_path(:currency_id => @account_ledger.currency_id), :target => '_blank'
    con moneda #{@account_ledger.currency}
