= simple_form_for Payment.new(date: Date.today) do |f|
  = bonsai_form_error(f)

  = f.hidden_field :transaction_id

  .row-fluid
    .span6
      = f.input :account_id, label: 'Cuenta'
    .span6
      = f.input :date, as: :datepicker, label: 'Fecha'

  .row-fluid
    #payment-currency.span6
      %span BOB
    .span6
      = f.input :amount, label: 'Cantidad', input_html: {type: 'decimal'}

  .row-fluid
    .span6
      = f.input :reference
    .span6
      = f.input :interest, label: 'Int. Pen.', hint: 'Intereses, penalidates, etc.'
