- @accounts = Account.org.money
- if @accounts.any?
  = simple_form_for(@payment, :remote => true) do |f|
    = bonsai_form_error(f)

    = f.input :transaction_id, :as => :hidden

    /= f.input :date, :label => 'Fecha'
    = f.association :account, :label => 'Cuenta <span class="n black" id="cur"></span>'.html_safe, :collection => @accounts
    .clear

    = f.input :amount, :input_html => {:size => 12, :type => 'decimal'}, :label => currency_label('Cantidad', @payment)
    = f.input :interests_penalties, :input_html => {:size => 12, :type => 'decimal'}, :label => currency_label('Intereses/Penalidades', @payment)
    .clear

    = f.input :reference, :label => 'Referencia/Nº Cheque', :input_html => {:rows => 3, :cols => 35}, :as => :text

    - disp = @payment.currency_id == currency_id ? 'none' : 'block'
    = f.input :exchange_rate, :label => "Tipo de cambio de", 
      :input_html => {:size => 12}, :hint => 'Puede ingresar hasta 4 decimales',
      :wrapper_html => {:style => "display:#{disp}"}

    /= f.input :description, :label => 'Descripción', :as => :text, :input_html => {:rows => 4, :cols => 35}
    .clear

    .actions
      = f.submit 'Salvar'
    
    .rates.bg_white{:style => 'display:none'}
      %h3 Tipos de cambio moneda base "#{currency_name}"
      = render 'currency_rates/active', :currency_rates => CurrencyRate.active
  
  :javascript
    $(function() {

      var accounts = #{Account.org.money.to_hash.to_json};
      var currencies = #{Currency.scoped.to_hash.to_json};
      var contact = #{@transaction.account.self_with_currencies_hash.to_json}

      new ExchangeRate('#account_ledger_exchange_rate', '#account_ledger_account_id', 
      '#account_ledger_amount,#account_ledger_interests_penalties',
      #{@transaction.currency_id}, accounts, currencies, contact);

      // Display currency_rates in a new window
      $('#cur_rates').die();
      $('#cur_rates').live('click', function() { 
        createDialog({
          'title' : "Tipos de cambio para #{currency_name}",
          'html'  : $('.rates').html(),
          'width' : 450,
          'modal' : false
        });
      });
    });

-else
  %h3 
    Debe crear una 
    =link_to "caja", new_cash_register_path(:currency_id => @payment.currency_id), :target => '_blank'
    o 
    =link_to "banco", new_bank_path(:currency_id => @payment.currency_id), :target => '_blank'
    con moneda #{@payment.currency}
