- @accounts = Account.org.money
- if @accounts.any?
  = simple_form_for(@payment, :remote => true) do |f|
    = bonsai_form_error(f)
    /= hidden_field_tag "payment_type", params[:payment_type]

    = f.input :transaction_id, :as => :hidden

    /= f.input :date, :label => 'Fecha'
    = f.association :account, :label => 'Cuenta <span class="n black" id="cur"></span>'.html_safe, :collection => @accounts
    .clear

    = f.input :amount, :input_html => {:size => 12, :type => 'decimal'}, :label => currency_label('Cantidad', @payment)
    = f.input :interests_penalties, :input_html => {:size => 12, :type => 'decimal'}, :label => currency_label('Intereses/Penalidades', @payment)
    .clear

      = f.input :reference, :label => 'Referencia/Nº Cheque', :input_html => {:size => 20}
      - display = @payment.currency_id == currency_id ? 'none' : 'block'

      .input.exchange_rate{:style => "display: #{display}"}
        = f.label :exchange_rate, "Tipo de cambio &nbsp;&nbsp;&nbsp;&nbsp;<a href='javascript:' id='cur_rates' class='n'>tipos de cambio</a>".html_safe
        1 #{@payment.transaction.currency_name} = 
        = f.text_field :exchange_rate, :size => 6, :class => 'r'

        - cur = @payment.account_id.present? ? @payment.account.currency_name.pluralize : ""
        %span#exchange_rate_cur= cur
        <span class="hint">Puede usar hasta 4 decimales</span>
        - if f.object.errors[:exchange_rate].present?
          %span.error= f.object.errors[:exchange_rate].join(", ")

    /= f.input :description, :label => 'Descripción', :as => :text, :input_html => {:rows => 4, :cols => 35}
    .clear

    .actions
      = f.submit 'Salvar'
    
    .rates.bg_white{:style => 'display:none'}
      %h3 Tipos de cambio moneda base "#{currency_name}"
      = render 'currency_rates/active', :currency_rates => CurrencyRate.active
  
  :javascript
    $(function() {

      var accounts = #{Account.org.money.to_hash.to_json};
      var currencies = #{Currency.scoped.to_hash.to_json};
      var contact = #{@transaction.account.self_with_currencies_hash.to_json}

      var payment = new Payment(#{@transaction.currency_id}, accounts, contact);

      // Display currency_rates in a new window
      $('#cur_rates').die();
      $('#cur_rates').live('click', function() { 
        createDialog({
          'title' : "Tipos de cambio para #{currency_name}",
          'html'  : $('.rates').html(),
          'width' : 450,
          'modal' : false
        });
      });
    });

-else
  %h3 
    Debe crear una 
    =link_to "caja", new_cash_register_path(:currency_id => @payment.currency_id), :target => '_blank'
    o 
    =link_to "banco", new_bank_path(:currency_id => @payment.currency_id), :target => '_blank'
    con moneda #{@payment.currency}
