= simple_form_for payment, url: payments_path do |f|
  = bonsai_form_error(f)
  = hidden_field_tag :klass, payment.class

  = f.hidden_field :transaction_id

  .row-fluid
    .span6
      = f.input :account_to_id, label: 'Cuenta', collection: Account.money
    .span3
      = f.input :date, as: :datepicker, label: 'Fecha'
    .span3
      -#= f.input :verification, label: 'Verificar', as: :radio, item_wrapper_class: 'inline'
      = f.input :verification, label: 'Verificar', as: :radio,
        label: 'Verificar <span class="" id="pay-ver-link"><i class="bicon-info pay-ver"></i></span>'.html_safe


  .row-fluid
    #payment-currency.span4
      %span BOB
    .span4
      = f.input :amount, label: 'Cantidad', input_html: {type: 'decimal'}

  .row-fluid
    .span6
      = f.input :reference, label: 'Referecia'
    .span6
      = f.input :interest, label: 'Int. Pen.', hint: 'Intereses, penalidates, etc.'

  .form-actions
    = f.submit "Salvar"

:css
  .popover-title{ display: none }
:coffeescript
  $( ->
    $('.pay-ver').popover(
      trigger: 'hover'
      html: true
      content: 'Requiere una Verificación futura. Ej. un <strong>cheque</strong>. Haga click para ver mas detalles'
      placement: 'top'
    )
  )
