%h2 #{transaction.pay_type.pluralize.titleize} realizados

- css = transaction.paid? ? "hide" : ""
= link_to "Nuevo #{transaction.pay_type}", new_payment_path(:type => transaction.type.to_s, :id => transaction.id, :payment_type => transaction.pay_type),
  :class => "new ajax button new_payment_link #{css}", :title => "Nuevo #{transaction.pay_type}", :id => 'new_payment_link',
  'data-width' => "700", 'data-trigger' => 'payment'

%table.decorated.nwl#payments_table
  %thead
    %tr
      %th Fecha
      %th{:style => 'width: 300px'} Cuenta
      %th Cantidad <br/>#{transaction.currency_plural}
      %th.tip{:title => 'Intenreses/Penalidades'} Int./Pena.<br/>#{transaction.currency_plural}
      %th Total fila <br/>#{transaction.currency_plural}
      %th
  
  %tbody
    = render transaction.payments.includes(:account_ledger => :account)

  %tr.extra.pad_top
    %td
    %td.r.b{:colspan => 3} Total #{transaction.pay_type.pluralize} + Intereses/Penalidades
    %td.r.b#total_payment= ntc transaction.total_payments_with_interests

