%h2= presenter.payments_title

= presenter.new_payment_link

%table.decorated.nwl#payments_table
  %tr.header
    %th Código Fecha
    %th{:style => 'width: 300px'} Descripción
    %th Cantidad #{transaction.currency_symbol}
    %th.tip{:title => 'Intenreses/Penalidades'} Int./Pena. #{transaction.currency_symbol}
    %th.nw Total fila #{transaction.currency_symbol}
    %th
  
  - transaction.account_ledgers.includes(:account, :to, :currency).active.order("created_at DESC").each do |al|
    = render "payments/payment", :account_ledger => al, :transaction => transaction

  %tr.extra.pad_top
    %td.r.b{:colspan => 4} Total #{transaction.pay_type.pluralize} + Intereses/Penalidades
    %td.r.b#total_payment= ntc transaction.total_payments_with_interests.abs
    %td

