%h2 #{transaction.pay_type.pluralize.titleize} realizados

- css = transaction.paid? ? "hide" : ""
= link_to "Nuevo #{transaction.pay_type}", new_payment_path(:type => transaction.type.to_s, :id => transaction.id, :payment_type => transaction.pay_type),
  :class => "new ajax button new_payment_link #{css}", :title => "Nuevo #{transaction.pay_type}", :id => 'new_payment_link',
  'data-width' => "700", 'data-trigger' => 'payment'

%table.decorated.nwl#payments_table
  %thead
    %tr
      %th Fecha
      %th{:style => 'width: 300px'} Cuenta
      %th Cantidad <br/>#{transaction.currency_plural}
      %th.tip{:title => 'Intenreses/Penalidades'} Int./Pena.<br/>#{transaction.currency_plural}
      %th Total fila <br/>#{transaction.currency_plural}
      %th
  
  %tbody
    - transaction.account_ledgers.includes(:account).active.each do |al|
      %tr.al{ :id => al.id, :class => "#{al.active.to_s}"}
        %td= lo(al.created_at)
        %td.account= link_to al.account, al
        %td.cur.amount{'data-val' => al.amount} #{ntc al.amount}
        %td.cur.interests_penalties{'data-val' => al.interests_penalties} #{ntc al.interests_penalties}
        %td.cur.total_amount{'data-val' => al.amount}= ntc al.amount
        %td.actions
      - unless al.conciliation?
        = link_to "Revisar", al.account_ledger, :title => 'Revisar con cuenta bancaria', :class => 'conciliate sync fl', :style => 'margin-right: 10px' unless al.conciliation?
        = link_to "borrar", al, :class => 'delete', :title => 'Anular', :remote => true, :confirm => delete_confirm(al)


    /= render "/payments/payment", :collection => transaction.account_ledgers.active

  %tr.extra.pad_top
    %td
    %td.r.b{:colspan => 3} Total #{transaction.pay_type.pluralize} + Intereses/Penalidades
    %td.r.b#total_payment= ntc transaction.total_payments_with_interests

