#payments
  %h2.dark #{pay_type.pluralize.titleize}

  %p.links= link_to "Nuevo #{pay_type}", new_payment_path(:type => klass.type.to_s, :id => klass.id, :payment_type => pay_type), :class => 'new ajax', :title => "Nuevo #{pay_type}", 'data-width' => "700", 'data-trigger' => 'payment'

  %table.decorated.nwl 
    %thead
      %tr
        %th Fecha
        %th Descripción
        %th Intereses<br/>Penalidades
        %th Cantidad
        %th
    
    %tbody
      - for payment in klass.payments
        %tr{ :class => cycle(:odd, :even) }
          %td= lo payment.date
          %td= payment.description
          %td= ntc payment.interests_penalties
          %td= ntc payment.amount
          %td
          %td.actions= bonsai_links(payment)

    %tr.extra
      %td{:colspan => 2}
      %td


<br/><br/><br/><br/>
