%tr.account_ledger{ :id => account_ledger.id, :class => "#{account_ledger.active.to_s}"}
  %td
    =link_to account_ledger_path(account_ledger.id), :class => 'b' do
      = account_ledger
      = lo account_ledger.date

  %td.account
    -#= presenter.payment_exchange_rate(account_ledger)
    = account_ledger.description

  %td.cur.amount
    -#= presenter.
    = account_ledger

  %td.cur.totaccount_ledger_amount
    -#= presenter
    -#= payment_total_row(account_ledger)

  %td.actions
    = link_to account_ledger do
      %i.icon-thumbs-up.black
      Verificar
