%h2 #{transaction.pay_type.pluralize.titleize} realizados

- css = transaction.paid? ? "hide" : ""
- unless transaction.paid?
  = link_to "Nuevo #{transaction.pay_type}", new_payment_path(:type => transaction.type.to_s, :id => transaction.id, :payment_type => transaction.pay_type),
  :class => "new ajax button new_payment_link #{css}", :title => "Nuevo #{transaction.pay_type}", :id => 'new_payment_link',
  'data-width' => "800", 'data-trigger' => 'payment'

%table.decorated.nwl#payments_table
  %thead
    %tr
      %th Fecha
      %th{:style => 'width: 300px'} Descripción
      %th Cantidad #{transaction.currency_symbol}
      %th.tip{:title => 'Intenreses/Penalidades'} Int./Pena. #{transaction.currency_symbol}
      %th.nw Total fila #{transaction.currency_symbol}
      %th
  
  %tbody
    - transaction.account_ledgers.includes(:account, :to, :currency).active.order("created_at DESC").each do |al|
      = render "payments/payment", :account_ledger => al, :transaction => transaction

  %tr.extra.pad_top
    %td.r.b{:colspan => 4} Total #{transaction.pay_type.pluralize} + Intereses/Penalidades
    %td.r.b#total_payment= ntc transaction.total_payments_with_interests
    %td

