#payments
  %h2.dark #{pay_type.pluralize.titleize}

  %p.links= link_to "Nuevo #{pay_type}", new_payment_path(:type => klass.type.to_s, :id => klass.id, :payment_type => pay_type), :class => 'new ajax', :title => "Nuevo #{pay_type}", 'data-width' => "700", 'data-trigger' => 'payment'

  %table.decorated.nwl 
    %thead
      %tr
        %th Fecha
        %th Descripción
        %th Intereses<br/>Penalidades
        %th Cantidad
        %th Total fila
        %th
    
    %tbody
      - for payment in klass.payments
        %tr{ :class => cycle(:odd, :even) }
          %td= lo payment.date
          %td= payment.description
          %td.r= ntc payment.interests_penalties
          %td.r= ntc payment.amount
          %td.r= ntc payment.total_amount
          %td.actions= link_to "Anular #{pay_type}", payment, 'data-method' => 'put', :class => 'null_payment'

    %tr.extra.pad_top
      %td{:colspan => 2} 
      %td.r.b{:colspan => 2} #{pay_type.pluralize} + Intereses/Penalidades
      %td.r.b= ntc klass.total_payments_with_interests


<br/><br/><br/><br/>
:javascript
  $(function() {
    $('a.null_payment').live("click", function() {
      $(this).parents('tr').addClass('marked');
      if(confirm("Esta seguro de anular el #{pay_type} seleccionado?")) {
        $(this).parents('tr').removeClass('marked');
        return false;
      }else{
        $(this).parents('tr').removeClass('marked');
        return false;
      }
    });
  })
