// javascript
$('#payments_table tr.header').after("<%= escape_javascript(render('payment', :account_ledger => @account_ledger, :transaction => @transaction, :presenter => @presenter)) %>");
$('#payments .message').remove();

<% unless @transaction.cash? %>
  $('#payments h2').after(createMessageCont('Se ha actualizado el <a id="tab_pay_plan_link" href="#tab_pay_plans">crédito</a>'));
<% end %>
$('#tab_pay_plan_link').die().live('click', function() { $('#tab_pay_plans').trigger("click") });

$('#tab_pay_plans').one('click', function() {
  $('#pay_plans').html(AjaxLoadingHTML());
  $.get('/pay_plans/<%= @account_ledger.transaction_id %>');
});

$('#payments_table #total_payment').html("<%= ntc @transaction.total_payments_with_interests.abs %>");

// Premove payment button if paid
<% if @transaction.paid? %>
  $('#new_payment_link').remove()
<% end %>
// transaction
$('#transaction_state').removeClass("<%= Transaction::STATES.join(" ") %>")
.addClass("<%= @transaction.real_state %>")
.html("<%= @transaction.show_state %>");

$('#balance').html("<%= @transaction.currency_symbol %> <%= ntc @transaction.balance %>")

$('#due_on').html("<%= lo @transaction.due_date %>");

$('body').trigger("ajax:url");
