%h4.title Pago

#loan(ng-controller='PaymentController')
  = simple_form_for @payment, url: expense_payment_path(@payment.account_id),
    html: { id: 'expense-payment-form' } do |f|
    = bonsai_form_error(f)
    = f.hidden_field :account_id

    %input(type='hidden' id='accounts' data-accounts='#{Accounts::Query.new.expense_payment_options(@payment.expense).to_json}')
    = hidden_field_tag 'base_currency', @payment.expense_currency, 'ng-model' => 'base_currency', 'initial' => true

    = render 'payments/default_form', f: f, movement: @payment.expense

    .form-actions
      = f.submit 'Pagar', class: 'btn b btn-success'
