%h1.red.n 
  Nueva devolución
  %strong= @transaction

- present @account_ledger do |presenter|
  = simple_form_for(@account_ledger, :url => devolution_payments_path, :html => {:class => 'enter', :id => 'payment_form'}) do |f|
    = bonsai_form_error(f)

    = f.input :transaction_id, :as => :hidden

    -# Account
    %label Cuenta
    #payment_accounts.fl
      %div
        %p
          = presenter.selected_account
      %ul
        - @payment.devolution_accounts.each do |account|
          %li.account{:id => account.id}= presenter.account_select account
      = f.association :account, :collection => @payment.devolution_accounts, :label => false

    .clear

    ._50.fl
      -# Amount
      = f.input :base_amount, :input_html => {:size => 12, :type => 'decimal', :class => 'amt r'}, 
        :label => "Cantidad <span class='amount currency'></span>".html_safe
    ._50.fl
      - disp = 'block'
      - disp = 'none' if @account_ledger.currency_id.blank?
      // Exchange rate
      = f.input :exchange_rate, :label => "Tipo de cambio <span class='currencies'></span>".html_safe, 
        :input_html => {:size => 12, :type => 'decimal', :class => 'amt'},
        :wrapper_html => {:style => "display:#{disp}", :class => 'exchange_rate _60'}
      .input.fs120._40
        %label
          Total 
          %span (#{@transaction.currency_symbol})
        %span#payment_total_currency.b.fs110
    .clear

    = f.input :reference, :label => 'Referencia/Nº Cheque', :input_html => {:rows => 3, :cols => 35}, :as => :text


    -#= f.input :description, :label => 'Descripción', :as => :text, :input_html => {:rows => 4, :cols => 35}
    .clear

    = f.submit 'Salvar', :class => 'btn btn-success b'
  %br
  %br

:javascript
  $(function() {

    var accounts = #{@payment.to_hash.to_json};
    var currencies = #{Currency.scoped.to_hash.to_json};
    var account_data = #{@account_ledger.create_hash(:currency_id, :account_id).to_json };

    var p = new Payment(accounts, currencies, account_data, #{@transaction.currency_id});
    $('#payment_accounts').find("div").unbind("click");
    $('#payment_accounts').jDropDown({callback: p.setAccount}).initjDropDown();

    var er = new ExchangeRate();
    er.setAll('#account_ledger_exchange_rate', '#account_ledger_account_id', #{@transaction.currency_id}, accounts, currencies, {inverted: true});

    p.start();
  });
