.row-fluid
  .span6
    = f.input :first_name, label: 'Nombres'
  .span6
    = f.input :last_name, label: 'Apellidos'

.row-fluid.well.well-small
  .span6
    = f.input :email, input_html: { size: INPUT_SIZE }

  .span6= f.input :role, collection: user.sliced_role_options, label: 'Rol', input_html: { id: 'role' }


= render 'users/permissions', user: user


:javascript
  $(function() {
    function markRoleColumn() {
      $('#roles td').removeClass('marked');

      try{
        ind = $('th.' + $('#role').val() ).data('index') + 2;
        $('#roles td:nth-child(' + ind + ')').addClass('marked')
      } catch(e) {}
    }

    $('body').on('change keyup', '#role', markRoleColumn);
    markRoleColumn();
  })
