- content_for :links do
  %ul.breadcrumbs.span6
    %li 
      =link_to "Configuración", configurations_path
    %li
      %i.icon-caret-right
    %li
      Adicionar usuario

%h1 Adicionar usuario


= simple_form_for @user, url: admin_users_path do |f|
  = bonsai_form_error(f)

  .row-fluid
    .span6
      = f.input :email,
        :hint => "<i class='icon-warning-sign'></i> No es posible modificar después".html_safe
  .row-fluid
    .span6= f.input :first_name, label: 'Nombres'
    .span6= f.input :last_name, label: 'Apellidos'

  .row-fluid
    .span6= f.input :phone, :label => 'Teléfono'
    .span6= f.input :mobile, :label => 'Móvil'

  .row-fluid
    .span6= f.input :address, :label => 'Dirección', :as => :text, :input_html => {:rows => 4, :cols => 35}
  
    .span6= f.input :rol, :collection => User.get_roles.slice(1, 3), :label => 'Rol'

  = render 'users/permissions'

  .form-actions
    = f.submit "Adicionar usuario", class: 'btn btn-success b'


:coffeescript
  $(->
    markRolColumn = ->
      $('#roles td').removeClass('marked')
      try
        ind = $('th.' + $('#user_rol').val() ).data('index')
        $('#roles td:nth-child(' + ind + ')').addClass('marked')
      catch e

    $('body').on('change keyup', '#user_rol', markRolColumn)
    markRolColumn()
  )
