= simple_form_for(@item) do |f|
  = bonsai_form_error(f)
  = f.input :ctype, :as => :hidden

  %div{ :class => 'inputs half fl'}
    = f.input :name, :label => 'Nombre'
    = f.input :code, :label => 'Código'
    = f.association :unit, :label => "Unidad", :input_html => { 'data-path' => new_unit_path }
    = f.input :active, :label => "Activo", :as => :radio

  %div{ :class => 'inputs half fl'}
    - if f.object.product?
      = f.input :price, :label => 'Precio'
      = f.input :discount, :label => 'Descuento (%)'

    = f.input :tag_list, :label => 'Etiquetas', :hint => 'Escriba las palabras que usara como etiquetas separadas por comas, Ej: grande, costoso'
    = f.input :description, :as => :text, :input_html => {:rows => 5}, :label => "Descripción"

  %div{ :class => "clear" }
  
  = f.submit "Salvar"
= javascript_include_tag 'item_alt'

:javascript
  
  $(function() {

    $('select[data-path]').prepend('<option class="new" value="" >Adicionar nuevo</option>');

    var item_discount_div = new DiscountRange('item_discount');
  });
