= simple_form_for(@item) do |f|
  = bonsai_form_error(f)

  %div{ :class => 'inputs half fl'}
    = f.input :name, :label => 'Nombre'
    = f.input :code, :label => 'Código'
    = f.input :stockable, :hint => 'Indica si el ítem puede guardarse en stock'
    = f.input :product, :label => "Comercializable como producto", :as => :radio
    %div{ :class => "price_details #{'hide' unless f.object.product? }"}
      %div{:class => "_30 fl" }
        = f.input :price, :label => 'Precio', :input_html => { :size => 12 }
      %div{ :class=> "_30 fl" }
        = f.input :discount, :label => 'Descuento (%)', :input_html => { :size => 12 }

  %div{ :class => 'inputs half fl'}
    = f.association :unit, :label => "Unidad", :input_html => { 'data-path' => new_unit_path }
    = f.input :active, :label => "Activo", :as => :radio
    = f.input :tag_list, :label => 'Etiquetas', :hint => 'Escriba las palabras que usara como etiquetas separadas por comas, Ej: grande, costoso'
    = f.input :description, :as => :text, :input_html => {:rows => 5}, :label => "Descripción"

  %div{ :class => "clear" }
  
  = f.submit "Salvar"

:javascript
  $(function() {
    $('input:radio[name="item[product]"]').click(function() {
      if( $(this).val() === 'true' ) {
        $('div.price_details input').attr('disabled', false);
        $('div.price_details').show('medium');
      }else {
        $('div.price_details input').attr('disabled', true);
        $('div.price_details').hide('medium');
      }
    });

    $('select option:first').attr({ 'disabled': true, 'text': 'seleccione..'} );
    $('select[data-path]').live('change', function() {
      var opt = $(this).find('option:selected');
      if(opt.hasClass('new')) {
        alert('Adicionar');
      }
    });
    $('select[data-path]').prepend('<option class="new" value="" >Adicionar nuevo</option>');

    /**
     * Splits the value for range string and values
     * @param String
     * @return Array
     */
    function splitAndReturnValues(val) {
      var val = val.replace(/\s*$/, "");
      var arr = [];
      $(val.split(/\s+/)).each(function(i, el) {
        var tmp = el.split(":");
        arr[arr.length] = [parseFloat(tmp[0]), parseFloat(tmp[1]) ];
      });
      return arr;
    }

    /**
     * Creates an HTML table to display ranges
     * @param Array
     * @return String
     */
    function createDiscountTable(values) {
      var html = [];
      $(values).each(function(i, el) {
        if(values[i + 1]) {
          txt = el[0] + ' a ' + values[i + 1][0];
        }else {
          txt = 'desde ' + el[0] + ' adelante';
        }
        html.push(['<tr>', '<td>', txt, '</td><td>', el[1],'</td></tr>']);
      });

      return '<table class="decorated" id="item_discount_table"><tr><th>Rango</th><th>Porcentaje (%)</th>' + html.join("") + '</table>';
    }

    function createItemDiscountDiv() {
      div = document.createElement(div);
      $(div).attr({'id': 'item_discount_div'});
      $('#item_discount').after(div);
      $(div).css({
        'position': 'absolute', 'width': '300px', 'padding': '5px',
        'background-color': '#FFF', 'border': '1px solid #DFDFDF'
      });
    }

    var reg_range_discount = /^((?-mix:([\d]+(\.[\d]+)?)):(?-mix:([\d]+(\.[\d]+)?))\s+)+((?-mix:([\d]+(\.[\d]+)?)):(?-mix:([\d]+(\.[\d]+)?))\s*)$;
    // Events for the item discount
    $('#item_discount').focus(function() {
      if($('#item_discount_div').length <= 0) {
        document.createElement
      }
      var value = $(this).val()
      if(reg_range_discount.test(value)) {
        var table = createDiscountTable(splitAndReturnValues(value) );
      }
    });
    $('#item_discount').blur(function() {
      $('#item_discount_div').hide();
    })

  });
