:css
  #item-form{max-width: 800px; }
  #item-form .well .form-horizontal label{ width: 100px; }

= simple_form_for(@item, :html => {:id => 'item-form'}) do |f|
  = bonsai_form_error(f)
  = hidden_field_tag "scope", params[:scope] if params[:scope].present?

  .row-fluid
    .span6
      = f.input :name, label: 'Nombre', input_html: { class: 'span11' }
    .span3.form-inline
      = f.input :active, label: 'Visible', hint: 'Visible en operaciones'

    .span3
      = f.input :code, label: 'Código', input_html: { class: 'span11' }

  .row-fluid
    .span6
      .unit-control.input(class="#{field_with_errors(f, :unit_id)}")
        = f.association :unit do
          = f.label 'Unidad de medida'
          = f.select :unit_id, Unit.order('name asc').map { |v| [v.to_s, v.id] },
            { include_blank: true }, { class: 'span8' }

          %a#new-unit-link.btn.add-new-url(title='Nueva unidad de medida' data-toggle='tooltip')
            %i.icon-plus-sign
          = error_message f, :unit_id

      .unit-form(style='display:none')
        .form-inline
          %span
            %input(type='text' id='unit_name' size='15' placeholder='Nombre' title='Nombre')
          %span
            %input(type='text' id='unit_symbol' size='7' placeholder='Símbolo' title='Símbolo')
          %btn#save-button.btn.btn-small.btn-primary Salvar
          %btn#cancel-button.btn.btn-small Cancelar
        %br

    .span6
      = f.input :description, label: 'Descripción', input_html: {class: 'span12'}

  .row-fluid
    .span6.well.well-small
      = f.input :buy_price,
        label: "Precio de <strong>Compra</strong> #{currency_label}".html_safe, input_html: {size: 12, type: 'decimal'}

    .span6.well.well-small
      .row-fluid
        .span6.form-inline
          = f.input :for_sale, as: :boolean, label: '<strong>Venta</strong>'.html_safe,
            hint: 'Permitir venta'
        .span6
          = f.input :price, label: "Precio de <strong>Venta</strong> #{currency_label}".html_safe,
            input_html: {size: 12, type: 'decimal'}

  .form-actions
    = f.submit "Salvar", :class => 'btn btn-primary b'

= render 'items/js'
