:css
  #item-form{max-width: 800px; }

= simple_form_for(@item, :html => {:id => 'item-form'}) do |f|
  = bonsai_form_error(f)
  = hidden_field_tag "scope", params[:scope] if params[:scope].present?

  .row-fluid
    .span6
      = f.input :code, :label => 'Código'
    .span6
      = f.input :name, :label => 'Nombre'
  .row-fluid
    .span3
      = f.input :active, :label => "Activo <i class='bicon-info' title='Se usara para ingresos o egresos'></i>".html_safe, :as => :radio, :item_wrapper_class => 'inline'
    .span3
      = f.input :stockable, label: 'Inventario <i title="Se almacena el ítem en almacenes?" class="bicon-info"></i>'.html_safe, as: :radio, item_wrapper_class: 'inline'
    #for_sale.span3
      = f.input :for_sale, label: 'Para vender', as: :radio, item_wrapper_class: 'inline'
    #price.hide.span3
      = f.input :price, :label => "Precio de venta #{currency_code_label}".html_safe, :input_html => {:size => 12, :type => 'decimal'}
  .row-fluid
    .span6
      = f.association :unit, :label => "Unidad", 
        :input_html => { 'data-new_url' => new_unit_path, 'data-trigger' => 'new_unit', 'data-title' => 'Nueva unidad' }
    .span6
      = f.input :description, :as => :text, :input_html => {:rows => 4}
  
  = f.submit "Salvar", :class => 'btn btn-success b'

:javascript
  $(function() {
    $('body').live('new_unit', function(e, resp) {
      var label = resp.name + " (" + resp.symbol + ")";
      $('#item_unit_id').createSelectOption(resp.id, label);
    });

    function showHidePrice() {
      if($('#item_for_sale_true').attr('checked') ){
        $('#price').show('slow');
      }else{
        $('#price').hide('slow');
      }
    }

    $('#for_sale input').live('click', function() { showHidePrice() });
    showHidePrice();
  });
