:css
  #item-form{max-width: 800px; }
  #item-form .well .form-horizontal label{ width: 100px; }

= simple_form_for(@item, :html => {:id => 'item-form'}) do |f|
  = bonsai_form_error(f)
  = hidden_field_tag "scope", params[:scope] if params[:scope].present?

  .row-fluid
    .span6
      = f.input :name, label: 'Nombre', input_html: {class: 'span11'}
    .span6
      = f.input :code, label: 'Código', input_html: {class: 'span11'}

  .row-fluid
    .span6
      = f.association :unit, label: "Unidad", wrapper_html: {class: 'form-inline'},
        input_html: { class: 'span10', data: {new_url: new_unit_path, trigger: 'new-unit', title: 'Nueva unidad'} }
    .form-horizontal.span6
      = f.input :active, label: "Activo <i class='icon-info-sign' data-toggle='tooltip' title='Se puede usar en nuevos Ingresos o Egresos'></i>".html_safe do
        = f.check_box :active
      = f.input :stockable, label: 'Inventario <i title="Se almacena el ítem?" data-toggle="tooltip" class="icon-info-sign"></i>'.html_safe do
        = f.check_box :stockable

  .row-fluid
    .span6.well.well-small
      %h4.muted Compra
      = f.input :buy_price, label: "Precio de compra #{currency_label}".html_safe, input_html: {size: 12, type: 'decimal'}

    .span6.well.well-small
      %h4.muted Venta

      .row-fluid
        .span6
          = f.input :for_sale, as: :boolean, label: 'Se vende', label_html: {class: 'span8'} do
            = f.check_box :for_sale
        .span6
          = f.input :price, label: "Precio de venta #{currency_label}".html_safe, input_html: {size: 12, type: 'decimal'}

  .row-fluid
    .span6
      = f.input :description, label: 'Descripción', input_html: {class: 'span12'}

  .form-actions
    = f.submit "Salvar", :class => 'btn btn-primary b'

:javascript
  $(function() {
    $('body').on('new_unit', function(e, resp) {
      var label = resp.name + " (" + resp.symbol + ")";
      $('#item_unit_id').createSelectOption(resp.id, label);
    });
  });
