:css
  #item-form{max-width: 800px; }
  #item-form .well .form-horizontal label{ width: 100px; }

= simple_form_for(@item, :html => {:id => 'item-form'}) do |f|
  = bonsai_form_error(f)
  = hidden_field_tag "scope", params[:scope] if params[:scope].present?

  .row-fluid
    .span6
      = f.input :name, label: 'Nombre', input_html: {class: 'span11'}
    .span6
      = f.input :code, label: 'Código', input_html: {class: 'span11'}

  .row-fluid
    .span6
      .unit-control.input
        = f.association :unit, label: "Unidad de medidad" do
          = f.collection_select :unit_id, Unit.order('name asc'), :id, :to_s, {}, class: 'span10'
          %a#new-unit-link.btn(title='Nueva unidad de medida' data-toggle='tooltip')
            %i.icon-plus-sign
      .unit-form(style='display:none')
        .form-inline
          %span
            %input(type='text' id='unit_name' size='15' placeholder='Nombre' title='Nombre')
          %span
            %input(type='text' id='unit_symbol' size='7' placeholder='Símbolo' title='Símbolo')
          %btn#save-button.btn.btn-small.btn-primary Salvar
          %btn#cancel-button.btn.btn-small Cancelar
        %br
    .span6.form-inline
      .row-fluid
        .span6
          = f.input :active, label: "Activo <i class='icon-info-sign' data-toggle='tooltip' title='Se puede usar en nuevos Ingresos o Egresos'></i>".html_safe
        .span6
          = f.input :stockable, label: 'Inventario <i title="Se almacena el ítem?" data-toggle="tooltip" class="icon-info-sign"></i>'.html_safe

  .row-fluid
    .span6.well.well-small
      %h4.muted Compra
      = f.input :buy_price, label: "Precio de compra #{currency_label}".html_safe, input_html: {size: 12, type: 'decimal'}

    .span6.well.well-small
      %h4.muted Venta

      .row-fluid
        .span6.form-inline
          = f.input :for_sale, as: :boolean, label: 'Se vende'
        .span6
          = f.input :price, label: "Precio de venta #{currency_label}".html_safe, input_html: {size: 12, type: 'decimal'}

  .row-fluid
    .span6
      = f.input :description, label: 'Descripción', input_html: {class: 'span12'}

  .form-actions
    = f.submit "Salvar", :class => 'btn btn-primary b'

:javascript
  $(function() {
    $('body').on('click', '#new-unit-link', function() {
      $('#save-button').prop('disabled', false);
      $('.unit-form input').val('')
      showHide('form');
    })
    $('body').on('click', '#cancel-button', function() { showHide('control') });

    $('#save-button').on('click', function() {
      $(this).prop('disabled', true);
      formSubmit();
    });

    function showHide(elem) {
      if(elem == 'form') {
        $('.unit-form').show();
        $('.unit-control').hide();
      }else {
        $('.unit-form').hide();
        $('.unit-control').show()
      }
    }

    function formSubmit() {
      var data = {unit: {name: $('#unit_name').val(), symbol: $('#unit_symbol').val()}};
      $.post('#{units_path}', data, function(resp) {
        if(resp.id) {
          createOptionAndSelect(resp);
          showHide('control');
        } else {
          setErrors(resp);
        }
      })
    }

    function createOptionAndSelect(resp) {
      var option = ['<option value="', resp.id, '">', resp.name , ' (', resp.symbol, ')','</option>'].join('')
      $('#item_unit_id').append(option)
      .val(resp.id);
    }

    function setErrors(resp) {
      $('.unit-form .field_with_errors').removeClass('field_with_errors');
      var err = resp.name
          msg = [];
      if(err && err.length > 0) {
        $('#unit_name').parents('span').addClass('field_with_errors');
        msg.push('Nombre: ' + err.join(","))
      }
      err = resp.symbol;
      if(err && err.length > 0) {
        $('#unit_symbol').parents('span').addClass('field_with_errors')
        msg.push('Símbolo: ' + err.join(","))
      }

      if(msg.length > 0) {
        alert("Existen errores\n" + msg.join("\n") );
      }
    }
  });
