= simple_form_for(@item) do |f|
  = bonsai_form_error(f)
  /= f.input :ctype, :as => :hidden

  = f.input :code, :label => 'Código'
  = f.input :name, :label => 'Nombre'
  .clear
  = f.input :ctype, :label => 'Tipo', :collection => Item.get_types, :as => :radio
  = f.association :unit, :label => "Unidad", :input_html => { 'data-path' => new_unit_path }
  .clear
  = f.input :active, :label => "Activo", :as => :radio
  .clear
  = f.input :unitary_cost, :label => 'Costo unitario'
  = f.input :price, :label => 'Precio de venta'
  .clear
  = f.input :discount, :label => 'Descuento en venta (%)', :hint => 'Ej: 10:2.5 20:4'
  = f.input :tag_list, :label => 'Etiquetas', :hint => 'Escriba palabras separadas por comas, Ej.: grande, costoso'
  .clear
  = f.input :description, :as => :text, :input_html => {:rows => 5}
  .clear
  
  = f.submit "Salvar"
= javascript_include_tag 'item'

:javascript
  
  $(function() {

    $('select[data-path]').prepend('<option class="new" value="" >Adicionar nuevo</option>');

    var item_discount_div = new DiscountRange('item_discount');
  });
