:css
  #item-form{max-width: 800px; }

= simple_form_for(@item, :html => {:id => 'item-form'}) do |f|
  = bonsai_form_error(f)
  = hidden_field_tag "scope", params[:scope] if params[:scope].present?

  .row-fluid
    .span6
      = f.input :code, :label => 'Código'
    .span6
      = f.input :name, :label => 'Nombre'
  .row-fluid
    .span6
      = f.input :price, :label => "Precio de venta #{currency_symbol}", :input_html => {:size => 12, :type => 'decimal'}
    .span6
      = f.association :unit, :label => "Unidad", 
        :input_html => { 'data-new_url' => new_unit_path, 'data-trigger' => 'new_unit', 'data-title' => 'Nueva unidad' }
  .row-fluid
    .span6.inline-group
      = f.input :active, :label => "Activo", :as => :radio, :item_wrapper_class => 'inline'
    .span6.inline-group
      - if f.object.new_record?
        = f.input :ctype, :label => 'Tipo', :collection => Item.get_types(params[:scope]), :as => :radio,
            :item_wrapper_class => 'inline',
            :wrapper_html => {title:"<span class='icon-warning-sign icon-white'></span> No es posible modificar después".html_safe}
      - else
        %label Tipo
        = f.object.get_type
  .row-fluid
    .span6
      = f.input :description, :as => :text, :input_html => {:rows => 4}
  
  = f.submit "Salvar", :class => 'btn btn-success b'

:javascript
  $(function() {
    $('body').live('new_unit', function(e, resp) {
      var label = resp.name + " (" + resp.symbol + ")";
      $('#item_unit_id').createSelectOption(resp.id, label);
    });
  });
