:css
  #item-form{max-width: 800px; }
  #item-form .well .form-horizontal label{ width: 100px; }

= simple_form_for(@item, :html => {:id => 'item-form'}) do |f|
  = bonsai_form_error(f)
  = hidden_field_tag "scope", params[:scope] if params[:scope].present?

  .row-fluid
    .span6
      = f.input :name, label: 'Nombre', input_html: {class: 'span11'}
    .span6
      = f.input :code, label: 'Código', input_html: {class: 'span11'}

  .row-fluid
    .span6
      .unit-control
        = f.association :unit, label: "Unidad de medidad", input_html: { class: 'span10'}
      .unit-form(style='display:none')
        .form-inline
          %input(type='text' id='unit_name' size='15' placeholder='Nombre' title='Nombre')
          %input(type='text' id='unit_name' size='7' placeholder='Símbolo' title='Simbolo')
          %btn#save-button.btn.btn-small.btn-primary Salvar
          %btn#cancel-button.btn.btn-small Cancelar
        %br
    .span6.form-inline
      .row-fluid
        .span6
          = f.input :active, label: "Activo <i class='icon-info-sign' data-toggle='tooltip' title='Se puede usar en nuevos Ingresos o Egresos'></i>".html_safe
        .span6
          = f.input :stockable, label: 'Inventario <i title="Se almacena el ítem?" data-toggle="tooltip" class="icon-info-sign"></i>'.html_safe

  .row-fluid
    .span6.well.well-small
      %h4.muted Compra
      = f.input :buy_price, label: "Precio de compra #{currency_label}".html_safe, input_html: {size: 12, type: 'decimal'}

    .span6.well.well-small
      %h4.muted Venta

      .row-fluid
        .span6.form-inline
          = f.input :for_sale, as: :boolean, label: 'Se vende'
        .span6
          = f.input :price, label: "Precio de venta #{currency_label}".html_safe, input_html: {size: 12, type: 'decimal'}

  .row-fluid
    .span6
      = f.input :description, label: 'Descripción', input_html: {class: 'span12'}

  .form-actions
    = f.submit "Salvar", :class => 'btn btn-primary b'

:javascript
  $(function() {
    var html = ' <a href="javascript:;" id="new-unit-link" title="Nueva unidad de medida" class="btn dark" data-toggle="tooltip"><i class="icon-plus-sign"></i></a>';
    $('#item_unit_id').after(html);

    $('body').on('click', '#new-unit-link', function() {
      $('.unit-form').show()
      $('.unit-control').hide()
    })

    $('body').on('click', '#cancel-button', function() {
      $('.unit-form').hide()
      $('.unit-control').show()
    })
  });
