.row-fluid.but
  .buttons-list
    .btn-group.search-tags(data-toggle='buttons-radio')
      %button.btn.search(href='#search-pane') Busqueda
      %button.btn.tags(href='#tags-pane') Etiquetas

  .panes
    #search-pane.button-pane
      = form_tag '/items', method: 'get', class: 'form-inline' do
        = text_field_tag 'search', '', placeholder: 'Nombre o código', size: 45
        %label(for='for_sale')
          = check_box_tag 'for_sale', '1', params[:for_sale].present?
          Venta
        = submit_tag 'Buscar', class: 'btn'

      =link_to 'eliminar filtro', items_path  if params[:commit].present?

    #tags-pane.button-pane
      = render 'tags/tags', model: 'Item', list: '#items-list'

:javascript
  $(function() {
    $('.but').buttonTab();
    new Plugin.TagSearch('#search');
  })

