- content_for :links do
  %ul.breadcrumps
    %li #{link_to "Items", items_path} 
  .links
    = link_to "Nuevo", new_item_path, :class => 'add'
    = link_to "Ver", @item, :class => 'show'
    = link_to "Borrar", @item, :class => 'delete', :confirm => 'Esta seguro de borrar el ítem', :method => :delete

%h1 Editar ítem

= render 'form'

