%h1= item_title

%div.search
  =form_tag "/items", :method => 'get'
  =hidden_field_tag 'ctype', params[:ctype]
  %strong.dark Nombre o código
  =text_field_tag 'name_code', params[:name_code], :size => 40
  =submit_tag 'Buscar'


%p.links= link_new_item

%table{ :class=> "decorated mt10" }
  %tr
    %th Nombre
    %th Código
    %th Unidad
    %th Descripción
    %th Stockable
    %th

  - @items.each do |item|
    %tr
      %td= link_to item.name, item
      %td= item.code 
      %td= item.unit.name 
      %td= item.description 
      %td{ :class => item.stockable }
      %td= bonsai_links(item)
