- content_for :links do
  %ul.breadcrumbs.span6
    %li
      %span Items


.row-fluid
  .span6
    %h1 Items
  .span6.r
    = link_to new_item_path, class: 'btn' do
      %i.icon-plus-sign
      Nuevo ítem

.row-fluid
  .span6
    = render 'items/search'

= paginate @items

%ul.unstyled.listing
  - @items.each do |item|
    %li.row-fluid
      .span5
        %h4
          = link_to item, item, class: 'b'
          %br
          %small= item.unit
      .span5
        .row-fluid
          .span6
            %span.muted(title="" rel="tooltip") Activo:
            %span(class="#{true_false item.active?}")
            &nbsp;&nbsp;
            %span.muted(title="Inventario" rel="tooltip") Inv.:
            %span(class="#{true_false item.stockable?}")
          .span6.r
            %span.b.muted Se vende:
            %span(class="#{true_false_color item.for_sale?}")

        .row-fluid
          .span6.r
            %span.muted Precio compra:
            = currency_label
            = ntc item.buy_price
          .span6.r
            %span.muted Precio venta:
            = currency_label
            = ntc item.price
      
        -#= ntc item.total_stock if item.stockable?
      .span2.r
        = link_to icon_edit, edit_item_path(item), class: 'dark'
        = link_to icon_delete, item, class: 'dark', method: 'delete', confirm: 'Esta seguro de eliminar el ítem?'


:javascript
  $(function() { $('#search_items').show() });
