%h1 Items

%div.search
  =form_tag "/items", :method => 'get'
  %strong.dark Código o nombre
  =text_field_tag 'name_code', params[:search], :size => 40
  =submit_tag 'Buscar'


%p.links= link_to "Nuevo ítem", new_item_path, :class => 'new'

%table{ :class=> "decorated mt10" }
  %tr
    %th Código
    %th Nombre
    %th Unidad
    %th Precio<br/>de compra
    %th Precio<br/>de Venta

  - @items.each do |item|
    %tr
      %td= link_to item.code, item
      %td= item.name
      %td= item.unit.name 
      %td= item.unitary_cost
      %td= item.price
      %td= bonsai_links(item)
