%h1 Items

%div.search
  =form_tag "/items", :method => 'get'
  %strong.dark Código o nombre
  =text_field_tag 'name_code', params[:search], :size => 40
  =submit_tag 'Buscar'


%p.links= link_to "Nuevo ítem", new_item_path, :class => 'new'

%table{ :class=> "decorated mt10" }
  %tr
    %th Código
    %th.300 Nombre
    %th Tipo
    %th Unidad
    %th Costo<br/>Unitario
    %th Precio<br/>de Venta
    %th

  - @items.each do |item|
    %tr
      %td= link_to item.code, item
      %td= item.name
      %td= item.get_type
      %td= item.unit.name 
      %td.r= ntc( item.unitary_cost )
      %td.r= ntc( item.price )
      %td= bonsai_links(item)
