<h1><%= bonsai_title %></h1>

<%= link_to t("new"), new_item_path, :class => "new" %>


  <table class="decorated">
    <tr>
      <% bonsai_th "item" do |item| %>
        <%= item.t :name, :width => 200 %>
        <%= item.t :unit %>
        <%= item.t :description, :width => 270 %>
        <%= item.t :product %>
        <%= item.t :stockable %>
      <% end %>
      <th></th>
    </tr>

  <% @items.each do |item| %>
    <tr>
      <td><%= link_to item.name, item %></td>
      <td><%= item.unit.name %></td>
      <td><%= item.description %></td>
      <td><%= bonsai? item.product %></td>
      <td><%= bonsai? item.stockable %></td>
      <td><%= raw bonsai_links(item) %></td>
    </tr>
  <% end %>
  </table>

