- content_for :links do
  %ul.breadcrumbs.span6
    %li
      = link_to 'Items', items_path

  %ul.span6.breadcrumbs.r
    %a#help.dark(href='javascript:;')
      %i.icon-question-sign
      Ayuda

.row-fluid
  .span6
    %h1.ib Items
    = search_tag
  .span6.r.buttons
    %tags(model='Item' tag-ids='#{ tag_ids }' url='#{ items_path }')

    = link_to new_item_path, class: 'btn', id: 'new-item-link' do
      %i.icon-plus-sign
      Nuevo ítem

%ul.unstyled.inline
  %li
    = link_to "Todos", items_path, class: params_bold(:all)
  %li
    = link_to "Venta", items_path(for_sale: true), class: param_bold_for(:for_sale, 'true')
  %li
    = link_to "No venta", items_path(for_sale: false), class: param_bold_for(:for_sale, 'false')
  %li
    = link_to "Visibles", items_path(active: true), class: param_bold_for(:active, 'true')
  %li
    = link_to "Invisibles", items_path(active: false), class: param_bold_for(:active, 'false')

= render 'search'

- paginate_html = paginate @items

= paginate_html

-# cache [organisation_name, @items] do
%ul#items-list.unstyled.listing.has-row-check
  =render @items

= paginate_html

= render 'index_tour'
