- content_for :links do
  %ul.breadcrumps.span6
    %li
      %span Items

  .links.span6= link_to "Nuevo ítem", new_item_path, :class => 'new'

%h1 Items

- if Store.scoped.empty?
  %h3.red 
    Le recomendamos crear
    =link_to "almacenes", stores_path


= link_to "Buscar", "#search_items", :class => 'search'

.clear
#search_items.well{:style => show_if_search}
  %a.close(href="javascript:") x
  =form_tag "/items", :method => 'get' do
    =hidden_field_tag "search_div_id", "search_items"
    =hidden_field_tag 'ctype', params[:ctype]
    %label Nombre o código
    =text_field_tag 'search', params[:search], :size => 40
    =submit_tag 'Buscar', :class => 'btn btn-success'


.clear
= paginate @items


%table{ :class=> "decorated" }
  %tr
    %th Código
    %th.300 Nombre
    %th Precio<br/>de Venta
    %th Tipo
    %th Unidad
    %th Inventario<br/>Total
    %th Activo
    %th

  - @items.each do |item|
    %tr
      %td= link_to item.code, item, :class => 'b'
      %td= item.name
      %td.r= ntc( item.price )
      %td= item.get_type
      %td= item.unit.name 
      %td.r= ntc item.total_stock
      %td.c <span class="#{item.active}"></span>
      %td= bonsai_links(item)

:javascript
  $(function() { $('#search_items').show() });
