- content_for :links do
  %ul.breadcrumbs.span6
    %li
      &nbsp;

  %ul.span6.breadcrumbs.r
    %a#help.dark(href='javascript:;')
      %i.icon-question-sign
      Ayuda

.row-fluid
  .span6
    %h1 Items
  .span6.r
    = link_to new_item_path, class: 'btn', id: 'new-item-link' do
      %i.icon-plus-sign
      Nuevo ítem



= render 'items/search'

- paginate_html = paginate @items

= paginate_html

- cache @items do
  %ul#items-list.unstyled.listing
    =render @items

= paginate_html

= render 'index_tour'

:javascript
  $(function() {
    $('#search_items').show();
    $('.listing').rowCheck();
  });
