- content_for :links do
  %ul.breadcrumbs.span6
    %li
      %span Items


.row-fluid
  .span6
    %h1 Items
  .span6.r
    = link_to new_item_path, class: 'btn' do
      %i.icon-plus-sign
      Nuevo ítem

= paginate @items

%ul.unstyled.listing
  - @items.each do |item|
    %li.row-fluid
      .span5
        %h4= link_to item, item, class: 'b'
      .span3
        %span.muted(title="" rel="tooltip") Activo:
        %span(class="#{true_false item.active?}")

        %span.muted(title="Inventario" rel="tooltip") Inv.:
        %span(class="#{true_false item.stockable?}")

        %span.muted Se vende:
        %span(class="#{true_false item.for_sale?}")
      .span2
        - if item.for_sale?
          %span.muted Precio:
          %strong= ntc item.price
          = currency_label
        <br>
        %span.muted Unidad:
        = item.unit_name
      
        -#= ntc item.total_stock if item.stockable?
      .span2.r
        = link_to icon_edit, edit_item_path(item), class: 'dark'
        = link_to icon_delete, item, class: 'dark', method: 'delete', confirm: 'Esta seguro de eliminar el ítem?'


:javascript
  $(function() { $('#search_items').show() });
