<h1>Items</h1>

<%= link_to "Nuevo", new_item_path, :class => "new" %>


  <table class="decorated">
    <tr>
      <th>Nombre</th>
      <th>Unidad</th>
      <th>Descripción</th>
      <th>Producto</th>
      <th>Stockable</th>
      <th></th>
    </tr>

  <% @items.each do |item| %>
    <tr>
      <td><%= link_to item.name, item %></td>
      <td><%= item.unit.name %></td>
      <td><%= item.description %></td>
      <td class="<%= item.product %>"></td>
      <td class="<%= item.stockable %>"></td>
      <td>
        <%= bonsai_links item %>
      </td>
    </tr>
  <% end %>
  </table>

