- content_for :links do
  .links= link_to "Nuevo ítem", new_item_path, :class => 'new'

%h1 Items

%div.search{:style => 'display:none'}
  =form_tag "/items", :method => 'get'
  =hidden_field_tag 'ctype', params[:ctype]
  %strong.dark Nombre o código
  =text_field_tag 'name_code', params[:search], :size => 40
  =submit_tag 'Buscar'


.clear

= link_to "Buscar", "#", :class => 'search'
= paginate @items

%table{ :class=> "decorated" }
  %tr
    %th Código
    %th.300 Nombre
    %th Costo<br/>Unitario
    %th Precio<br/>de Venta
    %th Tipo
    %th Unidad
    %th Activo
    %th

  - @items.each do |item|
    %tr
      %td= link_to item.code, item
      %td= item.name
      %td.r= ntc( item.unitary_cost )
      %td.r= ntc( item.price )
      %td= item.get_type
      %td= item.unit.name 
      %td.c <span class="#{item.active}"></span>
      %td= bonsai_links(item)
