<h1>Listing items</h1>

<%= link_to 'New Item', new_item_path, :class => "new" %>


  <table class="decorated">
    <tr>
      <% bonsai_th "item" do |item| %>
        <%= item.t :name %>
        <%= item.t :unit %>
        <%= item.t :description %>
        <%= item.t :product %>
        <%= item.t :stockable %>
      <% end %>
      <th></th>
    </tr>

  <% @items.each do |item| %>
    <tr>
      <td><%= item.name %></td>
      <td><%= item.unit.name %></td>
      <td><%= item.description %></td>
      <td><%= bonsai? item.product %></td>
      <td><%= bonsai? item.stockable %></td>
      <td><%= raw bonsai_links(item) %></td>
    </tr>
  <% end %>
  </table>

