- content_for :links do
  %ul.breadcrumps.span6
    %li
      %span Items


.row-fluid
  .span6
    %h1 Items
  .span6.links
    = link_to new_item_path, :class => 'new' do
      %i.bicon-add
      Nuevo ítem

- if Store.scoped.empty?
  %h3.red 
    Le recomendamos crear
    =link_to "almacenes", stores_path


= link_to "Buscar", "#search_items", :class => 'search'

.clear
#search_items.well{:style => show_if_search}
  %a.close(href="javascript:") x
  =form_tag "/items", :method => 'get' do
    =hidden_field_tag "search_div_id", "search_items"
    =hidden_field_tag 'ctype', params[:ctype]
    %label Nombre o código
    =text_field_tag 'search', params[:search], :size => 40
    =submit_tag 'Buscar', :class => 'btn btn-success'


.clear
= paginate @items


%table.table.table-striped
  %tr
    %th Código - Nombre
    %th Activo
    %th(title='Inventario') Inv.
    %th Se vende
    %th 
      Precio de<br/>Venta
      = currency_label
    %th Unidad
    %th Inventario<br/>Total
    %th

  - @items.each do |item|
    %tr
      %td= link_to item, item, :class => 'b'
      %td
        %span(class="#{true_false item.active?}")
      %td
        %span(class="#{true_false item.stockable?}")
      %td
        %span(class="#{true_false item.for_sale?}")
      %td.r= ntc item.price if item.for_sale?
      %td= item.unit_name
      %td.r
        = ntc item.total_stock if item.stockable?
      %td= bonsai_links(item)

:javascript
  $(function() { $('#search_items').show() });
