%h1 Ver item

%p
  = link_to "Editar", edit_item_path(@item) , :class => 'edit'
  = link_to "Lista", items_path(:ctype => @item.ctype), :class => 'list'

%div{ :class=> "fl half" }
  %p
    %label Nombre
    = @item.name
  %p
    %label Código
    = @item.code 
  %p
    %label Precio
    = @item.price
  %p#item_discount
    %label Descuento
    %span= @item.discount

%div{ :class => "fl half" }
  %p
    %label Unidad de medida
    = @item.unit
  %p
    %label Etiquetas
    = @item.tag_list
  %p
    %label Descripción
    = @item.description

%div{ :class => "clear" }

= javascript_include_tag 'item'
:javascript
  $(function() {
    if( $('#item_discount').length > 0 ) {
      $('#item_discount span').hide();
      var val = $('#item_discount span').html();
      var item_discount = new DiscountRangeShow('item_discount');
      item_discount.tableForField(val);
    }
  });
