- content_for :links do
  %ul.breadcrumbs.span6
    %li #{ link_to "Items", items_path }

.row-fluid
  .span8
    %h2.n= @item
  .span4.r
    .btn-group
      = link_to icon_new_text, new_item_path, class: 'btn'
      = link_to icon_edit_text, edit_item_path(@item), class: 'btn'
      = link_to icon_delete_text, @item, class: 'btn', confirm: "Esta seguro de borra el ítem", method: :delete

.row-fluid
  .span3
    %span.text-muted.muted
      %i.icon-info-sign(title="Un ítem visible se puede usar en operaciones" data-toggle="tooltip")
      Visible:
    %span.active.icon(class="icon-large icon-#{@item.active}")

  .span3
    %span.text-muted.muted Venta:
    %span.for_sale.icon(class="icon-large icon-#{@item.for_sale}")

  .span6
    %span.text-muted.muted Unidad:
    %span.unit= @item.unit

.row-fluid
  .span6.well.well-small
    %span.text-muted.muted Precio de COMPRA
    %strong= ntc @item.buy_price
    = currency_label

  .span6.well.well-small
    %span.text-muted.muted Precio de VENTA:

    %strong= ntc @item.price
    = currency_label

.row-fluid
  .span6
    %label Descripción
    = @item.description

.row-fluid
  .span6
    %h3 Adjuntos
    = render 'attachments/attachments', attachable: @item

  .span6
    %h3.n Historial

    %ul.unstyled
      = render partial: 'histories/history', collection: present(@item.histories.includes(:user))



.page-header
  %h3.n Inventario
- @item.stocks.includes(:store).each do |st|
  .moneybox.fl
    %label= st.store
    %h4.n= st.quantity

