<h1>Ver item</h1>
<% show_for @item do |o| %>
<div class="fl half">
  <%= o.association :unit %>
  <%= o.attribute :name %>
  <%= o.attribute :product %>
</div>
<div class="fl half">
  <%= o.attribute :stockable %>
  <%= o.attribute :description %>
</div>
<% end %>

<div style="clear:both"></div>
<%= link_to "Editar", edit_item_path(@item) , :class => 'edit' %>
<%= link_to "List", items_path, :class => 'list' %>
