%h1 Ver item

%p
  = link_to "Editar", edit_item_path(@item) , :class => 'edit'
  = link_to "Lista", items_path(:ctype => @item.ctype), :class => 'list'

  .input
    %label Código
    = @item.code 
  .input
    %label Nombre
    = @item.name
  .clear
  .input._25
    %label Unidad
    = @item.unit
  .input._25
    %label Activo
    %span.icon{:class => @item.active.to_s}
  .input
    %label Tipo
    = @item.get_type
  .clear
  .input._25
    %label Costo unitario
    = @item.unitary_cost
  .input._25
    %label Precio de venta
    = @item.price
  /.input#item_discount
  /%label Descuento
  /%span= @item.discount
  .input
    %label Etiquetas
    = @item.tag_list
  .clear
  .input
    %label Descripción
    = @item.description
  .clear

/= javascript_include_tag 'app/item'
:javascript
  $(function() {
    if( $('#item_discount').length > 0 ) {
      /*
      $('#item_discount span').hide();
      var val = $('#item_discount span').html();
      var item_discount = new DiscountRangeShow('item_discount');
      item_discount.tableForField(val);
      */
    }
  });
