<h1>Ver item</h1>

<div class="fl half">
  <p>
  	<label for="">Unidad de medida</label>
    <%= @item.unit %>
  </p>
  <p>
  	<label for="">Nombre</label>
    <%= @item.name %>
  </p>
  <p>
  	<label for="">Es producto</label>
    <span class="<%= @item.product %> icon"></span>
  </p>
</div>
<div class="fl half">
  <p>
    <label for="">Código</label>
    <%= @item.code %>
  </p>
  <p>
  	<label for="">Se puede almacenar</label>
    <span class="icon <%= @item.stockable %>"></span>
  </p>
  <p>
  	<label for="">Descripción</label>
    <%= @item.description %>
  </p>
</div>

<div style="clear:both"></div>
<%= link_to "Editar", edit_item_path(@item) , :class => 'edit' %>
<%= link_to "Lista", items_path, :class => 'list' %>
