- content_for :links do
  %ul.breadcrumbs.span6
    %li #{ link_to "Items", items_path }
    %li
      %i.icon-caret-right
    %li
      %span #{@item}

.row-fluid
  .span8
    %h1.n= @item
  .span4.r
    .btn-group
      = link_to icon_new_text, new_item_path, class: 'btn'
      = link_to icon_edit_text, edit_item_path(@item), class: 'btn'
      = link_to icon_delete_text, @item, class: 'btn', confirm: "Esta seguro de borra el ítem", method: :delete

.row-fuid
  .span2
    %label
      %i.icon-info-sign(title="Un ítem activo se puede usar en operaciones" data-toggle="tooltip") 
      Activo
    %span.icon{:class => @item.active.to_s}
  .span2
    %label
      %i.icon-info-sign(title="Indica si un ítem se puede almacenar" data-toggle="tooltip")
      Inventario
    %span.icon{:class => @item.stockable.to_s}
  .span2
    %label En venta
    %span.icon{:class => @item.for_sale.to_s}
  .span2
    %label Unidad
    = @item.unit

.row-fluid
  .span6.well.well-small
    %label Precio de compra
    .b
      = currency_label
      = ntc @item.buy_price

  .span6.well.well-small
    %label Precio de venta
    .b
      = currency_label
      = ntc @item.price

.row-fluid
  .span6
    %label Descripción
    = @item.description

.page-header
  %h3 Inventario
- @item.stocks.includes(:store).each do |st|
  .moneybox.fl
    %label= st.store
    %h3= st.quantity

.clear
-# unless request.xhr?
  .page-header
    %h3 Kardex de Compras y Ventas de del ítem
  
  - @details = @item.kardex.order("transactions.created_at DESC").page(@page)

  = paginate @details

  %table.table.table-striped
    %tr
      %th Compra/Venta
      %th Fecha
      %th Precio
      %th Cantidad
      %th Total fila

    - @details.each do |det|
      %tr
        %td= det.transaction
        %td= lo det.transaction_created_at
        %td.r= ntc det.price
        %td.r= ntc det.quantity
        %td.r= ntc det.subtotal

/= javascript_include_tag 'app/item'
:javascript
  $(function() {
    if( $('#item_discount').length > 0 ) {
      /*
      $('#item_discount span').hide();
      var val = $('#item_discount span').html();
      var item_discount = new DiscountRangeShow('item_discount');
      item_discount.tableForField(val);
      */
    }
  });
