- content_for :links do
  %ul.breadcrumps.span6
    %li #{ link_to "Items", items_path }
    %li
      %span #{@item}

  .links.span6
    = link_to "Nuevo", new_item_path, :class => 'add'
    = link_to "Editar", edit_item_path(@item) , :class => 'edit'
    = link_to "Borrar", @item , :class => 'delete', :confirm => "Esta seguro de borra el ítem", :method => :delete

.page-header
  %h1= @item

.row
  .span3
    %label Precio de venta
    .b= ntc @item.price
  .span3
    %label Unidad
    = @item.unit
  .span3
    %label Activo
    %span.icon{:class => @item.active.to_s}
  .span3
    %label Tipo
    = @item.get_type
.row
  .span6
    %label Descripción
    = @item.description

.page-header
  %h3 Inventario
- @item.stocks.includes(:store).each do |st|
  .moneybox.fl
    %label= st.store
    %h3= st.quantity

.clear
- unless request.xhr?
  .page-header
    %h3 Kardex de Compras y Ventas de del ítem
  
  - @details = @item.kardex.order("transactions.created_at DESC").page(@page)

  = paginate @details

  %table.decorated
    %tr
      %th Compra/Venta
      %th Fecha
      %th Precio
      %th Cantidad
      %th Total fila

    - @details.each do |det|
      %tr
        %td= det.transaction
        %td= lo det.transaction_created_at
        %td.r= ntc det.price
        %td.r= ntc det.quantity
        %td.r= ntc det.subtotal

/= javascript_include_tag 'app/item'
:javascript
  $(function() {
    if( $('#item_discount').length > 0 ) {
      /*
      $('#item_discount span').hide();
      var val = $('#item_discount span').html();
      var item_discount = new DiscountRangeShow('item_discount');
      item_discount.tableForField(val);
      */
    }
  });
