- content_for :links do
  %ul.breadcrumps
    %li #{ link_to "Items", "/items" }<span>&gt;</span>

  .links
    = link_to "Nuevo", new_item_path, :class => 'add'
    = link_to "Editar", edit_item_path(@item) , :class => 'edit'
    = link_to "Borrar", @item , :class => 'delete', :confirm => "Esta seguro de borra el ítem", :method => :delete
%h1= @item

.show
  .input
    %label Precio de venta
    .b= ntc @item.price
  .input._25
    %label Unidad
    = @item.unit
  .input._25
    %label Activo
    %span.icon{:class => @item.active.to_s}
  .clear
  .input
    %label Tipo
    = @item.get_type
  /.input#item_discount
  /%label Descuento
  /%span= @item.discount
  .input
    %label Descripción
    = @item.description
  .clear

%h3 Inventario
- @item.stocks.includes(:store).each do |st|
  .moneybox.fl
    %label= st.store
    %h3= st.quantity

/= javascript_include_tag 'app/item'
:javascript
  $(function() {
    if( $('#item_discount').length > 0 ) {
      /*
      $('#item_discount span').hide();
      var val = $('#item_discount span').html();
      var item_discount = new DiscountRangeShow('item_discount');
      item_discount.tableForField(val);
      */
    }
  });
