<h1>Impuestos</h1>

<%= link_to 'Nuevo impuesto', new_taxis_path, :class => 'new' %>

<table class="decorated">
  <tr>
    <th>Nombre</th>
    <th>Abreviación</th>
    <th>Cantidad</th>
    <th></th>
  </tr>

<% @taxes.each do |tax| %>
  <tr>
    <td><%= link_to tax.name, tax %></td>
    <td><%= tax.abbreviation %></td>
    <td><%= tax.rate %> %</td>
    <td><%= bonsai_links tax %></td>
  </tr>
<% end %>
</table>

