- content_for :links do
  .links
    = link_to "Nuevo impuesto", new_taxis_path, :class => 'new'
%h1 Impuestos
%table.decorated
  %tr
    %th Nombre
    %th Abreviación
    %th Cantidad
    %th
  - @taxes.each do |tax|
    %tr
      %td= link_to tax.name, tax
      %td= tax.abbreviation
      %td
        = tax.rate
        \%
      %td= bonsai_links tax
