- content_for :links do
  %ul.breadcrumps
    %li #{link_to "Inpuestos", taxes_path}
  
  .links
    = link_to "Nuevo", new_taxis_path, :class => 'add'
    = link_to "Editar", edit_taxis_path(@tax) , :class => 'edit'
    = link_to "Borrar", @tax , :class => 'delete', :confirm => "Esta seguro de borrar el impuesto", :method => :delete

%h1= @tax.name
.input
  %label Abreviación
  %span= @tax.abbreviation
.input
  %label Inpuesto %
  %span= ntc @tax.rate
