<p>
  <b>Name:</b>
  <%= @tax.name %>
</p>

<p>
  <b>Abbreviation:</b>
  <%= @tax.abbreviation %>
</p>

<p>
  <b>Rate:</b>
  <%= @tax.rate %>
</p>

<p>
  <b>Organisation:</b>
  <%= @tax.organisation %>
</p>


<%= link_to 'Editar', edit_taxis_path(@tax), :class => 'edit' %> 
<%= link_to 'Lista', taxes_path, :class => 'list' %>
