<% simple_form_for(@unit) do |f| %>
  <div class="inputs">
    <%= f.input :name %>
    <%= f.input :abbreviation %>
    <%= f.input :description %>
    <%= f.input :integer %>
  </div>

  <div class="actions">
    <%= f.button :submit %>
  </div>
<% end %>
