<h1>Unidades de medida</h1>

<%= link_to 'Nueva unidad', new_unit_path, :class => "new" %>

<table class="decorated" style="width:50%">
  <tr>
    <th>Nombre</th>
    <th>Simbolo</th>
    <th>Entero</th>
    <th></th>
  </tr>

<% @units.each do |unit| %>
  <tr>
    <td><%= link_to unit.name, unit %></td>
    <td><%= unit.symbol %></td>
    <td class="c"><span class="<%= unit.integer %>"></span></td>
    <td><%=  raw bonsai_links(unit) %></td>
  </tr>
<% end %>
</table>

