- content_for :links do
  %ul.breadcrumbs
    %li
      &nbsp;

.row-fluid
  .span6
    %h1 Unidades de medida
  .span6.r
    = link_to new_unit_path, class: 'btn' do
      %i.icon-plus-sign
      Nueva unidad

%table.table.table-striped
  %tr
    %th Nombre
    %th Símbolo
    %th

  - @units.each do |unit|
    %tr
      %td
        %strong= unit
      %td
        = unit.symbol
      %td
        = link_to icon_edit, edit_unit_path(unit), class: 'dark'
        = link_to icon_delete, unit, class: 'dark', method: :delete, confirm: 'Esta segur@ de borrar la Unidad de medida?'
