<h1><%= bonsai_title %></h1>

<%= link_to 'New Unit', new_unit_path, :class => "new" %>

<table class="decorated" style="width:50%">
  <tr>
    <% bonsai_th "unit" do |unit| %>
      <%= unit.t :name, :width => 200 %>
      <%= unit.t :symbol %>
      <%= unit.t :integer %>
      <th></th>
    <% end %>
  </tr>

<% @units.each do |unit| %>
  <tr>
    <td><%= link_to unit.name, unit %></td>
    <td><%= unit.symbol %></td>
    <td><%= unit.integer? %></td>
    <td><%=  raw bonsai_links(unit) %></td>
  </tr>
<% end %>
</table>

