.row-fluid
  .span12.account_to
    = f.input :account_to_id, label: 'Cuenta', input_html: {class: 'span10', data:{value: 'payment.account_to_id'}}

.row-fluid
  .span6
    = f.input :date, as: :datepicker, label: 'Fecha'
  .span6
    %div.form-inline(data-show="payment.bank")
      = f.input :verification, as: :boolean, label: 'Verificar (solo banco)',
        input_html: {data: {value: 'payment.verification', checked: 'payment.verification'} },
       hint: 'Verificar a futuro. Ej.: (Cheque)'

.row-fluid
  .span3
    = f.input :amount,
      label: 'Cantidad <span class="currency"></span>'.html_safe,
      input_html: {type: 'number', size: 10,
      data: {value: 'payment.amount'} }
  .span3
    = f.input :exchange_rate, label: 'Tipo de cambio',
      input_html: {disabled: true, type: 'decimal', size: 10,
      data: {value: 'payment.exchange_rate', disabled: 'payment.sameCurrency'} }
  .span3
    .moneybox
      %label TOTAL
      %h4
        %span#currency_total(data-text="payment.totalCurrency")
        %span#devolution-currency-label= currency_label movement.currency


.row-fluid
  .span12
    = f.input :reference, label: 'Referencia', as: :text, input_html: {rows: 3, class: 'span11', data: {value: 'payment.reference'} }
