%h4.title Devolución

#loan(ng-controller='PaymentController')
  = simple_form_for @devolution, url: income_devolution_path(@devolution.account_id), html: {id: 'income-devolution-form'} do |f|
    = bonsai_form_error(f)
    = f.hidden_field :account_id

    %input(type='hidden' id='accounts' data-accounts='#{Accounts::Query.new.income_payment_options(@devolution.income).to_json}')
    = hidden_field_tag 'base_currency', @devolution.income_currency, 'ng-model' => 'base_currency', 'initial' => true

    = render 'payments/default_form', f: f, movement: @devolution

    .form-actions
      = f.submit "Devolución", class: 'btn btn-danger b'
