= simple_form_for inv, url: expenses_inventory_outs_path, html: {id: 'expenses-inventory-devolution'} do |f|
  = bonsai_form_error(f)

  = hidden_field_tag :store_id, @store.id
  = hidden_field_tag :expense_id, @expense.id

  .row-fluid
    .span6
      %label Egreso
      %h4.n= link_to inv.expense, inv.expense
    .span6
      %label Almacen
      %h4.n= link_to inv.store, inv.store, target: '_blank'

  = render 'inventories/devolution_form', f: f, inv: @inv

  .form-actions
    = f.submit 'Devolución mercadería', class: 'btn btn-primary b'

:javascript
  $(function() {
    $('#expenses-inventory-devolution').submit(function(event) {
      if(confirm("Esta segur@ de realizar la devolución de mercadería")) {
        return true
      }else {
        return false
      }
    });
  })
