%h2.dark#items_header Items

%table#items-table.table
  %thead
    %tr
      %th.item Item
      %th.price
        Precio unitario
        %span.currency
      %th.quantity Cantidad
      %th.total_row 
        Total fila
        %span.currency
      %th

  = f.simple_fields_for :transaction_details do |fd|
    %tr.item{:id => fd.object.id}
      %td
        = fd.input :item, as: :autocomplete, :label => false, 'data-source' => search_items_path(format: 'json'),
        input_html: {class: 'item_id', placeholder: 'Escriba para buscar el ítem'}

      %td
        = fd.input :price, input_html: { size: 8, type: 'decimal', data: {'original-price'=> fd.object.original_price, 'value' => 'item.price'}  },
        label: false

      %td
        = fd.input :quantity, input_html: { size: 8, type: :decimal, data: { 'value' => 'item.quantity' } },
        label: false

      %td.total_row.r
        %span(data-text='item.subtotal | number')= ntc fd.object.total
      %td.del 
        %a(href="javascript:;" data-on-click="item:delete" class="bicon-trash" title="Borrar" rel="tooltip")

  %tr.extra.pad_top.subtotal
    %td 
      %a(href="javascript:;" id="add-item-link" class="btn btn-primary")
        %i.icon-plus-sign.icon-white
        Adicionar ítem
    %td.r(colspan="2") 
      Subtotal
      %span.currency
    %td.r
      %span#subtotal=ntc(transaction.subtotal)
    %td

  %tr.extra
    %td
    %td.r.b.dark(colspan='2') 
      Total
      %span.currency
    %td.b.r
      = f.input :total, label: false, input_html: { type: 'decimal', size: 12, id: 'total', class: 'b' }
    %td

  - if transaction.is_a?(Income)
    %tr
      %td.cur.b.gray(colspan='3') 
        Descuento
        %span.currency
        \-
        %span.label.label-inverse %
      %td.discount.cur
        %span#discount
        \-
        %span#discount-per

