%h2.dark#items-header
  Items
  %span.n(style='font-size: 13px')= link_to 'ver ítems', items_path, target: '_blank'

%input(id='details' data-details='#{ movement.details.to_json }' value='#{ movement.details.to_json }')

%table#items-table.table
  %tr
    %th
      Item
    %th
      Precio
      %span.currency
    %th
      Cantidad
    %th
      Total fila
      %span.currency
    %th

  %tr(ng-repeat='detail in details')
    %td
      %input(type='text' ng-model='detail.id' name='income_details_attributes[{{$index}}][id]' size='2')
      %input(type='text' ng-model='detail.item_id' name='income_details_attributes[{{$index}}][id]' size='2')
      %input(type='hidden' ng-model='detail.item_id')
      %input(type='text' placeholder='Escriba para buscar el ítem' data-source='#{item_url}' ng-model='detail.item' ng-detail-autocomplete)
    %td
      %input(type='text' ng-model='detail.price' size='10' value='10')
    %td
      %input(type='text' ng-model='detail.quantity' size='10')
    %td.r
      {{ detail.subtotal() | decimal }}
    %td
      %a.dark(href='javascript:;' ng-click='destroy($index)')
        = icon_delete

  %tr
    %td.r(colspan='3')
      Subtotal
      %span.currency
    %td.r
      {{ subtotal() | decimal }}
    %td

  %tr
    %td.r.form-inline(colspan='3')
      %label Impuestos
      %input#taxes(type='hidden' data-taxes='#{ Tax.all.to_json(only: [:id, :name, :percentage]) }')


      %span.hidden= f.check_box :tax_in_out, 'ng-model' => 'tax_in_out', id: 'tax_in_out'
      = f.hidden_field :tax_id, 'ng-model' => 'tax_id'
      %select(ng-model='tax' ng-options='[t.name, " (", t.percentage, "%)" ].join("") for t in taxes track by t.id')
        %option(value='')

      - if current_user.is_admin? || current_user.is_group?
        = link_to icon('icon-plus-sign'), new_tax_path, title: 'Nuevo impuesto', class: 'btn'

      %a.btn.btn-small.b(data-toggle='button' ng-click='tax_in_out=!tax_in_out') {{ taxLabel() }}
      %span.currency

    %td.r
      {{ taxTotal() | decimal }}
    %td

  %tr
    %td.r.form-inline(colspan='3')
      %strong Total
      %span.currency
    %td.r
      {{ total() | decimal }}
    %td
