.row-fluid.currency-input
  .span6
    = f.input :currency, collection: currency_options, label: 'Moneda ', include_blank: false,
      input_html: {id: 'transaction_currency', data: { value: 'trans.currency' } }
  .span6
    = f.input :exchange_rate, label: "Tipo de cambio de <span class='currency'></span> a #{currency_label} ".html_safe,
      input_html: {id: 'transaction_exchange_rate', type: 'decimal', size: 8, data: {value: 'trans.rate', disabled: 'trans.sameCurrency'}}

- if movement.is_draft?
  %br
  .well.well-small.trans
    .row-fluid
      -# Render for direct_payment
      .span6.account_to
        %span(style='display:none')
          = f.check_box :direct_payment, data: {value: 'trans.direct_payment'}, id: 'direct_payment', style: 'vertical-align: top'
        %label(for='direct_payment')
          %a#direct-payment-button.btn.btn-small.b(data-toggle='button') Cobro directo

        = f.input :account_to_id,
          input_html: {id: 'account_to_id', class: 'span10',
          data: {value: 'trans.account_to_id', disabled: 'trans.direct_payment|inverse'}},
          label: "<strong>Cuenta</strong> a la cual se aplicara el <i>#{lbl} directo</i>".html_safe
      .span6
        = f.input :reference, label: 'Referencia', as: :text,
          input_html: {rows: 2, placeholder: 'Número de recibo o documento', class: 'span10',
          data: { disabled: 'trans.direct_payment|inverse' } }

:javascript
  $(function() {
    if($('#direct_payment').prop('checked')) {
      $('#direct-payment-button').addClass('active');
      $('.save-button').hide();
    }
  })
