%h1.mb5{:style => 'display:inline-block;'}= presenter.title
%span.b#transaction_state{:class => @transaction.real_state, :style => 'font-size:1.3em; min-width: 30px'}= @transaction.show_state

%h2.n.mt5= link_to @transaction.contact, @transaction.contact

._70.fl
  %h3= presenter.project
  
  .clear

  %h3._40.fl{:title => "Creado el"}= lo @transaction.created_at

  %h3._60.fl= presenter.payment_date

._30.r.fr
  -# FORM to approve transaction /transactions/_approve_form.html.haml
  = presenter.approve_form
  -# FORM to approve transaction /transactions/_approve_deliver.html.haml
  = presenter.approve_deliver_form


.clear
._50.fl= presenter.currency
._50.fl= presenter.description
.clear

-# Moneyboxes
.moneybox.fl
  %label Total
  %h3#total_currency #{@transaction.currency_symbol} #{ntc @transaction.total}

.moneybox.fl
  %label Saldo
  %h3#balance #{@transaction.currency_symbol} #{ntc @transaction.balance}

= presenter.render_discount
