#inventory
  %h2 Entregas

  = link_to "Registrar entrega", select_store_inventory_operation_path(transaction), :class => "new" unless transaction.delivered?

  %table#inventory_table.decorated
    %thead
      %tr
        %th Item
        %th Precio #{currency_symbol}
        %th Cantidad
        %th Unidad
        %th{:title => 'Saldo cantidad'} Saldo cant.
      - transaction.transaction_details.includes(:item => :unit).each do |det|
        %tr
          %td= det.item
          %td.cur= ntc det.price
          %td.cur= ntc det.quantity
          %td.cur= det.item.unit
          %td.cur= ntc det.balance

