.row-fluid
  .span3
    = f.input :ref_number, label: 'Nº de referencia' do
      = f.text_field :ref_number, class: 'span8', disabled: true
  .span3
    = f.input :date, label: "Fecha", as: :datepicker
  .span6
    = f.input :contact, as: :select2, label: 'Contacto', input_html: {class: 'span10', data: {source: '/contacts/search', new_url: new_contact_path, title: 'Nuevo contacto', trigger: 'new-contact', placeholder: 'Escriba para buscar contactos'} }

%hr.light
.row-fluid.currency-input
  .span6
    = f.input :currency, collection: currency_options, label: 'Moneda', include_blank: false,
      input_html: {id: 'transaction_currency', data: { value: 'currency.currency' } }
  .span6
    = f.input :exchange_rate, label: "Tipo de cambio de <span class='currency'></span> a #{currency_label}".html_safe,
      input_html: {id: 'transaction_exchange_rate', type: 'decimal', size: 8, data: {value: 'currency.rate'}}

%hr.light

.row-fluid
  .span6
    = f.association :project,  label: 'Proyecto',
      input_html: { class: 'contact_id span11', data: {new_url: new_project_path, trigger: 'new_project', width: 900 } }

  .span3
    = f.input :bill_number, label: 'Nº de Documento'.html_safe, input_html: {size: 20}, hint: 'Nº de factura or recibo'
  .span3
    =f.input :due_date, as: :datepicker, label: 'Vence el' if f.object.is_approved?


.row-fluid
  .span6
    = f.input :description, label: 'Descripción', as: 'text', input_html: {rows: 3, class: 'span10'}


