.row-fluid
  .span6.contact
    - if transaction.new_record?
      = f.input :contact_id, as: :autocomplete, label: 'Contacto',
        input_html: {class: 'span10', placeholder: 'Escriba para buscar el contacto',
        data: {source: '/contacts.json', new_url: new_contact_path, title: 'Nuevo contacto', trigger: 'new-contact', } }
    - else
      %label Contacto
      = transaction.contact
  .span3
    = f.input :date, label: "Fecha", as: :datepicker
  .span3
    = f.input :due_date, as: :datepicker, label: 'Vence el'

-#.row-fluid
  .span6
    = f.input :project_id,  label: 'Proyecto', collection: Project.active,
      input_html: { class: 'contact_id span11',
      data: {new_url: new_project_path, trigger: 'new_project', width: 900}}
  .span6
    = f.input :description, label: 'Descripción', as: 'text', input_html: {rows: 2, class: 'span10', placeholder: "Descripción del #{ lbl }"}
