%h1= plural_table_name

%p.links= link_to "Nuevo transaction", new_transaction_path, :class => 'new'

%table{ :class => 'decorated nwl' }
  %thead
    %tr
      %th= Transaction.human_attribute_name :contact_id
      %th= Transaction.human_attribute_name :type
      %th= Transaction.human_attribute_name :total
      %th= Transaction.human_attribute_name :active
      %th= Transaction.human_attribute_name :description
      %th= Transaction.human_attribute_name :state
      %th= Transaction.human_attribute_name :date
      %th= Transaction.human_attribute_name :ref_number
      %th= Transaction.human_attribute_name :balance
      %th
  
  %tbody
    - for transaction in @transactions
      %tr{ :class => cycle(:odd, :even) }
        %td= transaction.contact_id
        %td= transaction.type
        %td= transaction.total
        %td= transaction.active
        %td= transaction.description
        %td= transaction.state
        %td= transaction.date
        %td= transaction.ref_number
        %td= transaction.balance
        %td.action= bonsai_links(transaction)
