- content_for :links do
  %ul.breadcrumps
    %li #{link_to transaction_type, "/#{params[:controller]}"}<span>&gt;</span>

  .links
    = link_to 'Nueva', "/#{params[:controller]}/new", :class => 'add'
    - if @transaction.draft?
      = link_to 'Editar', "/#{params[:controller]}/#{@transaction.id}/edit", :class => 'edit'
      = link_to 'Anular', @transaction, :class => 'delete'
.clear

._40.fr.r
  - if @transaction.income?
    = link_to "Email", new_invoice_email_path(@transaction), :class => 'email ajax', :title => 'Email', 'data-width' => 450
    &nbsp;&nbsp;
  = link_to "Imprimir", invoice_pdf_path(@transaction.id), :class => 'print'

/ Render the head of the transaction
= render "transactions/head"
 
.clear
#tabs
  %ul
    %li <a href="#information" id="tab_info">Información</a>
    - if @transaction.show_payments?
      %li <a href="#payments" id="tab_payments">#{transaction_pay_method}</a>
    - unless @transaction.draft?
      %li <a href="#pay_plans" id="tab_pay_plans">#{credit_tab_title(@transaction)}</a>
    - if @transaction.show_inventory?
      %li <a href="#inventory" id="tab_inventory">Entregas</a>

  #information
    .clear

    / Render items
    = render 'transactions/items', :transaction => @transaction

  #payments

    / Render payments
    =render "/payments/payments", :transaction => @transaction if @transaction.show_payments?
    #deleted_payments
      - if @transaction.account_ledgers.nulled.any?
        =render "/payments/deleted", :transaction => @transaction
    .clear

  - unless @transaction.draft?
    / Render for credit approval
    #pay_plans= render get_credit_partial(@transaction), :transaction => @transaction

  - if @transaction.show_inventory?
    #inventory
      / Render inventory
      =render "/transactions/inventory", :transaction => @transaction

/ User details
#users
  - if @transaction.creator_id.present?
    %p <span class='dark'>Creado por:</span> <strong>#{@transaction.creator}</strong> <i>#{lo @transaction.created_at}</i>

  - if @transaction.approver_id.present?
    %p <span class='dark'>Aprobado por:</span> <strong>#{@transaction.approver}</strong> <i>#{lo @transaction.approver_datetime}</i>

:javascript
  $(function () {

    $('#tabs').tabs();

    var cash = #{@transaction.paid? ? false : not(@transaction.credit?)};

    /**
    * Sets the state for Income
    * @param String state
    */
    function setIncomeState(state) {
      if(state == 'paid') {
        $('#payment_anchor').html('Ver cobros');
        $('#pay_plan_anchor').html('Ver crédito');
        $('#income_state').html('Pagado').attr('class', '').addClass('b paid');
      }else{
        if(state == 'due') {
          $('#income_state').attr("class", '').addClass("b " + state).html("Vencido");
        }else{
          $('#income_state').attr("class", '').addClass("b " + state).html("Aprobado");
        }
      }
    }

    $('#approve_form').live('submit', function() {
      if(!confirm("Esta seguro de aprobar la #{transaction_title(@transaction)} \"#{@transaction}\"")) {
        return false;
      }
    });

  });

