- present @transaction, TransactionPresenter do |presenter|
  - content_for :links do
    %ul.breadcrumps
      %li #{link_to transaction_type, "/#{params[:controller]}"}
      %li
        %span #{@transaction}

    .links
      = link_to 'Nueva', "/#{params[:controller]}/new", :class => 'add'
      = presenter.clone_link
      = presenter.edit_link
      = presenter.null_link

  .clear
  ._40.fr.r
    = presenter.email_link
    &nbsp;&nbsp;
    = link_to "Imprimir", invoice_pdf_path(@transaction.id), :class => 'print'

  -# Render the head of the transaction
  = render "transactions/head", :presenter => presenter
     
  .clear
  #tabs
    %ul
      %li <a href="#information" id="tab_info" >Información</a>
      = presenter.li_payments
      = presenter.li_pay_plans
      = presenter.li_inventory

    #information.tab-pane
      -# Render items
      = render 'transactions/items', :transaction => @transaction, :presenter => presenter

      .clear
    #payments.tab-pane

      -# Render payments "payments/payments"
      = presenter.render_payments
      -#devolutions
        -# "payments/devolutions"
        = presenter.render_devolutions
      #nulled_payments
        -# "payments/deleted"
        = presenter.render_nulled_payments
      .clear

    #pay_plans.tab-pane
      -# /pay_plans/pay_plans || /pay_plans/approve
      = presenter.render_pay_plans
      .clear

    #inventory.tab-pane
      -# /transactions/inventory
      = presenter.render_inventory
      .clear

  .row
    -# User details
    .span6
      %h3.gray Modificaciones
      %table#users
        %tr
          %td.gray.r Último cambio por:
          %td.b= @transaction.modifier
          %td.i= lo @transaction.updated_at
        - if @transaction.creator_id.present?
          %tr
            %td.gray.r Creado por:
            %td.b= @transaction.creator
            %td.i= lo @transaction.created_at

        - if @transaction.approver_id.present?
          %tr
            %td.gray.r Aprobado por:
            %td.b= @transaction.approver
            %td.i=lo @transaction.approver_datetime

        - if @transaction.creditor_id.present?
          %tr
            %td.r.gray Credito aprobado por:
            %td.b= @transaction.creditor
            %td.i= lo @transaction.credit_datetime

        - if @transaction.deliver_approver_id.present?
          %tr
            %td.gray.r Aprobación de entrega:
            %td.b= @transaction.deliver_approver
            %td.i= lo @transaction.deliver_datetime

    .span6
      - if @transaction.transaction_histories.any?
        %h3.gray Historial
        %ul
        - @transaction.transaction_histories.order("created_at DESC").each do |t|
          %li
            =link_to history_income_path(t.id), :title => "#{@transaction} en fecha #{lo t.created_at}", :class => 'ajax',
              'data-width' => 950, 'data-class' => 'history' do
              %span.i= lo t.created_at
              %strong= t.user

:javascript
  $(function () {

    $('#tabs').tabs();

    var cash = #{@transaction.paid? ? false : not(@transaction.credit?)};

    /**
    * Sets the state for Income
    * @param String state
    */
    function setIncomeState(state) {
      if(state == 'paid') {
        $('#payment_anchor').html('Ver cobros');
        $('#pay_plan_anchor').html('Ver crédito');
        $('#income_state').html('Pagado').attr('class', '').addClass('b paid');
      }else{
        if(state == 'due') {
          $('#income_state').attr("class", '').addClass("b " + state).html("Vencido");
        }else{
          $('#income_state').attr("class", '').addClass("b " + state).html("Aprobado");
        }
      }
    }
  });
