- content_for :links do
  %ul.breadcrumps
    %li #{link_to transaction_type, "/#{params[:controller]}"}<span>&gt;</span>

  .links
    = link_to 'Nueva', "/#{params[:controller]}/new", :class => 'add'
    - if @transaction.draft?
      = link_to 'Editar', "/#{params[:controller]}/#{@transaction.id}/edit", :class => 'edit'
      = link_to 'Borrar', @transaction, :class => 'delete'
.clear

._40.fr.r
  = link_to "Email", new_invoice_email_path(@transaction), :class => 'email ajax', :title => 'Email', 'data-width' => 450
  &nbsp;&nbsp;
  = link_to "Imprimir", invoice_pdf_path(@transaction.id), :class => 'print'


%h1.mb5{:style => 'display:inline-block;'} #{transaction_title(@transaction)}  #{@transaction.ref_number}
%span.b#income_state{:class => @transaction.real_state, :style => 'font-size:1.3em'}= @transaction.show_state
%h2.n.mt5= link_to @transaction.contact, "#", :title => "Historial cliente"

.clear

.moneybox.fl
  %label Total
  %h3#total_currency #{@transaction.currency_symbol} #{ntc @transaction.total_currency}

.moneybox.fl
  %label Saldo
  %h3#balance #{@transaction.currency_symbol} #{ntc @transaction.balance}

- if @transaction.show_inventory?
  .moneybox.fl
    %label Saldo inventario
    %h3#inventory_balance #{currency_symbol} #{ntc @transaction.balance_inventory}

  
%p.fl{:style => 'padding:4px 10px'}= "Vence el <strong id='due_on'>#{lo @transaction.payment_date}</strong></span>".html_safe unless @transaction.paid? or @transaction.draft?

._50.fr.r
  / FORM to null income
  - if @transaction.draft?
    = simple_form_for @transaction, :url => "/#{params[:controller]}/#{ @transaction.id }/approve" do |f|
      .submit
        =f.submit "Aprobar", :class => 'dark_green', :id => 'income_approve_button'
  /- elsif not @transaction.paid?
  /  = simple_form_for @transaction, :url => null_income_path(@transaction) do |f|
  /    .submit
  /      =f.submit "Anular", :class => 'red', :id => 'income_null_button'

.clear
#tabs
  %ul
    %li <a href="#information" id="tab_info">Información</a>
    - if @transaction.show_payments?
      %li <a href="#payments" id="tab_payments">#{transaction_pay_method}</a>
    - if @transaction.show_pay_plans?
      %li <a href="#pay_plans" id="tab_pay_plans">Crédito</a>
    - if @transaction.show_inventory?
      %li <a href="#inventory" id="tab_inventory">Inventario</a>

  #information

    .main{:style => 'font-size:1.2em;'}
      %span.dark.b.i= lo @transaction.date

    .input
      - unless @transaction.currency_id == currency_id
        .input
          1 #{@transaction.currency.name} = <span class="b">#{@transaction.currency_exchange_rate}</span> #{currency_name.pluralize}

      - if @transaction.project_id
        .input
          %span.dark_grey 
            -if @transaction.project_id
              Proyecto #{link_to @transaction.project.to_s, @transaction.project, :title => 'Proyecto'}
    .input= @transaction.description unless @transaction.description.blank?


    .clear

    = render 'transactions/items', :transaction => @transaction

  #payments
    =render "/payments/payments", :transaction => @transaction if @transaction.show_payments?
    .clear

  #pay_plans
    =render "/pay_plans/pay_plans", :transaction => @transaction if @transaction.show_pay_plans?

  - if @transaction.show_inventory?
    #inventory
      =render "/transactions/inventory", :transaction => @transaction

#users
  %div= "<span class='dark'>Creado por:</span> <strong>#{@transaction.creator}</strong>".html_safe    if @transaction.creator_id.present?
  %div= "<span class='dark'>Aprovado por:</span> <strong>#{@transaction.approver}</strong>".html_safe if @transaction.approver_id.present?

:javascript
  head.ready(function () {
    $('#tabs').tabs();

    if(!#{@transaction.paid?} && #{@transaction.cash}) {
      $('#new_payment_link').trigger('click');
    }

    $(document).ready(function() {
      var cash = #{@transaction.paid? ? false : not(@transaction.credit?)};
      if(cash) {
        $('#tab_payments').trigger('click');
        $('a#new_payment_link').trigger('click');
      }
    });

    /**
    * Sets the state for Income
    * @param String state
    */
    function setIncomeState(state) {
      if(state == 'paid') {
        $('#payment_anchor').html('Ver cobros');
        $('#pay_plan_anchor').html('Ver crédito');
        $('#income_state').html('Pagado').attr('class', '').addClass('b paid');
      }else{
        if(state == 'due') {
          $('#income_state').attr("class", '').addClass("b " + state).html("Vencido");
        }else{
          $('#income_state').attr("class", '').addClass("b " + state).html("Aprobado");
        }
      }
    }


    // Only when in edition
    if("#{@transaction.state}" == "draft") {
      // Deleted data
      $('body').live("del-pay_plan", function(resp) {
        try{
          if(resp.transaction_cash == true) {
            $('#cash_credit_title').html('Crédito');
          }else if(resp.transaction_cash == false){
            $('#cash_credit_title').html('Contado');
          }
        } catch(e) {}
      }).live('transaction', function(e, resp) {
        if(resp.transaction_cash) {
          $('#cash_credit_title').html("Contado");
        }else{
          $('#cash_credit_title').html("Crédito");
        }
      });
    }else {
      // When it has been approved
      $('body').live('transaction', function(e, resp) {
        
        $('h3#balance').html("#{@transaction.currency_symbol} " + _b.ntc(resp.balance) );
        $('#due_on').html(_b.dateFormat(resp.payment_date));

        setIncomeState(resp.real_state);
      });
    }
  });
