- present @transaction, TransactionPresenter do |presenter|
  - content_for :links do
    %ul.breadcrumps
      %li #{link_to transaction_type, "/#{params[:controller]}"}
      %li
        %span #{@transaction}

    .links
      = link_to 'Nueva', "/#{params[:controller]}/new", :class => 'add'
      = presenter.clone_link
      = presenter.edit_link
      = presenter.null_link
  .clear
  ._40.fr.r
    = presenter.email_link
    &nbsp;&nbsp;
    = link_to "Imprimir", invoice_pdf_path(@transaction.id), :class => 'print'

  -# Render the head of the transaction
  = render "transactions/head", :presenter => presenter
     
  .clear
  #tabs
    %ul
      %li <a href="#information" id="tab_info">Información</a>
      = presenter.li_payments
      = presenter.li_pay_plans
      = presenter.li_inventory

    #information
      -# Render items
      = render 'transactions/items', :transaction => @transaction, :presenter => presenter

      .clear
    #payments

      -# Render payments "payments/payments"
      = presenter.render_payments
      #nulled_payments
        = presenter.render_nulled_payments
      .clear

    #pay_plans
      -# /pay_plans/pay_plans || /pay_plans/approve
      = presenter.render_pay_plans
      .clear

    #inventory
      -# /transactions/inventory
      = presenter.render_inventory
      .clear

  -# User details
  #users.mt30
    - if @transaction.creator_id.present?
      %p <span class='dark'>Creado por:</span> <strong>#{@transaction.creator}</strong> <i>#{lo @transaction.created_at}</i>

    - if @transaction.approver_id.present?
      %p <span class='dark'>Aprobado por:</span> <strong>#{@transaction.approver}</strong> <i>#{lo @transaction.approver_datetime}</i>

    - if @transaction.creditor_id.present?
      %p <span class='dark'>Credito aprobado por:</span> <strong>#{@transaction.creditor}</strong> <i>#{lo @transaction.credit_datetime}</i>

:javascript
  $(function () {

    $('#tabs').tabs();

    var cash = #{@transaction.paid? ? false : not(@transaction.credit?)};

    /**
    * Sets the state for Income
    * @param String state
    */
    function setIncomeState(state) {
      if(state == 'paid') {
        $('#payment_anchor').html('Ver cobros');
        $('#pay_plan_anchor').html('Ver crédito');
        $('#income_state').html('Pagado').attr('class', '').addClass('b paid');
      }else{
        if(state == 'due') {
          $('#income_state').attr("class", '').addClass("b " + state).html("Vencido");
        }else{
          $('#income_state').attr("class", '').addClass("b " + state).html("Aprobado");
        }
      }
    }
  });
