-# cache "expense_devolution_form-#{today_key}" do
= simple_form_for expense.expense_devolution, url: expense_devolution_path(expense.id), html: {id: 'expense-devolution-form'} do |f|
  = bonsai_form_error(f)
  = f.hidden_field :account_id

  = render 'devolutions/form', f: f, transaction: @expense

  .form-actions
    = f.submit "Devolución", class: 'btn btn-success b'
    %a#cancel-devolution-link.btn.cancel(hre='javascript:;') Cancelar


:javascript
  $(function() {
    var cur = currencies["#{expense.currency}"];
      temp = _.template('<span class="label bg-black" title="{{name}}" data-toggle="tooltip">{{code}}</span>', cur);
    $('#devolution-currency-label').append(temp);
    var p = new App.ExpenseDevolution({
      accountsTo: #{AccountQuery.new.bank_cash_options.to_json},
      baseCurrency: "#{expense.currency}"
    });
  })
