= simple_form_for(expense, url: '/', html: {class: 'enter ui-form'}) do |f|
  = bonsai_form_error(f)

  -########################################
  -# Render common form elements
  = render 'transactions/shared_form', f: f

  -########################################
  -# Render items
  .row-fluid
    =render "transactions/form_items", f: f, transaction: expense, details: :expense_details

  = f.submit 'Salvar', class: 'btn b btn-large', name: 'commit_save'
  = f.submit 'Aprovar', class: 'btn btn-success b btn-large', name: 'commit_approve'


:coffeescript
  (($) ->
    $('body').on('new-contact', '.contact-form', (event, resp) ->
      $('.contact_id').val(resp.matchcode).data('value', resp.matchcode)
      .prev().val(resp.matchcode)
    )

    $('#transaction_currency').select2()

    fx.rates = exchangeRates.rates
    currency = new App.TransactionCurrency()
    rivets.bind($('.currency-input'), {currency: currency})

    expense = new App.Expense(currency)
    expense.setList()

  )(jQuery)

