= simple_form_for(expense_service, url: get_expense_url(expense_service), html: {class: 'enter ui-form', method: expense_form_method(expense_service)}) do |f|
  = bonsai_form_error(f)

  -########################################
  -# Render common form elements
  = render 'transactions/shared_form', f: f, transaction: expense_service.expense, lbl: 'Egreso'
  = render 'transactions/form_direct_payment', f: f, lbl: 'Pago', movement: expense_service

  -########################################
  -# Render items
  .row-fluid
    =render "transactions/form_items", f: f, transaction: expense_service.expense, details: :expense_details

  .form-actions
    = f.submit 'Salvar', class: 'btn b btn-large trans', name: 'commit_save', data: {show: 'trans.direct_payment| inverse'}
    = f.submit 'Salvar y aprobar', class: 'btn btn-primary b btn-large', name: 'commit_approve' if expense_service.is_draft?

-# Help tours

= render 'expenses/tour'
= render 'expenses/tour_direct_payment'

:javascript
  $(function() {
    $('body').on('new-contact', '.contact-form', function(event, resp) {
      $('.contact_id').val(resp.matchcode).data('value', resp.matchcode)
      .prev().val(resp.matchcode);
    });

    if($('[name=commit_approve]').length == 0) {
      $('[name=commit_save]').addClass('btn-primary');
    }

    fx.rates = exchangeRates.rates;
    expense = new App.Expense();
    expense.setAccountsTo(#{AccountQuery.new.bank_cash_options.to_json});
  });
