%table#items_table.table.decorated
  %thead
    %tr
      %th.c Item
      %th.c
        Precio unitario
        = currency_label expense.currency
      %th.c Cantidad
      %th.c Saldo
      %th.r
        Total fila
        = currency_label expense.currency
    - expense.expense_details.each do |det|
      %tr
        %td.span4= det.item
        %td.span2.cur= ntc det.price
        %td.span2.cur= ntc det.quantity
        %td.span2.cur.error.b= ntc det.balance
        %td.span2.total_row.cur= ntc det.total

  %tr.extra.pad_top
    %td{colspan: 3}
    %td.r Subtotal
    %td#subtotal.r= ntc expense.subtotal

  - if expense.tax_percentage > 0
    %tr.extra
      %td(colspan='2')
      %td.r(colspan='2')
        %span.text-muted.muted Impuestos:
        = expense.tax
      %td#taxes.r= ntc expense.taxes

  %tr.extra
    %td{colspan: 3}
    %td.r.b.dark Total
    %td#total_value.r.b{'data-val' => expense.total}
      = ntc expense.total
      = currency_label expense.currency

  %tr.extra
    %td.r(colspan="3")


    %td.r.b.dark Cobrado
    %td.r.b
      = ntc expense.paid
      = currency_label expense.currency

  %tr.extra
    %td(colspan="3")
    %td.r.b.dark Saldo
    %td.r.b
      = ntc expense.balance
      = currency_label expense.currency
