%ul.unstyled.movement-details.listing
  %li.header.row-fluid
    .span4
      Item
    .span2
      Precio
      = currency_label expense.currency
    .span2
      Cantidad
    .span2
      %a(href="#inventory")Saldo inventario
    .span2
      Total línea
      = currency_label expense.currency

  - expense.expense_details.includes(:item).each do |det|
    %li.row-fluid.detail
      .span4.item
        .item-name= det.item
      .span2.r
        %label.visible-phone Precio
        .number= ntc det.price
      .span2.r
        %label.visible-phone Cantidad
        .number= ntc det.quantity
        %span.unit(data-toggle="tooltip" data-original-title="#{ det.unit_name }")= det.unit_symbol
      .span2.r.red.b
        %label.visible-phone Saldo inventario
        .number= ntc det.balance
        %span.unit.muted(data-toggle="tooltip" data-original-title="#{ det.unit_name }")= det.unit_symbol
      .span2.total_row.r
        %label.visible-phone Total línea
        .number= ntc det.total

  %li.row-fluid
    .span10.r
      Subtotal
    .span2.r
      #subtotal.r= ntc expense.subtotal

  - if expense.tax_percentage.to_f > 0
    %li.row-fluid
      .span10.r
        %span.text-muted.muted Impuestos:
        %strong= expense.tax_tag
      .span2.r
        #taxes.r= ntc expense.taxes

  %li.row-fluid
    .span10.r.b
      Total
    .span2.r
      #total_value.r.b{'data-val' => expense.total}
        = ntc expense.total
        = currency_label expense.currency

  %li.row-fluid
    .span10.r.b.dark Cobrado
    .span2.r
      = ntc expense.paid
      = currency_label expense.currency

  %li.row-fluid
    .span10.r.b.dark
      Saldo
    .span2.r.b
      %span.red= ntc expense.balance
      = currency_label expense.currency
