= simple_form_for expense.expense_payment, url: expense_payment_path(expense.id), html: {id: 'expense-payment-form'} do |f|
  = bonsai_form_error(f)
  = f.hidden_field :account_id

  = render 'payments/default_form', f: f

:javascript
  $(function() {
    var p = new App.ExpensePayment({
      accountsTo: #{AccountQuery.new.expense_payment_options(expense).to_json}, 
      baseCurrency: "#{expense.currency}"
    });
  })
