-# cache "expense_payment_form-#{today_key}" do
= simple_form_for expense.expense_payment, url: expense_payment_path(expense.id),
  html: {id: 'expense-payment-form'} do |f|
  = bonsai_form_error(f)
  = f.hidden_field :account_id

  = render 'payments/default_form', f: f, transaction: expense
  .form-actions
    = f.submit "Pagar", class: 'btn btn-danger b'
    %a#cancel-payment-link.btn(href="javascript:;") Cancelar

:javascript
  $(function() {
    var cur = currencies["#{expense.currency}"];
      temp = _.template('<span class="label bg-black" title="{{name}}" data-toggle="tooltip">{{code}}</span>', cur);
    $('#payment-currency-label').append(temp);
    var p = new App.ExpensePayment({
      accountsTo: #{AccountQuery.new.expense_payment_options(expense).to_json},
      baseCurrency: "#{expense.currency}"
    });
  })
