.quick-expense-form.hide
  = simple_form_for QuickExpense.new(ref_number: Expense.get_ref_number), url: quick_expense_expenses_path do |f|
    .row-fluid
      .span6
        = f.input :ref_number, label: "Número de referencia" do
          = f.text_field :ref_number, disabled: true
      .span6= f.input :account_to_id, label: 'Cuenta', input_html: {class: 'span10'}

    .row-fluid
      .span6
        =f.input :contact_id, as: :select2, label: "Contacto",
          'data-source' => '/contacts/search', input_html: { data: {new_url: new_contact_path, title: 'Nuevo contacto', trigger: 'new-contact'}, class: 'contact_id', placeholder: 'Escriba para buscar contactos'}
      .span6=f.input :date, as: :datepicker, label: 'Fecha'

    .row-fluid
      .span6=f.input :amount, label: 'Cantidad'
      .span6=f.input :bill_number, label: 'No. de documento', label_html: {title: 'Factura o Recibo', rel: 'tooltip'}

    .form-actions
      = f.submit 'Salvar', class: 'btn btn-success b'
      %a#quick-expense-hide-link.btn Cancelar

:javascript
  var accounts_to = #{AccountQuery.new.bank_cash_options.to_json}

  $(function() {
    $('#quick-expense-link').click( function() {
      $('.quick-expense-form').show('medium');
      $(this).hide('medium');
    });

    $('#quick-expense-hide-link').click( function() {
      $('.quick-expense-form').hide('medium');
      $('#quick-expense-link').show('medium');
    });

    $('.contact-form').on('new-contact', function(event, resp) {
      $('.contact_id').val(resp.matchcode).data('value', resp.matchcode)
      .prev().val(resp.id);
    })

    // account_to_id
    $('#quick_expense_account_to_id').select2({
      data: accounts_to,
      formatResult: App.Payment.paymentOptions,
      formatSelection: App.Payment.paymentOptions,
      escapeMarkup: function(m) { return m }
    });
  });

