- content_for :links do
  %ul.breadcrumps.span6
    %li #{link_to 'Ventas', incomes_path}
  .links.span6
    = link_to 'Ver', @transaction, :class => 'show'

.page-header
  %h1 
    Editar 
    = @transaction
    %small.pill{:class => @transaction.real_state}= @transaction.show_state

%h1.n= link_to @transaction.contact, @transaction.contact

= render 'transactions/form_edit', :transaction => @transaction, :contacts => Client.scoped

