- content_for :links do
  .links= link_to "Nuevo gasto", new_expense_path, :class => 'new'

%h1 Gastos

%ul.tabs
  %li= link_to "Todas", expenses_path(:option => 'all'), :class => tabs_filter('all')
  %li= link_to "Esperando aprobación", expenses_path(:option => 'draft'), :class => tabs_filter('draft')
  %li= link_to "Esperando pago", expenses_path(:option => 'awaiting_payment' ), :class => tabs_filter('awaiting_payment')
  %li= link_to "Vencidas", expenses_path(:option => 'due' ), :class => tabs_filter('due')
  %li= link_to "Pagadas", expenses_path(:option => 'paid'), :class => tabs_filter('paid')

= paginate @expenses

%table{ :class => 'decorated nwl' }
  %thead
    %tr
      %th{ :title => 'Número de referencia' } Nº Ref.
      %th Proveedor
      %th Vence el
      %th Total<br/>#{currency_symbol}
      %th Saldo<br/>#{currency_symbol}
      %th{:title => 'Moneda'} Mon.
      %th Estado
      %th Contado<br/>Crédito
      %th Fecha
      %th

  %tbody
    - for expense in @expenses
      %tr{ :class => cycle(:odd, :even) }
        %td= link_to expense.ref_number, expense, :class => 'b'
        %td= expense.contact
        %td= lo expense.payment_date unless expense.paid?
        %td.cur= ntc exchange(expense, :real_total, @currency_rates)
        %td.cur= ntc exchange(expense, :balance, @currency_rates)
        %td <span>#{expense.currency_symbol}</span>
        %td <span class="#{expense.real_state}">#{expense.show_state}</span>
        %td= cash_credit(expense.cash)
        %td.nw= lo expense.date
        %td.actions
          = bonsai_links(expense) if expense.draft?

:javascript
  jQuery(function($) {
    $('ul.buy-types').tabs('div.buy-panes > div', {effect: 'ajax'});
  });
