- content_for :links do
  %ul.breadcrumbs.span6
    %li
      %span Egresos


%header
  .row-fluid
    .span6
      %h1 Egresos
    .span6.links
      %a#quick-expense-link.btn.btn-primary(href="javascript:;")
        %i.icon-plus-sign
        Egreso rápido

      = link_to new_expense_path, class: 'btn btn-primary' do
        %i.icon-plus-sign
        Nuevo Egreso

.row-fluid
  = render 'expenses/quick_expense'

= paginate @expenses.page(@page)

%ul.unstyled.listing
  - @expenses.each do |expense|
    - expense = present expense
    %li.row-fluid
      .span4
        %h4
          = link_to expense, expense
        = expense.has_error_label
        %h5
          %i.icon-user(title="Contacto" rel='tooltip')
          = expense.contact
        .clear-both
        = expense.state_tag
        %i= l expense.date
      .span3
        = expense.due_date_tag
        .clear-both
        = expense.creator_label
        = expense.approver_label
        = expense.nuller_label
      .span4
        .span2
          .muted Total
        .span4
          = currency_label expense.currency
          = ntc expense.total

        .span2
          .muted Saldo
        .span4
          = currency_label expense.currency
          = ntc expense.balance
      .span1
        = link_to icon_edit, edit_expense_path(expense), class: 'dark'
