- content_for :links do
  %ul.breadcrumps
    %li #{link_to "Gastos", expenses_path} &gt;

  .links= link_to "Nuevo gasto", new_expense_path, :class => 'new'

%h1 Gastos

- @exp = Expense.org

%ul.tabs
  %li= link_to "Todas #{size_or_blank(@exp.size)}"                      , expenses_path(:option => 'all')               , :class => tabs_filter('all')
  %li= link_to "Esperando aprobación #{size_or_blank(@exp.draft.size)}" , expenses_path(:option => 'draft')             , :class => tabs_filter('draft')
  %li= link_to "Esperando pago #{size_or_blank(@exp.approved.size)}"     , expenses_path(:option => 'awaiting_payment' ) , :class => tabs_filter('awaiting_payment')
  %li= link_to "Vencidas #{size_or_blank(@exp.due.size)}"               , expenses_path(:option => 'due' )              , :class => tabs_filter('due')
  %li= link_to "Pagadas #{size_or_blank(@exp.paid.size)}"               , expenses_path(:option => 'paid')              , :class => tabs_filter('paid')


#search_expense.search{:style => show_if_search}
  %a.close{:href => "#"} cerrar
  %h3 Buscar gastos
  =form_tag "/expenses", :method => 'get' do
    =hidden_field_tag "search_div_id", "search_incomes"
    .input
      %label Proveedor o Nº de referencia
      =text_field_tag 'search', params[:search], :size => 40
    .input
      %label Estado
      =select_tag "option", options_for_select(list_expense_states, params[:option])
    %div
    =submit_tag 'Buscar'

= link_to "Buscar", "#search_expense", :class => 'search'


= paginate @expenses

%table{ :class => 'decorated nwl' }
  %thead
    %tr
      %th{ :title => 'Número de referencia' } Nº Ref.
      %th Proveedor
      %th Vence el
      %th Total<br/>#{currency_symbol}
      %th Saldo<br/>#{currency_symbol}
      %th{:title => 'Moneda'} Mon.
      %th Estado
      %th Contado<br/>Crédito
      %th Fecha
      %th

  %tbody
    - @expenses.each do |expense|
      %tr{ :class => cycle(:odd, :even) }
        %td= link_to expense.ref_number, expense, :class => 'b'
        %td= expense.account
        %td= lo expense.payment_date unless expense.paid?
        %td.cur= ntc exchange(expense, :real_total, @currency_rates)
        %td.cur= ntc exchange(expense, :balance, @currency_rates)
        %td <span>#{expense.currency_symbol}</span>
        %td <span class="#{expense.real_state}">#{expense.show_state}</span>
        %td= cash_credit(expense.cash)
        %td.nw= lo expense.date
        %td.actions
          = bonsai_links(expense) if expense.draft?

