- content_for :links do
  %ul.breadcrumbs.span6
    %li
      = link_to "Egresos", expenses_path
    %li
      %i.icon-caret-right
    %li
      = @expense

  .links.span6.r
    = link_to 'Nuevo', new_expense_path
    = link_to 'Editar', edit_expense_path(@expense)
    = link_to 'Borrar', @expense, method: 'delete'

%header
  - if @expense.has_error
    .allowed-errors
      %h3 Existen errores que debe corregir!
      %ul
        - @expense.error_messages.each do |k, arr|
          - arr.each do |v|
            %li
              %h5.n.devolution-error= I18n.t("allowed_errors.#{v}").html_safe

  %h1
    = @expense
    = @expense.state_tag

    %small
      = link_to @expense.contact do
        %i.icon-user
        =@expense.contact

  = render_if @expense.due_date do
    %h4.n
      = @expense.due_date_tag


  .row-fluid
    .span6.offset6
      - if @expense.is_draft?
        = form_for @expense, url: approve_expense_path(@expense) do |f|
          = f.submit 'Aprobar Ingreso', class: 'b btn btn-success'

.row-fluid
  .moneybox
    %label TOTAL
    %h4
      = ntc @expense.total
      = currency_label @expense.currency

  .moneybox
    %label SALDO
    %h4
      = @expense.balance
      = currency_label @expense.currency

= render 'expenses/tour/devolution'

#tabs
  %ul
    %li
      %a(href="#information" id="tab_info") Información
    %li.payment-li
      %a.payments-tab(href="#payments") Pagos
    %li
      %a(href="#inventory") Entregas inventario

  #information
    = render "expenses/items", expense: @expense
  #payments

    %a.btn.btn-primary(id='payment-link' href='javascript:;')
      %i.icon-plus-sign
      Pagar

    %a.btn.btn-primary(id='devolution-link' href='javascript:;')
      %i.icon-minus-sign
      Devolver

    #payment-form(style='display: none')
      %h3 Pagar Egreso
      = render 'expenses/payment_form', expense: @expense if @expense.is_approved?

    #devolution-form(style='display: none')
      %h3 Devolución
      -#= render 'expenses/devolution_form', expense: @expense unless @expense.is_draft?

    %h2 Pagos y devoluciones

    %ul.unstyled.listing
      = render partial: 'account_ledgers/income', collection: @expense.payments,as: :ledger

    %h2 Intereses

    %ul.unstyled.listing
      = render partial: 'account_ledgers/income', collection: @expense.interests,as: :ledger


:coffeescript
  $( ->
    $('#tabs').tabs()
    $('#payment-link').click( -> 
      $('#payment-form').show('slow')
      $(this).hide('slow')
    )

    $('#devolution-link').click( -> 
      $('#devolution-form').show('slow')
      $(this).hide('slow')
    )

  )
