- content_for :links do
  %ul.breadcrumbs.span6
    %li
      = link_to "Egresos", expenses_path

%header
  - if @expense.has_error
    .alert.alert-error
      %h4 Existen errores que debe corregir!
      %ul
        - @expense.error_messages.each do |k, arr|
          - arr.each do |v|
            %li
              %h5.n.devolution-error= I18n.t("allowed_errors.#{v}").html_safe

.row-fluid
  .span6
    %h1.ib
      %strong(title='Código ingreso, Ingreso-Año-Número' data-toggle='tooltip')= @expense
      %small(title='Estado' data-toggle='tooltip')= @expense.state_tag

    %h4.ib.n
      = link_to @expense.contact, @expense.contact, title: 'Contacto', data: {toggle: 'tooltip'}

    .clearfix
    %tagsfor(tag_ids="#{@expense.tag_ids}" id="#{@expense.id}")

    %h5.n.ib
      %span.muted Fecha:
      %i= lo @expense.date
      = render_if @expense.due_date do
        = @expense.due_date_tag

      = @expense.updater_label

      = @expense.creator_label

      = @expense.approver_label

      = @expense.nuller_label

  .span6.r.buttons
    %input.row-check.hidden(type='checkbox' id="#{@expense.id}" checked='checked')
    -# Approve form
    = render 'tags/tags', model: 'Expense', hide_tags_filter: true

    -# Approve
    = link_to 'Aprobar', approve_expense_path(@expense.id), class: 'b btn btn-success', method: :patch  if @expense.is_draft?

    -# Null
    = link_to 'Anular', null_expense_path(@expense), method: :patch,  class: 'btn btn-danger b',
      confirm: 'Esta segur@ de anular el Ingreso?'  if @expense.can_null?

    = link_to icon_edit_text, edit_expense_path(@expense.id), class: 'btn' unless @expense.is_nulled?

.row-fluid.expense
  .span6
    .moneybox
      %label TOTAL
      %h5.n
        %span.total= ntc @expense.total
        = currency_label @expense.currency

    .moneybox
      %label SALDO
      %h5.n
        %span.balance= ntc @expense.balance
        = currency_label @expense.currency


    - unless OrganisationSession.currency === @expense.currency
      .clearfix
      %i.icon-exchange.muted(title='Tipo de cambio' data-toggle='tooltip')
      1
      = currency_label @expense.currency
      \=
      = ntc @expense.exchange_rate, precision: 4
      = currency_label


  .span6
    - if @expense.description.present?
      %i.icon-file.muted(data-toggle='tooltip' title='Descripción')
      = @expense.description

%h2.n
  Items

= render "expenses/items", expense: @expense


- unless @expense.is_draft?
  .row-fluid
    .span6.bg-white
      = render 'ledger_details', expense: @expense

    #inventory.span6.bg-white
      = render 'inventory_details', expense: @expense

.row-fluid
  .span6.bg-white
    %h3.n
      Historial

    %ul.unstyled
      = render partial: 'histories/history', collection: present(@expense.histories, ExpenseHistoryPresenter), as: :history


-#Tours
= render 'expenses/tour_devolution'

:javascript
  $( function() {
    // null expense
    $('#null-expense-form').submit(function(event) {
      if(confirm('Esta segur@ de anular el Ingreso?')) {
        return true;
      }else{
        return false;
      }
    })
  });
