- content_for :links do
  %ul.breadcrumbs.span6
    %li
      = link_to "Egresos", expenses_path
    %li
      %i.icon-caret-right
    %li
      = @expense

%header
  - if @expense.has_error
    .alert.alert-error
      %h4 Existen errores que debe corregir!
      %ul
        - @expense.error_messages.each do |k, arr|
          - arr.each do |v|
            %li
              %h5.n.devolution-error= I18n.t("allowed_errors.#{v}").html_safe

.row-fluid
  .span7
    %h1.ib
      %strong(title='Código ingreso, Ingreso-Año-Número' data-toggle='tooltip')= @expense
      %small(title='Estado' data-toggle='tooltip')= @expense.state_tag

    %h4.ib.n
      = link_to @expense.contact, @expense.contact, title: 'Contacto', data: {toggle: 'tooltip'}

    .clearfix
    %h5.n.ib
      %span.muted Fecha:
      %i= lo @expense.date
      = render_if @expense.due_date do
        = @expense.due_date_tag

      = @expense.updater_label

      = @expense.creator_label

      = @expense.approver_label

      = @expense.nuller_label

  .span5.r
    -# Approve form
    - if @expense.is_draft?
      = form_for @expense, url: approve_expense_path(@expense), html: {class: 'ib'} do |f|
        = f.submit 'Aprobar', class: 'b btn btn-success'
    -# Null form
    - if @expense.can_null?
      = form_for @expense, url: null_expense_path(@expense), html: {class: 'ib', id: 'null-expense-form'} do |f|
        = f.submit 'Anular', class: 'b btn btn-danger'

    .btn-group
      = link_to icon_new_text, new_expense_path, class: 'btn'
      = link_to icon_edit_text, edit_expense_path(@expense.id), class: 'btn' unless @expense.is_nulled?

.row-fluid
  .span6
    .moneybox
      %label TOTAL
      %h5.n
        = ntc @expense.total
        = currency_label @expense.currency

    .moneybox
      %label SALDO
      %h5.n
        = ntc @expense.balance
        = currency_label @expense.currency


    - unless OrganisationSession.currency === @expense.currency
      .clearfix
      %i.icon-exchange.muted(title='Tipo de cambio' data-toggle='tooltip')
      1
      = currency_label @expense.currency
      \=
      = ntc @expense.exchange_rate, precision: 4
      = currency_label


  .span6
    - if @expense.description.present?
      %i.icon-file.muted(data-toggle='tooltip' title='Descripción')
      = @expense.description

%h2.n
  Items

= render "expenses/items", expense: @expense


.row-fluid
  .span6.well.well-small.bg-white
    = render 'ledger_details', expense: @expense

  .span6.well.well-small.bg-white
    %h3.n.ib
      Operaciones inventario

      = @expense.inventory_tag

    = link_to 'Ver operaciones de inventario', inventories_expense_path(@expense.id),
      class: 'openin', data: { openin: '.inventories', openinhide: true  }

    - if @expense.enable_disable_inventory?
      %h5.n.c
        = link_to inventory_expense_path(@expense.id, no_inventory: @expense.enable_disable_inventory_val), method: 'patch', class: 'no-tab' do
          = @expense.enable_disable_inventory_text_tag

    %p.center.inventories-buttons
      = render 'expenses/inventory_buttons', expense: @expense

    %ul.unstyled.listing.inventories

-#Tours
= render 'expenses/tour_devolution'

:javascript
  $( function() {
    // null expense
    $('#null-expense-form').submit(function(event) {
      if(confirm('Esta segur@ de anular el Ingreso?')) {
        return true;
      }else{
        return false;
      }
    })

    // Payment buttons
    $('.payment-buttons').on('click', 'a', function() {
      $this = $(this);
      $('.payment-buttons').hide('fast');
      $('.payment-form')
      .html('<p class="center muted"><img src="/assets/ajax-loader.gif" /> Cargando...</p>')
      .load($this.data('url'), function() { $('.payment-form').setDatepicker() });
    })

    $('.payment-form').on('click', 'a.cancel', function() {
      $('.payment-buttons').show('fast');
      $('.payment-form').html('');
    })


    // Payment show hide
    $('#payment-link').click( function() {
      $('#payment-form').show('fast');
    })
    $('body').on('click', '#cancel-payment-link', function() {
      $('#payment-form').hide('fast');
      $('.payment-buttons').show('fast');
    });

    // Devolution show hide
    $('#devolution-link').click( function() {
      $('#devolution-form').show('fast');
      $('.payment-buttons').hide('fast');
    })
    $('body').on('click', '#cancel-devolution-link', function() {
      $('#devolution-form').hide('fast');
      $('.payment-buttons').show('fast');
    });
  });
