- content_for :links do
  %ul.breadcrumbs.span6
    %li
      = link_to "Egresos", expenses_path
    %li
      %i.icon-caret-right
    %li
      = @expense

%header
  - if @expense.has_error
    .alert.alert-error
      %h4 Existen errores que debe corregir!
      %ul
        - @expense.error_messages.each do |k, arr|
          - arr.each do |v|
            %li
              %h5.n.devolution-error= I18n.t("allowed_errors.#{v}").html_safe

.row-fluid
  .span7
    %h2.ib
      = @expense
      %small= @expense.state_tag

    %h4.ib.n
      = link_to @expense.contact, @expense.contact

    %h5.n.ib
      %span.muted Fecha:
      %i= lo @expense.date
      = render_if @expense.due_date do
        = @expense.due_date_tag

      = @expense.creator_label

      = @expense.approver_label

      = @expense.nuller_label

  .span5.r
    -# Approve form
    - if @expense.is_draft?
      = form_for @expense, url: approve_expense_path(@expense), html: {class: 'ib'} do |f|
        = f.submit 'Aprobar', class: 'b btn btn-success'
    -# Null form
    - if @expense.can_null?
      = form_for @expense, url: null_expense_path(@expense), html: {class: 'ib'} do |f|
        = f.submit 'Anular', class: 'b btn btn-danger'

    = link_to icon_new_text, new_expense_path, class: 'btn'
    = link_to icon_edit_text, edit_expense_path(@expense.id), class: 'btn' unless @expense.is_nulled?

.row-fluid
  .span6
    .moneybox
      %label TOTAL
      %h4.n
        = ntc @expense.total
        = currency_label @expense.currency

    .moneybox
      %label SALDO
      %h4.n
        = ntc @expense.balance
        = currency_label @expense.currency
  .span6
    - if @expense.description.present?
      %i.icon-file-alt(data-toggle='tooltip' title='Descripción')
      = @expense.description


%hr

%ul#tabs.nav.nav-pills.fs150
  %li
    %a.payment-link-tab(href="#payments" data-toggle='tab') Pagos

  %li
    %a.item-link-tab(href="#items" data-toggle='tab')
      Items
      = @expense.inventory_tag

  - if @expense.enable_disable_inventory?
    %li
      = link_to inventory_expense_path(@expense.id, no_inventory: @expense.enable_disable_inventory_val), method: 'put', class: 'no-tab' do
        %span.fs70
          &nbsp;&nbsp;
          = @expense.enable_disable_inventory_text_tag

.tab-content
  #items.tab-pane.fade
    %h2.n Items

    .item-buttons
      = render 'expenses/inventory_buttons', expense: @expense
    %hr

    = render "expenses/items", expense: @expense

  #payments.tab-pane.fade
    %h2.n Pagos y devoluciones

    .payment-buttons
      - if !@expense.is_nulled? && !@expense.is_paid?
        %a#payment-link.btn.btn-danger(href='javascript:;')
          %i.icon-minus-sign
          Pagar

      - unless @expense.is_nulled?
        %a#devolution-link.btn.btn-success(href='javascript:;')
          %i.icon-plus-sign
          Devolución

    #payment-form(style='display: none')
      %hr
      %h3 Pagar Egreso
      = render 'expenses/payment_form', expense: @expense unless @expense.is_paid?

    #devolution-form(style='display: none')
      %h3 Devolución
      = render 'expenses/devolution_form', expense: @expense unless @expense.is_draft?

    %ul.unstyled.listing
      = render partial: 'account_ledgers/income', collection: @expense.payments, as: :ledger

= render 'expenses/tour_devolution'

:javascript
  $( function() {
    $('#tabs a:first').tab('show');
    // Show hide
    $('#payment-link').click( function() {
      $('#payment-form').show('fast');
      $('.payment-buttons').hide('fast');
    });
    $('#cancel-payment-link').click( function() {
      $('#payment-form').hide('fast');
      $('.payment-buttons').show('fast');
    });

    // Devolution show hide
    $('#devolution-link').click( function() {
      $('#devolution-form').show('fast');
      $('.payment-buttons').hide('fast');
    });
    $('#cancel-devolution-link').click( function() {
      $('#devolution-form').hide('fast');
      $('.payment-buttons').show('fast');
    })
  })
