= simple_form_for(@contact) do |f|
  = bonsai_form_error(f)

  = f.input :code, :label => "Código"
  = f.input :name, :label => "Nombre", :hint => 'Usado para notas de ingreso/egreso'
  .clear
  = f.input :organisation_name, :label => "Empresa"
  .input
    = f.input :phone, :label => "Teléfono"
    = f.input :mobile, :label => "Móvil"
  .clear
  = f.input :email, :lanel => "Email"
  = f.input :tax_number, :label => "NIT"
  .clear
  = f.input :address, :as => :text, :input_html => {:rows => 4}, :label => "Dirección"
  = f.input :aditional_info, :as => :text, :input_html => {:rows => 4}, :label => "Información adicional"
  .clear
  %div.actions
    = f.submit "Salvar", :class => 'btn btn-success b'

:javascript
  $(function() {
    $('#contact_name').blur(function() {
      if($('#contact_matchcode').val() == '')
        $('#contact_matchcode').val($(this).val());
    });
  })
