- content_for :links do
  %ul.breadcrumps
    %li #{link_to "Proveedores", suppliers_path} <span>&gt;</span>
  .links
    = link_to 'Nuevo', new_supplier_path, :class => 'new'
    = link_to 'Editar', edit_supplier_path(@supplier), :class => 'edit'
    = link_to 'Borrar', @supplier, :remote => true, :class => 'delete'

%h1= @supplier.matchcode

= render 'contacts/show', :klass => @supplier

