- present @supplier, ContactPresenter do |presenter|
  - content_for :links do
    %ul.breadcrumps
      %li #{link_to "Proveedores", suppliers_path} 
    .links
      = link_to 'Nuevo', new_supplier_path, :class => 'new'
      = link_to 'Editar', edit_supplier_path(@supplier), :class => 'edit'
      = link_to 'Borrar', @supplier, :class => 'delete'

  .page-header
    %h1
      = @supplier.matchcode
      %small.pill.bg-dark.white Proveedor

  -if current_user.is_admin?
    = link_to new_account_balance_path(:contact_id => @supplier.id), :class => "btn btn-success" do
      %i.icon-adjust.icon-white
      Balancear cuenta

  .span6.offset6
    = render 'contacts/show', :klass => @supplier

  .clear
  - @supplier.accounts.each do |ac|
    = presenter.moneybox ac

  - present @supplier, ContactPresenter do |presenter|
    - presenter.incomes.each do |cur, amt|
      .moneybox.fl 
        %label.dark-green SALDO VENTAS #{cur}
        %h3= ntc amt

    - presenter.buys.each do |cur, amt|
      .moneybox.fl 
        %label.red SALDO COMPRAS #{cur}
        %h3= ntc amt

  .clear

  = jquery_tabs :tab_id => "contact_tab" do
    =jqueryui_ul do
      =tab "Transacciones", supplier_path(@supplier, :tab => 'transactions'), "transactions"
      =tab "Compras y gastos", supplier_path(@supplier, :tab => 'buys'),"buys"
      =tab "Ventas", supplier_path(@supplier, :tab => 'incomes'),"incomes"
      =tab "Operaciones inventarios", supplier_path(@client, :tab => 'inventory'), "inventory"
      
    -# "contacts/account_ledgers", "contacts/inconmes", "contacts/buys", "contacts/inventory_operations"
    = tab_panel do
      = render @partial, @locals


  :javascript
    $(function() {
    });

