- content_for :links do
  %ul.breadcrumbs
    %li
      =link_to 'Cuentas personal', staff_accounts_path

.row-fluid
  .span6
    %h1
      = @staff_account.active_tag
      = @staff_account

  .span6.r
    .btn-group
      = link_to new_transference_path(account_id: @staff_account.id), class: 'btn',
        title: 'Transferir dinero a otra cuenta', 'data-toggle' => 'tooltip' do
        %i.icon-switch
        Nueva transferencia

      = link_to icon_edit_text, edit_staff_account_path(@staff_account.id), class: 'btn'

.row-fluid
  .span6
    = @staff_account.phone_tag
    = @staff_account.mobile_tag
    = @staff_account.email_tag

.row-fluid
  .span6
    .moneybox
      %label SALDO CUENTA
      %h5.n
        = ntc @staff_account.amount
        = currency_label @staff_account.currency

  .span6
    %i.icon-building.muted(title='Dirección' data-toggle='tooltip')
    = nl2br(@staff_account.address)

%h2 Transacciones

- html = paginate @staff_account.ledgers.page(@page)
= html

%ul.unstyled.listing
  = render partial: 'account_ledgers/money', collection: present(@staff_account.ledgers.includes(:account, :account_to).page(@page)), as: :ledger, locals: { current_account_id: @staff_account.id }

= html
