= simple_form_for inv, url: store_inventory_ins_path(inv.store_id) do |f|
  = f.hidden_field :store_id
  .row-fluid
    .span3
      %label Almacen
      %h4.n= link_to inv.store, inv.store, target: '_blank'
    .span3
      = f.input :date, label: 'Fecha', as: :datepicker
    .span6
      = f.input :description, as: :text, label: 'Descripción' ,input_html: {rows: 3}

  .row-fluid
    %table#items.table.decorated
      %tr
        %th Item
        %th Cantidad
        %th Unidad
        %th

      = f.simple_fields_for :inventory_details do |det|
        %tr.item
          %td
            = det.input :item, label: false, as: :autocomplete, 
              input_html: {class: 'item_id span10', placeholder: 'Escriba para buscar el ítem', 
              data: {new_url: '/items/new', source: items_path(format: :json)} }
          %td
            = det.input :quantity, label: false, input_html: {type: :decimal, size: 10}, data: {value: 'item.quantity'}
          %td
            %span.unit
          %td
            %a.dark.btn(href='javascript:;' data-on-click='item:deleteItem' title="borrar" data-toggle='tooltip')
              %i.icon-trash

      %tr.last
        %td(colspan="3")
          %a.btn.btn-primary(href='javascript:;' data-on-click='inventory:addItem')
            %i.icon-plus-sign
            Adicionar item

    .form-actions
      = f.submit 'Ingresar ítems', class: 'btn btn-success b'

:javascript
  $(function() {
    var inv = new App.Inventory('in');
    //rivets.bind($('#items tr.last'), {inventory: inv});
  })
