- content_for :links do
  %ul.breadcrumbs.span6
    %li
      =link_to @inv.store, @inv.store

.row-fluid
  .span12
    %h2
      = @inv.inventory.ref_number
      %small.text-success Ingreso de items

%div(ng-controller='InventoryController')
  = simple_form_for @inv, url: store_inventory_ins_path(@inv.store_id) do |f|
    = bonsai_form_error(f)

    = f.hidden_field :store_id

    .row-fluid
      .span3
        %label Almacen
        %h4.n= link_to @inv.store, @inv.store, target: '_blank'
      .span3
        = f.input :date, label: 'Fecha', as: :datepicker
      .span6
        = f.input :description, as: :text, label: 'Descripción' ,input_html: { rows: 3, cols: 55 }

    %input#details(type='hidden' data-details='#{@inv.details_serialized.to_json}')

    .row-fluid
      = render 'inventories/form_in', f: f, inventory: f.object, store_id: @inv.store_id

    .form-actions
      = f.submit 'Ingresar ítems', class: 'btn btn-primary b'
