%h2
  Reportes
  %i.n.fs70= present_date_range @date_range

= render 'reports/form'

.row-fluid
  .span6.well.well-small
    .row-fluid
      .span6
        %h4.ib.muted.n
          Ingresos:

        %h4.ib.bonsai-dark
          \%
          = ntc @report.incomes_percentage

      .span6
        %h4.n.ib
          %i.icon-plus.bonsai-dark
          = ntc @report.total_incomes
          = currency_label currency

  .span6.well.well-small
    .row-fluid
      .span6
        %h4.ib.muted.n
          Egresos:

        %h4.ib.text-error
          \%
          = ntc @report.expenses_pecentage
      .span6
        %h4.n.ib
          %i.icon-minus.text-error
          = ntc @report.total_expenses
          = currency_label currency


.row-fluid
  .span6.well.well-small
    %h4.bonsai-dark Ingresos por contacto

    %ul.unstyled
      = render partial: 'reports/contact', collection: @report.contacts_incomes, as: :contact
  .span6.well.well-small
    %h4.text-error Egresos por contacto

    %ul.unstyled
      = render partial: 'reports/contact', collection: @report.contacts_expenses, as: :contact

.row-fluid
  .span6.well.well-small
    %h4.bonsai-dark Ingresos por ítem
    %ul.unstyled
      = render partial: 'items/trans_detail', collection: @report.incomes_by_item, as: :item

  .span6.well.well-small
    %h4.text-error Egresos por ítem
    %ul.unstyled
      = render partial: 'items/trans_detail', collection: @report.expenses_by_item, as: :item



:javascript
  $(function() {
    $('#tags').select2({
      data: window.bonsai.tags,
      multiple: true,
      formatResult: function(tag) { return Plugins.Tag.getHtml(tag) },
      formatSelection: function(tag) { return Plugins.Tag.getHtml(tag) },
      escapeMarkup: function(t) { return t }
    });

    $('.select2-choices').on('click', '.remove-tag', function() {
       $(this).parents('.select2-search-choice').find('.select2-search-choice-close').trigger('click');
     });
  })
