%h2 Reportes inventario

= form_tag inventory_report_path, method: :get, class: 'form-inline' do
  %span.muted.b Tipo
  = select_tag :type, options_for_select(InventoryReportService.types, params[:type])
  %span.muted.b en
  = select_tag :date_field, options_for_select(InventoryReportService.date_fields, params[:date_field])

  %span estado
  = select_tag :state, options_for_select(InventoryReportService.states, params[:state])
  = render 'layouts/date_range', dr: @date_range

  %br
  .clearfix
  %tag-group-select
    %span.muted.text-muted Grupo de etiquetas
    = select_tag :tag_group_id, options_for_select([''] + TagGroup.pluck(:name, :id), params[:tag_group_id])

  .clearfix
  = submit_tag 'Reporte', class: 'btn'

%table.table
  %tr
    %th
      Item
    %th
      Cantidad
    %th

  - @report.data.each do |name, qty, sym, tag_ids|
    %tr
      %td
        = name
        = "(#{ sym })"
      %td
        =qty
      %td
        %tagsfor(tag_ids="#{tag_ids}" id="")
:javascript
  window.tag_groups = #{ TagGroup.api.to_json };
