%h1.c.login
  Cambio de contraseña

.initial.c
  = simple_form_for @reset_password, url: reset_password_path(params[:id]), method: 'put' do |f|
    = hidden_field_tag :id, params[:id]
    .large
      %i.muted.icon-key.icon(title='Nueva contraseña')
      = f.input :password, label: false, input_html: { placeholder: 'Nueva contraseña' }
    .large
      %i.muted.icon-key.icon(title='Repetir contraseña')
      = f.input :password_confirmation, label: false, input_html: { placeholder: 'Confirmación de contraseña' }
    .form_actions
      = f.submit "Cambiar contraseña", class: 'btn btn-success'


