#dialog
  %h1 Cambio de contraseña

  = simple_form_for @user_password, reset_password_path(params[:id]) do |f|
    = hidden_field_tag :id, params[:id]
    %fieldset
      = f.input :reset_password_token, :as => :hidden
      = f.input :password, :label => 'Contraseña', :wrapper_html => {:class => '_90'}
      = f.input :password_confirmation, :label => 'Confirmación de contraseña', :wrapper_html => {:class => '_90'}
    .clear.form_actions
      = f.submit "Cambiar contraseña", :class => 'submit'


