%ul#main-nav.nav
  %li.dropdown
    %a.dropdown-toggle(role='menu' href='#' id='main-menu-first' data-toggle='dropdown')
      Reportes
      %i.icon-caret-down
    %ul.dropdown-menu
      %li
        = link_to "Inicio", home_path
      %li
        = link_to "Resumen", dashboard_path
      %li
        = link_to "Reportes generales", reports_path

  %li.dropdown
    %a.dropdown-toggle(data-toggle="dropdown" href="#")
      General
      %i.icon-caret-down

    %ul.dropdown-menu(role="menu" aria-labelledby="dropdownMenu")
      %li
        = link_to "Ingresos", incomes_path
      %li
        = link_to "Nuevo ingreso", new_income_path
      %li.divider
      %li
        = link_to "Egresos", expenses_path
      %li
        = link_to "Nuevo egreso", new_expense_path
      %li.divider
      %li
        = link_to "Contactos", contacts_path
      %li
        = link_to "Nuevo contacto", new_contact_path
      %li.divider
      %li
        = link_to "Proyectos", projects_path, id: 'last-nav'


  %li.dropdown
    %a.dropdown-toggle( data-toggle="dropdown" href="#")
      Cuentas
      %i.icon-caret-down
    %ul.dropdown-menu
      %li <a href="/banks">Cuentas bancarias</a>
      %li <a href="/cashes">Cuentas efectivo</a>

  %li.dropdown
    %a.dropdown-toggle( data-toggle="dropdown" href="#")
      Inventarios
      %i.icon-caret-down
    %ul.dropdown-menu
      %li <a href="/stores">Almacenes</a>
      %li <a href="/items">Items</a>
      %li <a href="/inventories">Operaciones inventario</a>
      %li <a href="/units">Unidades de medida</a>
