%ul#main_menu
  - if organisation?
    %li= link_to "Inicio", dashboard_path 
    %li
      %a.more{ :href => "javascript:"} Operaciones
      %ul
        %li <a href="/incomes">Ventas</a>
        %li <a href="/buys">Compras</a>
        %li <a href="/expenses">Gastos</a>
        %li <a href="/projects">Proyectos</a>
        %li <a href="/contacts">Contactos</a>
        %li <a href="/taxes">Impuestos</a>
    %li
      %a.more{ :href => "javascript:"} Inventarios
      %ul
        %li <a href="/stores">Almacenes</a>
        %li <a href="/items">Items</a>
        %li <a href="/units">Unidades de medida</a> 
        %li <a href="/stocks">Stocks</a>
        %li <a href="/transferences">Transferencias</a>
    
    %li
      %a.more{ :href => "javascript:"} Cuentas
      %ul
        %li <a href="/banks">Bancos</a>
        %li <a href="/cash_registers">Cajas</a>
    %li
      %a.more{ :href => "javascript:"} Contactos
      %ul
        %li <a href="/contacts">Todos</a>
        %li <a href="/contacts?option=clients">Clientes</a>
        %li <a href="/contacts?option=suppliers">Proveedores</a>
    
    %li
      %a.more{ :href => "javascript:"} Reportes
      %ul
        %li= link_to "General" 
        %li= link_to "Item" 
        %li= link_to "Stoks" 
        %li= link_to "in vs. out" 
    
