%nav.top-bar(data-topbar)
  %ul.title-area
    %li.name
    %li.toggle-topbar.menu-icon
      %a(href="#") Menú
  %section.top-bar-section
    %ul.left
      %li.has-dropdown
        %a(href='#')
          Reportes
        %ul.dropdown
          %li
            = link_to "Inicio", home_path
          %li
            = link_to "Resumen", dashboard_path
          %li
            = link_to "Reportes generales", reports_path
      %li.has-dropdown
        %a General
        %ul.dropdown
          %li
            = link_to "Ingresos", incomes_path
          %li
            = link_to new_income_path do
              + Nuevo ingreso
          -#%li.divider
          %li
            = link_to "Egresos", expenses_path
          %li
            = link_to new_expense_path do
              \- Nuevo egreso
          -#%li.divider
          %li
            = link_to contacts_path do
              %i.icon-user
              Contactos
          -#%li
            = link_to "Nuevo contacto", new_contact_path
          -#%li.divider
          %li
            = link_to "Prestamos", loans_path, id: 'last-nav'
      %li.has-dropdown
        %a Cuentas
        %ul.dropdown
          %li
            = link_to 'Cuentas bancarias', banks_path
          %li
            = link_to 'Cuentas efectivo', cashes_path
          %li
            = link_to 'Cuentas personal', staff_accounts_path

      %li.has-dropdown
        %a Inventarios
        %ul.dropdown
          %li
            = link_to 'Almacenes', stores_path
          %li
            = link_to 'Ítems', items_path
          %li
            = link_to 'Operaciones inventario', inventories_path
          %li
            = link_to 'Unidades', units_path


    %ul(style='float: right')
      %li
        = link_to configurations_path, title: 'Configuración', data: { toggle: 'tooltip', placement: 'bottom' } do
          %i.icon-cog
          %span.hidden-desktop Configuración
      %li
        = link_to user_path(current_user.id), title: 'Datos personales', data: { toggle: 'tooltip', placement: 'bottom' } do
          %i.icon-user
          %span.hidden-desktop Datos personales
      %li
        = link_to logout_path, title: 'Salir', data: { toggle: 'tooltip', placement: 'bottom' } do
          %i.icon-logout
          %span.hidden-desktop Salir
      %li.search-form
        %form(method='get' action='#{controller_name}')
          %input(name='search' id='search' placeholder='buscar')
          %button.icon-search
