%nav.top-bar(data-topbar)
  %ul.title-area
    %li.name
    %li.toggle-topbar.menu-icon
      %a(href="#")
        = t('views.menu.title')
  %section.top-bar-section
    %ul.left
      %li.has-dropdown
        %a(href='#')
          = t('views.menu.reports')
        %ul.dropdown
          %li
            = link_to t("views.menu.home"), home_path
          %li
            = link_to t("views.menu.dashboard"), dashboard_path
          %li
            = link_to t("views.menu.reports"), reports_path
          %li
            = link_to t("views.menu.inventory"), inventory_report_path
      %li.has-dropdown
        %a= t('views.menu.general')
        %ul.dropdown
          %li
            = link_to t("views.menu.incomes"), incomes_path
          %li
            = link_to t("views.menu.new_income"), new_income_path
          -#%li.divider
          %li
            = link_to t("views.menu.expenses"), expenses_path
          %li
            = link_to t("views.menu.new_expense"), new_expense_path
          -#%li.divider
          %li
            = link_to contacts_path do
              %i.icon-user
              = t('views.menu.contacts')
          -#%li
            = link_to "Nuevo contacto", new_contact_path
          -#%li.divider
          %li
            = link_to loans_path, id: 'last-nav' do
              %i.icon-folder-open
              = t('views.menu.prestamos')
          %li
            = link_to tag_groups_path do
              %i.icon-tags
              = t('views.menu.etiquetas')
      %li.has-dropdown
        %a= t('views.menu.cuentas')
        %ul.dropdown
          %li
            = link_to t("views.menu.banks"), banks_path
          %li
            = link_to t("views.menu.cash"), cashes_path
          -#%li
            = link_to t('views.menu.cuentas_personal'), staff_accounts_path
          %li
            = link_to t("views.menu.ledgers"), account_ledgers_path

      %li.has-dropdown
        %a= t('views.menu.inventarios')
        %ul.dropdown
          %li
            = link_to t("views.menu.stores"), stores_path
          %li
            = link_to t("views.menu.items"), items_path
          %li
            = link_to t("views.menu.inventory_operations"), inventories_path
          %li
            = link_to t("views.menu.units"), units_path


    %ul.right-menu.fr
      %li
        = link_to configurations_path do
          %i.icon-cog
          = t('views.menu.configuration')
      %li.user
        = link_to user_path(current_user.id) do
          %i.icon-user
          = current_user
      %li
        = link_to logout_path do
          %i.icon-logout
          = t('views.menu.logout')
