!!!XML
!!!
%html{xmlns: "http://www.w3.org/1999/xhtml", 'xml:lang' => "es", lang: "es" }
  %head
    %meta(http-equiv="content-type" content="text/html;charset=UTF-8")
    %meta(name="viewport" content="width=device-width, initial-scale=1.0")
    %link(name="viewport" content="width=device-width,initial-scale=1,user-scalable=no,maximum-scale=1")
    %link(rel= "shortcut icon" href="/favicon.ico" type="image/x-icon")
    = csrf_meta_tag

    %title bonsaiERP - #{current_organisation}

    = stylesheet_link_tag "application", media: 'all'
    = javascript_include_tag "application"

  %body

    -# Header
    #head
      - cache [current_user, 'menu'] do
        = render 'layouts/menus'

    #head2.row-fluid.organisation
      .cont
        .span12
          %h3= organisation_name


    #wrapper.cont
      #menu
        .container-fluid
          .main-links.row-fluid= yield :links

      #cont
        .container-fluid
          = render "layouts/flash", flash: flash

          = render "users/change_default_password" if current_user.change_default_password?

          = yield
          .clear
      #footer
        %p
          ©2010-2013 &middot;
          =link_to "BonsaiERP", "http://bonsaierp.com"
          El software para la gestión de empresas
          <br/><br/>

          %a(href="http://twitter.com/#!/bonsaierp" target="_blank") Twitter
          &middot;
          %a(href="http://www.facebook.com/pages/BonsaiERP/337187402983197" target="_blank") Facebook

    :javascript
      this.exchangeRates = #{set_exchange_rates};
      this.currencies = #{File.read Rails.root.join 'public', 'currencies.json' };

      bonsai.currency = this.currency = "#{currency}";
      this.organisation = {
        currency: "#{currency}",
        name: "#{organisation_name}"
      }
      _b.numSeparator = '.';
      _b.numDelimiter = ' ';
      $(function() {
        _b.numSeparator = '.';
        _b.numDelimiter = ' ';
      })

