!!!XML
!!!
%html{ :xmlns => "http://www.w3.org/1999/xhtml", 'xml:lang' => "en", :lang => "en" }
  %head
    %meta{ 'http-equiv'  => "content-type", :content => "text/html;charset=UTF-8" }
    %link{:name => "viewport", :content=> "width=device-width,initial-scale=1,user-scalable=no,maximum-scale=1"}
    %link{:rel => "shortcut icon", :href => "/assets/favicon.ico", :type => "image/x-icon"}
    = csrf_meta_tag

    %title Bonsai
    :javascript
      var exchangeRates = #{set_exchange_rates}
      window.exchangeRates = exchangeRates;

    = stylesheet_link_tag "application"
    = javascript_include_tag "application"
    - if organisation?
      :javascript
        var organisation = { 
          currency_id: #{session[:organisation][:currency_id]},
          due_date: new Date("#{session[:organisation][:due_date]}"),
          name: "#{session[:organisation][:name]}"
        }
        window.organisation = organisation;
  %body

    - if Rails.env == 'development'
      %div{ :id => "debug-error", :style => "display:none; width: 640px; height: 480px; overflow: auto; z-index: 10000; background:#FFF;color:#000" }
        %iframe{ :id => "cont-iframe", :width => "100%", :height => "100%"}

    .navbar
      .navbar-inner
        .container-fluid
          - if organisation?
            %h1.span8{:title => "ID: #{session[:organisation][:id]}, Exp:  #{lo session[:organisation][:due_date] }"}= session[:organisation][:name]
          = render 'layouts/usersettings_menu' if user_signed_in?
          .clear

          .nav-collapse
            = render 'layouts/main_menu'

    #wrapper
      #menu
        .container
          .main-links= yield :links

      #cont
        .container
          = render "layouts/flash"
          = yield
          .clear
      #footer
        #footer_inner
          %p
            ©2011-2012 &middot; BonsaiERP "El software para la gestión de empresas"
          -#%p
            %a Blog
            &middot;
            %a Twitter
            &middot;
            %a Cambios Recientes
            &middot;
            %a Estado del Servicio
            &middot;
            %a Terminos del Servicio
            &middot;
            %a Políticas de Privacidad

