!!!XML
!!!
%html{ :xmlns => "http://www.w3.org/1999/xhtml", 'xml:lang' => "en", :lang => "en" }
  %head
    %meta{ 'http-equiv'  => "content-type", :content => "text/html;charset=UTF-8" }
    = csrf_meta_tag

    %title Bonsai
    = stylesheet_link_tag 'application'
    =javascript_include_tag "application"

  %body

    - if Rails.env == 'development'
      %div{ :id => "debug-error", :style => "display:none; width: 640px; height: 480px; overflow: auto; z-index: 10000; background:#FFF;color:#000" }
        %iframe{ :id => "cont-iframe", :width => "100%", :height => "100%"}

    #main_wrap
      #wrapper
        #wrap_in
          #logo
          #header
            = render 'layouts/usersettings_menu' if user_signed_in?
            - if organisation?
              %h1= session[:organisation][:name]
          #menu
            = render 'layouts/main_menu'

          #cont
            #links= yield :links
            #cont-in
              = render "layouts/flash"
              = yield
            .clear
          #foot

:javascript
  $(function() {
    if($.browser.msie && $.browser.version < 8) {
      var menu = ["<li class='more' style='width: 200px'>",
            "<ul>",
              '<li><a href="/incomes">Ventas</a></li>',
              '<li><a href="/buys">Compras</a></li>',
              '<li><a href="/expenses">Gastos</a></li>',
              '<li><hr></li>',
              '<li><a href="/clients">Clientes</a></li>',
              '<li><a href="/suppliers">Proveedores</a></li>',
              '<li><hr></li>',
              '<li><a href="/banks">Cuentas bancarias</a></li>',
              '<li><a href="/cash_registers">Cuentas caja</a></li>',
              '<li><hr></li>',
              '<li><a href="/projects">Proyectos</a></li>',
              '<li><a href="/taxes">Impuestos</a></li>',
            '</ul>',
          "<div class='clear'></div>",
        '</li>'];
      $('#main_menu ul.more:first').html(menu.join(''));
    }
  })
