!!!XML
!!!
%html{xmlns: "http://www.w3.org/1999/xhtml", 'xml:lang' => "es", lang: "es" }
  %head
    %meta(http-equiv="content-type" content="text/html;charset=UTF-8")
    %meta(content="height=device-height, width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport")
    %link(rel= "shortcut icon" href="/bonsai.ico" type="image/x-icon")
    = csrf_meta_tag

    %title bonsaiERP - #{current_organisation}

    = stylesheet_link_tag "application", media: 'all'
    = javascript_include_tag asset_path('angular/angular-file-upload-shim.min.js')
    = cdn_scripts 'jquery', 'angular'
    = javascript_include_tag "application"
    -if Rails.env.production?
      %script(src='//d2wy8f7a9ursnm.cloudfront.net/bugsnag-2.min.js' data-apikey='5764f05c4e7d87832059e096471f9bc9')
      = render 'layouts/google_analytics'

    :javascript
      this.organisation = {
        currency: "#{currency}",
        name: "#{organisation_name}"
      }

      this.exchangeRates = #{set_exchange_rates};
      this.currencies = #{File.read Rails.root.join 'public', 'currencies.json' };

  %body(ng-app='myApp')

    = render 'layouts/search_url'

    = render 'layouts/notifications'

    -# Header
    #head
      - cache [current_user, 'menu'] do
        .cont= render 'layouts/menus'

    #head2{ class: current_organisation.header_css }
      .row-fluid.cont
        .span12
          %h3.organisation= organisation_name

    #wrapper.cont
      #topbar
        .container-fluid
          .main-links.row-fluid= yield :links

      #cont
        .container-fluid
          = render "layouts/flash", flash: flash

          = render "users/change_default_password" if current_user.change_default_password?

          = yield
          .clear

      = render 'layouts/footer'

    :javascript
      bonsai.currency = this.currency = "#{currency}";
      _b.numSeparator = '.';
      _b.numDelimiter = ' ';
      $(function() {
        _b.numSeparator = '.';
        _b.numDelimiter = ' ';
      })

      $(document).foundation({
        topbar: {
          custom_back_text: true,
          back_text: '<i class="icon-caret-left"></i> Atras'
        }
      });

    -# Cache all tags
    -# cache cache_key_for_tags do
    :javascript
      this.bonsai.tags = #{tags_list.to_json}
      this.bonsai.tags_hash = #{tags_list_hash.to_json}
