!!!XML
!!!
%html{xmlns: "http://www.w3.org/1999/xhtml", 'xml:lang' => "es", lang: "es" }
  %head
    %meta{ 'http-equiv'  => "content-type", :content => "text/html;charset=UTF-8" }
    %meta(name="viewport" content="width=device-width, initial-scale=1.0")
    %link{:name => "viewport", :content=> "width=device-width,initial-scale=1,user-scalable=no,maximum-scale=1"}
    %link{:rel => "shortcut icon", :href => "/assets/favicon.ico", :type => "image/x-icon"}
    = csrf_meta_tag

    %title Bonsai
    :javascript
      var exchangeRates = #{set_exchange_rates}
      window.exchangeRates = exchangeRates;

    = javascript_include_tag "application"

    = stylesheet_link_tag "application"
    - if organisation?
      :javascript
        this.organisation = { 
          currency: "#{current_organisation.currency}",
          name: "#{current_organisation.name}"
        }
      :javascript
        this.currencies = #{CURRENCIES.to_json}

  %body

    -# Header
    - if current_user
      #head
        = render 'layouts/menus'

      .row-fluid.organisation
        .cont
          .span12
            %h3= current_organisation.name if current_organisation


    #wrapper.cont
      #menu
        .container-fluid
          .main-links.row-fluid= yield :links

      #cont
        .container-fluid
          = render "layouts/flash", flash: flash
          
          = render "users/change_default_password" if current_user.change_default_password?

          = yield
          .clear
      #footer
        %p
          ©2010-2013 &middot; 
          =link_to "BonsaiERP", "http://bonsaierp.com"
          El software para la gestión de empresas
          <br/><br/>

          %a(href="http://twitter.com/#!/bonsaierp" target="_blank") Twitter
          &middot;
          %a(href="http://www.facebook.com/pages/BonsaiERP/337187402983197" target="_blank") Facebook
