!!!XML
!!!
%html{ :xmlns => "http://www.w3.org/1999/xhtml", 'xml:lang' => "en", :lang => "en" }
  %head
    %meta{ 'http-equiv'  => "content-type", :content => "text/html;charset=UTF-8" }
    %title BonsaiERP
    %link{:name => "viewport", :content=> "width=device-width,initial-scale=1,user-scalable=no,maximum-scale=1"}
    %link{:rel => "shortcut icon", :href => "/assets/bonsai.ico", :type => "image/x-icon"}
    = csrf_meta_tag

    = stylesheet_link_tag "application"
    = javascript_include_tag "application"

    :javascript
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-203928-7']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
      $(document).ready(function() {
        // TODO: Move to cofeescript
        $('#dialog_wrapper').fadeTo(0,0.0).delay(500).fadeTo(1000, 1);
      });

  %body.dialog

    #dialog_wrapper
      = render "layouts/flash", flash: flash
      = yield

      %p.legal
        ©2011-2012 Todos los derechos reservados.
        %a{:href=>'/'} bonsaierp.com
