!!!XML
!!!
%html{xmlns: "http://www.w3.org/1999/xhtml", 'xml:lang' => "es", lang: "es" }
  %head
    %meta{ 'http-equiv'  => "content-type", :content => "text/html;charset=UTF-8" }
  -#= stylesheet_link_tag 'email'
  %body.cont(style='font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;max-width:650px;color:#222222;padding:10px')
    #header(style="background-color:#eeeeee;padding:10px 20px")
      = image_tag "http://app.bonsaierp.com#{ asset_path 'logo.png' }"

    .cont(style="padding:10px")
      =yield

    %p(style='text-align:center')
      %font{:size=>"2", :face=>"Arial, Helvetica, sans-serif"}
        = link_to("Facebook", "https://www.facebook.com/bonsaierpapp")
        &middot;
        = link_to("Twitter",  "https://twitter.com/#!/bonsaierp")
        &middot;
        = link_to("Google+",  "https://google.com/+Bonsaierp")

