!!!
%html
  %head
    %meta{ 'http-equiv'  => "content-type", :content => "text/html;charset=UTF-8" }
    %link{:rel => "shortcut icon", :href => "/assets/bonsai.ico", :type => "image/x-icon"}
    %title
      bonsai - Sistema ERP online -
      = yield :title
    %link{ :href => 'http://fonts.googleapis.com/css?family=Muli', :rel => 'stylesheet', :type => 'text/css'}
    = stylesheet_link_tag    "homeapp"
    = javascript_include_tag "home"
    = csrf_meta_tags
    :javascript
      WebFontConfig = {
        google: { families: [ 'Muli' ] }
      };
      (function() {
        var wf = document.createElement('script');
        wf.src = ('https:' == document.location.protocol ? 'https' : 'http') +
            '://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
        wf.type = 'text/javascript';
        wf.async = 'true';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(wf, s);
      })();

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-203928-7']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
  %body
    #wrapper.container
      = render "home/header"
      = yield
      .clear
      = render "home/footer"
      .clear
