!!!XML
!!!
%html{xmlns: "http://www.w3.org/1999/xhtml", 'xml:lang' => "es", lang: "es" }
  %head
    %meta(http-equiv="content-type" content="text/html;charset=UTF-8")
    %meta(content="height=device-height; width=device-width; initial-scale=1.0; minimum-scale=1.0; maximum-scale=1.0; user-scalable=no; target-densitydpi=device-dpi" name="viewport")
    %link(rel= "shortcut icon" href="/bonsai.ico" type="image/x-icon")
    = csrf_meta_tag

    %title Bonsai
    = stylesheet_link_tag 'application'

    = cdn_scripts 'jquery', 'angular'
    = javascript_include_tag "application"
    - if Rails.env.production?
      %script(src='//d2wy8f7a9ursnm.cloudfront.net/bugsnag-2.min.js' data-apikey='5764f05c4e7d87832059e096471f9bc9')
      = render 'layouts/google_analytics'

  %body
    .session-header
      = link_to "http://#{DOMAIN}" do
        = image_tag 'bonsai_tree.png'

    #wrapper.cont

      .browser-list.center
        %h4#message.red Por favor actualize su navegador para mejorar su experiencia al usar bonsaiERP, le recomendamos:

        %a(href='https://www.google.com/intl/es/chrome/browser/' target='_blank')
          %span.browser.chrome
          .clearfix
          Google chrome
        %a(href='http://www.mozilla.org/es-ES/firefox/new/' target='_blank')
          %span.browser.firefox
          .clearfix
          Firefox

      .container-fluid
        = render "layouts/flash", flash: flash

        = render 'users/change_default_password'  if current_user && current_user.change_default_password?

        = yield
        .clearfix
    = render 'layouts/footer'

    = render file: 'layouts/browser'

  :javascript
    window.exchangeRates = { rates: {} }
    $(function() {
      $('input, textarea').placeholder();
    })
