- url = account_path(account)
%ul.tabs
  %li= link_option "Todas", url, 'all'
  %li= link_option "Esperando aprobación #{size_or_blank(incomes.draft.size)}", url, 'draft'
  %li= link_option "Esperando cobro #{size_or_blank(incomes.approved.size)}", url,'awaiting_payment'
  %li= link_option "Vencidas #{size_or_blank(incomes.due.size)}", url, 'due'
  %li= link_option "Con inventario pendiente #{size_or_blank(incomes.inventory.size)}", url, 'inventory'
  %li= link_option "Cobradas", url, 'paid'

#search_income.search{:style => show_if_search}
  %a.close{:href => "#"} cerrar
  %h3 Buscar ventas
  =form_tag "/incomes", :method => 'get' do
    =hidden_field_tag "search_div_id", "search_incomes"
    .input
      %label Cliente o Nº de referencia
      =text_field_tag 'search', params[:search], :size => 40
    .input
      %label Estado
      =select_tag "option", options_for_select(list_income_states, params[:option])
    %div
    =submit_tag 'Buscar', :class => 'btn btn-success'

= link_to "Buscar", "#search_income", :class => 'search'

= paginate incomes.page(@page)

%table{ :class => 'decorated nwl' }
  %thead
    %tr
      %th.tip{:title => 'Estado'} Est.
      %th.tip{ :title => 'Número de referencia' } Nº Ref.
      /%th Cliente
      %th Vence el
      %th Total<br/>#{currency_symbol}
      %th Saldo<br/>#{currency_symbol}
      %th.tip{:title => 'Saldo Inventario'} Saldo<br/>Inv. #{currency_symbol}
      %th.tip{:title => 'Moneda'} Mon.
      %th.tip{:title => "Contado Crédito"} Tipo
      %th Fecha Hora
      %th

  %tbody
    - incomes.page(@page).each do |income|
      %tr{ :class => cycle(:odd, :even) }
        %td 
          %span{:class => "#{income.real_state} tip", :title => income.show_state}
        %td= link_to income.ref_number, income, :class => 'b'
        /%td= income.account
        %td= lo income.due_date unless income.paid?
        %td.cur= ntc exchange(income, :real_total, currency_rates)
        %td.cur= ntc exchange(income, :balance, currency_rates)
        %td.cur= ntc income.balance_inventory
        %td <span>#{income.currency_symbol}</span>
        %td= cash_credit(income.cash)
        %td.nw= lo income.created_at
        %td.actions
          = bonsai_links(income) if income.draft?

