- bank = @account.accountable
:css
  #bank_info{
    display: none;
  }

-content_for :links do
  %ul.breadcrumps.span6
    %li #{link_to "Cuentas bancarias", banks_path}

  .links.span6
    = link_to 'Editar banco', edit_bank_path(bank), :class => 'edit', :title => "Editar cuenta bancaria"

%h1.mb5 <span class="dark-grey n">Banco:</span> #{bank.name}
%h3.mt5.dark-grey= "#{bank.number} (en #{bank.currency.name.pluralize})"
%hr/

.moneybox.fl
  %label SALDO EN CUENTA
  %h3= with_currency @account, :amount

- if @account.account_ledgers.pendent?
  .moneybox.fl
    %label SALDO A CONCILIAR
    %h3= "#{@account.currency_symbol} #{ntc @account.amount_to_conciliate}"

._40.fr
  <a class="more_info" href="#bank_info">Ver información</a>
  #bank_info
    .input
      %label Dirección
      %span= nl2br(bank.address)
    .input
      .input._100
        %label Teléfono
        %span= bank.phone
      .input._100
        %label Sitio web
        %span= bank.website
  .clear
.clear

%h1 Transacciones
= render @partial, @locals

:javascript
  $(function() {
    $('#show_bank_info').click(function() {
      if($(this).html() == "Ver información") {
        $('#bank_info').show("slow")
        $(this).html("Ocultar información");
      }else{
        $('#bank_info').hide("slow")
        $(this).html("Ver información");
      }
    });
  })


