:css
  ul.menu{ display: none; }

- content_for :links do
  %ul.breadcrumps.span6

    %li #{link_contacts @account} 
  .links.span6
    = link_to 'Nuevo', contact_account_type_link(@account, :new), :class => 'new'
    = link_to 'Editar', contact_account_type_link(@account, :edit), :class => 'edit'
    = link_to 'Borrar', contact_account_type_link(@account, :destroy), :class => 'delete'

%h1{:style => 'display:inline-block'}= @account.name
%span.dashlet.b.bg-dark= @account.accountable.show_type
.clear

= render 'contacts/show', :klass => @account.accountable

.clear
- @account.account_currencies.includes(:currency).each do |ac|
  .moneybox.fl
    %label TOTAL EN #{ac.currency_symbol}
    = present_amount(ac.amount)

.clear

= jquery_tabs :tab_id => "contact_tab" do
  =jqueryui_ul do
    =tab "Transacciones", account_path(@account, :tab => 'transactions'), "transactions"
    =tab "Ventas", account_path(@account, :tab => 'incomes'),"incomes"
    =tab "Compras", account_path(@account, :tab => 'buys'),"buys"
    =tab "Gastos", account_path(@account, :tab => 'expenses'),"expenses"
  = tab_panel do
    = render @partial, @locals

